<%
unless @group.nil?
  div_id = 'groupTree:' + @group.id.to_s
%>

<div id="base_<%= div_id %>" nowrap style="padding:0px; display:inline;">
  <%
  div_id = 'groupTree:' + @group.id.to_s
  menu_id = 'a_' + div_id
  selKeeper_id = 'selKeeper'
  %>
  <a id="<%= menu_id %>" value="" href="javaScript:selectGroup('<%= @group.id %>'); if (_z('<%= selKeeper_id %>').value == '<%= menu_id %>') { ThetisBox.toggleTree('<%= div_id %>'); } ThetisBox.selectTree('<%= selKeeper_id %>', '<%= menu_id %>', null)">
    <%
    group_folder_open = THETIS_RELATIVE_URL_ROOT + '/images/folder/group_folder_open.gif'
    group_folder_close = THETIS_RELATIVE_URL_ROOT + '/images/folder/group_folder_close.gif'
    %>
    <img id="<%= div_id %>_open" src="<%= group_folder_open %>" border="0"><img id="<%= div_id %>_close" src="<%= group_folder_close %>" border="0" style="display:none;">
    /<span id="<%= div_id %>_name"><%=h @group.name %></span>
  </a><br/>
  <div id="<%= div_id %>" class="thetisBoxTreeBlock" style="padding-left:30px; border-left:1px dotted navy;"></div>
</div>

<% end %>
