
<%= render(:partial => 'common/error', :locals => {:obj => @address}) %>

<script type="text/javascript">
tabs = ["basic", "address", "memo", "scope"];
</script>

<table style="width:100%;">
  <tr>
    <td style="text-align:center;">

      <table style="width:100%; border-spacing:2px;">
        <tr>
          <td id="tab_basic" class="tab_strip" nowrap onclick="showTab('basic', tabs, 'sienna');">
            <%= t('cap.basic_info') %>
          </td>
          <td id="tab_address" class="tab_strip" nowrap onclick="showTab('address', tabs, 'sienna');">
            <%= Address.human_attribute_name('address') %>
          </td>
          <td id="tab_memo" class="tab_strip" nowrap onclick="showTab('memo', tabs, 'sienna');">
            <%= Address.human_attribute_name('memo') %>
          </td>
          <td id="tab_scope" class="tab_strip" nowrap onclick="showTab('scope', tabs, 'sienna');">
            <%= t('schedule.scope') %>
          </td>
          <td><!-- SPACER --></td>
        </tr>
      </table>

    </td>
  </tr>
  <tr>
    <td style="text-align:center;">

      <input type="hidden" id="address_id" name="address[id]" value="<%= (@address.nil?)?(nil):(@address.id) %>" />

      <div id="tab_div_basic">
        <table style="width:100%; border:outset 3px darkgoldenrod; margin-bottom:10px;">
          <tr>
            <td style="text-align:center; padding:10px 0px;">
              <table style="margin:0px auto; width:85%; border-spacing:2px;">
                <tr>
                  <td class="prim_cap" style="background-color:#ffe033;" nowrap><label for="address_name">
                    <%= Address.human_attribute_name('name') %></label>
                  </td>
                  <td class="spec_value">
                    <input type="text" id="address_name" name="address[name]" value="<%= (@address.nil?)?(nil):(@address.name) %>" style="width:90%" /><sup style="color:red">*</sup>
                  </td>
                </tr>
                <tr>
                  <td class="prim_cap" style="background-color:#ffe033;" nowrap>
                    <label for="address_email1"><%= Address.human_attribute_name('email1') %></label>
                  </td>
                  <td class="spec_value">
                    <input type="text" id="address_email1" name="address[email1]" value="<%= (@address.nil?)?(nil):(@address.email1) %>" style="ime-mode:disabled; width:100%;" />
                  </td>
                </tr>
                <tr>
                  <td class="prim_cap" style="background-color:#ffe033;" nowrap>
                    <label for="address_email2"><%= Address.human_attribute_name('email2') %></label>
                  </td>
                  <td class="spec_value">
                    <input type="text" id="address_email2" name="address[email2]" value="<%= (@address.nil?)?(nil):(@address.email2) %>" style="ime-mode:disabled; width:100%;" />
                  </td>
                </tr>
                <tr>
                  <td class="prim_cap" style="background-color:#ffe033;" nowrap>
                    <label for="address_email3"><%= Address.human_attribute_name('email3') %></label>
                  </td>
                  <td class="spec_value">
                    <input type="text" id="address_email3" name="address[email3]" value="<%= (@address.nil?)?(nil):(@address.email3) %>" style="ime-mode:disabled; width:100%;" />
                  </td>
                </tr>
                <tr>
                  <td class="prim_cap" style="background-color:#ffe033;" nowrap>
                    <label for="address_tel1"><%= Address.human_attribute_name('tel1') %></label>
                  </td>
                  <td class="spec_value">
                    <input type="text" id="address_tel1" name="address[tel1]" value="<%= (@address.nil?)?(nil):(@address.tel1) %>" style="ime-mode:disabled; width:100%;" />
                  </td>
                </tr>
                <tr>
                  <td class="prim_cap" style="background-color:#ffe033;" nowrap>
                    <label for="address_tel2"><%= Address.human_attribute_name('tel2') %></label>
                  </td>
                  <td class="spec_value">
                    <input type="text" id="address_tel2" name="address[tel2]" value="<%= (@address.nil?)?(nil):(@address.tel2) %>" style="ime-mode:disabled; width:100%;" />
                  </td>
                </tr>
                <tr>
                  <td class="prim_cap" style="background-color:#ffe033;" nowrap>
                    <label for="address_tel3"><%= Address.human_attribute_name('tel3') %></label>
                  </td>
                  <td class="spec_value">
                    <input type="text" id="address_tel3" name="address[tel3]" value="<%= (@address.nil?)?(nil):(@address.tel3) %>" style="ime-mode:disabled; width:100%;" />
                  </td>
                </tr>
                <tr>
                  <td class="prim_cap" style="background-color:#ffe033;" nowrap>
                    <label for="address_fax"><%= Address.human_attribute_name('fax') %></label>
                  </td>
                  <td class="spec_value">
                    <input type="text" id="address_fax" name="address[fax]" value="<%= (@address.nil?)?(nil):(@address.fax) %>" style="ime-mode:disabled; width:100%;" />
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>

      <div id="tab_div_address" style="display:none;">
        <table style="width:100%; border:outset 3px darkgoldenrod; margin-bottom:10px;">
          <tr>
            <td style="text-align:center; padding:10px 0px;">
              <table style="margin:0px auto; width:85%; border-spacing:2px;">
                <tr>
                  <td class="prim_cap" style="background-color:#ffe033;" nowrap>
                    <label for="address_postalcode"><%= Address.human_attribute_name('postalcode') %></label>
                  </td>
                  <td class="spec_value">
                    <input type="text" id="address_postalcode" name="address[postalcode]" value="<%= (@address.nil?)?(nil):(@address.postalcode) %>" />
                  </td>
                </tr>
                <tr>
                  <td class="prim_cap" style="background-color:#ffe033;" nowrap>
                    <label for="address_address"><%= Address.human_attribute_name('address') %></label>
                  </td>
                  <td class="spec_value">
                    <textarea id="address_address" name="address[address]" style="width:100%;" rows="4"><%= (@address.nil?)?(nil):(@address.address) %></textarea>
                  </td>
                </tr>
                <tr>
                  <td class="prim_cap" style="background-color:#ffe033;" nowrap>
                    <label for="address_url"><%= Address.human_attribute_name('url') %></label>
                  </td>
                  <td class="spec_value">
                    <input type="text" id="address_url" name="address[url]" value="<%= (@address.nil?)?(nil):(@address.url) %>" style="ime-mode:disabled; width:100%;" />
                  </td>
                </tr>
                <tr>
                  <td class="prim_cap" style="background-color:#ffe033;" nowrap>
                    <label for="address_organization"><%= Address.human_attribute_name('organization') %></label>
                  </td>
                  <td class="spec_value">
                    <textarea id="address_organization" name="address[organization]" style="width:100%;" rows="3"><%= (@address.nil?)?(nil):(@address.organization) %></textarea>
                  </td>
                </tr>
                <tr>
                  <td class="prim_cap" style="background-color:#ffe033;" nowrap>
                    <label for="address_title"><%= Address.human_attribute_name('title') %></label>
                  </td>
                  <td class="spec_value">
                    <input type="text" id="address_title" name="address[title]" value="<%= (@address.nil?)?(nil):(@address.title) %>" style="width:100%" />
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>

      <div id="tab_div_memo" style="display:none;">
        <table style="width:100%; border:outset 3px darkgoldenrod; margin-bottom:10px;">
          <tr>
            <td style="text-align:center; padding:10px 0px;">
              <table style="margin:0px auto; width:85%; border-spacing:2px;">
                <tr>
                  <td class="prim_cap" style="background-color:#ffe033;" nowrap>
                    <label for="address_memo"><%= Address.human_attribute_name('memo') %></label>
                  </td>
                  <td class="spec_value">
                    <textarea id="address_memo" name="address[memo]" style="width:100%;" rows="5"><%= (@address.nil?)?(nil):(@address.memo) %></textarea>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>

      <div id="tab_div_scope" style="display:none;">
        <table style="width:100%; border:outset 3px darkgoldenrod; margin-bottom:10px;">
          <tr>
            <td style="text-align:left; padding:20px 10px;">
            <% if (@login_user.nil? or !@login_user.admin?(User::AUTH_ADDRESSBOOK)) %>
              &nbsp;&bull;&nbsp;<%= t('scope.private') %><br/>
              <input type="hidden" id="scope" name="scope" value="<%= 'private' %>" />
            <% else %>
              <%
              is_private = false
              is_for_all = false
              if (@address.nil? or @address.private?)
                is_private = true
              elsif @address.for_all?
                is_for_all = true
              end
              %>
              <input type="radio" id="scope_private" name="scope" value="private" onclick="_z('div_edit_scope').style.display='none';" <%= (is_private)?'checked':'' %> /><label for="scope_private"><%= t('scope.private') %></label><br/>
              <input type="radio" id="scope_all" name="scope" value="all" onclick="_z('div_edit_scope').style.display='none';" <%= (is_for_all)?'checked':'' %> /><label for="scope_all"><%= t('scope.common') %><%= t('paren.round.left') %><%= t('msg.all_users') %><%= t('paren.round.right') %></label><br/>
              <input type="radio" id="scope_common" name="scope" value="common" onclick="_z('div_edit_scope').style.display='block';" <%= (is_private or is_for_all)?'':'checked' %> /><label for="scope_common"><%= t('scope.common') %></label><br/>
              <div id="div_edit_scope" style="display:<%= (is_private or is_for_all)?'none':'block' %>; padding-left:10px">
                <%= render(:partial => 'common/edit_scope', :locals => {:obj => @address}) %>
              </div>
            <% end %>
            </td>
          </tr>
        </table>
      </div>

    </td>
  </tr>
</table>

<input type="hidden" id="admin" name="admin" value="<%= params[:admin] %>" />


<script type="text/javascript">

showTab("basic", tabs, "sienna");

</script>
