
<%= form_tag( {:controller => 'addressbook', :action => 'list'}, :method => 'get', :name => 'form_list') %>

<table style="width:100%; border-spacing:3px;">
  <tr>
    <td>
      <table style="width:100%;">
        <tr>
          <td style="text-align:left; width:1%;" nowrap>
            <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/user_add.png" title="<%= t('btn.create') %>" onclick="showAddressNew();">
          </td>
          <td style="width:10px;"></td>
          <td style="text-align:left; width:1%;" nowrap>
            <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/csv_exp.png" title="<%= t('btn.export_csv') %>" onclick="exportCsv();">
          </td>
          <td style="width:10px;"></td>
          <td style="text-align:left; width:1%;" nowrap>
            <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/csv_imp.png" title="<%= t('btn.import_csv') %>" onclick="importCsv();">
          </td>
          <td style="text-align:right;" nowrap>
            <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/search.png" title="<%= t('cap.search_keywords') %>">&nbsp;<%= text_field_tag 'keyword', params[:keyword] %>
          <% if params[:admin] == 'true' %>
            <%= t('address.book') %><%= t('cap.suffix') %><%= t('scope.common') %>
          <% else %>
            <%= t('address.book') %><%= t('cap.suffix') %><%= select_tag 'filter_book',
                                     options_for_select([[t('msg.all'), Address::BOOK_BOTH],
                                                        [t('scope.private'), Address::BOOK_PRIVATE],
                                                        [t('scope.common'), Address::BOOK_COMMON]],
                                                        params[:filter_book])  %>
          <% end %>
            <input type="button" value="<%= t('btn.search') %>" onclick="form_list.action='<%= url_for(:controller => 'addressbook', :action => 'search') %>'; form_list.submit(); prog('TOP-RIGHT');"/>
            <input type="button" value="<%= t('btn.reset') %>" onclick="location.href='<%= url_for(:controller => 'addressbook', :action => 'list') %>'; prog('TOP-RIGHT');"/>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr style="height:1px;"><td></td></tr>
  <tr>
    <td style="text-align:right;">
      <table style="width:100%;">
         <tr>
          <td style="text-align:left; padding-bottom:5px; width:120px;">
          </td>
          <td style="text-align:right;" nowrap>
            <input type="button" value="<%= t('btn.select_deselect_all')%>" onclick="selectAll();">
            <span style="color:silver;">|</span>
            <input type="button" value="<%= t('btn.delete')%>" onclick="onDeleteClicked();">
          </td>
         </tr>
      </table>
    </td>
  </tr>
</table>

<table style="width:100%; padding-bottom:10px;">
  <tr>
    <td class="pagination_td" style="text-align:center;">
      <%= t('cap.total') %><%= t('address', :count => @total_num) %>
      <%
      prms = ApplicationHelper.dup_hash(params)
      prms.delete('authenticity_token')
      prms.delete('check_address')
      prms['action'] = 'list'
      pagination = will_paginate(@address_pages, :params => prms)
      pagination = ApplicationHelper.custom_pagination(pagination)
      %>
      <%= raw(pagination) %>
    </td>
  </tr>
</table>

<div class="base_list" id="div_addresses">
<table class="regular_table" id="list_addresses">
 <thead>
  <tr>
    <th class="list_sort" style="width:35%;" nowrap onclick="sortList('name')"><%= Address.human_attribute_name('name') %><span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('name', @sort_col, @sort_type)) %></span></th>
    <th class="list_sort" style="width:35%;" nowrap onclick="sortList('email1')"><%= t('email.name') %><span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('email1', @sort_col, @sort_type)) %></span></th>
    <th class="list_sort" style="width:30%;" nowrap onclick="sortList('organization')"><%= Address.human_attribute_name('organization') %><span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('organization', @sort_col, @sort_type)) %></span></th>
  </tr>
 </thead>
 <tbody>
<% @addresses.each_with_index do |address, idx| %>
  <tr>
    <td nowrap style="text-align:left;">
      <a class="a_underline" href="javascript:this.onclick()" onclick="showAddress(<%= address.id %>, '<%= ApplicationHelper.h_s_quote(truncate(address.name, :length => 20)) %>'); return false;">
        <%= truncate(address.name, :length => 30) %>
      </a>
    </td>
    <%
      addrs = [address.email1, address.email2, address.email3]
      addrs.compact!
      addrs.delete('')
      addrs.map! do |addr|
        truncate(addr, :length => 40)
      end
    %>
    <td nowrap>
    <% addrs.each do |addr| %>
      <%= addr %><br/>
    <% end %>
    </td>
    <td>
      <%= truncate(address.organization, :length => 40) %>
    </td>
  <% if address.editable?(@login_user) %>
    <td nowrap style="width:20px; text-align:center;">
      <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/edit.png" title="<%= t('btn.edit') %>" onclick="showAddressEdit(<%= address.id %>, '<%= ApplicationHelper.h_s_quote(truncate(address.name, :length => 20)) %>', '<%= params[:admin] %>');" />
    </td>
    <td style="width:20px; text-align:center;">
      <%= check_box(:check_address, address.id, :class => 'check_address') %>
    </td>
  <% end %>
  </tr>
<% end %>
 </tbody>
</table>
</div>

<%= hidden_field_tag('sort_col', params[:sort_col]) %>
<%= hidden_field_tag('sort_type', params[:sort_type]) %>
<%= hidden_field_tag('admin', params[:admin]) %>

</form>


<%= render(:partial => 'common/encoding_selector') %>
<%= render(:partial => 'common/addressbook_func') %>

<script type="text/javascript">

function selectAll()
{
  var elems = document.getElementsByClassName("check_address", document.form_list);
  var all_selected = true;
  for (var i=0; elems != null && i < elems.length; i++) {
    if (!elems[i].checked) {
      all_selected = false;
      break;
    }
  }
  for (var i=0; elems != null && i < elems.length; i++) {
    elems[i].checked = !all_selected;
  }
}

function getBookName(book)
{
  switch (book) {
    case "<%= Address::BOOK_PRIVATE %>":
      return "<%= t('scope.private') %>";
    case "<%= Address::BOOK_COMMON %>":
      return "<%= t('scope.common') %>";
  }
  return null;
}

var thetisBoxExpImp = null;

function exportCsv()
{
  if (thetisBoxExpImp != null){
    thetisBoxExpImp.remove();
    thetisBoxExpImp = null;
  }

<% if @login_user.admin?(User::AUTH_ADDRESSBOOK) %>
  var book = form_list.filter_book.value;
  if (book == "<%= Address::BOOK_BOTH %>") {
    var msgBox = msg("<%= t('address.specify_book') %>");
    msgBox.setOnClose(function(){form_list.filter_book.focus();});
    return false;
  }
  var content = getEncodingSelector("doExportCsv('"+book+"')", "export");
<% else %>
  var book = "<%= Address::BOOK_PRIVATE %>";
  var content = getEncodingSelector("doExportCsv()", "export");
<% end %>

  thetisBoxExpImp = new ThetisBox;
  thetisBoxExpImp.title = "<%= t('address.title_export') %>";
  thetisBoxExpImp.title += " <%= t('paren.round.left') %>"+getBookName(book)+"<%= t('paren.round.right') %>";
  thetisBoxExpImp.show("CENTER", "380,280", "TRAY", "", "<%= t('msg.select_encoding_of_csv') %> ", content);

  return true;
}

function doExportCsv(book)
{
  var enc = null;
  for (var i=0; i<document.form_enc.enc.length; i++) {
    if (document.form_enc.enc[i].checked) {
      enc = document.form_enc.enc[i].value;
      break;
    }
  }
  if (enc == null) {
    return;
  }
  thetisBoxExpImp.remove();
  thetisBoxExpImp = null;

  var addParams = [];
  addParams.push("enc="+enc);
  if (book) {
    addParams.push("filter_book="+book);
  }

  // prog("TOP-RIGHT");
  location="<%= url_for(:controller => 'addressbook', :action => 'export_csv') %>?"+addParams.join("&");
}

function importCsv()
{
  if (thetisBoxExpImp != null){
    thetisBoxExpImp.remove();
    thetisBoxExpImp = null;
  }

<% if @login_user.admin?(User::AUTH_ADDRESSBOOK) %>
  var book = form_list.filter_book.value;
  if (book == "<%= Address::BOOK_BOTH %>") {
    var msgBox = msg("<%= t('address.specify_book') %>");
    msgBox.setOnClose(function(){form_list.filter_book.focus();});
    return false;
  }
  var content = getEncodingSelector("doImportCsv('"+book+"')", "import");
<% else %>
  var book = "<%= Address::BOOK_PRIVATE %>";
  var content = getEncodingSelector("doImportCsv()", "import");
<% end %>

  thetisBoxExpImp = new ThetisBox;
  thetisBoxExpImp.title = "<%= t('address.title_import') %>";
  thetisBoxExpImp.title += " <%= t('paren.round.left') %>"+getBookName(book)+"<%= t('paren.round.right') %>";
  thetisBoxExpImp.show("CENTER", "380,400", "TRAY", "", "<%= t('msg.specify_csv_encoding') %> ", content);

  return true;
}

function doImportCsv(book)
{
  if (document.form_enc.imp_file.value == "") {
    msg("<%= t('msg.specify_csv') %>");
    return "";
  }
  var enc = null;
  for (var i=0; i<document.form_enc.enc.length; i++) {
    if (document.form_enc.enc[i].checked) {
      enc = document.form_enc.enc[i].value;
      break;
    }
  }
  if (enc == null) {
    msg("<%= t('msg.select_encoding_of_csv') %>");
    return;
  }
  var mode = null;
  for (var i=0; i<document.form_enc.mode.length; i++) {
    if (document.form_enc.mode[i].checked) {
      mode = document.form_enc.mode[i].value;
      break;
    }
  }
  if (mode == null) {
    msg("<%= t('msg.select_import_mode') %>");
    return;
  }

  if (book) {
    addInputHidden(document.form_enc, null, "filter_book", book);
  }

  prog("TOP-RIGHT");
  document.form_enc.method = "post";
  document.form_enc.action = "<%= url_for(:controller => 'addressbook', :action => 'import_csv') %>";
  document.form_enc.submit();

  thetisBoxExpImp.hide();
}

function onDeleteClicked()
{
  var elems = document.getElementsByClassName("check_address", document.form_list);
  var count=0;
  for (var i=0; elems!=null && i<elems.length; i++) {
    if (elems[i].checked) {
      count++;
    }
  }
  if (count <= 0) {
    return;
  }
  confm(count+"<%= t('address.confirm_delete') %>", "doDelete()");
}

function doDelete()
{
  addInputHidden(document.form_list, null, "authenticity_token", "<%= form_authenticity_token %>");

  prog("TOP-RIGHT");
  document.form_list.action = "<%= url_for(:controller => 'addressbook', :action => 'destroy') %>";
  document.form_list.method = "post";
  document.form_list.submit();
}


function sortList(col)
{
  var type = "<%= @sort_type %>";
  
  if (col == "<%= @sort_col %>") {
    type = (type == "ASC") ? "DESC" : "ASC";
  }

  prog("TOP-RIGHT");
  document.form_list.sort_col.value = col;
  document.form_list.sort_type.value = type;
  document.form_list.submit();
}

function doRegisterAddress(frm)
{
  prog("TOP-RIGHT");
  frm.submit();
}

</script>

<%
unless @imp_errs.nil? or @imp_errs.empty?
%>

<div id="imp_errs" style="display:none;">
<table style="text-align:center; width:100%; vertical-align:top;">
  <tr style="height:20px;">
    <td style="text-align:right; color:blueviolet; padding-right:10px; padding-top:10px;">
      <%= t('address.imported', :count => @imp_cnt) %><br/>
    </td>
  </tr>
  <tr>
    <td style="padding:10px; vertical-align:top;">
      <table style="width:100%;" border="1">
<%
err_cnt = 0
@imp_errs.each do |address_cnt, errs|
  if err_cnt < 20
%>
        <tr>
        <% if address_cnt > 0 %>
          <td style="text-align:right; padding-left:3px; padding-right:3px; vertical-align:top;">
            <%= t('address.cap_with_num', :num => address_cnt) %>
          </td>
          <td style="text-align:left; padding-left:3px; padding-right:3px; vertical-align:top;">
        <% else %>
          <td style="text-align:left; padding-left:3px; padding-right:3px; vertical-align:top;" colspan="2">
        <% end %>
        <% errs.each do |err| %>
            &bull; <%= err %><br/>
        <% end %>
          </td>
        </tr>
<% else %>
        <tr>
          <td colspan="2" nowrap style="text-align:center; padding-left:3px; padding-right:3px; vertical-align:top;">
            <b>...</b>
          </td>
        </tr>
<%
    break
  end
  err_cnt += 1
end
%>
      </table>
    </td>
  </tr>
</table>
</div>

<script type="text/javascript">

function showImportError()
{
  var thetisBox = new ThetisBox;
  thetisBox.title = "<%= t('cap.import_error') %>";
  thetisBox.bgcolor_title = "crimson";
  thetisBox.bgcolor_body = "salmon";
  thetisBox.show("CENTER", (_mainWidth*7/10)+",450", "TRAY", "", "<%= t('msg.error_detected') %>", _z("imp_errs").innerHTML);
}

function onLoadSub()
{
  setTimeout("showImportError()", 100);
}

</script>

<% end %>
