
<table class="info_area" cellspacing="0" cellpadding="0" width="100%">
  <tr>
    <td id="sortable_header_menus" align="left" style="padding-left:10px;">
      <%
      header_menus = @yaml[:general]['header_menus']
      unless header_menus.nil?
        header_menus.each do |header_menu|
          menu_name = header_menu[0]
          menu_target = header_menu[1]
          menu_url = header_menu[2]
      %>
        <div id="item_<%=h menu_name %>" style="height:18px; padding-top:4px; padding-bottom:4px;">
          <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/up_down.gif" alt="<%=h t('msg.drag_to_change_orger') %>" style="cursor:move" />
          <%=h truncate(menu_name, :length => 20) %>
          &nbsp;&nbsp;<img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/edit.gif" alt="<%=h t('btn.edit') %>" title="<%=h t('btn.edit') %>" onclick="doEditHeaderMenu('<%=ApplicationHelper.h_s_quote menu_name %>'); return false;" />
          &nbsp;<img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/delete.gif" alt="<%=h t('btn.delete') %>" title="<%=h t('btn.delete') %>" onclick="doDeleteHeaderMenu('<%=ApplicationHelper.h_s_quote menu_name %>'); return false;" />
        </div>
      <%
        end
      end
      %>
    </td>
  </tr>
</table>

<%= sortable_element "sortable_header_menus", :url => {:controller => 'config', :action => 'update_header_menus_order' }, :with => "Sortable.serialize('sortable_header_menus', {name:'header_menus_order'})", :tag => "div" %>

<%= render :partial => 'common/flash_notice' %>

