
<table class="info_area" cellspacing="0" cellpadding="0" width="100%">
  <tr>
    <td id="sortable_header_menus" align="left" style="padding-left:10px;">
      <%
      header_menus = @yaml[:general]['header_menus']
      unless header_menus.nil?
        header_menus.each do |header_menu|
          menu_name = header_menu[0]
          menu_target = header_menu[1]
          menu_url = header_menu[2]
      %>
        <div id="item_<%= menu_name %>" style="height:18px; padding-top:4px; padding-bottom:4px;">
          <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/up_down.gif" alt="<%= t('msg.drag_to_change_orger') %>" style="cursor:move" />
          <%= truncate(menu_name, :length => 20) %>
          &nbsp;&nbsp;<img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/edit.gif" alt="<%= t('btn.edit') %>" title="<%= t('btn.edit') %>" onclick="doEditHeaderMenu('<%= ApplicationHelper.h_s_quote(menu_name) %>'); return false;" />
          &nbsp;<img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/delete.gif" alt="<%= t('btn.delete') %>" title="<%= t('btn.delete') %>" onclick="doDeleteHeaderMenu('<%= ApplicationHelper.h_s_quote(menu_name) %>'); return false;" />
        </div>
      <%
        end
      end
      %>
    </td>
  </tr>
</table>

<script type="text/javascript">

onHeaderMenusOrderUpdated = function()
{
  var addParams = new Array();
  addParams.push("authenticity_token=<%= form_authenticity_token %>");

  new Ajax.Request(
      "<%= url_for(:controller => 'config', :action => 'update_header_menus_order') %>",
      {
        method:"post",
        parameters:Sortable.serialize("sortable_header_menus", { name: "header_menus_order" }) + "&" + addParams.join("&"),
        asynchronous:true,
        evalScripts:true
      }
    );
}

//<![CDATA[
Sortable.create(
      "sortable_header_menus",
      {
        onUpdate: onHeaderMenusOrderUpdated,
        tag:"div"
      }
    );
//]]>
</script>

<%= render(:partial => 'common/flash_notice') %>

