
<%
mail_account_id = params[:mail_account_id]
%>

<% unless @emails.nil? %>

<%= form_tag( {:controller => 'mail_folders', :action => 'get_mails' }, :method => 'get', :name => 'form_list') %>
<table cellspacing="0" cellpadding="0" style="width:100%; padding:2px 5px 5px;">
  <tr>
    <td style="text-align:left;" nowrap>
      <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/search.gif" alt="<%= t('cap.search_keywords') %>">&nbsp;<%= text_field_tag('keyword', params[:keyword]) %>

      <input type="submit" value="<%= t('btn.search') %>" onclick="onSearchClicked(); return false;" />
      <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/erase.gif" alt="<%= t('btn.clear') %>" title="<%= t('btn.clear') %>" onclick="onResetClicked(); return false;" />
    </td>
    <td style="text-align:right;" nowrap>
      <input type="button" value="<%= t('btn.select_deselect_all')%>" onclick="selectAll();">
      <span style="color:silver;">|</span>
      <input type="button" value="<%= t('btn.delete')%>" onclick="onDeleteMailsClicked();">
      <input type="button" value="<%= t('btn.move')%>" onclick="onMoveMailsClicked();">
    </td>
  </tr>
</table>

<input type="hidden" id="folder_id" name="id" value="<%= @folder_id %>" />
<input type="hidden" name="mail_account_id" value="<%= mail_account_id %>" />
<%= hidden_field_tag('sort_col', params[:sort_col]) %>
<%= hidden_field_tag('sort_type', params[:sort_type]) %>
</form>

<script type="text/javascript">

onSearchClicked = function()
{
  var addParams = new Array();
  addParams.push(Form.serialize(document.form_list));

  doUpdateViewMails("get", "<%= url_for(:controller => 'mail_folders', :action => 'get_mails') %>", addParams, "<%= @folder_id %>");
}

onResetClicked = function()
{
  document.form_list.keyword.value = "";

  var addParams = new Array();
  addParams.push(Form.serialize(document.form_list));

  doUpdateViewMails("get", "<%= url_for(:controller => 'mail_folders', :action => 'get_mails') %>", addParams, "<%= @folder_id %>");
}

onDeleteMailsClicked = function()
{
  var elems = document.getElementsByClassName("check_mail");
  var count = 0;
  var teams = new Array();
  for (var i=0; elems != null && i < elems.length; i++) {
    if (elems[i].checked) {
      count++;
    }
  }
  if (count <= 0) {
    return;
  }
  var msg = count + "<%= t('mail.confirm_to_delete') %>";
  confm(msg, "doDeleteMails()");
}

doDeleteMails = function()
{
  invalidateAccountSummary();

  var addParams = getCheckedMailsParam();
  addParams.push(Form.serialize(document.form_list));

  doUpdateViewMails("post", "<%= url_for(:controller => 'mail_folders', :action => 'ajax_delete_mails') %>", addParams, "<%= @folder_id %>");
}

onMoveMailsClicked = function()
{
  var elems = document.getElementsByClassName("check_mail");
  var count = 0;
  for (var i=0; elems != null && i < elems.length; i++) {
    if (elems[i].checked) {
      count++;
    }
  }
  if (count <= 0) {
    return;
  }
  showFolderTreeToMove(<%= @folder_id %>);
}

doMoveMails = function(frmTree)
{
  invalidateAccountSummary();

  var addParams = getCheckedMailsParam();
  addParams.push(Form.serialize(document.form_list));
  addParams.push(Form.serialize(frmTree));

  doUpdateViewMails("post", "<%= url_for(:controller => 'mail_folders', :action => 'ajax_move_mails') %>", addParams, "<%= @folder_id %>");
}

getCheckedMailsParam = function()
{
  var params = new Array();

  var elems = document.getElementsByClassName("check_mail");
  for (var i=0; elems != null && i < elems.length; i++) {
    if (elems[i].checked) {
      var email_id = elems[i].id.split("_")[2];
      params[params.length] = "check_mail["+email_id+"]=1";
    }
  }
  return params;
}

showFolderTreeToMove = function(folder_id)
{
  var addParams = getCheckedMailsParam();

  addParams.push("authenticity_token=<%= form_authenticity_token %>");

  var thetisBox = new ThetisBox;
  thetisBox.setAdditionalParams(addParams);
  thetisBox.setFormTag("<form action=\"<%= url_for(:controller => 'mail_folders', :action => 'ajax_move_mails') %>\" method=\"post\" onsubmit=\"doMoveMails(this); return false;\">");
  thetisBox.show("CENTER", "", "TREE", "", "<%= t('item.select_folder_to_move_to')%>", "");
  thetisBox.setTree("<%= url_for(:controller => 'mail_folders', :action => 'ajax_get_tree') %>", folder_id);
}

sortList = function(col)
{
  var type = "<%= @sort_type %>";

  if (col == "<%= @sort_col %>") {
    type = (type == "ASC") ? "DESC" : "ASC";
  }

  document.form_list.sort_col.value = col;
  document.form_list.sort_type.value = type;

  var addParams = new Array();
  addParams.push(Form.serialize(document.form_list));

  doUpdateViewMails("get", "<%= url_for(:controller => 'mail_folders', :action => 'get_mails') %>", addParams, "<%= @folder_id %>");
}

selectAll = function()
{
  var elems = document.getElementsByClassName("check_mail");
  var all_selected = true;
  for (var i=0; elems != null && i < elems.length; i++) {
    if (!elems[i].checked) {
      all_selected = false;
      break;
    }
  }
  for (var i=0; elems != null && i < elems.length; i++) {
    elems[i].checked = !all_selected;
  }
}

onPaginate = function(url)
{
//  var m = url.match(/page=(\d+)/);
//  var page = m[1];
  doUpdateViewMails("get", url, null, "<%= @folder_id %>");
}

</script>

<table cellpadding="0" cellspacing="0" style="width:100%; padding-bottom:5px;">
  <tr>
    <td class="pagination_td" style="text-align:center;">
      <%= t('cap.total') %><%= t('mail', :count => @total_num) %>
      <%
      prms = ApplicationHelper.dup_hash(params)
      prms.delete('authenticity_token')
      prms.delete('check_mail')
      prms['action'] = 'get_mails'
      pagination = will_paginate(@email_pages, :params => prms)
      pagination = ApplicationHelper.ajax_pagination(pagination, 'onPaginate')
      %>
      <%= raw(pagination) %>
    </td>
  </tr>
</table>

<input type='hidden' id="selected_row" value="" />
<input type='hidden' id="req_detail" value="false" />

<table cellpadding="0" cellspacing="1" style="width:100%;">
  <tr>
    <th class="list_sort" style="width:55%;" nowrap onclick="sortList('subject')"><%= t('mail.subject') %><span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('subject', @sort_col, @sort_type)) %></span></th>
    <th class="list_sort" style="width:5%;" nowrap onclick="sortList('has_attach')"><img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/mail/clip.gif"><span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('has_attach', @sort_col, @sort_type)) %></span></th>
    <th class="list_sort" style="width:15%;" nowrap onclick="sortList('from_address')"><%= t('mail.sender') %><span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('from_address', @sort_col, @sort_type)) %></span></th>
    <th class="list_sort" style="width:20%;" nowrap onclick="sortList('sent_at')"><%= t('mail.sent_at') %><span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('sent_at', @sort_col, @sort_type)) %></span></th>
  </tr>

<%
@emails.each_with_index do |email, idx|
  td_class = (idx % 2 == 1) ? 'list_td_on' : 'list_td_off'
  sbj_style = (email.status == Email::STATUS_UNREAD)?'email_subject_unread':''
  show_header = (email.status != Email::STATUS_DRAFT)
%>
  <tr id="tr_<%= email.id %>_<%= td_class.split('_').last %>" height="30" onclick="onSelChanged(this, '<%= email.id %>');" style="cursor:pointer;" onmouseover="if (_z('selected_row').value!=this.id) {set_tr_bgcolor(this, '#BFFF81');}" onmouseout="set_tr_bgcolor(this, (_z('selected_row').value==this.id)?'lawngreen':'<%= (td_class.split('_').last=='on')?'gainsboro':'white' %>');">
    <td class="<%= td_class %> <%= sbj_style %>" id="mail_subject_<%= email.id %>" title="<%= email.subject %>" nowrap style="text-align:left;">
    <% if show_header %>
      <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/zoom.gif" onclick="_z('req_detail').value='true';">
    <% end %>
      <%= truncate(email.subject, :length => 30) %>
      <div id="mail_header_<%= email.id %>" style="display:none;">
        <%= render(:partial => 'header_info',:locals => {:email => email}) %>
      </div>
      <%= hidden_field_tag('email_status_' + email.id.to_s, email.status) %>
    </td>
    <td class="<%= td_class %>" nowrap style="text-align:center;">
      <% if email.mail_attachments.nil? or email.mail_attachments.empty? %>
        &nbsp;
      <% else %>
        <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/mail/clip.gif">
      <% end %>
    </td>
    <td class="<%= td_class %>" title="<%= email.from_address %>" nowrap style="text-align:center;">
      <%= truncate(email.from_address, :length => 15) %>
    </td>
    <%
    sent_at = email.get_sent_at_exp(false)
    sent_at_full = email.get_sent_at_exp(true)
    %>
    <td class="<%= td_class %>" title="<%= sent_at_full %>" nowrap style="text-align:center;">
      <%= sent_at %>
    </td>
    <td class="<%= td_class %>" nowrap style="text-align:center;" onclick="event.cancelBubble = true;">
      <%= check_box(:check_mail, email.id, :class => 'check_mail') %>
    </td>
  </tr>
<% end %>
</table>
<% end %>

<%= render(:partial => 'common/flash_notice') %>


<script type="text/javascript">

onSelChanged = function(cur_tr, email_id)
{
  var sel_tr = _z("selected_row").value;
  if (sel_tr != "") {
    set_tr_bgcolor(_z(sel_tr), ((sel_tr.indexOf("_on")>=0)?"gainsboro":"white"));
  }
  _z("selected_row").value = cur_tr.id;
  set_tr_bgcolor(cur_tr, "lawngreen");

  if (_z("req_detail").value == "true") {
    showHeaderInfo(email_id, _z("mail_subject_"+email_id).title);
    _z("req_detail").value = "false";
  } else {
    removeHeaderInfo();
  }

  showMail(email_id);

  var div_mail_subject = _z("mail_subject_"+email_id);
  removeClassName(div_mail_subject, "email_subject_unread");

  if (_z("email_status_"+email_id).value == "<%= Email::STATUS_DRAFT %>") {
    _z("btnbox_handled").style.display = "none";
    _z("btnbox_draft").style.display = "block";
  } else {
    _z("btnbox_handled").style.display = "block";
    _z("btnbox_draft").style.display = "none";
  }

  var elems = document.getElementsByClassName("check_mail");
  for (var i=0; elems != null && i < elems.length; i++) {
    var elem = elems[i];
    var ref_email_id = elem.id.split("_")[2];
    elem.checked = (email_id == ref_email_id);
  }
}

</script>
