
<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td id="mail_body_view" valign="top" style="cursor:text;">
      <div id="div_mail_body" width="100%" align="left" style="padding:5px; overflow:auto; background-color:whitesmoke;">
        <%
        linked_content = h(@email.message)
        unless linked_content.nil?
          linked_content = ApplicationHelper.get_linked_s(linked_content)
        end
        %>
        <%= raw(ApplicationHelper.format_text_block(linked_content)) %>
      </div>
    </td>
  </tr>
<% unless @email.mail_attachments.nil? or @email.mail_attachments.empty? %>
  <tr height="20">
    <td id="mail_attach_view" style="border-top:solid 1px gray;">
      <div id="div_mail_attach" width="100%" style="overflow:auto; padding:5px; text-align:left;">
      <% @email.mail_attachments.each do |attach| %>
        <span id="div_mail_attach_<%= attach.id %>">
          <a href="<%= url_for(:controller => 'mail_folders', :action => :get_mail_attachment, :id => attach.id) %>">
            <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/file.gif"> <%= attach.name %>
          </a>
        </span>
      <% end %>
      </div>
    </td>
  </tr>
<% end %>
</table>


<%
if @email.status == Email::STATUS_UNREAD
  @email.update_attribute(:status, Email::STATUS_NONE)
end
%>

<%= render(:partial => 'common/flash_notice') %>

<script type="text/javascript">

arrangeMailContentSection(_z("div_mail_content"));

</script>
