
<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td id="mail_body_view" valign="top" style="cursor:text;">
      <div id="div_mail_body" width="100%" align="left" style="padding:5px; overflow:auto; background-color:whitesmoke;">
        <%= ApplicationHelper.format_text_block(h(@email.message)) %>
      </div>
    </td>
  </tr>
<% unless @email.mail_attachments.nil? or @email.mail_attachments.empty? %>
  <tr height="20">
    <td id="mail_attach_view" style="border-top:solid 1px gray;">
      <div id="div_mail_attach" width="100%" style="overflow:auto; padding:5px; text-align:left;">
      <% @email.mail_attachments.each do |attach| %>
        <span id="div_mail_attach_<%= attach.id %>">
          <a href="<%= url_for(:controller => 'mail_folders', :action => :get_mail_attachment, :id => attach.id) %>">
            <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/file.gif"> <%= attach.name %>
          </a>
        </span>
      <% end %>
      </div>
    </td>
  </tr>
<% end %>
</table>


<%
if @email.status == Email::STATUS_UNREAD
  @email.update_attribute(:status, Email::STATUS_NONE)
end
%>

<%= render(:partial => 'common/flash_notice') %>

<script type="text/javascript">
  var div_mail_content = _x("div_mail_content");
  var div_mail_body = _x("div_mail_body");
  var div_mail_attach = _x("div_mail_attach");
  var col_height = parseInt(div_mail_content.style.height, 10) - 10;
  if (div_mail_attach)
  {
    div_mail_body.style.height = (col_height / 4 * 3) + "px";
    div_mail_body.style.width = (div_mail_content.clientWidth - 10) + "px";

    div_mail_attach.style.height = (col_height / 4 * 1) + "px";
    div_mail_attach.style.width = div_mail_body.style.width;
  }
  else
  {
    div_mail_body.style.height = col_height + "px";
    div_mail_body.style.width = (div_mail_content.clientWidth - 10) + "px";
  }
</script>
