
<table style="width:100%;" cellspacing="0" cellpadding="0">
  <tr>
    <td nowrap style="padding:0px 10px; text-align:left;">
      <%= email.get_sent_at_exp %>
    </td>
  <% if email.xtype == Email::XTYPE_RECV %>
    <td nowrap style="padding:0px 10px; text-align:right;">
      <% checked = email.unread? %>
      <input type="checkbox" id="org_email<%= email.id %>_unread" <%= checked %> onclick="onEmailUnreadClicked(this, <%= email.id %>);" /><label for="org_email<%= email.id %>_unread" style="color:dimgray;"><%= t('msg.unread') %></label>
    </td>
  <% end %>
  </tr>
</table>

<div class="nodrag" style="width:380px; height:100%; padding-bottom:10px; overflow-x:auto;">
<table style="width:100%;" cellspacing="0" cellpadding="0">
  <tr>
    <td nowrap style="width:20%; text-align:left; vertical-align:top; padding:0px 10px;">
      <%= t('cap.sender') %>
    </td>
    <td nowrap style="text-align:left; padding:0px 10px;">
      <%
      from_addr = email.from_address
      %>
      <a href="javascript:this.onclick()" onclick="queryAddressEmail('<%= ApplicationHelper.h_s_quote(from_addr) %>', '<%= ApplicationHelper.h_s_quote(from_addr) %>'); return false;">
        <%= from_addr %>
      </a>
    </td>
  </tr>
<% unless email.to_addresses.nil? or email.to_addresses.empty? %>
  <tr>
    <td nowrap style="text-align:left; vertical-align:top; padding:0px 10px;">
      <%= t('cap.to') %>
    </td>
    <td nowrap style="text-align:left; padding:0px 10px;">
    <% email.get_to_addresses.each do |to_addr| %>
      <a href="javascript:this.onclick()" onclick="queryAddressEmail('<%= ApplicationHelper.h_s_quote(to_addr) %>', '<%= ApplicationHelper.h_s_quote(to_addr) %>'); return false;">
        <%= to_addr %>
      </a><br/>
    <% end %>
    </td>
  </tr>
<% end %>
<% unless email.cc_addresses.nil? or email.cc_addresses.empty? %>
  <tr>
    <td nowrap style="text-align:left; vertical-align:top; padding:0px 10px;">
      <%= t('cap.cc') %>
    </td>
    <td nowrap style="text-align:left; padding:0px 10px;">
    <% email.get_cc_addresses.each do |cc_addr| %>
      <a href="javascript:this.onclick()" onclick="queryAddressEmail('<%= ApplicationHelper.h_s_quote(cc_addr) %>', '<%= ApplicationHelper.h_s_quote(cc_addr) %>'); return false;">
        <%= cc_addr %>
      </a><br/>
    <% end %>
    </td>
  </tr>
<% end %>
<% unless email.bcc_addresses.nil? or email.bcc_addresses.empty? %>
  <tr>
    <td nowrap style="text-align:left; vertical-align:top; padding:0px 10px;">
      <%= t('cap.bcc') %>
    </td>
    <td nowrap style="text-align:left; padding:0px 10px;">
    <% email.get_bcc_addresses.each do |bcc_addr| %>
      <a href="javascript:this.onclick()" onclick="queryAddressEmail('<%= ApplicationHelper.h_s_quote(bcc_addr) %>', '<%= ApplicationHelper.h_s_quote(bcc_addr) %>'); return false;">
        <%= bcc_addr %>
      </a><br/>
    <% end %>
    </td>
  </tr>
<% end %>
</table>
</div>
