<%
login_user = session[:login_user]
login_admin = (!login_user.nil? and login_user.admin?)
%>

<!-- Dynamic creation of [img src=""/] makes IE6/7 request the server with senseless URL.  -->
<img id='popupImg_desktop' src="<%= THETIS_RELATIVE_URL_ROOT %>/images/menu/desktop.png" style="position:absolute; display:none; z-index:99999;" alt="" />
<img id='popupImg_item_bbs' src="<%= THETIS_RELATIVE_URL_ROOT %>/images/menu/item_bbs.png" style="position:absolute; display:none; z-index:99999;" alt="" />
<img id='popupImg_item_list' src="<%= THETIS_RELATIVE_URL_ROOT %>/images/menu/item_list.png" style="position:absolute; display:none; z-index:99999;" alt="" />
<img id='popupImg_folder_tree' src="<%= THETIS_RELATIVE_URL_ROOT %>/images/menu/folder_tree.png" style="position:absolute; display:none; z-index:99999;" alt="" />
<img id='popupImg_schedule' src="<%= THETIS_RELATIVE_URL_ROOT %>/images/menu/schedule.png" style="position:absolute; display:none; z-index:99999;" alt="" />
<% if $thetis_config[:menu]['disp_equipment'] == '1' %>
<img id='popupImg_equipment' src="<%= THETIS_RELATIVE_URL_ROOT %>/images/menu/equipment.png" style="position:absolute; display:none; z-index:99999;" alt="" />
<% end %>
<% if $thetis_config[:menu]['disp_workflow'] == '1' %>
<img id='popupImg_workflow' src="<%= THETIS_RELATIVE_URL_ROOT %>/images/menu/workflow.png" style="position:absolute; display:none; z-index:99999;" alt="" />
<% end %>
<% if $thetis_config[:menu]['disp_research'] == '1' %>
<img id='popupImg_research' src="<%= THETIS_RELATIVE_URL_ROOT %>/images/menu/research.png" style="position:absolute; display:none; z-index:99999;" alt="" />
<% end %>
<% if $thetis_config[:menu]['disp_user_list'] == '1' %>
<img id='popupImg_user_list' src="<%= THETIS_RELATIVE_URL_ROOT %>/images/menu/user_list.png" style="position:absolute; display:none; z-index:99999;" alt="" />
<% end %>
<% if $thetis_config[:menu]['disp_mail'] == '1' %>
<img id='popupImg_mail' src="<%= THETIS_RELATIVE_URL_ROOT %>/images/menu/mail.png" style="position:absolute; display:none; z-index:99999;" alt="" />
<% end %>
<% if $thetis_config[:menu]['disp_addressbook'] == '1' %>
<img id='popupImg_addressbook' src="<%= THETIS_RELATIVE_URL_ROOT %>/images/menu/addressbook.png" style="position:absolute; display:none; z-index:99999;" alt="" />
<% end %>
<% if $thetis_config[:menu]['disp_paintmail'] == '1' %>
<img id='popupImg_paintmail' src="<%= THETIS_RELATIVE_URL_ROOT %>/images/menu/paintmail.png" style="position:absolute; display:none; z-index:99999;" alt="" />
<% end %>
<% if $thetis_config[:menu]['disp_timecard'] == '1' %>
<img id='popupImg_timecard' src="<%= THETIS_RELATIVE_URL_ROOT %>/images/menu/timecard.png" style="position:absolute; display:none; z-index:99999;" alt="" />
<% end %>

<img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/list_th_on.png" style="display:none;" alt="" />

<% if login_admin %>
  <%
  style_bg_on = "url('#{THETIS_RELATIVE_URL_ROOT}/images/menu/menu_on.png') center no-repeat"
  style_bg_off = "url('#{THETIS_RELATIVE_URL_ROOT}/images/menu/menu_off.png') center no-repeat"
  %>
  <table id="adminMenu" cellspacing="0" cellpadding="0" width="170" style="position:absolute; display:none; z-index:99999; background-color:white; border:outset 3px green;">
    <tr height="10">
      <td align="right" valign="top" style="background-color:white; padding:0px 5px; border:none;">
        <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/close_tiny.png" onclick="hideAdminMenu();" style="cursor:pointer;">
      </td>
    </tr>
    <tr>
      <td align="center" style="padding:5px 7px;">
        <table cellspacing="1" cellpadding="0" width="150" align="center">
          <tr height="31">
            <td class="menu_td" style="background:<%= style_bg_off %>;" align="center"  onClick="prog('TOP-RIGHT'); location.href='<%= url_for :controller => 'frames', :action => 'admin' %>'; return false;" onMouseOver="activateMenu('', this);" onMouseOut="deactivateMenu(this);">
              <a href="#" onclick="return false;" style="color:#404040;"><%= t('menu.admin_menu') %></a>
            </td>
          </tr>
          <tr height="31">
            <td class="menu_td" style="background:<%= style_bg_off %>;" align="center"  onClick="prog('TOP-RIGHT'); location.href='<%= url_for :controller => 'logs', :action => 'list' %>'; return false;" onMouseOver="activateMenu('', this);" onMouseOut="deactivateMenu(this);">
              <a href="#" onclick="return false;" style="color:#404040;"><%= t('menu.access_logs') %></a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <script type="text/javascript">

  function activateMenu(menu, obj)
  {
    obj.style.background = "<%= style_bg_on %>";

    for (var i=0; i< obj.childNodes.length; i++) {
      if (obj.childNodes[i].tagName == "A") {
        obj.childNodes[i].style.color = "deeppink";
        break;
      }
    }
  }

  function deactivateMenu(obj)
  {
    obj.style.background = "<%= style_bg_off %>";

    for (var i=0; i< obj.childNodes.length; i++) {
      if (obj.childNodes[i].tagName == "A") {
        obj.childNodes[i].style.color = "#404040";
        break;
      }
    }
  }

  function hideAdminMenu()
  {
    $("adminMenu").style.display = "none";
  }
  </script>
<% end %>

