<% unless (params[:controller] == 'desktop' and params[:action] == 'show') or (params[:controller] == 'items' and params[:action] == 'edit') %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<% end %>

<html>
<head>
<title>Thetis</title>

<meta http-equiv="Content-Script-Type" content="text/JavaScript">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<%= csrf_meta_tag %>
<%= stylesheet_link_tag 'thetis104', 'thetisbox', :media => 'all' %>
<%= javascript_include_tag 'prototype', 'scriptaculous/effects', 'scriptaculous/dragdrop', 'ckeditor/ckeditor', 'jkl-calendar/jkl-calendar' %>
<%= javascript_include_tag 'thetis/common110beta6', 'thetis/thetis110beta4', 'thetis/thetisbox110beta2' %>
<%= javascript_include_tag 'dojo/dojo' %>

<script type="text/javascript">
<!--
ThetisBox.setTitle("<%=h $thetis_config[:general]['app_title'] %>");
ThetisBox.setOK("<%= t('btn.ok') %>");
ThetisBox.setCancel("<%= t('btn.cancel') %>");
ThetisBox.setClose("<%= t('btn.close') %>");
ThetisBox.setCloseImg("<%= THETIS_RELATIVE_URL_ROOT %>/images/close.png");
<%
login_user = session[:login_user]
login_name = (login_user.nil?)?'':login_user.name
login_admin = (!login_user.nil? and login_user.admin?)?'true':'false'
%>
setHeaderLogin();
setLeftLogin();

function setHeaderLogin()
{
  try {
    top.header.setLoginName("<%=h truncate(login_name, :length => 10) %>");
  } catch(e) {
    setTimeout("setHeaderLogin();", 100);
  }
}

function setLeftLogin()
{
  try {
    top.left.setLogin("<%=h login_name %>", <%= login_admin %>);
  } catch(e) {
    setTimeout("setLeftLogin();", 100);
  }
}

function doOnLoad()
{
<% if request.path.index('/items/show').nil?   # Not to be scrolled by default.. %>
  if (document.forms
      && document.forms[0]
      && document.forms[0].elements)
  {
    try {
      for (var i=0; i < document.forms[0].elements.length; i++) {
        var first_elem = document.forms[0].elements[i];
        if (first_elem.type != "select-one"
            && first_elem.type != "hidden"
            && !first_elem.readOnly
            && first_elem.name != "authenticity_token") {
          first_elem.focus();
          break;
        }
      }
    } catch(e) {
    }
  }
<% end %>

  eval("try{ if(onLoadSub){ onLoadSub() } }catch(e){}");

  setTimeout("doResize()", 10);

<% if params[:topicBox] == 'true' %>
  setTimeout("showTopicBox()", 10);
<% end %>
}

function showTopicBox()
{
  var thetisBox = new ThetisBox;
  thetisBox.title = "<%= t('topicbox.title') %>";
  thetisBox.show("CENTER", (mainWidth/10*7)+","+(mainHeight/10*7), "IFRAME", "", "<%=h $thetis_config[:topic]['caption'] %>", "<%= THETIS_TOPICS_URL %>?"+((new Date()).getTime()));
  _z("divThetisBox-" + thetisBox.id).style.zIndex += 1;
}

function _forBugfullIE(div, list)
{
  if (list != null) {
    list.style.width = div.clientWidth+"px";
  }
}

var mainRegion = getClientRegion();
var mainWidth = mainRegion.width;
var mainHeight = mainRegion.height;

function doResize()
{
<% if params[:controller] == 'items' and params[:action] == 'show_for_print' %>
  return;
<% end %>

  mainRegion = getClientRegion();
  mainWidth = mainRegion.width;
  mainHeight = mainRegion.height;

  var main_div = _z("main_div");
  main_div.style.height = mainHeight + "px";
  main_div.style.width = mainWidth + "px";

  var div = null;

  if (div = _z("div_desktop")) {

    var h = mainHeight - 20;
    div.style.height = h + "px";
    if (!is_MS) {
      var deskTrs = document.getElementsByClassName("desktop_tr");
      for (var i=0; deskTrs != null && i < deskTrs.length; i++) {
        deskTrs[i].style.height = (h-1) / deskTrs.length + "px";
      }
      var deskTds = document.getElementsByClassName("desktop_td");
      if (deskTds != null) {
        var deskColNum = deskTds.length / deskTrs.length;
        for (var i=0; i < deskColNum; i++) {
          deskTds[i].style.width = mainWidth / deskColNum + "px";
        }
      }
    }

    var toolbox = _z("toolbox");
    var toolbox_top = mainHeight - 30;
    var toolbox_left = 50;
    if (toolbox != null) {
      toolbox_top = mainHeight - toolbox.clientHeight - 30;
      toolbox.style.top = toolbox_top + "px";
      toolbox.style.left = toolbox_left + "px";
    }

    var menubox = _z("menubox");
    if (menubox != null) {
      menubox.style.top = (toolbox_top - 85) + "px";
      menubox.style.left = (toolbox_left + 26) + "px";
    }

  } else if (div = _z("div_list")) {

    div.style.height = (mainHeight - 120) + "px";

    if (is_MS) {
      _forBugfullIE(div, _z("list_items"));
    }

  } else if ((div = _z("folderTree")) || (div = _z("groupTree"))) {

  <% if params[:controller] == 'folders' and !login_user.nil? and login_user.admin?(User::AUTH_FOLDER) %>
    var h = mainHeight - 120;
  <% else %>
    var h = mainHeight - 80;
  <% end %>

    div.style.height = h + "px";
   // Firefox: offsetHeight = style.height + style.paddingTop + style.paddingBottom
    if (div.offsetHeight != h) {
      h -= div.offsetHeight - h;
      div.style.height = h + "px";
    }
    div.style.width = (mainWidth-100)/2 + "px";

    var view = _z("div_view");
    view.style.height = div.offsetHeight + "px";
    view.style.width = div.offsetWidth + "px";

    _z("td_tree").style.width = div.offsetWidth + "px";
    _z("td_view").style.width = div.offsetWidth + "px";

  } else if (div = _z("mailTree")) {

    var h = mainHeight - 110;

    var td_tree = _z("td_tree");
    var td_view = _z("td_view");

    var div_mails = _z("div_mails");
    var div_mail_content = _z("div_mail_content");

    div.style.width = (mainWidth-118) / 4 + "px";
    div.style.height = (h - 40 - 20) + "px";

    td_tree.style.width = div.offsetWidth + "px";
    td_view.style.width   = (mainWidth-118) / 4 * 3 + "px";
    td_tree.style.height = h + "px" ;
    td_view.style.height  = td_tree.style.height;

    var treeMainWidth = _z("tree_main").clientWidth;
    var mailTreePos = getPos(div);
    var borderPos = getPos(_z("drag_v_border"));
    var leftWidth = borderPos.x - mailTreePos.x - 24;
    div_mails.style.width  = (treeMainWidth - leftWidth - 38) + "px";
//  div_mails.style.width  = td_view.style.width;
    div_mails.style.height = ((h-5) / 2) + "px";

    div_mail_content.style.width  = div_mails.style.width;
    div_mail_content.style.height = ((h-5) / 2) + "px";

  } else if (div = _z("div_users")) {

    div.style.height = (mainHeight - 130) + "px";

    if (is_MS) {
      _forBugfullIE(div, _z("list_users"));
    }

  } else if (div = _z("div_addresses")) {

    div.style.height = (mainHeight - 130) + "px";

    if (is_MS) {
      _forBugfullIE(div, _z("list_addresses"));
    }

  } else if (div = _z("div_logs")) {

    div.style.height = (mainHeight - 130) + "px";

    if (is_MS) {
      _forBugfullIE(div, _z("list_logs"));
    }

  } else if (div = _z("div_teams")) {

    div.style.height = (mainHeight - 120) + "px";

    if (is_MS) {
      _forBugfullIE(div, _z("list_teams"));
    }

  } else if (div = _z("div_equipment")) {

    div.style.height = (mainHeight - 120) + "px";

    if (is_MS) {
      _forBugfullIE(div, _z("list_equipment"));
    }

/* GREP WITH BUGFULL-IE!
  } else if (div = _z("div_schedule")) {

    div.style.height = (mainHeight - 70) + "px";
*/
  } else if (div = _z("div_calendar")) {

    div.style.height = (mainHeight - 100) + "px";

  } else if (div = _z("div_workflow_list")) {

    div.style.height = (mainHeight - 35) + "px";

    _z("workflow_list_received").style.height = (mainHeight - 120) + "px";
    _z("div_ajax_workflow").style.height = (mainHeight - 245) + "px";

  } else if (div = _z("div_login")) {

    div.style.height = (mainHeight - 20) + "px";

  } else {

    if (div = _z("div_item_workflow")) {
      div.style.height = (mainHeight - 140) + "px";
    }
    if (div = _z("div_item_basic")) {
      div.style.height = (mainHeight - 140) + "px";
    }
    if (div = _z("div_item_description")) {
      div.style.height = (mainHeight - 140) + "px";
    }
    if (div = _z("div_item_image")) {
      div.style.height = (mainHeight - 140) + "px";
    }
    if (div = _z("div_item_attachment")) {
      div.style.height = (mainHeight - 140) + "px";
    }

    if (div = _z("div_research_records")) {
      div.style.height = (mainHeight - 137) + "px";
    }
    if (div = _z("div_research_lists")) {
      div.style.height = (mainHeight - 137) + "px";
    }
  }
}

window.onresize = doResize;
//-->
</script>

</head>

<body onLoad="doOnLoad(); showErrorMsg(''); eval('try{ showTips() }catch(e){}')" bgcolor="white">

<a name="top"></a>

<div id="main_div" align="center">
  <table width="95%" height="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center" style="padding-top:10px; vertical-align:top;">
        <%= yield %>
      </td>
    </tr>
  </table>
</div>

<%= render(:partial => 'layouts/popup') %>

<%= render(:partial => 'common/flash_notice') %>

</body>
</html>
