<%
mode = 'groupware'
%>

<table id="tbl_left_groupware" cellspacing="0" cellpadding="0" style="width:100%; display:none;">
  <tr>
    <td style="text-align:center; vertical-align:top;">
      <!-------INDEX-Column START------->
      <table cellspacing="1" cellpadding="0" style="width:100%; padding:0px 2px;">
        <tr id="tr_top_space_upper" style="height:3px;"><td></td></tr>
        <%
        title = $thetis_config[:general]['symbol_title']
        %>
        <tr id="tr_symbol" style="height:<%= (title.blank?)?(60):(90) %>px;">
          <td onclick="toggleSymbol(false);" style="text-align:center; vertical-align:bottom; cursor:pointer; background:url('<%= raw(THETIS_RELATIVE_URL_ROOT+'/'+THETIS_SYMBOL_IMAGE+'?'+rand(10000000000).to_s) %>') center top no-repeat; border:2px white solid;" onmouseover="this.style.backgroundColor='gainsboro'" onmouseout="this.style.backgroundColor='white'">
          <% unless title.blank? %>
            <span class="symbol_title">
              <%= title %>
            </span>
          <% end %>
          </td>
        </tr>
        <tr id="tr_top_space_lower" style="height:3px;"><td></td></tr>
        <tr id="tr_drop_down" style="height:15px; display:none;">
          <td style="text-align:center; vertical-align:middle;">
            <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/dropdown.gif" onclick="toggleSymbol(true);" style="cursor:pointer;">
          </td>
        </tr>
      <%
      menus = {
        :login => {:disp => t('btn.login'), :icon_tag => '', :action => 'doLogin();'},
        :desktop => {:disp => t('menu.desktop'), :icon_tag => 'desktop', :action => "onGroupwareMenuClicked(this, '#{url_for(:controller => 'desktop', :action => 'show')}');"},
        :items_bbs => {:disp => t('menu.items_bbs'), :icon_tag => 'item_bbs', :action => "onGroupwareMenuClicked(this, '#{url_for(:controller => 'items', :action => 'bbs', :tips => 'true')}');"},
        :item_list => {:disp => t('menu.items_list'), :icon_tag => 'item_list', :action => "onGroupwareMenuClicked(this, '#{url_for(:controller => 'items', :action => 'list', :tips => 'true')}');"},
        :folder_tree => {:disp => t('menu.folder_tree'), :icon_tag => 'folder_tree', :action => "onGroupwareMenuClicked(this, '#{url_for(:controller => 'folders', :action => 'show_tree')}');"},
        :schedule => {:disp => t('menu.schedule'), :icon_tag => 'schedule', :action => "onGroupwareMenuClicked(this, '#{url_for(:controller => 'schedules', :action => 'day')}?id='+getDateString());"}
      }
      if $thetis_config[:menu]['disp_equipment'] == '1'
        menus[:equipment] = {:disp => t('menu.equipment'), :icon_tag => 'equipment', :action => "onGroupwareMenuClicked(this, '#{url_for(:controller => 'equipment', :action => 'schedule_all')}?id='+getDateString());"}
      end
      if $thetis_config[:menu]['disp_workflow'] == '1'
        menus[:workflow] = {:disp => t('menu.workflow'), :icon_tag => 'workflow', :action => "onGroupwareMenuClicked(this, '#{url_for(:controller => 'workflows', :action => 'list')}');"}
      end
      if $thetis_config[:menu]['disp_research'] == '1'
        menus[:research] = {:disp => t('menu.research'), :icon_tag => 'research', :action => "onGroupwareMenuClicked(this, '#{url_for(:controller => 'researches', :action => 'index')}');"}
      end
      if $thetis_config[:menu]['disp_user_list'] == '1'
        menus[:user_list] = {:disp => t('menu.user_list'), :icon_tag => 'user_list', :action => "onGroupwareMenuClicked(this, '#{url_for(:controller => 'users', :action => 'list')}');"}
      end
      if $thetis_config[:menu]['disp_mail'] == '1'
        menus[:mail] = {:disp => t('menu.mail'), :icon_tag => 'mail', :action => "onGroupwareMenuClicked(this, '#{url_for(:controller => 'mail_folders', :action => 'show_tree', :tips => 'true')}');"}
      end
      if $thetis_config[:menu]['disp_addressbook'] == '1'
        menus[:addressbook] = {:disp => t('menu.addressbook'), :icon_tag => 'addressbook', :action => "onGroupwareMenuClicked(this, '#{url_for(:controller => 'addressbook', :action => 'list')}');"}
      end
      if $thetis_config[:menu]['disp_paintmail'] == '1'
        menus[:paintmail] = {:disp => t('menu.paintmail'), :icon_tag => 'paintmail', :action => "onGroupwareMenuClicked(this, '#{url_for(:controller => 'paintmail', :action => 'index')}');"}
      end
      if $thetis_config[:menu]['disp_timecard'] == '1'
        menus[:timecard] = {:disp => t('menu.timecard'), :icon_tag => 'timecard', :action => "onGroupwareMenuClicked(this, '#{url_for(:controller => 'timecards', :action => 'month')}');"}
      end
      menus.each do |menu_name, menu_attrs|
      %>
        <tr style="height:28px;">
          <td class="menu_td" onclick="<%= raw(menu_attrs[:action]) %> return false;" onmouseover="activateMenu('<%= menu_attrs[:icon_tag] %>', this);" onmouseout="deactivateMenu(this);">
            <a id="menu_<%= menu_name %>" href="#" onclick="return false;" style="color:inherit;"><%= menu_attrs[:disp] %></a>
          </td>
        </tr>
        <tr style="height:3px;"><td></td></tr>
      <% end %>
      </table>
      <!-------INDEX-Column END------->
      <div id="adminMenu" style="display:none;">
        <table cellspacing="1" cellpadding="0" style="width:100%; margin-top:5px;" align="center">
          <tr style="height:28px;">
            <td style="text-align:center;" onmouseover="activateAdminMenu(this);" onmouseout="deactivateAdminMenu(this);">
              <a href="javascript:this.onclick()" class="a_underline" onclick="doUpdateIframe('<%= url_for(:controller => 'frames', :action => 'admin') %>', '<%= mode %>'); return false;" onblur="setTimeout('hideAdminMenu()', 200);" style="color:darkgreen;"><%= t('menu.for_admin') %></a>
              <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/arrow_disc_green.gif">
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
  <tr style="height:100%;"><td></td></tr>

  <tr style="height:48px;">
    <td style="text-align:left; padding-left:15px; background:url('<%= THETIS_RELATIVE_URL_ROOT %>/images/left_down.png') center top no-repeat;">
      <table cellspacing="0" cellpadding="0" style="width:50%; cursor:pointer;" onclick="doUpdateIframe('<%= url_for(:controller => 'schedules', :action => 'month') %>?id='+getDateString(), '<%= mode %>');" onmouseover="this.style.border='1px dotted white'; hideAdminMenu();" onmouseout="this.style.border=''">
        <tr>
          <td style="padding:0px 5px; color:white; font-size:9pt; line-height:13px;" nowrap>
            <div id="div_time" style="text-align:center;"></div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table id="adminPopup" cellspacing="0" cellpadding="0" style="width:170px; position:absolute; display:none; z-index:99999; background-color:white; border:outset 3px green;">
  <tr style="height:10px;">
    <td style="text-align:right; vertical-align:top; background-color:white; padding:0px 5px; border:none;">
      <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/close_tiny.png" onclick="hideAdminMenu();" style="cursor:pointer;">
    </td>
  </tr>
  <tr>
    <td style="text-align:center; padding:5px 7px;">
      <table cellspacing="1" cellpadding="0" style="width:150px;" align="center">
        <tr style="height:28px;">
          <td class="menu_td" onclick="doUpdateIframe('<%= url_for(:controller => 'frames', :action => 'admin') %>', '<%= mode %>'); return false;" onmouseover="activateMenu('admin_menu', this);" onmouseout="deactivateMenu(this);">
            <a href="#" onclick="return false;" style="color:inherit;"><%= t('menu.admin_menu') %></a>
          </td>
        </tr>
        <tr style="height:3px;"><td></td></tr>
        <tr style="height:28px;">
          <td class="menu_td" onclick="doUpdateIframe('<%= url_for(:controller => 'logs', :action => 'list') %>', '<%= mode %>'); return false;" onmouseover="activateMenu('admin_log', this);" onmouseout="deactivateMenu(this);">
            <a href="#" onclick="return false;" style="color:inherit;"><%= t('menu.access_logs') %></a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<img id='popupImg_desktop' src="<%= THETIS_RELATIVE_URL_ROOT %>/images/menu/desktop.png" style="position:absolute; display:none; z-index:99999;" alt="" />
<img id='popupImg_item_bbs' src="<%= THETIS_RELATIVE_URL_ROOT %>/images/menu/item_bbs.png" style="position:absolute; display:none; z-index:99999;" alt="" />
<img id='popupImg_item_list' src="<%= THETIS_RELATIVE_URL_ROOT %>/images/menu/item_list.png" style="position:absolute; display:none; z-index:99999;" alt="" />
<img id='popupImg_folder_tree' src="<%= THETIS_RELATIVE_URL_ROOT %>/images/menu/folder_tree.png" style="position:absolute; display:none; z-index:99999;" alt="" />
<img id='popupImg_schedule' src="<%= THETIS_RELATIVE_URL_ROOT %>/images/menu/schedule.png" style="position:absolute; display:none; z-index:99999;" alt="" />
<% if $thetis_config[:menu]['disp_equipment'] == '1' %>
<img id='popupImg_equipment' src="<%= THETIS_RELATIVE_URL_ROOT %>/images/menu/equipment.png" style="position:absolute; display:none; z-index:99999;" alt="" />
<% end %>
<% if $thetis_config[:menu]['disp_workflow'] == '1' %>
<img id='popupImg_workflow' src="<%= THETIS_RELATIVE_URL_ROOT %>/images/menu/workflow.png" style="position:absolute; display:none; z-index:99999;" alt="" />
<% end %>
<% if $thetis_config[:menu]['disp_research'] == '1' %>
<img id='popupImg_research' src="<%= THETIS_RELATIVE_URL_ROOT %>/images/menu/research.png" style="position:absolute; display:none; z-index:99999;" alt="" />
<% end %>
<% if $thetis_config[:menu]['disp_user_list'] == '1' %>
<img id='popupImg_user_list' src="<%= THETIS_RELATIVE_URL_ROOT %>/images/menu/user_list.png" style="position:absolute; display:none; z-index:99999;" alt="" />
<% end %>
<% if $thetis_config[:menu]['disp_mail'] == '1' %>
<img id='popupImg_mail' src="<%= THETIS_RELATIVE_URL_ROOT %>/images/menu/mail.png" style="position:absolute; display:none; z-index:99999;" alt="" />
<% end %>
<% if $thetis_config[:menu]['disp_addressbook'] == '1' %>
<img id='popupImg_addressbook' src="<%= THETIS_RELATIVE_URL_ROOT %>/images/menu/addressbook.png" style="position:absolute; display:none; z-index:99999;" alt="" />
<% end %>
<% if $thetis_config[:menu]['disp_paintmail'] == '1' %>
<img id='popupImg_paintmail' src="<%= THETIS_RELATIVE_URL_ROOT %>/images/menu/paintmail.png" style="position:absolute; display:none; z-index:99999;" alt="" />
<% end %>
<% if $thetis_config[:menu]['disp_timecard'] == '1' %>
<img id='popupImg_timecard' src="<%= THETIS_RELATIVE_URL_ROOT %>/images/menu/timecard.png" style="position:absolute; display:none; z-index:99999;" alt="" />
<% end %>

<img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/list_th_on.png" style="display:none;" alt="" />

<script type="text/javascript">

var min = -1;
function doUpdateTime()
{
  setTimeout("doUpdateTime()", 1000);

  var div_time = _z("div_time");
  if (div_time == null) {
    return;
  }

  var date = new Date();
  var curMin = date.getMinutes();
  if (min == curMin) {
    return;
  }
  min = curMin;

  var date_locale_s = date.toLocaleDateString();
  // ex. (jp) 2007nen12gatsu31nichi  (with Kanji characters)
  // ex. (en) Friday, December 31, 2007  (Safari)
  // ex. (jp) Friday, December 31, 2007 (Chrome)
  var day = date_locale_s;
  if (date_locale_s.split(", ").length > 2) {
    day = date_locale_s.split(", ")[1];
  }
  var h = date.getHours();
  var m = date.getMinutes();
  if (m < 10) {
    m = "0" + m;
  }
  var time = new Array(h, m).join(":");
  var date_disp = day + "<br/>("+getDay(date)+")<br/>"+time;
  eval("try{ div_time.innerHTML = date_disp }catch(e){}");
}

function getDay(date)
{
  switch (date.getDay()) {
    case 0: return "<%= t('wday.sun') %>";
    case 1: return "<%= t('wday.mon') %>";
    case 2: return "<%= t('wday.tue') %>";
    case 3: return "<%= t('wday.wed') %>";
    case 4: return "<%= t('wday.thu') %>";
    case 5: return "<%= t('wday.fri') %>";
    case 6: return "<%= t('wday.sat') %>";
  }
}

function setNavLogin(loginName, isAdmin)
{
  if (isAdmin) {
    _z("adminMenu").style.display = "block";
    doResize();
  } else {
    _z("adminMenu").style.display = "none";
  }

  if (loginName != null && loginName.length > 0) {
    _z("menu_login").innerHTML= "<%= t('btn.logout') %>";
  } else {
    _z("menu_login").innerHTML= "<%= t('btn.login') %>";
  }
}

function doLogin()
{
  clearSelectedGroupwareMenu();

  if (_z("menu_login").innerHTML == "<%= t('btn.logout') %>") {
    doUpdateIframe("<%= url_for(:controller => 'login', :action => 'logout') %>", "<%= mode %>");
  } else {
    doUpdateIframe("<%= url_for(:controller => 'login', :action => 'index') %>", "<%= mode %>");
  }
}

function clearSelectedGroupwareMenu()
{
  var elems = document.getElementsByClassName("menu_td selected");
  for (var i=0; i < elems.length; i++) {
    removeClassName(elems[i], "selected");
  }
}

function onGroupwareMenuClicked(elem, url)
{
  clearSelectedGroupwareMenu();
  appendClassName(elem, "selected");

  doUpdateIframe(url, "<%= mode %>");
}

function activateMenu(menu, elem)
{
  appendClassName(elem, "hovered");
  showPopupIcon(menu, elem);
  if (menu.indexOf("admin") < 0) {
    hideAdminMenu();
  }
}

function deactivateMenu(elem)
{
  removeClassName(elem, "hovered");
  hidePopupIcon();
}

function activateAdminMenu(elem)
{
  appendClassName(elem, "hovered");
  showAdminMenu(elem);

  for (var i=0; i< elem.childNodes.length; i++) {
    if (elem.childNodes[i].tagName == "A") {
      elem.childNodes[i].focus();
      break;
    }
  }
}

function deactivateAdminMenu(elem)
{
  removeClassName(elem, "hovered");
}

function showAdminMenu(elem)
{
  var adminPopup = _z("adminPopup");

  if (adminPopup && adminPopup.style.display == "none") {

    var pos = getPos(elem);

    adminPopup.style.left = elem.clientWidth + "px";
    adminPopup.style.top = (pos.y - 40) + "px";
    adminPopup.style.display = "";
  }
}

function hideAdminMenu()
{
  try {
    var adminPopup = _z("adminPopup");

    if (adminPopup) {
      adminPopup.style.display = "none";
    }
  } catch (e) {
  }
}

function toggleSymbol(sw)
{
  var tr_top_space_upper = _z("tr_top_space_upper");
  var tr_top_space_lower = _z("tr_top_space_lower");
  var tr_symbol = _z("tr_symbol");
  var tr_drop_down = _z("tr_drop_down");

  if (sw) {
    tr_top_space_upper.style.display = "table-row";
    tr_top_space_lower.style.display = "table-row";
    tr_symbol.style.display = "table-row";
    tr_drop_down.style.display = "none";
  } else {
    tr_top_space_upper.style.display = "none";
    tr_top_space_lower.style.display = "none";
    tr_symbol.style.display = "none";
    tr_drop_down.style.display = "table-row";
  }
}

var curPopup = null;
function showPopupIcon(menu, elem)
{
  if (curPopup != null) {
     try {
      curPopup.style.display = "none";
    } catch (e) {}
  }
  var icon = _z("popupImg_"+menu);
  if (icon == null) {
    curPopup = null;
    return;
  } else {
    var pos = Position.cumulativeOffset(elem);

    var bodyScroll = getBodyScroll();
    icon.style.display = "";
    icon.style.left = (bodyScroll.left + elem.offsetWidth + 5) + "px";
    icon.style.top = (bodyScroll.top + pos[1] - ((icon.offsetHeight - elem.offsetHeight)/2)) + "px";

    curPopup = icon;
  }
}

function hidePopupIcon()
{
  if (curPopup != null) {
     try {
      curPopup.style.display = "none";
    } catch (e) {}
  }
  curPopup = null;
}

setTimeout("doUpdateTime()", 1000);

</script>

