<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">

<title>Sysphonic Thetis</title>

<%= stylesheet_link_tag('application', :media => 'all') %>
</head>

<body>

<table width="100%" cellspacing="0" cellpadding="0" height="100%" style="padding-bottom:5px;">
  <tr style="height:95%;">
    <td width="200" style="padding:30px">
      <table width="100%" onclick="window.open('http://sysphonic.com/').focus();" style="cursor:pointer; border:3px inset silver;" cellspacing="0" cellpadding="0">
        <tr height="180">
          <td align="center" valign="middle">
            <table width="100%" cellspacing="0" cellpadding="0">
              <tr height="92">
                <td width="100%" align="center" valign="bottom" style="cursor:pointer; background:url(<%= THETIS_RELATIVE_URL_ROOT %>/images/sysphonic_small.png) center top no-repeat;">
                  <span style="font-size:18pt; font-family:Times New Roman, Georgia; font-weight:500;">
                      Sysphonic
                  </span>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td valign="top">
      <table width="100%" cellspacing="0" cellpadding="0" style="padding:20px 10px 10px;">
        <tr>
          <td>
            <table width="60%" align="left" cellspacing="0" cellpadding="0">
              <tr>
                <td align="left" nowrap>
                  Sysphonic <B>Thetis</B><sup>&reg;</sup>  <small align="right">ver.2.0.0</small>&nbsp;
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <div class="hr"></div>
            <ul style="padding-left:20px;">
              <li style="font-size:10pt;"><%= t('about.license') %></li>
              <li style="font-size:10pt;"><%= t('about.license_detail') %></li>
            </ul>
          </td>
        </tr>
        <tr height="5"><td></td></tr>
        <tr>
          <td style="font-size:9pt;" align="center">
            Copyright (c) 2007-2012, MORITA Shintaro, Sysphonic
          </td>
        </tr>
        <tr>
          <td style="font-size:9pt;" align="center">
            Thetis includes following other copyrights :
          </td>
        </tr>
        <tr height="10"><td></td></tr>
        <tr>
          <td>
            <div nowrap style="padding:5px; overflow:scroll; font-size:10pt; width:320px; height:100px; border:solid 1px gray;">
<span style="background-color:turquoise">CKEditor</span> ver.3.6.3<br/>
Copyright (c) 2003-2012, CKSource - Frederico Knabben<br/>
http://ckeditor.com/<br/>
<span style="background-color:turquoise">JKL.Calendar</span> based on ver.0.13<br/>
Copyright 2005-2006 Kawasaki Yusuke<br/>
http://www.kawa.net/works/js/jkl/calender.html<br/>
<span style="background-color:turquoise">Dojo</span> ver.1.7.2<br/>
Copyright (c) 2004-2011, The Dojo Foundation<br/>
http://dojotoolkit.org<br/>
<span style="background-color:turquoise">Prototype JavaScript framework</span> ver.1.7<br/>
(c) 2005-2010 Sam Stephenson<br/>
http://www.prototypejs.org/<br/>
<span style="background-color:turquoise">script.aculo.us</span> v1.9.0<br/>
Copyright (c) 2005-2010 Thomas Fuchs<br/>
http://script.aculo.us<br/>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr style="height:5%;">
    <td align="center" colspan="2">
      <table align="center" width="95%" cellspacing="0" cellpadding="0">
        <tr>
          <td align="center" style="padding:5px; background-color:gainsboro;">
            <input type="button" onclick="window.close();" value="<%= t('btn.close') %>" />
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>
