<%
login_user = session[:login_user]
if login_user.nil? or login_user.auth.nil? or login_user.auth.empty?
%>

<script type="text/javascript">
<!--
setTimeout("location.href='<%= $thetis_config[:general]['default_page'] %>'", 1);
//-->
</script>

<% else %>

<table id="title_main" style="height:100%;" cellspacing="0" cellpadding="0" width="97%">
  <tr height="30"><td></td></tr>
  <tr>
    <td valign="middle">

      <table style="height:100%;" cellspacing="0" cellpadding="0" width="100%">
        <tr height="10%">
          <td align="left" style="font-size:20pt; line-height:1.0; padding-left:60px; text-indent:80px;">
            <%= t('menu.for_administrators') %>
            <hr size="1" style="color:black;" />
          </td>
        </tr>
        <tr height="90%">
          <td align="left" style="vertical-align:top;">
            <ul style="padding-left:200px;">
            <% if login_user.admin?(User::AUTH_ALL) %>
              <li style="list-style:square; font-size:13pt; line-height:1.9;"><a href="#" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'config', :action => 'edit') %>'; return false;"><%= t('menu.general_conf') %></a></li>
            <% end %>
            <% if login_user.admin?(User::AUTH_USER) %>
              <li style="list-style:square; font-size:13pt; line-height:1.9;"><a href="#" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'users', :action => 'list') %>'; return false;"><%= t('menu.users_manage') %></a></li>
            <% end %>
            <% if login_user.admin?(User::AUTH_GROUP) or login_user.admin?(User::AUTH_WORKFLOW) or login_user.admin?(User::AUTH_LOCATION) %>
              <li style="list-style:square; font-size:13pt; line-height:1.9;"><a href="#" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'groups', :action => 'show_tree') %>'; return false;"><%= t('menu.groups_manage') %></a></li>
            <% end %>
            <% if login_user.admin?(User::AUTH_TEAM) %>
              <li style="list-style:square; font-size:13pt; line-height:1.9;"><a href="#" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'teams', :action => 'list') %>'; return false;"><%= t('menu.teams_manage') %></a></li>
            <% end %>
            <% if login_user.admin?(User::AUTH_SCHEDULE) %>
              <li style="list-style:square; font-size:13pt; line-height:1.9;"><a href="#" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'schedules', :action => 'configure') %>'; return false;"><%= t('menu.schedules_manage') %></a></li>
            <% end %>
            <% if login_user.admin?(User::AUTH_EQUIPMENT) %>
              <li style="list-style:square; font-size:13pt; line-height:1.9;"><a href="#" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'equipment', :action => 'list') %>'; return false;"><%= t('menu.equipment_manage') %></a></li>
            <% end %>
            <% if login_user.admin?(User::AUTH_ADDRESSBOOK) %>
              <li style="list-style:square; font-size:13pt; line-height:1.9;"><a href="#" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'addressbook', :action => 'list', :admin => 'true') %>'; return false;"><%= t('menu.addressbook_manage') %></a></li>
            <% end %>
            <% if login_user.admin?(User::AUTH_ITEM) %>
              <li style="list-style:square; font-size:13pt; line-height:1.9;"><a href="#" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'templates', :action => 'list') %>'; return false;"><%= t('menu.templates') %></a></li>
            <% end %>
            </ul>

          <% if login_user.admin?(User::AUTH_RESEARCH) %>
            <div style="padding-left:160px; padding-top:30px; padding-bottom:5px;">
              <table width="100%" cellpadding="0" cellspacing="0" style="border-bottom:solid 1px dimgray;">
                <tr height="30">
                  <td width="5" bgcolor="blue"></td>
                  <td align="left" valign="middle" style="padding:0px 20px; line-height:15pt;"> 
                    <b style="color:dimgray; font-size:12pt;">
                      <%= t('menu.research_manage') %>
                    </b>
                  </td>
                </tr>
              </table>
              <ul style="padding-top:5px; padding-left:40px;">
                <li style="list-style:square; font-size:13pt; line-height:1.9;"><a href="#" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'researches', :action => 'settings') %>'; return false;"><%= t('menu.settings') %></a>
                <li style="list-style:square; font-size:13pt; line-height:1.9;"><a href="#" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'researches', :action => 'users') %>'; return false;"><%= t('menu.users_and_status') %></a>
                <li style="list-style:square; font-size:13pt; line-height:1.9;"><a href="#" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'researches', :action => 'statistics') %>'; return false;"><%= t('menu.statistics') %></a>
              </ul>
            </div>
          <% end %>
          <% if login_user.admin?(User::AUTH_TIMECARD) %>
            <div style="padding-left:160px; padding-top:30px; padding-bottom:5px;">
              <table width="100%" cellpadding="0" cellspacing="0" style="border-bottom:solid 1px dimgray;">
                <tr height="30">
                  <td width="5" bgcolor="blue"></td>
                  <td align="left" valign="middle" style="padding:0px 20px; line-height:15pt;"> 
                    <b style="color:dimgray; font-size:12pt;">
                      <%= t('menu.timecards_manage') %>
                    </b>
                  </td>
                </tr>
              </table>
              <ul style="padding-top:5px; padding-left:40px;">
                <li style="list-style:square; font-size:13pt; line-height:1.9;"><a href="#" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'timecards', :action => 'configure') %>'; return false;"><%= t('menu.settings') %></a>
                <li style="list-style:square; font-size:13pt; line-height:1.9;"><a href="#" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'timecards', :action => 'users') %>'; return false;"><%= t('menu.paid_holidays') %></a>
              </ul>
            </div>
          <% end %>
          <% if login_user.admin?(User::AUTH_ZEPTAIR) %>
            <div style="padding-left:160px; padding-top:30px; padding-bottom:5px;">
              <table width="100%" cellpadding="0" cellspacing="0" style="border-bottom:solid 1px dimgray;">
                <tr height="30">
                  <td width="5" bgcolor="blue"></td>
                  <td align="left" valign="middle" style="padding:0px 20px; line-height:15pt;"> 
                    <b style="color:dimgray; font-size:12pt;">
                      <%= t('zeptair.vpn') %>
                    </b>
                  </td>
                </tr>
              </table>
              <ul style="padding-top:5px; padding-left:40px;">
                <li style="list-style:square; font-size:13pt; line-height:1.9;"><a href="#" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'zeptair_xlogs', :action => 'list') %>'; return false;"><%= t('zeptair.network_logs') %></a>
              </ul>
            </div>
          <% end %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr height="40"><td></td></tr>
</table>

<% end %>
