<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Script-Type" content="text/JavaScript">

<title><%= $thetis_config[:general]['app_title'] %></title>

<link rel="shortcut icon" href="images/thetis.ico">

<%= stylesheet_link_tag('thetis110') %>
<%= javascript_include_tag('prototype') %>
<script src="<%= THETIS_RELATIVE_URL_ROOT %>/javascripts/thetis/common110.js?ts=2012042601" type="text/javascript"></script>
<script src="<%= THETIS_RELATIVE_URL_ROOT %>/javascripts/thetis/thetis110.js?ts=2012050201" type="text/javascript"></script>

<script type="text/javascript">

function doOnLoad()
{
//  doResize();
}

function doResize()
{
  var mainRegion = getClientRegion();
  var mainWidth = mainRegion.width;
  var mainHeight = mainRegion.height;

  _z("sect_nav").style.height = mainHeight + "px";
  _z("sect_main").style.height = (mainHeight - 28 - 14) + "px";

  var height = window.innerHeight;  // Firefox
  if (isNaN(height))  {
    height = mainHeight;
  }
  var left_table = _z("left_table");
  left_table.style.height = height + "px";

  if (height < left_table.scrollHeight) {
    toggleSymbol(false);
  }
}

function progMain()
{
  eval("try{ top.main.prog('TOP-RIGHT'); }catch(e){}");
}

addEvent(window, "resize", doResize);

</script>

</head>

<body onload="doOnLoad()" style="overflow:hidden;">

<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td rowspan="3" style="min-width:150px; width:150px;">
      <div id="sect_nav" style="overflow:auto;">
        <%= render(:partial => 'left', :layout => false) %>
      </div>
    </td>
    <td style="min-height:28px; height:28px;">
      <%= render(:partial => 'header', :layout => false) %>
    </td>
  </tr>
  <tr>
    <td>
      <%
      if params[:default].nil? or params[:default].empty?
        main = ''
        main << $thetis_config[:general]['default_page']
        if $thetis_config[:general]['default_topicbox'] == '1'
          if main.include?('?')
            main << '&'
          else
            main << '?'
          end
          main << 'topicBox=true'
        end
      else
        main = params[:default]
      end
      %>
      <div id="sect_main" style="overflow:hidden;">
        <iframe id="iframe_main" name="main" src="<%= main %>" frameborder="0" scrolling="auto" style="width:100%; height:100%; border:none; margin:0px;"></iframe>
      </div>
    </td>
  </tr>
  <tr>
    <td style="min-height:14px; height:14px;">
      <%= render(:partial => 'footer', :layout => false) %>
    </td>
  </tr>
</table>

<script type="text/javascript">

doResize();

</script>

</body>
</html>
