
<% login_user = session[:login_user] %>

<table width="100%" height="100%" cellpadding="0" cellspacing="0" style="background-color:white;">
  <tr height="5"><td></td></tr>
  <tr>
    <td style="padding-left:10px; padding-right:20px;" valign="top">
      <table id="base_table" width="100%" cellpadding="0" cellspacing="0">
        <tr height="7"><td></td></tr>
        <tr>
          <td align="left" style="padding-left:5px; color:navy;">
            <%= t('cap.from_outside') %><br/>
          </td>
          <td align="right">
            <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/select_all.gif" alt="<%= t('btn.select_all') %>" title="<%= t('btn.select_all') %>" onclick="selectAll('div_outside');" />
          </td>
        </tr>
        <tr height="3"><td></td></tr>
        <tr>
          <td align="right" colspan="2">
            <textarea id="div_outside" wrap="off" readonly style="width:95%; height:52px; border:1px solid black; padding-top:5px; padding-left:8px;"><%= @root_url + url_for(:controller => 'frames', :action => 'index', :default => @def_page) %></textarea>
          </td>
        </tr>
        <tr height="10"><td></td></tr>
        <tr>
          <td align="left" style="padding-left:5px; color:navy;">
            <%= t('cap.from_inside') %><br/>
          </td>
          <td align="right">
            <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/select_all.gif" alt="<%= t('btn.select_all') %>" title="<%= t('btn.select_all') %>" onclick="selectAll('div_inside');" />
          </td>
        </tr>
        <tr height="3"><td></td></tr>
        <tr>
          <td align="right" colspan="2">
            <textarea id="div_inside" wrap="off" readonly style="width:95%; height:52px; border:1px solid black; padding-top:5px; padding-left:8px;"><%= @def_page %></textarea>
          </td>
        </tr>
        <tr height="10"><td></td></tr>
      </table>
    </td>
  </tr>
</table>

<script type="text/javascript">

selectAll = function(div_name)
{
  var div = _x(div_name);
  div.focus();
  div.select();
}

</script>
