<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td width="130">
      <div class="button_gray" style="float:left;" onClick="showFolderTreeToSelect('<%= (@folder_id.nil?)?'0':@folder_id %>', '<%= (@schedule.nil?)?'':(@schedule.id) %>');">
        <%= t('btn.select_folder') %>
      </div>
    </td>
    <td align="left" style="color:red;">
      <% unless @folder_id.nil? %>
        <%=h Folder.get_path(@folder_id) %>
      <% end %>
    </td>
  </tr>
</table>

<select id="item_candidates" class="select_candidates" size="5" multiple>
  <%
  items_available = {}

  unless @items.nil?
    @items.each do |item|
        item_id = item.id.to_s
        if items_available.keys.include?(item_id)
          items_available[item_id] << item.title
        else
          items_available[item_id] = [item.title]
      end
    end
  end

#  if @schedule.nil?
    items_selected = []
#  else
#    items_selected = @schedule.get_items_a
#  end

  items_available.each do |item_id, title|
    next if items_selected.include?(item_id)
    disp = sprintf('[%2s] %s', item_id, title)
  %>
    <option value="<%= item_id %>"><%= disp %></option>
  <% end %>
</select>
