
<%
date_s = @day.strftime(Schedule::SYS_DATE_FORM)

auth_read = @schedule.check_user_auth(@login_user, 'r', true)
auth_write = @schedule.check_user_auth(@login_user, 'w', true)

if @schedule.holiday?
  bg_color = 'white'
else
  case @schedule.scope
    when Schedule::SCOPE_ALL
      scope = '<span style="color:orangered;">' + t('schedule.disp_to_all') + "</span>"
      bg_color = '#FFD5C5'
    when Schedule::SCOPE_PRIVATE
      scope = '<span style="color:mediumblue;">' + t('schedule.private') + "</span>"
      bg_color = 'lightcyan'
    else
      scope = ''
      bg_color = '#DEF9A3'
  end
end
%>

<% if @schedule.holiday? %>
  <td align="center">
    <span class="span_holiday"><%=h @schedule.title %></span>
  </td>
<% else %>

  <td align="left" style="padding-left:5px; padding-top:5px; padding-bottom:5px; background-color:<%= bg_color %>; line-height:1.3; border-bottom:1px solid white;">

    <% if @schedule.allday %>
      &bull;
      <% if @schedule.repeat? %><b style="color:white; background-color:#0770E7;">&sub;</b><% end %>
      <% if auth_read %><a class="a_underline" href="#" onclick="showScheduleDetail('<%= date_s %>', '<%= @schedule.id %>', '<%=ApplicationHelper.h_s_quote @schedule.title %>'); return false;"><% end %>
        <%=h @schedule.title %>
      <% if auth_read %></a><% end %>
      <%= raw(scope) %>
      <% if auth_write %>
        &nbsp;<img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/edit.gif" alt="<%= t('btn.edit') %>" title="<%= t('btn.edit') %>" onclick="editScheduleDetail('<%= date_s %>', '<%= @schedule.id %>'); return false;" />
        &nbsp;<img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/delete.gif" alt="<%= t('btn.delete') %>" title="<%= t('btn.delete') %>" onclick="doScheduleDelete('<%= date_s %>', '<%= @schedule.id %>', '<%=ApplicationHelper.h_s_quote truncate(@schedule.title, :length => 20) %>'); return false;" />
      <% end %>
      <br/>
    <%
    else
      if @schedule.within_a_day?
    %>
        <%= @schedule.start.strftime('%H:%M') + '-' + @schedule.end.strftime('%H:%M') %><% unless auth_write %><br/><% end %>
      <% else %>
        <%= @schedule.start.strftime(THETIS_DATE_FORMAT_MD+' %H:%M') + ' - ' + @schedule.end.strftime(THETIS_DATE_FORMAT_MD+' %H:%M') %><% unless auth_write %><br/><% end %>
    <%
      end
      if auth_write
    %>
        &nbsp;<img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/edit.gif" alt="<%= t('btn.edit') %>" title="<%= t('btn.edit') %>" onclick="editScheduleDetail('<%= date_s %>', '<%= @schedule.id %>'); return false;" />
        &nbsp;<img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/delete.gif" alt="<%= t('btn.delete') %>" title="<%= t('btn.delete') %>" onclick="doScheduleDelete('<%= date_s %>', '<%= @schedule.id %>', '<%=ApplicationHelper.h_s_quote truncate(@schedule.title, :length => 20) %>'); return false;" /><br/>
      <% end %>
      <% if @schedule.repeat? %><b style="color:white; background-color:#0770E7;">&sub;</b><% end %>
      <% if auth_read %><a class="a_underline" href="#" onclick="showScheduleDetail('<%= date_s %>', '<%= @schedule.id %>', '<%=ApplicationHelper.h_s_quote @schedule.title %>'); return false;"><% end %>
        <%=h @schedule.title %>
      <% if auth_read %></a><% end %>
      <%= raw(scope) %>
    <% end %>

  </td>
<% end %>
