
<%= render(:partial => 'common/jkl_calendar_init') %>

<script type="text/javascript">

var calDisp = new JKL.Calendar("div_cal_disp", "form_schedule", "date");
calDisp.setFunc(
          function() {
            _z("date_wday").innerHTML = "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;";
            document.form_schedule.submit();
            prog("TOP-RIGHT");
          }
        );
calDisp.setStyle( "frame_color", "#3333CC" );

</script>


<%
if @login_user.nil?
  login_id = ''
else
  login_id = @login_user.id.to_s
end

date_s = @date.strftime(Schedule::SYS_DATE_FORM)

@groups_cache ||= {}
@teams_cache ||= {}
%>

<%= form_tag( {:controller => 'schedules', :action => 'index'}, :method => 'get', :name => 'form_schedule', :id => 'form_schedule') %>

<table align="center" width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left" width="30%">
    <% unless @login_user.nil? %>
      <table align="left" cellspacing="0" cellpadding="0" width="65">
        <tr>
          <td align="left" nowrap width="30">
            <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/schedule_add.gif" alt="<%= t('btn.create') %>" title="<%= t('btn.create') %>" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'schedules', :action => 'day', :date => date_s, :showNew => 'true') %>';">
          </td>
          <% if @login_user.admin? User::AUTH_SCHEDULE %>
          <td width="5"></td>
          <td align="left" nowrap width="30">
            <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/config.gif" alt="<%= t('btn.config') %>" title="<%= t('btn.config') %>" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'schedules', :action => 'configure') %>';">
          </td>
          <% end %>
        </tr>
      </table>
    <% end %>
    </td>
    <td align="center" nowrap width="40%">
      <% if @login_user.nil? %>
        &nbsp;&nbsp;<span style="color:navy"><%= t('schedule.login_required') %></span>&nbsp;&nbsp;
      <% end %>
    </td>
    <td align="right" nowrap width="30%">
      <%
      display = [[h(t('schedule.calendar')), 'month'], [h(t('schedule.unit_week')), 'week'], [h(t('schedule.unit_day')), 'day']]
      unless @login_user.nil?
        groups_a = @login_user.get_groups_a
        groups_a.each do |group_id|
          display << [h(Group.get_name(group_id)), 'group_'+group_id] unless group_id == 0
        end
        teams_a = @login_user.get_teams_a
        teams_a.each do |team_id|
          display << [h(Team.get_name(team_id, @teams_cache)), 'team_'+team_id] unless team_id == 0
        end
        display << [h(t('group.other_group')), 'group_other']
      end
      %>
      <%= t('cap.display') %> <%= select_tag 'display',
                               options_for_select(display, params[:display]),
                               :onchange => "if (this.options[this.selectedIndex].value=='group_other') { showGroupTree(); } else { submit(); prog('TOP-RIGHT'); }"
      %>
    </td>
  </tr>
</table>

<table align="center" width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center">
<%
yesterday = @date - 1
tomorrow = @date + 1
last_week = @date - 7
next_week = @date + 7
%>
      <a class="calendar_paging" href="#" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'schedules', :action => 'team', :id => params[:id], :date => last_week.strftime(Schedule::SYS_DATE_FORM)) %>'; return false;">&nbsp;&lt;&lt;&nbsp;</a>&nbsp;&nbsp;
      <a class="calendar_paging" href="#" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'schedules', :action => 'team', :id => params[:id], :date => yesterday.strftime(Schedule::SYS_DATE_FORM)) %>'; return false;">&nbsp;&lt;&nbsp;</a>&nbsp;&nbsp;
      <input name="date" type="text" readonly style="text-decoration:underline; width:105px; text-align:center; font-size:10.5pt; font-family:verdana,arial,helvetica,sans-serif; color:crimson; border:0px; cursor:pointer;" value="<%= date_s %>" onClick="calDisp.write();" /> <span id="date_wday" style="color:crimson;">(<%=h Schedule::wday_name(@date.wday) %>)</span><span id="div_cal_disp"></span>
      &nbsp;&nbsp;<a class="calendar_paging" href="#" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'schedules', :action => 'team', :id => params[:id], :date => tomorrow.strftime(Schedule::SYS_DATE_FORM)) %>'; return false;">&nbsp;&gt;&nbsp;</a>
      &nbsp;&nbsp;<a class="calendar_paging" href="#" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'schedules', :action => 'team', :id => params[:id], :date => next_week.strftime(Schedule::SYS_DATE_FORM)) %>'; return false;">&nbsp;&gt;&gt;&nbsp;</a>
    </td>
  </tr>
</table>

</form>

<%
@user_schedule_hash.each do |user_id, schedules_h|
  @schedules_hash = schedules_h
  user_name = User.get_name(user_id)
%>
  <div id="div_timetable_<%= user_id %>">
  <table align="center" width="100%" cellspacing="0" cellpadding="0">
    <tr>
      <td align="left"  style="color:navy;">
        <%=h user_name %>&nbsp;
        <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/calendar.gif" alt="<%= t('schedule.calendar') %>" title="<%= t('schedule.calendar') %>" onclick="showCalendar('<%= user_id %>', '<%=ApplicationHelper.h_s_quote(user_name) %>');">
      </td>
    </tr>
    <tr height="5"><td></td></tr>
    <tr>
      <td>
        <%= render(:partial => 'weektable') %>
      </td>
    </tr>
    <tr height="10"><td></td></tr>
  </table>
  </div>
<% end %>


<%= render(:partial => 'common/schedule_func') %>

<script type="text/javascript">

function editScheduleDetail(date, id)
{
  prog("TOP-RIGHT");
  location.href="<%= url_for(:controller => 'schedules', :action => 'day') %>?date="+date+"&edit_id="+id;
}

function doScheduleDelete(date, id, title)
{
  confm("<%= t('paren.square.left') %>" + title + "<%= t('schedule.confirm_to_delete') %>", "_doScheduleDelete('"+date+"', "+id+")");
}

function _doScheduleDelete(date, id)
{
  prog("TOP-RIGHT");
  location.href="<%= url_for(:controller => 'schedules', :action => 'day') %>?date="+date+"&doDelete="+id;
}

function showGroupTree()
{
  var thetisBox = new ThetisBox;
  thetisBox.progress = true;
  thetisBox.setFormTag("<form action=\"<%= url_for(:controller => 'schedules', :action => 'get_group_users') %>\" onsubmit=\"var display=_z('display'); display.options[display.selectedIndex].value='group_'+ThetisBox.getTreeSelect("+thetisBox.id+"); document.form_schedule.submit(); return false;\">");
  thetisBox.show("CENTER", "", "TREE", "", "<%= t('group.select_to_show')%>", "");
  thetisBox.setTree("<%= url_for(:controller => 'groups', :action => 'ajax_get_tree') %>", "");
}

function showCalendar(user_id, user_name)
{
  var thetisBox = new ThetisBox;
  thetisBox.title = "<%= t('schedule.calendar') %> - " + user_name ;
  thetisBox.bgcolor_title = "limegreen";
  thetisBox.bgcolor_body = "lightcyan";
  thetisBox.show(
            "CENTER",
            (mainWidth*9/10)+","+(mainHeight*9/10),
            "IFRAME",
            "",
            "",
            "<%= url_for(:controller => 'schedules', :action => 'month') %>?date=" + getDateString() + "&user_id=" + user_id
          );
}

</script>
