<% unless @tmpl_local_folder.nil? %>

<table class="info_area" cellspacing="0" cellpadding="0" width="100%">
  <tr>
    <td id="sortable_wfs" align="left" style="padding-left:10px;">
      <%
      items = Folder.get_items_admin(@tmpl_local_folder.id, 'xorder ASC')
      unless items.nil?
        items.each do |item|
      %>
        <div id="item_<%= item.id %>" style="height:18px; padding-top:4px; padding-bottom:4px;">
          <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/up_down.gif" alt="<%= t('msg.drag_to_change_orger') %>" style="cursor:move" />
          <a class="a_underline" href="#" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'items', :action => 'show', :id => item.id) %>'; return false;">
            <%=h truncate(item.title, :length => 20) %>
          </a>
          &nbsp;&nbsp;<img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/edit.gif" alt="<%= t('btn.edit') %>" title="<%= t('btn.edit') %>" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'items', :action => 'edit', :id => item.id) %>';" />
          &nbsp;<img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/delete.gif" alt="<%= t('btn.delete') %>" title="<%= t('btn.delete') %>" onclick="doDeleteLocal(<%= item.id %>, '<%=ApplicationHelper.h_s_quote truncate(item.title, :length => 20)%>'); return false;" />
        </div>
      <%
        end
      end
      %>
    </td>
  </tr>
</table>

<%= sortable_element('sortable_wfs', :url => {:controller => 'folders', :action => 'update_items_order', :id => @tmpl_local_folder.id }, :with => "Sortable.serialize('sortable_wfs', {name:'items_order'})", :tag => 'div') %>

<% end %>
