<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td width="130">
      <div class="button_gray" style="float:left;" onClick="showGroupTreeToSelect('<%= (@group_id.nil?)?'':@group_id %>');">
        <%= t('btn.select_group') %>
      </div>
    </td>
    <td align="left" style="color:blue;">
      <% unless @group_id.nil? %>
        <%=h Group.get_path(@group_id) %>
      <% end %>
    </td>
  </tr>
</table>

<select id="user_candidates" class="select_candidates" size="5" multiple>
  <%
  users_available = {}

  unless @users.nil?
    @users.each do |user|
      user_id = user.id.to_s
      users_available[user_id] = user.get_name
    end
  end

  users_selected = []

  users_available.each do |user_id, name|
    next if users_selected.include?(user_id)
    disp = name
  %>
    <option value="<%=h user_id %>"><%=h disp %></option>
  <% end %>
</select>
