<% login_user = session[:login_user] %>

<div class="info_area" style="width:90%; padding-top:15px; padding-bottom:15px; background-color:#FFEBCB;" align="center">
<% if !@item.team.nil? and @item.team.status == Team::STATUS_DEACTIVATED %>
    ---
<% else %>
  <%= form_tag( {:controller => 'items', :action => 'add_comment', :id => @item.id }, :name => 'form_team_apply', :method => 'post') %>
    <%= hidden_field 'comment', 'item_id', :value => @item.id %>
    <%= hidden_field 'comment', 'user_id', :value => login_user.id %>
    <%= hidden_field 'comment', 'xtype', :value => Comment::XTYPE_APPLY %>
    <div style="padding-bottom:10px;">
      <%=h t('team.apply_info') %><br/>
    </div>
    <table align="center" cellspacing="0" cellpadding="0">
      <tr>
        <td class="img_button_td" onclick="doTeamApply();">
          <%=h t('btn.apply_for') %>
        </td>
      </tr>
    </table>
    <div style="padding-top:10px;">
      <%=h t('team.message_info') %><br/>
    </div>
  </form>
<% end %>
</div>

<%= render :partial => 'common/flash_notice' %>


<script type="text/javascript">

doTeamApply = function()
{
  confm("<%=h t('team.confirm_apply_for') %>", "_doTeamApply()");
}

_doTeamApply = function()
{
  var thetisBox = prog("TOP-RIGHT");

  new Ajax.Updater(
                "div_team_apply",
                document.form_team_apply.action,
                {
                  asynchronous:true,
                  evalScripts:true,
                  onComplete:function(request) {
                      thetisBox.remove();
                  },
                  parameters: Form.serialize(document.form_team_apply)
                }
              );
}
</script>
