
<%
team = @item.team
if team.nil?
%>

  <%= t('paren.not_organized') %>

<% else %>

  <table width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td style="text-align:left; width:30%;">
        <%=h team.get_status_name %>
      </td>
    <%
    if !@login_user.nil? \
        and (@login_user.admin?(User::AUTH_TEAM) or @login_user.id == @item.user_id)
    %>
      <td align="left">
        <table cellpadding="0" cellspacing="0">
          <tr>
        <% if team.status == Team::STATUS_ACTIVATED %>
            <td class="img_button_td" onclick="doChangeTeamStatus(<%= team.id %>, '<%= Team::STATUS_DEACTIVATED %>');">
              <%= t('btn.deactivate') %>
            </td>
        <% else %>
            <td class="img_button_td" onclick="doChangeTeamStatus(<%= team.id %>, '<%= Team::STATUS_ACTIVATED %>');">
              <%= t('btn.activate') %>
            </td>
        <% end %>
          </tr>
        </table>
      </td>
    <% end %>
    </tr>
  </table>

<% end %>

<%= render(:partial => 'common/flash_notice') %>


<script type="text/javascript">

doChangeTeamStatus = function(team_id, status)
{
  var thetisBox = prog("TOP-RIGHT");

  new Ajax.Updater(
              "div_team_status",
              "<%= url_for(:controller => 'items', :action => 'change_team_status') %>",
              {
                method:"get",
                asynchronous:true,
                evalScripts:true,
                onComplete:function(request) {
                  thetisBox.remove();
                },
                parameters: "team_id="+team_id+"&status="+status
              }
            );
}
</script>
