
<%= render :partial => 'common/error', :locals => {:obj => @item} %>

<table align="center" width="90%" cellpadding="0" cellspacing="2">
  <tr height="10"><td></td></tr>
<!--
  <tr>
    <td align="left" style="text-indent:10px; color:blueviolet; font-size:9pt;">
      <%= raw(t('item.edit_desc_info')) %><br />
    </td>
  </tr>
  <tr height="3"><td></td></tr>
-->
  <tr>
    <td>
      <%= text_area 'item', 'description', :cols => '60', :rows => '20', :wrap => 'off', :style => 'display:none;' %>
    </td>
  </tr>
</table>

<script type="text/javascript">

//document.getElementById("item_id").value = "<%= @item.id %>";

//<![CDATA[

if (oEditor)
{
  try { oEditor.destroy(true); } catch(e) { ; }
}

oEditor = CKEDITOR.replace( "item_description",
            {
              <%
              lang = ''
              unless request.user_preferred_languages.nil? or request.user_preferred_languages.empty?
                lang = request.user_preferred_languages[0].split('-').first
              end
              %>
              language : "<%= lang %>",

              height: getClientRegion().height - 270,
              width: "100%",

              on :
              {
                instanceReady : function()
                {
                  oEditor.resetDirty();
                }
              }
            } );
//]]>
</script>

