<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td width="130">
      <table align="left" width="120" cellspacing="0" cellpadding="0">
        <tr>
          <td class="td_button_gray" align="left" nowrap bgColor="gray" onClick="showGroupTreeToSelect('<%= (@group_id.nil?)?'':@group_id %>');" onMouseOver="this.bgColor='lawngreen'" onMouseOut="this.bgColor='gray'">
            <%=h t('btn.select_group') %>
          </td>
        </tr>
      </table>
    </td>
    <td align="left" style="color:blue;">
      <% unless @group_id.nil? %>
        <%=h Group.get_path(@group_id) %>
      <% end %>
    </td>
  </tr>
</table>

<select id="user_candidates" class="select_candidates" size="5" multiple>
  <%
  users_available = PseudoHash.new

  unless @users.nil?
    @users.each do |user|
      user_id = user.id.to_s
      users_available[user_id, true] = user.get_name
    end
  end

  users_selected = []

  users_available.each do |user_id, name|
    next if users_selected.include?(user_id)
    disp = name
  %>
    <option value="<%=h user_id %>"><%=h disp %></option>
  <% end %>
</select>
