<% login_user = session[:login_user] %>

<table width="100%" height="100%" bgcolor="aliceblue" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top">
      <br/>
      <br/>
      <table align="center" width="80%" cellpadding="0" cellspacing="0" style="background-color:white; border:5px dodgerblue dashed;">
        <tr>
          <td align="center" valign="top" style="padding:10px;">
            <table width="100%" cellpadding="0" cellspacing="0">
              <tr>
                <td align="left" valign="top" style="padding:0px; color:royalblue; font-size:14pt;">
                  <b><%=h t('cap.folders') %></b>
                </td>
              </tr>
              <%
              unless @folder_id == '0'
                folder = Folder.find(@folder_id)
              %>
              <tr height="30">
                <td align="left" valign="top" style="padding-left:50px; color:navy;">
                  <a href="#" onclick="prog('TOP-RIGHT'); document.form_list.folder_id.value = '<%= folder.parent_id %>'; document.form_list.submit(); return false;">/ <%=h t('folder.parent_path') %> </a><br/>
                </td>
              </tr>
              <% end %>
              <%
              childs = Folder.get_childs_for(login_user, @folder_id, false, false, false)
              childs.each do |folder_id|
              %>
              <tr height="30">
                <td align="left" valign="top" style="padding-left:50px; color:navy;">
                  <a href="#" onclick="prog('TOP-RIGHT'); document.form_list.folder_id.value = '<%= folder_id %>'; document.form_list.submit(); return false;">/ <%=h Folder.get_name(folder_id) %> </a><br/>
                </td>
              </tr>
              <% end %>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
