<%= form_tag( {:controller => 'items', :action => 'bbs' }, :method => 'post', :name => 'form_list') %>

<%
login_user = session[:login_user]

folders_cache = {}

@users_cache = {}
@user_obj_cache = {}

@user_groups = {}
@groups_cache = {}
@group_obj_cache = {}
%>

<table width="100%" cellspacing="0" cellpadding="0">
  <tr height="5"><td></td></tr>
  <tr>
    <td>
      <table width="100%" cellspacing="0" cellpadding="0">
        <tr>
          <td align="left" nowrap width="1%">
            <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/item_add.gif" alt="<%= t('btn.create') %>" title="<%= t('btn.create') %>" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'items', :action => 'new', :folder_id => @folder_id) %>';">
          </td>
          <td width="10"></td>
          <td align="left" nowrap width="1%">
            <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/url.gif" alt="<%= t('item.show_url') %>" title="<%= t('item.show_url') %>" onclick="showURL();">
          </td>
          <td align="right" nowrap>
            <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/search.gif" alt="<%= t('cap.search_keywords') %>">&nbsp;<%= text_field_tag 'keyword', params[:keyword] %>
            <%= t('msg.search_in') %> <%= select_tag 'find_in',
                                     options_for_select([[h(t('folder.current')),Item::FOLDER_CURRENT],
                                                        [h(t('folder.all')),Item::FOLDER_ALL],
                                                        [h(t('folder.lower')), Item::FOLDER_LOWER]], 
                                                        params[:find_in])
                      %>
            <input type="submit" value="<%= t('btn.search') %>" onClick="prog('TOP-RIGHT'); form_list.action='<%= url_for(:controller => 'items', :action => 'search') %>'; form_list.submit(); return false;"/>
            <input type="button" value="<%= t('btn.reset') %>" onClick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'items', :action => 'bbs') %>';"/>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr height="5"><td></td></tr>
  <tr>
    <td align="right">
      <table width="100%" cellspacing="0" cellpadding="0">
        <tr>
          <td align="left" width="120" style="padding-bottom:5px;">
          <% if @folder_id.nil? or @folder_id.empty? %>
            <table width="100%" cellspacing="0" cellpadding="0">
              <tr>
                <td class="td_button_gray" align="left" nowrap bgColor="gray" onClick="showFolderTreeToSelect('');" onMouseOver="this.bgColor='lawngreen'" onMouseOut="this.bgColor='gray'">
                  <%= t('btn.select_folder') %>
                </td>
                <td width="15">&nbsp;&nbsp;</td>
                <td align="left" nowrap>
                <%
                session_folder = session[:folder_id]
                if !session_folder.nil? and Folder.exists?(session_folder)
                  if session_folder != '0'
                %>
                  <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/folder/folder_shortcut.gif" alt="<%= t('btn.back') %>" title="<%= Folder.get_path(session_folder, folders_cache) %>" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'items', :action => 'bbs', :folder_id => session_folder) %>';">
                <%
                  end
                end
                %>
                <%
                unless login_user.nil?
                  my_folder = login_user.get_my_folder
                  unless my_folder.nil?
                %>
                  <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/folder/my_folder.gif" alt="<%= t('folder.my_folder') %>" title="<%= t('folder.my_folder') %>" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'items', :action => 'bbs', :folder_id => my_folder.id) %>';">
                <%
                  end
                end
                %>
                </td>
              </tr>
            </table>
          <% else %>
            <table width="100%" cellpadding="0" cellspacing="0">
              <tr>
                <td align="left" nowrap>
                  <%= t('cap.folder') %> <a class="a_underline" href="#" onclick="showFolderTreeToSelect('<%= @folder_id %>');" onMouseOver="this.style.backgroundColor='palegreen'" onMouseOut="this.style.backgroundColor='white'" style="color:red; background-color:white;"><%=h Folder.get_path(@folder_id, folders_cache) %></a>
                  &nbsp; <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/erase.gif" alt="<%= t('btn.clear') %>" title="<%= t('btn.clear') %>" onclick="clearFolder()" />
                </td>
                <td width="15">&nbsp;&nbsp;</td>
                <td align="left" nowrap>
                <%
                toy_xtype = Toy::XTYPE_FOLDER
                toy_target_id = @folder_id
                if !login_user.nil? and !Toy.on_desktop?(login_user, toy_xtype, toy_target_id)
                %>
                  <img class="img_btn" id="add_to_desktop" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/desktop.gif" alt="<%= t('btn.add_to_desktop') %>" title="<%= t('btn.add_to_desktop') %>" onclick="addToDesktop('<%= toy_xtype %>', <%= toy_target_id %>, '<%=ApplicationHelper.h_s_quote truncate(Folder.get_name(@folder_id), :length => 20) %>');">
                <% end %>
                </td>
              </tr>
            </table>
          <% end %>
          </td>
          <td align="right">
            <select name="select_sorting" onchange="prog('TOP-RIGHT'); form_list.submit();">
            <%
            excepts = nil
            excepts = [:xorder] if @folder_id.nil? or @folder_id.empty?
            Item.sort_opts(excepts).each do |text_val|
              selected = ''
              selected = 'selected' if text_val.last == @sort_col+' '+@sort_type
            %>
              <option value="<%= text_val.last %>" <%= selected %>><%= raw(text_val.first) %></option>
            <% end %>
            </select>
            &nbsp;
            <input type="hidden" name="thumbnails" value="false" />
            <input type="checkbox" id="thumbnails" name="thumbnails" value="true" <%= (params[:thumbnails]!='false')?'checked':'' %> onclick="form_list.submit(); prog('TOP-RIGHT');"><label for="thumbnails"><%= t('item.show_thumbnails') %></label>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td class="pagination_td" align="center">
      <%= t('cap.total') %><%= t('item', :count => @total_num) %>
      <%
      prms = ApplicationHelper.dup_hash(params)
      prms.delete('authenticity_token')
      pagination = will_paginate(@item_pages, :params => prms)
      pagination = ApplicationHelper.custom_pagination(pagination)
      %>
      <%= pagination %>
    </td>
  </tr>
  <tr height="10"><td></td></tr>
</table>

<div id="div_list" style="overflow:scroll;">

<% if @items.empty? and @folder_id.nil? %>

<%= render(:partial => 'bbs_empty') %>

<% elsif @items.empty? %>

<%= render(:partial => 'show_folders') %>

<% else %>

<table id="list_items" width="100%" cellpadding="0" cellspacing="0">
<% @items.each do |item| %>
  <tr>
    <td>
      <TABLE width="100%" cellpadding="0" cellspacing="0">
        <TR>
          <TD align="left" style="font-size:11pt; line-height:14pt; text-indent:5px;">
            <%= item.id %>.&nbsp;&nbsp; <a class="a_underline" href="#" onclick="doShowItem(<%=item.id %>); return false;"><%=h truncate(item.title, :length => 60) %></a>

            <% if !item.workflow.nil? and item.workflow.decided? %>
              <span style="color:sienna;"><%= raw(t('paren.aquo.left')) %><%=h item.workflow.get_status_name %><%= raw(t('paren.aquo.right')) %></span>
            <% end %>

            &nbsp;&nbsp;
            <%
            unless item.folder_id.nil?
              enable_link = (@folder_id != item.folder_id.to_s)
            %>
              <% if enable_link %>
              <a href="#" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'items', :action => 'bbs', :folder_id => item.folder_id) %>'; return false;" onMouseOver="this.style.backgroundColor='cornsilk';" onMouseOut="this.style.backgroundColor='';">
              <% end %>
              <span style="color:red;"><%=h item.get_folder_path(folders_cache) %></span>
              <% if enable_link %>
              </a>
              <% end %>
            <% end %>
            <% if !login_user.nil? and item.editable?(login_user.id) %>
            &nbsp;
              <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/edit.gif" alt="<%= t('btn.edit') %>" title="<%= t('btn.edit') %>" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'items', :action => 'edit', :id => item) %>';" />&nbsp;
            <% end %>
            <% if !login_user.nil? and item.deletable?(login_user.id) %>
              <%
              del_type = 'null'
              del_type = '\''+Item::XTYPE_PROJECT+'\'' unless item.team.nil?
              %>
              <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/delete.gif" alt="<%= t('btn.delete') %>" title="<%= t('btn.delete') %>" onclick="doDelete(<%= item.id %>, '<%=ApplicationHelper.h_s_quote truncate(item.title, :length => 20)%>', <%= del_type %>); return false;" />
            <% end %>
          </TD>
        </TR>
        <TR>
          <TD align="left" style="font-size:11pt; padding:5px; line-height:14pt; text-indent:60px;">
            <%
            user_name, u_groups, figure = UsersHelper.get_groups_info(item.get_registrant_id, @user_groups, @users_cache, @user_obj_cache, @groups_cache, @group_obj_cache)
            unless u_groups.empty?
            %>
            <a href="#" onclick="showUserGroups('<%= ApplicationHelper.h_s_quote(user_name) %>', '<%= u_groups.join(',') %>', '<%= figure %>'); return false;">
            <% end %>
              <span style="color:green;">by <%=h item.disp_registered_by(@users_cache, @user_obj_cache) %></span>
            <% unless u_groups.empty? %>
            </a>
            <% end %>
            <%
            updated_at = (item.updated_at.nil?)?'':('('+item.updated_at.strftime(THETIS_DATE_FORMAT_YMD+' %H:%M')+')')
            %>
            &nbsp;<span style="font-size:9pt;vertical-align:middle;"><%= updated_at %></span>
            <% unless item.public %>
              <span style="color:blue"><%= t('schedule.private') %></span>
            <% end %>
            <% if item.xtype == Item::XTYPE_PROJECT %>
              &nbsp;&nbsp;&nbsp;<img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/folder/team_folder.gif" title="<%= t('item.project') %>" alt="<%= t('item.project') %>" />
              <%
              unless item.team.nil? or login_user.nil?
                team_folder = item.team.get_team_folder
                unless team_folder.nil?
                  if Folder.check_user_auth(team_folder.id, login_user, 'r', true)
                    path = team_folder.get_path(folders_cache)
              %>
                <a class="a_underline" href="#" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'items', :action => 'bbs', :folder_id => team_folder.id) %>'; return false;">
                  <%=h path %>
                </a>
                <% else %>
                  <span style="color:green"><%= t('item.project') %></span>
            <%
                  end
                end
              end
            elsif item.xtype == Item::XTYPE_ZEPTAIR_DIST
            %>
              &nbsp;&nbsp;&nbsp;<img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/zeptair/zeptair_icon.png" title="<%= t('item.type.zeptair_dist') %>" alt="<%= t('item.type.zeptair_dist') %>" /><span style="color:#567EFF;"><%= t('item.type.zeptair_dist') %></span>
            <% end %>
          </TD>
        </TR>
      <% if item.featured? and !item.update_message.nil? and !item.update_message.empty? %>
        <TR>
          <TD align="center">
          <div align="left" style="width:90%; padding-bottom:5px;">
            <div style="width:60%; background-color:#FFF0FA; cursor:pointer; border:2px dashed red" onclick="doShowItem(<%=item.id %>);">
              <span style="padding:5px; font-size:10pt;"><%= ApplicationHelper.format_text_block(h(truncate(item.update_message, :length => 200))) %></span>
            </div>
          </div>
          </TD>
        </TR>
      <% end %>
<%
item_images = item.images_without_content
item_attachments = item.attachments_without_content
images_num = item_images.length
attachments_num = item_attachments.length
%>
        <TR>
          <TD>
<% additionalCol = ((params[:thumbnails]!='false' and images_num > 0) or (attachments_num > 0)) %>
            <table align="center" width="90%" cellspacing="0" cellpadding="0" style="border:1px solid goldenrod;">
              <tr>
                <td align="left" valign="top" width="<%= (additionalCol)?'70%':'100%' %>" bgcolor="<%= (item.public)?'#FFF5F0':'lightcyan' %>" style="font-size:10.5pt; padding:10px; line-height:15pt;">
<% unless item.summary.nil? or item.summary.empty? %>
<div>
  <span style="color:orangered; font-size:8pt;vertical-align:middle;"><%= raw(t('paren.aquo_b.left')) %></span> <%= Item.human_attribute_name('summary') %> <span style="color:orangered; font-size:8pt; vertical-align:middle;"><%= raw(t('paren.aquo_b.right')) %></span><br/>
  <%= ApplicationHelper.format_text_block(h(truncate(item.summary, :length => 100))) %>
</div>
<div height="5">&nbsp;</div>
<% end %>
                  <span style="color:orangered; font-size:8pt; vertical-align:middle;"><%= raw(t('paren.aquo_b.left')) %></span> <%= Item.human_attribute_name('description') %> <span style="color:orangered; font-size:8pt; vertical-align:middle;"><%= raw(t('paren.aquo_b.right')) %></span>
                  <br/>
                  <% unless item.description.nil? or item.description.empty? %>
                    <table width="100%" cellpadding="0" cellspacing="2">
                      <tr>
                        <td>
                        <script type="text/javascript">
                          document.write('<div id="div_description_<%=item.id %>" style="padding:5px; width:'+(mainWidth*<%= (additionalCol)?'6':'8' %>/10)+'px; height:200px; overflow:scroll;">');
                        </script>
                        <%= raw(item.description) %></div>
                        </td>
                      </tr>
                    </table>
                  <% end %>
                  <%
                  max_bbs_img = 2
                  max_bbs_attach = 2
                  show_num = false
                  show_num = true if params[:thumbnails] == 'false'
                  show_num = true if images_num > max_bbs_img
                  show_num = true if attachments_num > max_bbs_attach
                  if show_num
                  %>
                    <div align="right" style="padding:5px;">
                      <a href="#" onclick="doShowItem(<%=item.id %>); return false;">
                        ( <%= t('image.plural') %>: <%= images_num %>, <%= t('attachment.plural_full') %>: <%= attachments_num %> )
                      </a>
                    </div>
                  <% end %>

                </td>
              <% if additionalCol %>
                <td bgcolor="<%= (item.public)?'#FFF5F0':'lightcyan' %>">
                   <table align="center" width="100" cellspacing="0" cellpadding="0">
                <% if params[:thumbnails]!='false' and images_num > 0 %>
                     <tr>
                       <td>
                         <table align="center" width="100" cellspacing="0" cellpadding="0">
                  <%
                  item_images.each_with_index do |image, idx|
                    break if idx >= max_bbs_img
                  %>
                           <tr>
                             <td width="90" style="padding:5px">
                               <% img_url = url_for(:controller => 'items', :action => 'get_image', :id => image.id, :ts => ApplicationHelper.get_timestamp(image)) %>
                               <img style="cursor:pointer" src="<%= img_url %>" width="120" onclick="doShowItem(<%=item.id %>);" />
                             </td>
                           </tr>
                <% end %>
                         </table>
                       </td>
                     </tr>
              <% end %>
              <% if attachments_num > 0 %>
                     <tr>
                       <td>
                  <%
                  attach_cnt = 0
                  item_attachments.each do |attach|
                   attach_cnt += 1
                   break if attach_cnt > max_bbs_attach
                  %>
                         <table cellspacing="1" cellpadding="0" align="center" width="120" style="cursor:pointer; border:2px solid white;" onClick="location='<%= url_for(:controller => 'items', :action => :get_attachment, :id => attach.id) %>'" onMouseOver="this.style.borderColor='lime'" onMouseOut="this.style.borderColor='white'">
                           <tr>
                             <td class="td_attachment_name" align="center">
                               <%=h attach.name %>
                             </td>
                           </tr>
                    <% unless attach.title.nil? or attach.title.empty? %>
                           <tr>
                             <td class="td_attachment_title" align="center">
                               <%=h attach.title %>
                             </td>
                           </tr>
                    <% end %>
                    <% unless attach.memo.nil? or attach.memo.empty? %>
                       <tr>
                         <td class="td_attachment_memo">
                            <%=h attach.memo %>
                         </td>
                       </tr>
                    <% end %>
                         </table>
                  <% end %>
                       </td>
                     </tr>
                <% end %>
                   </table>
                </td>
              <% end %>
              </tr>
            </table>
          </TD>
        </TR>
        <TR>
          <TD align="center">
            <table align="center" width="90%" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center">
                  <%
                  @item = item
                  @for_print = true
                  %>
                  <%= render(:partial => 'ajax_comments') %>
                </td>
              </tr>
              <tr height="20"><td></td></tr>
            </table>
          </TD>
        </TR>
      </TABLE>
    </td>
  </tr>
<% end %>
</table>

<% end %>

</div>

<%= hidden_field_tag('sort_col', params[:sort_col]) %>
<%= hidden_field_tag('sort_type', params[:sort_type]) %>
<%= hidden_field_tag('folder_id', @folder_id) %>
<%= hidden_field_tag('from_action', 'bbs') %>

</form>

<%= render(:partial => 'common/user_groups') %>

<script type="text/javascript">
<!--
function showURL()
{
  new Ajax.Request(
          "<%= url_for(:controller => 'frames', :action => 'show_url') %>?disp[ctrl]=items&disp[act]=bbs&disp[folder_id]=<%= @folder_id %>",
          {
            method:"get",
            asynchronous:true,
            evalScripts:true,
            onComplete:function(request) {
                var thetisBox = new ThetisBox;
                thetisBox.show(
                          "CENTER",
                          (mainWidth/10*8)+",320",
                          "TRAY",
                          "",
                          "<%= t('cap.url_to_this_page') %>",
                          request.responseText
                        );
                request.responseText.evalScripts();
              }
          }
        );
}

function doShowItem(item_id)
{
  prog("TOP-RIGHT");
  var params = Form.serialize(document.form_list);
  location.href = "<%= url_for(:controller => 'items', :action => 'show') %>?id=" + item_id + "&" + params;
}

function doDelete(item_id, title, del_type)
{
  if (del_type == "<%= Item::XTYPE_PROJECT %>") {
    confm("<div style='padding-bottom:10px;'><%= t('paren.square.left') %>"+title+"<%= t('folder.delete_team_folder_info1') %></div><div style='padding-bottom:10px;'><%= t('folder.delete_team_folder_info2') %></div><%= t('msg.confirm_sure') %>", "_doDelete("+item_id+")");
  } else {
    confm("<%= t('paren.square.left') %>"+title+"<%= t('msg.confirm_to_delete') %>", "_doDelete("+item_id+")");
  }
}

function _doDelete(item_id)
{
  prog("TOP-RIGHT");
  document.form_list.action = "<%= url_for(:controller => 'items', :action => 'destroy') %>?id="+item_id;
  document.form_list.submit();
}

function clearFolder()
{
  document.form_list.action = "<%= url_for(:controller => 'items', :action => 'bbs') %>";
  document.form_list.folder_id.value = "";
  document.form_list.select_sorting.disabled = true;
  document.form_list.sort_col.disabled = true;
  document.form_list.sort_type.disabled = true;
  document.form_list.submit();
  prog("TOP-RIGHT");
}

function addToDesktop(xtype, target_id, title)
{
  confm("<%= t('paren.square.left') %>" + title + "<%= t('msg.confirm_to_added_to_desktop') %>", "_addToDesktop('"+xtype+"', "+target_id+")");
}

function _addToDesktop(xtype, target_id)
{
  var thetisBoxProgress = prog("TOP-RIGHT");

  new Ajax.Request(
          "<%= url_for(:controller => 'desktop', :action => 'add_toy') %>?xtype="+xtype+"&target_id="+target_id,
          {
            parameters:"authenticity_token=<%= form_authenticity_token %>",
            asynchronous:true,
            evalScripts:false,
            onComplete:function(request) {
                var button = _x("add_to_desktop");
                removeElem(button);

                thetisBoxProgress.remove();

                if (Number(request.responseText) > 0) {
                  tips("<%= t('msg.add_to_desktop_success')%>");
                }
              }
          }
        );
}

<% if login_user.nil? and params[:tips]=='true' %>
function showTips()
{
  tips("<%= t('item.no_login_info1') %><br/><span style='font-size:14pt;color:firebrick;font-weight:800'><%= t('login.name') %></span><%= t('item.no_login_info2') %>");
}
<% end %>

function showFolderTreeToSelect(folder_id)
{
  var thetisBox = new ThetisBox;
  thetisBox.progress = true;
  thetisBox.setAdditionalParams(new Array("thumbnails=<%= params[:thumbnails] %>", "authenticity_token=<%= form_authenticity_token %>"));
  thetisBox.show("CENTER", "", "TREE", "<%= url_for(:controller => 'items', :action => 'bbs') %>", "<%= t('msg.select_folder_to_show')%>", "");
  thetisBox.setTree("<%= url_for(:controller => 'folders', :action => 'ajax_get_tree') %>", folder_id);
}

<% if !params[:folderTree].nil? and @folder_id.nil? %>
function onLoadSub()
{
  showFolderTreeToSelect("<%=h params[:folderTree] %>");
}
<% end %>

//-->
</script>

