<% unless @tmpl_q_folder.nil? %>

<table class="info_area" style="width:100%;">
  <tr>
    <td id="sortable_items" style="text-align:left; padding-left:10px;">
      <%
      unless @items.nil?
        @items.each do |item|
      %>
        <div id="item_<%= item.id %>" style="height:18px; padding:4px 0px;">
          <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/up_down.gif" title="<%= t('msg.drag_to_change_orger') %>" style="cursor:move" />
          <a class="a_underline" href="javascript:this.onclick()" onclick="onShowQpageClicked('<%= item.id %>', '<%= ApplicationHelper.h_s_quote(truncate(item.title, :length => 20)) %>'); return false;">
            <%= truncate(item.title, :length => 20) %>
          </a>
          <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/edit.gif" title="<%= t('btn.edit') %>" onclick="onEditQpageClicked('<%= item.id %>'); return false;" style="margin-left:10px;" />
          <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/delete.gif" title="<%= t('btn.delete') %>" onclick="doDeletePage(<%= item.id %>, '<%= ApplicationHelper.h_s_quote(truncate(item.title, :length => 20)) %>'); return false;"  style="margin-left:5px;" />
        </div>
      <%
        end
      end
      %>
    </td>
  </tr>
</table>

<script type="text/javascript">

onShowQpageClicked = function(itemId, title)
{
  var thetisBox = new ThetisBox;
  thetisBox.title = title;
  thetisBox.show("CENTER", (mainWidth*8/10)+","+(mainHeight*8/10), "IFRAME", "", "", "<%= url_for(:controller => 'items', :action => 'show_for_print') %>?id="+itemId);
}

onEditQpageClicked = function(itemId)
{
  prog("TOP-RIGHT")
  location.href = "<%= url_for(:controller => 'items', :action => 'edit') %>?id="+itemId;
}

onItemsOrderUpdated = function()
{
  var addParams = [];
  addParams.push("id=<%= @tmpl_q_folder.id %>");
  addParams.push("authenticity_token=<%= form_authenticity_token %>");

  new Ajax.Request(
      "<%= url_for(:controller => 'folders', :action => 'update_items_order') %>",
      {
        method:"post",
        parameters:Sortable.serialize("sortable_items", { name: "items_order" }) + "&" + addParams.join("&"),
        asynchronous:true,
        evalScripts:true
      }
    );
}

Sortable.create(
      "sortable_items",
      {
        onUpdate: onItemsOrderUpdated,
        tag:"div"
      }
    );

</script>

<%= render(:partial => 'common/flash_notice') %>

<% end %>
