<table style="margin:0px auto; width:85%; border-spacing:2px;">
  <tr>
    <td class="item_cap_td" nowrap style="width:100%;">
      <%= t('research.choice_type') %>
    </td>
  </tr>
  <tr>
    <td class="item_value_td" style="padding:0px; text-align:right;">
      <input type="button" value="<%= t('btn.reset') %>" onclick="onResetCtrlClicked();" style="width:100px;" />
    </td>
  </tr>
  <tr>
    <td class="item_value_td">
      <select id="sel_q_codes" class="select_multi" size="5" style="width:100%;" onchange="onSelectQCodes(this.value)">
      <%
      @q_hash.each do |q_code, q_params_h|
        q_id = "#{q_params_h['item_id']}:#{q_code}"
      %>
        <option value="<%= q_id %>"><%= truncate(q_params_h['item_title'], :length => 20) %> : $<%= q_code %></option>
      <% end %>
      </select>
      <%
      @q_hash.each do |q_code, q_params_h|
        q_id = "#{q_params_h['item_id']}:#{q_code}"
        unless q_params_h['type'].nil?
          q_param = q_params_h['type'] + ':' + q_params_h['values']
        end
        cap = q_params_h['caption']
      %>
        <textarea id="<%= q_id %>" style="display:none;"><%= (q_param.nil?)?'':q_param %></textarea>
        <div id="<%= q_id %>_cap" style="display:none;"><%= (cap.nil?)?'':cap %></div>
      <% end %>
    </td>
  </tr>
  <tr>
    <td class="item_value_td" nowrap>
      <%= t('research.q') %> <input id="q_cap" type="text" value="" style="width:80%;" />
      <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/info.png" onclick="msg('<%= t('research.q_info') %>');">
    </td>
  </tr>
  <tr>
    <td class="item_value_td">
      <select id="sel_q_types" style="width:100%;" disabled="true" onchange="onSelectQTypes(this.value)">
        <option value=""><%= t('msg.select_type')%></option>
        <option value="radio"><%= t('research.radio_buttons')%></option>
        <option value="checkbox"><%= t('research.check_boxes')%></option>
        <option value="select"><%= t('research.dropdown_list')%></option>
        <option value="textarea"><%= t('research.textarea')%></option>
      </select><br/>
      <table style="width:100%;">
        <tr>
          <td style="text-align:center;">

            <!-- radio, checkbox, select -->
            <div id="ctrl_alts" style="display:none;">
              <table style="width:100%;">
                <tr>
                  <td style="padding-left:10px; padding-right:10px; background-color:#fff2f6; border:1px solid indianred; border-top:0px; vertical-align:top;" >
                    <table style="width:100%; margin:7px 0px 10px;">
                      <tr>
                        <td style="padding-left:5px; color:indianred;">
                          <%= t('research.specify_choice') %><br/>
                        </td>
                      </tr>
                      <tr style="height:3px;"><td></td></tr>
                      <tr>
                        <td style="padding-left:5px;">
                          <textarea id='ctrl_alts_vals' wrap="off" rows="5" style="width:100%;"></textarea>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="item_value_td" style="text-align:right;">
                    <input type="button" value="<%= t('btn.apply') %>" onclick="doApplyCtrl();" style="width:100px;" />
                  </td>
                </tr>
              </table>
            </div>

            <!-- textarea -->
            <div id="ctrl_textarea" style="display:none;">
              <table style="width:100%;">
                <tr>
                  <td style="padding-left:10px; padding-right:10px; background-color:#fff2f6; border:1px solid indianred; border-top:0px; vertical-align:top;">
                    <table style="width:100%; margin:7px 0px 10px;">
                      <tr>
                        <td style="width:5%; padding-left:5px; color:indianred;" nowrap>
                          <%= t('research.rows') %><br/>
                        </td>
                        <td style="padding-left:5px;">
                          <input id='ctrl_textarea_rows' style="width:50;" />
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="item_value_td" style="text-align:right;">
                    <input type="button" value="<%= t('btn.apply') %>" onclick="doApplyCtrl();" style="width:100px;">
                  </td>
                </tr>
              </table>
            </div>

          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
