<%
@groups_cache ||= {}
@group_obj_cache ||= {}
%>

<table style="width:100%;">
   <tr>
    <td style="text-align:left; padding:5px; padding-top:10px; padding-left:10px;" >
    <% if @group_id.nil? or @group_id.empty? %>
      <div class="button_gray" style="float:left;" onclick="showGroupTreeToSelect('0');">
        <%= t('btn.select_group') %>
      </div>
    <% else %>
      <table>
        <tr>
          <td style="text-align:left;" nowrap>
            <%= t('cap.group') %> <a class="a_underline" href="javascript:this.onclick()" onclick="showGroupTreeToSelect('<%= @group_id %>'); return false;" onMouseOver="this.style.backgroundColor='palegreen'" onMouseOut="this.style.backgroundColor='white'" style="color:red"><%= Group.get_path(@group_id, @groups_cache, @group_obj_cache) %></a>
          </td>
        </tr>
      </table>
    <% end %>
    </td>
  </tr>
</table>

<% if @researches.nil? or @researches.empty? %>

<table style="width:100%; height:80%;">
  <tr style="height:20%;"><td>&nbsp;</td></tr>
  <tr style="height:60%;">
    <td style="vertical-align:middle; text-align:center;" >

  <% if @group_id.nil? or @group_id.empty? %>
      <%= t('group.select_to_show')%>
  <% else %>
      <%= t('msg.no_data_to_display') %>
  <% end %>

    </td>
  </tr>
  <tr style="height:20%;"><td>&nbsp;</td></tr>
</table>

<%
else
  @researches.each_with_index do |research, idx|
    if idx >= 100
%>

    <div style="text-align:center; padding-top:10px; width:100%; color:red; font-weight:bold;" >
      <%= t('research.max_to_display1') %><%= @researches.length %><%= t('research.max_to_display2') %>
    </div>
    <br/>

  <%
    break
  else
  %>

<table style="width:95%; margin:3px auto 0px; border-spacing:2px;">
  <tr>
    <td style="vertical-align:top; width:20px;">
      <%= idx + 1 %>.
    </td>
    <td>

      <table style="width:100%; border-spacing:2px;">
    <%
    unless @q_codes.nil?
      @q_codes.each do |q_code|
    %>
        <tr>
          <td nowrap style="background-color:#99ccff; width:100px; padding:3px; line-height:11pt; text-align:center;" >
            <%= q_code %>.
          </td>
          <td style="background-color:#ccffff; padding-left:10px; text-align:left;">
          <%
          vals = research.get_by_q_code(q_code)
          unless vals.nil?
            ary = vals.split("\n")
          %>
          <%
            ary.each do |val|
          %>
            <%= val %><br/>
          <%
            end
          end
          %>
          </td>
        </tr>
    <%
      end
    end
    %>
      </table>
    </td>
  </tr>
</table>

<%
    end
  end
end
%>
