<%= form_tag({:controller => 'researches', :action => 'do_confirm'}, :method => 'post', :name => 'form_research') %>

<table style="width:100%;">
  <tr>
    <td style="font-size:15px; text-align:left;">

    <table style="width:100%; font-size:13px; padding:5px; line-height:2.0; border-spacing:5px;">
      <tr>
        <td colspan="6" style="padding-left:20px;"><%= t('research.confirm_answer') %></td>
      </tr>

    <% @q_caps_h.each do |q_code, q_cap| %>

      <tr>
        <td style="width:1%;"></td>
        <td style="width:1%; background-color:khaki;"></td>
        <td style="width:20%; color:brown; text-align:center;" nowrap><%= raw(q_code.upcase.sub('_', '&nbsp;-&nbsp;')) %>.</td>
        <td style="width:1%; background-color:khaki;"></td>
        <td style="width:1%;"></td>
        <td>
          <%= q_cap %><br/>
          <%
          vals = @research.get_by_q_code(q_code)
          unless vals.nil?
            arr = vals.split("\n")
          %>
            <%
            arr.each do |val|
            %>
            <b><%= val %></b><br/>
          <%
            end
          end
          %>
        </td>
      </tr>
      <tr style="height:5px;"><td></td></tr>
    <% end %>

    </table>

    <%= hidden_field_tag('research_id', @research.id) %>
    <%= hidden_field_tag('page', @page) %>

    <table style="margin:10px auto 40px; vertical-align:top;">
      <tr>
      <td class="img_button_td" onclick="location.href='<%= url_for(:controller => 'researches', :action => 'edit_page', :page => sprintf('%02d', @page.to_i-1)) %>'">
        <%= raw(t('btn.page_back')) %>
      </td>
        <td style="width:20px;"></td>
      <td class="img_button_td" onclick="try { document.form_research.submit(); }catch(e){ msg('<%= raw(t('research.error_commit')) %>'); }">
        <%= t('btn.commit') %>
      </td>
      </tr>
    </table>

    </td>
  </tr>
</table>

</form>
