<%= form_tag({:controller => 'researches', :action => 'save_page'}, :method => 'post', :name => 'form_research') %>

<table style="width:100%;">
  <tr>
    <td style="font-size:15px; text-align:left;">

    <%= render(:inline => File.read(File.join(Research.page_dir, "_q#{@page}.html.erb"))) %>

    <input type="hidden" id="research_id" name="research_id" value="<%= @research.id %>" />
    <input type="hidden" id="page" name="page" value="<%= @page %>" />

    <table style="margin:10px auto 40px;">
      <tr>
      <% if @page.to_i > 1 %>
        <td class="prim_btn" onclick="location.href='<%= url_for(:controller => 'researches', :action => 'edit_page', :page => sprintf('%02d', @page.to_i-1)) %>'">
          <%= raw(t('btn.page_back')) %>
        </td>
          <td style="width:20px;"></td>
      <% end %>
        <td class="prim_btn" onclick="try { document.form_research.submit(); }catch(e){ msg('<%= raw(t('research.error_commit')) %>'); }">
          <%= raw(t('btn.page_next')) %>
        </td>
      </tr>
    </table>

    </td>
  </tr>
</table>

</form>
