<%
committed = []
research_cache = {}
@users.each do |user|
  research = Research.get_for(user.id)
  if !research.nil? and research.status == Research::U_STATUS_COMMITTED
    committed << user.id.to_s
  end
  research_cache[user.id.to_s] = research
end

@groups_cache ||= {}
@group_obj_cache ||= {}
%>
<div id="committed_users" style="display:none;"><%= '|'+committed.join('|')+'|' %></div>

<%= form_tag( {:controller => 'researches', :action => 'users'}, :method => 'get', :name => 'form_list') %>

<table style="width:100%; border-spacing:3px;">
  <tr>
    <td style="text-align:right;" nowrap>
      <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/search.gif" title="<%= t('cap.search_keywords') %>">&nbsp;<%= text_field_tag 'keyword', params[:keyword] %>
      <%= t('cap.status') %><%= select_tag 'filter_status',
                               options_for_select([[h(t('msg.all')), ''],
                                                  [h(t('research.no_action')), '-1'],
                                                  [h(t('research.in_action')), Research::U_STATUS_IN_ACTON.to_s],
                                                  [h(t('research.committed')), Research::U_STATUS_COMMITTED.to_s]], 
                                                  params[:filter_status])  %>
      <input type="button" value="<%= t('btn.search') %>" onclick="prog('TOP-RIGHT'); submit();"/>
      <input type="button" value="<%= t('btn.reset') %>" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'researches', :action => 'users') %>';"/>
    </td>
  </tr>
  <tr style="height:5px;"><td></td></tr>
  <tr>
    <td>
      <table style="width:100%;">
        <tr>
          <td style="text-align:left; padding-bottom:5px;" nowrap>
        <% if @group_id.nil? or @group_id.empty? %>
            <div class="button_gray" style="float:left;" onclick="showGroupTreeToSelect('0');">
              <%= t('btn.select_group') %>
            </div>
        <% else %>
            <%= t('cap.group') %> <a href="#" onclick="showGroupTreeToSelect('<%= @group_id %>');" onMouseOver="this.style.backgroundColor='palegreen'" onMouseOut="this.style.backgroundColor='white'" style="color:red;"><%= Group.get_path(@group_id, @groups_cache, @group_obj_cache) %></a>
            &nbsp; <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/erase.gif" title="<%= t('btn.clear') %>" onclick="clearGroup()" />
        <% end %>
          </td>
          <td style="text-align:right;" nowrap>
            <input type="button" value="<%= t('btn.select_deselect_all')%>" onclick="selectAll();">
            <input type="button" value="<%= t('research.select_not_committed')%>" onclick="selectNotCommitted();">
            <span style="color:silver;">|</span>
            <input type="button" value="<%= t('btn.send_notification')%>" onclick="onNotifyClicked();">
            <input type="button" value="<%= t('btn.reset_status')%>" onclick="doResetSatus();">
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table style="width:100%; margin-bottom:10px;">
  <tr>
    <td class="pagination_td" style="text-align:center;">
      <%= t('cap.total') %><%= t('user', :count => @total_num) %>
      <%
      prms = ApplicationHelper.dup_hash(params)
      prms.delete('authenticity_token')
      prms.delete('check_user')
      prms['action'] = 'users'
      pagination = will_paginate(@user_pages, :params => prms)
      pagination = ApplicationHelper.custom_pagination(pagination)
      %>
      <%= raw(pagination) %>
    </td>
  </tr>
</table>

<div class="base_list" id="div_users">
<table id="list_users" style="width:100%; border-spacing:1px;">
  <tr>
    <th class="list_sort" style="width:5%;"  nowrap onclick="sortList('User.id')"><%= t('activerecord.attributes.id') %><span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('User.id', @sort_col, @sort_type)) %></span></th>
    <th class="list_sort" style="width:22%;" nowrap onclick="sortList('name')"><%= t('user.u_name') %><span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('name', @sort_col, @sort_type)) %></span></th>
    <th class="list_sort" style="width:25%;" nowrap onclick="sortList('fullname')"><%= User.human_attribute_name('fullname') %><span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('fullname', @sort_col, @sort_type)) %></span></th>
    <th class="list_sort" style="width:28%;" nowrap onclick="sortList('groups')"><%= t('msg.organizations') %><span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('groups', @sort_col, @sort_type)) %></span></th>
    <th class="list_sort" style="width:20%;" nowrap onclick="sortList('Research.status')"><%= Research.human_attribute_name('status') %><span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('Research.status', @sort_col, @sort_type)) %></span></th>
  </tr>
<% @users.each_with_index do |user, idx| %>
  <% td_class = (idx % 2 == 1) ? 'list_td_on' : 'list_td_off' %>
  <tr style="height:33px;">
    <td class="<%= td_class %>" nowrap style="text-align:right;"><%= user.id %></td>
   <% if @login_user.admin?(User::AUTH_USER) %>
    <td class="<%= td_class %>" nowrap>
      <a class="a_underline" href="#" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'users', :action => 'show', :id => user.id) %>'; return false;">
        <%= truncate(user.name, :length => 20) %>
      </a>
    </td>
   <% else %>
    <td class="<%= td_class %>" nowrap><%= truncate(user.name, :length => 20) %></td>
   <% end %>
    <td class="<%= td_class %>" nowrap><%= truncate(user.fullname, :length => 30) %></td>
    <td class="<%= td_class %>" nowrap>
      <%
      user.get_groups_a.each do |group_id|
        group_path = Group.get_path(group_id, @groups_cache, @group_obj_cache)
      %>
        <%= group_path %><br/>
      <% end %>
    </td>
    <%
    research = research_cache[user.id.to_s]
    status = ''
    color = ''
    if research.nil?
      status = t('research.no_action')
      color = 'red'
    else
      case research.status
        when Research::U_STATUS_COMMITTED
          status = t('research.committed')
          color = 'blue'
        else
          status = t('research.in_action')
          color = 'green'
      end
    end
    %>
    <td class="<%= td_class %>" nowrap style="text-align:center; color:<%= color %>;"><%= status %></td>
   <!--
    <td class="<%= td_class %>" nowrap style="text-align:center;">
      <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/edit.gif" title="<%= t('btn.edit') %>" onclick="location.href='<%= url_for(:controller => 'users',:action => 'edit', :id => user) %>';">
    </td>
   -->
    <td class="<%= td_class %>" nowrap style="text-align:center;">
      <%= check_box(:check_user, user.id, :class => 'check_user') %>
    </td>
  </tr>
<% end %>
</table>
</div>

<%= hidden_field_tag('sort_col', params[:sort_col]) %>
<%= hidden_field_tag('sort_type', params[:sort_type]) %>
<%= hidden_field_tag('group_id', @group_id) %>

</form>

<script type="text/javascript">

function selectAll()
{
  var elems = document.getElementsByClassName("check_user", document.form_list);
  var all_selected = true;
  for (var i=0; elems!=null && i<elems.length; i++) {
    if (!elems[i].checked) {
      all_selected = false;
      break;
    }
  }
  for (var i=0; elems != null && i < elems.length; i++) {
    elems[i].checked = !all_selected;
  }
}

function selectNotCommitted()
{
  var elems = document.getElementsByClassName("check_user", document.form_list);
  for (var i=0; elems != null && i < elems.length; i++) {
    var user_id = elems[i].id.split("_")[2];
    elems[i].checked = (_z("committed_users").innerHTML.indexOf("|"+user_id+"|") < 0);
  }
}

function getCheckedUsersParam()
{
  var addParams = [];

  var elems = document.getElementsByClassName("check_user", document.form_list);
  for (var i=0; elems != null && i < elems.length; i++) {
    if (elems[i].checked) {
      var user_id = elems[i].id.split("_")[2];
      addParams.push("check_user["+user_id+"]=1");
    }
  }
  return addParams;
}

function onNotifyClicked()
{
  var addParams = getCheckedUsersParam();
  var count = addParams.length;

  if (count <= 0) {
    msg("<%= t('msg.select_users_to_notify') %>");
    return false;
  }

  var thetisBox = new ThetisBox;
  thetisBox.show(
                "CENTER", "540,200", "TEXTAREA",
                "doNotify("+thetisBox.id+")",
                "<%= t('msg.notify_info1') %>"+count+"<%= t('msg.notify_info2') %>\n<%= t('msg.notify_info3') %>",
                ""
              );
}

function doNotify(thetisBoxId)
{
  var thetisBoxEdit = _z("thetisBoxEdit-"+thetisBoxId);
  if (thetisBoxEdit && thetisBoxEdit.value) {
    var val = thetisBoxEdit.value;
    ThetisBox.remove(thetisBoxId);

    var addParams = getCheckedUsersParam();
    var count = addParams.length;
    if (count <= 0) {
      return false;
    }
    prog("TOP-RIGHT");
    var frm = createPostForm("<%= url_for(:controller => 'researches', :action => 'notify') %>", addParams);
    addInputHidden(frm, null, "thetisBoxEdit", val, null);
    frm.submit();
  }
  return true;
}

function clearGroup()
{
  prog("TOP-RIGHT");
  document.form_list.action = "<%= url_for(:controller => 'researches', :action => 'users') %>";
  document.form_list.group_id.value = "";
  document.form_list.submit();
}

function sortList(col)
{
  var type = "<%= @sort_type %>";
  
  if (col == "<%= @sort_col %>") {
    type = (type == "ASC") ? "DESC" : "ASC";
  }

  prog("TOP-RIGHT");
  document.form_list.action = "<%= url_for(:controller => 'researches', :action => 'users') %>";
  document.form_list.sort_col.value = col;
  document.form_list.sort_type.value = type;
  document.form_list.submit();
}

function showGroupTreeToSelect(group_id)
{
  var thetisBox = new ThetisBox;
  thetisBox.show("CENTER", "", "TREE", "onGroupTreeNodeSelected("+thetisBox.id+")", "<%= t('group.select_to_show')%>", "");
  thetisBox.setTree("<%= url_for(:controller => 'groups', :action => 'ajax_get_tree') %>", group_id);
}

function onGroupTreeNodeSelected(thetisBoxId)
{
  var thetisBoxSelKeeper = _z("thetisBoxSelKeeper-"+thetisBoxId);
  if (thetisBoxSelKeeper && thetisBoxSelKeeper.value) {
    var val = thetisBoxSelKeeper.value;
    ThetisBox.remove(thetisBoxId);

    prog("TOP-RIGHT");
    var addParams = [
      "thetisBoxSelKeeper="+val
    ];
    location.href = "<%= url_for(:controller => 'researches', :action => 'users') %>?"+addParams.join("&");
  }
}

function doResetSatus()
{
  var count = getCheckedUsersParam().length;

  if (count <= 0) {
    msg("<%= t('msg.select_users_to_reset') %>");
    return false;
  }

  confm("<%= t('research.confirm_to_reset_status1') %>" + count + "<%= t('research.confirm_to_reset_status2') %>", "_doResetSatus()");
}

function _doResetSatus()
{
  var addParams = getCheckedUsersParam();

  var count = addParams.length;

  if (count <= 0) {
    msg("<%= t('msg.select_users_to_notify') %>");
    return false;
  }

  prog("TOP-RIGHT");
  document.form_list.action = "<%= url_for(:controller => 'researches', :action => 'reset_users') %>";
  document.form_list.method = "post";
  document.form_list.submit();
}

</script>

