
<% if @folder.nil? %>

<table style="height:100%; width:100%; background-color:#fff2f6;">
  <tr>
    <td style="vertical-align:top;">
      <br/><br/><br/>
      <table style="width:80%; margin:0px auto;">
        <tr>
          <td style="text-align:left; vertical-align:top; padding:10px; color:firebrick; background-color:white; border:5px moccasin dashed; border-radius:8px;">
            <%= t('folder.cannot_be_edited') %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<%
else
  disp_ctrl = @folder.get_disp_ctrl_h
  def_sort = disp_ctrl[Folder::DISPCTRL_DEF_SORT]
  if def_sort.nil? or def_sort.empty?
    def_sort = Item::SORT_FIELD_DEFAULT + ' ' + Item::SORT_DIRECTION_DEFAULT
  end
%>

<table style="width:100%; height:100%;">
  <tr>
    <td style="vertical-align:top; padding-left:5px; padding-right:5px; background-color:#fff2f6;">

    <%= form_tag( {:controller => 'folders', :action => 'set_disp_ctrl', :id => @folder.id}, :name => 'form_folder_disp', :method => 'post') %>
      <table style="width:100%;">
        <tr>
          <td style="vertical-align:top; padding:10px;" >
            <table style="width:100%;">
              <tr>
                <td nowrap style="width:20%;">
                  <span style="font-size:16px; font-weight:bold; color:black;"><%= t('folder.bbs_display') %></span>
                </td>
                <td style="width:10px;">&nbsp;</td>
                <td>
                  <hr style="width:100%;" color="black">
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td style="text-align:left; padding:2px; padding-left:5px; line-height:1.3; background-color:blue; color:white;">
            <%= t('folder.disp_ctrl.none_selected') %>
          </td>
        </tr>
        <tr style="height:5px;"><td></td></tr>
        <tr>
          <td style="padding:5px;">
            <table style="width:100%;">
              <tr>
                <td style="padding-top:5px; vertical-align:top;" >
                  <%
                  checked = (@folder.bbs_top?) ? 'checked' : ''

                  if !@login_user.nil? and @login_user.admin?(User::AUTH_FOLDER)
                  %>
                    <input type="checkbox" id="check_bbs_top" name="check_bbs_top" value="1" <%= checked %>>
                  <% else %>
                    <span style="background-color:white; font-weight:bold;"><%= (checked.empty?)?t('msg.sw_off'):t('msg.sw_on') %></span>
                  <% end %>
                </td>
                <td style="width:10px;">&nbsp;</td>
                <td style="color:navy; text-align:left;">
                  <label for="check_bbs_top"><img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/folder/bbs_folder.png"> <%= t('folder.disp_ctrl.added_to_bbs') %></label><br/>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr style="height:10px;"><td></td></tr>
        <tr>
          <td style="text-align:left; padding:2px; padding-left:5px; line-height:1.3; background-color:blue; color:white;">
            <%= t('folder.disp_ctrl.this_selected') %>
          </td>
        </tr>
        <tr style="height:5px;"><td></td></tr>
        <tr>
          <td style="padding:5px;">
            <table style="width:100%;">
              <tr>
                <td style="text-align:left; padding-top:5px; vertical-align:top;">
                  <%= t('cap.default_sort') %> 
                <% if !@login_user.nil? and (@login_user.admin?(User::AUTH_FOLDER) or @folder.in_my_folder_of?(@login_user.id)) %>
                  <select name="select_sorting">
                  <%
                  opts = []
                  opts << ['', '']
                  opts += ItemsHelper.sort_opts([:folder_id])
                  opts.each do |opt|
                    selected = ''
                    selected = 'selected' if (def_sort == opt.last)
                  %>
                    <option value="<%= opt.last %>" <%= selected %>><%= raw(opt.first) %></option>
                  <% end %>
                  </select>
                <% else %>
                  <%
                  disp = ''
                  ItemsHelper.sort_opts([:folder_id]).each do |opt|
                    if (def_sort == opt.last)
                      disp = opt.first
                      break
                    end
                  end
                  %>
                  <span style="background-color:white; font-weight:bold;"><%= raw(disp) %></span>
                <% end %>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      <% if !@login_user.nil? and (@login_user.admin?(User::AUTH_FOLDER) or @folder.in_my_folder_of?(@login_user.id)) %>
        <tr>
          <td style="text-align:center; padding-top:25px;">
            <input type="button" value="<%= t('btn.apply') %>" style="width:100px;" onclick="onApplyFolderDispCtrlClicked();">
          </td>
        </tr>
      <% end %>
      </table>
    </form>

    </td>
  </tr>
</table>

<%= render(:partial => 'common/flash_notice') %>


<script type="text/javascript">

onApplyFolderDispCtrlClicked = function()
{
  var thetisBoxProgress = prog("TOP-RIGHT");
  new Ajax.Updater(
      "div_view",
      document.form_folder_disp.action,
      {
        method:"post",
        parameters:Form.serialize(document.form_folder_disp),
        evalScripts:true,
        onComplete:function(request){
          thetisBoxProgress.remove();
        }
      }
    );
}

</script>

<% end %>

