<table style="width:100%; height:100%; background-color:honeydew;">
  <tr>
    <td style="vertical-align:top;">

<% if Folder.check_user_auth(@folder_id, @login_user, 'w', true) %>

  <% if @items.nil? or @items.empty? %>

      <table style="width:80%; margin:30px auto 0px;">
        <tr>
          <td style="text-align:center; padding:10px; color:firebrick; background-color:white; border:5px moccasin dashed;">
            <%= t('paren.no_items') %>
          </td>
        </tr>
      </table>

  <% else %>

      <table class="regular_table">
       <tbody id="sortable_items">
    <%
    users_cache = {}
    @items.each_with_index do |item, idx|
      if item.user_id.nil? or item.user_id == 0
        user_name = ''
      else
        user_name = User.get_name(item.user_id, users_cache)
      end
      %>
        <tr id="item_<%= item.id %>">
          <td nowrap>
            <%
            updated_at = ''
            unless item.updated_at.nil?
              updated_at = '( ' + item.updated_at.strftime(THETIS_DATE_FORMAT_YMD+' %H:%M') + ' )'
            end
            %>
            <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/up_down.gif" title="<%= t('msg.drag_to_change_orger') %>" style="cursor:move" />
            <%
            if item.public
              scope = '<span style="color:orangered;">' + t('schedule.public') + "</span>"
            else
              scope = '<span style="color:mediumblue;">' + t('schedule.private') + "</span>"
            end
            %>
            [<%= item.id %>]&nbsp;&nbsp;<span style="color:navy;"><%= truncate(item.title, :length => 20) %></span> <%= truncate(user_name, :length => 10) %> <span style="font-size:10pt"><%= updated_at %></span> <%= raw(scope) %>
          </td>
        </tr>
    <% end %>
       </tbody>
      </table>

<script type="text/javascript">

onItemsOrderUpdated = function()
{
  var addParams = [];
  addParams.push("id=<%= @items.first.folder_id %>");
  addParams.push(Sortable.serialize("sortable_items", { name: "items_order" }));
  addParams.push("authenticity_token=<%= form_authenticity_token %>");

  new Ajax.Request(
      "<%= url_for(:controller => 'folders', :action => 'update_items_order') %>",
      {
        method:"post",
        parameters:addParams.join("&")
      }
    );
}

Sortable.create(
    "sortable_items",
    {
      onUpdate: onItemsOrderUpdated,
      tag:"tr"
    }
  );

</script>

  <% end %>

<% else %>

      <table style="width:80%; margin:30px auto 0px;">
        <tr>
          <td style="vertical-align:top; padding:10px; color:firebrick; background-color:white; border:5px moccasin dashed;">
            <%= t('folder.need_auth_to_modify') %>
          </td>
        </tr>
      </table>

<% end %>

    </td>
  </tr>
</table>

