
<% if @folder.nil? %>

<table style="height:100%; width:100%; background-color:lightcyan;">
  <tr>
    <td style="vertical-align:top;">
      <br/><br/><br/>
      <table style="width:80%; margin:0px auto;">
        <tr>
          <td style="text-align:left; vertical-align:top; padding:10px; color:firebrick; background-color:white; border:5px moccasin dashed; border-radius:8px;">
            <%= t('folder.cannot_be_edited') %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<% else %>

<table id="view_sub" style="height:100%; width:100%; background-color:lightcyan;">
  <tr>
    <td style="vertical-align:top;">
      <table style="width:100%; border-spacing:2px;">
        <tr style="height:20px;">
          <td id="tab_users" class="tab_strip selected" nowrap style="background-color:blue;">
              <%= t('user.plural') %>
          </td>
          <td id="tab_groups" class="tab_strip" nowrap onclick="selectTabGroups(<%= @folder.id %>);">
              <%= t('group.plural') %>
          </td>
          <td id="tab_teams" class="tab_strip" nowrap onclick="selectTabTeams(<%= @folder.id %>);">
              <%= t('team.plural') %>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td style="vertical-align:top;">

      <%= form_tag( {:controller => 'folders', :action => 'set_auth_users', :id => ''}, :name => 'form_folder_auth', :method => 'post') %>
        <table style="width:100%; margin:10px 0px 15px;">
          <tr>
            <td style="padding:10px;">
              <table style="width:100%;">
                <tr>
                  <td id="div_selectUsers" style="text-align:left;">

                    <%= render(:partial => 'ajax_select_users') %>

                  </td>
                </tr>
                <tr style="height:5px;"><td></td></tr>
                <tr>
                  <td>
                    <table style="width:100%;">
                      <tr>
                        <td style="text-align:center;" nowrap>
                          <input type="button" value="<%= raw(t('arrow.down')) %><%= t('auth.read_write') %>" onclick="onAddUsersReadWriteClicked();" />
                          <input type="button" value="<%= raw(t('arrow.down')) %><%= t('auth.read') %>" onclick="onAddUsersReadClicked();" />
                          <input type="button" value="<%= raw(t('arrow.down')) %><%= t('auth.write') %>" onclick="onAddUsersWriteClicked();" />
                          <input type="button" value="<%= raw(t('arrow.up')) %><%= t('btn.remove') %>" onclick="onRemoveUsersClicked();" />
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr style="height:6px;"><td></td></tr>
                <tr>
                  <td>
                    <select class="select_multi" id="users_auth" name="users_auth[]" size="5" multiple="multiple">
                    <%
                     readWrite = @read_users & @write_users
                     readOnly = @read_users - @write_users
                     writeOnly = @write_users - @read_users
                     readWrite.each do |user_id|
                    %>
                      <option value="<%= user_id %>:r+w"><%= User.get_name(user_id) %> (Read/Write)</option>
                    <% end %>
                    <% readOnly.each do |user_id| %>
                      <option value="<%= user_id %>:r"><%= User.get_name(user_id) %> (Read)</option>
                    <% end %>
                    <% writeOnly.each do |user_id| %>
                      <option value="<%= user_id %>:w"><%= User.get_name(user_id) %> (Write)</option>
                    <% end %>
                    </select>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr style="height:20px;">
            <td>
              <table style="margin:20px auto 0px;">
                <tr>
                  <td class="prim_btn" onclick="doApplyAuthUsers(<%= @folder.id %>);">
                    <%= t('btn.apply') %>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </form>

    </td>
  </tr>
</table>

<%= render(:partial => 'common/flash_notice') %>

<script type="text/javascript">

modified_users = 0;
modified_groups = 0;
modified_teams = 0;

onAddUsersReadWriteClicked = function()
{
  var arr = moveListWithSuffix(_z("user_candidates"), _z("users_auth"), ":r+w", " (Read/Write)");
  if (arr != null && arr.length > 0) {
    modified_users++;
  }
}

onAddUsersReadClicked = function()
{
  var arr = moveListWithSuffix(_z("user_candidates"), _z("users_auth"), ":r", " (Read)");
  if (arr != null && arr.length > 0) {
    modified_users++;
  }
}

onAddUsersWriteClicked = function()
{
  var arr = moveListWithSuffix(_z("user_candidates"), _z("users_auth"), ":w", " (Write)");
  if (arr != null && arr.length > 0) {
    modified_users++;
  }
}

onRemoveUsersClicked = function()
{
  var arr = moveListTrimSuffix(_z("users_auth"), _z("user_candidates"), ":", "(");
  if (arr != null && arr.length > 0) {
    modified_users++;
  }
}

doSelectGroup = function(thetisBoxId)
{
  var thetisBox = ThetisBox.getInstance(thetisBoxId);
  if (thetisBox) {
    var treeNodeId = thetisBox.getSelectedTreeNodeId();
    if (treeNodeId) {
      ThetisBox.remove(thetisBoxId);

      var addParams = [];
      addParams.push("tree_node_id="+treeNodeId);
      addParams.push("id=<%= @folder.id %>");

      var thetisBoxProgress = prog("TOP-RIGHT");

      new Ajax.Updater(
          "div_selectUsers",
          "<%= url_for(:controller => 'folders', :action => 'get_group_users') %>",
          {
            method:"get",
            parameters:addParams.join("&"),
            evalScripts:true,
            onComplete:function(request) {
              thetisBoxProgress.remove();
            }
          }
        );
    }
  }
}

showGroupTreeToSelect = function(group_id)
{
  var thetisBox = new ThetisBox;
  thetisBox.show("CENTER", "", "TREE", "doSelectGroup("+thetisBox.id+")", "<%= t('group.select_to_show')%>", "");
  thetisBox.setTree("<%= url_for(:controller => 'groups', :action => 'ajax_get_tree') %>", group_id);
}

</script>

<% end %>
