<% if @folder.nil? %>

<table style="width:100%; margin:0px auto; background-color:lightcyan; height:100%;">
  <tr>
    <td style="vertical-align:top;">
      <br/><br/><br/>
      <table style="width:80%; margin:0px auto;">
        <tr>
          <td style="text-align:left; vertical-align:top; padding:10px; color:firebrick; background-color:white; border:5px moccasin dashed; border-radius:8px;">
            <%= t('folder.cannot_be_edited') %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<%
else
  @groups_cache ||= {}
  @group_obj_cache ||= {}
%>

<table style="width:100%; background-color:lightcyan; height:100%;">
  <tr>
    <td style="vertical-align:top;">
      <table style="width:100%; border-spacing:2px;">
        <tr>
          <td id="tab_users" class="td_tab" nowrap onclick="selectTabUsers(<%= @folder.id %>);">
              <%= t('user.plural') %>
          </td>
          <td id="tab_groups" class="td_tab selected" nowrap style="background-color:forestgreen;">
              <%= t('group.plural') %>
          </td>
          <td id="tab_teams" class="td_tab" nowrap onclick="selectTabTeams(<%= @folder.id %>);">
              <%= t('team.plural') %>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td style="vertical-align:top;">

      <%= form_tag( {:controller => 'folders', :action => 'set_auth_groups', :id => ''}, :name => 'form_folder_auth', :method => 'post') %>
        <table style="width:100%; margin:10px 0px 15px;">
          <tr>
            <td style="padding:10px;">
              <table style="width:100%;">
                <tr>
                  <td style="text-align:left;">
                    <%= t('cap.groups') %><br/>
                    <select id="group_candidates" name="group_candidates" class="select_multi" size="5" multiple="multiple">
                    <%
                     read_groups = @folder.get_read_groups_a
                     write_groups = @folder.get_write_groups_a
                     read_groups = [] if read_groups.nil?
                     write_groups = [] if write_groups.nil?
                     @groups.each do |group|
                       next if read_groups.include?(group.id.to_s)
                       next if write_groups.include?(group.id.to_s)
                    %>
                      <option value="<%= group.id %>"><%= Group.get_path(group.id, @groups_cache, @group_obj_cache) %></option>
                    <% end %>
                    </select>
                  </td>
                </tr>
                <tr style="height:5px;"><td></td></tr>
                <tr>
                  <td>
                    <table style="width:100%;">
                      <tr>
                        <td style="text-align:center;" nowrap>
                          <input type="button" value="<%= raw(t('arrow.down')) %><%= t('auth.read_write') %>" onclick="onAddGroupsReadWriteClicked();" />
                          <input type="button" value="<%= raw(t('arrow.down')) %><%= t('auth.read') %>" onclick="onAddGroupsReadClicked();" />
                          <input type="button" value="<%= raw(t('arrow.down')) %><%= t('auth.write') %>" onclick="onAddGroupsWriteClicked();" />
                          <input type="button" value="<%= raw(t('arrow.up')) %><%= t('btn.remove') %>" onclick="onRemoveGroupsClicked();" />
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr style="height:6px;"><td></td></tr>
                <tr>
                  <td>
                    <select id="groups_auth" name="groups_auth[]" class="select_multi" size="5" multiple="multiple">
                    <%
                     readWrite = read_groups & write_groups
                     readOnly = read_groups - write_groups
                     writeOnly = write_groups - read_groups
                     readWrite.each do |group_id|
                    %>
                      <option value="<%= group_id %>:r+w"><%= Group.get_path(group_id, @groups_cache, @group_obj_cache) %> (Read/Write)</option>
                    <% end %>
                    <% readOnly.each do |group_id| %>
                      <option value="<%= group_id %>:r"><%= Group.get_path(group_id, @groups_cache, @group_obj_cache) %> (Read)</option>
                    <% end %>
                    <% writeOnly.each do |group_id| %>
                      <option value="<%= group_id %>:w"><%= Group.get_path(group_id, @groups_cache, @group_obj_cache) %> (Write)</option>
                    <% end %>
                    </select>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr style="height:20px;">
            <td>
              <table style="margin:20px auto 0px;">
                <tr>
                  <td class="img_button_td" onclick="doApplyAuthGroups(<%= @folder.id %>);">
                    <%= t('btn.apply') %>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </form>

    </td>
  </tr>
</table>

<% end %>

<%= render(:partial => 'common/flash_notice') %>

<script type="text/javascript">

modified_users = 0;
modified_groups = 0;
modified_teams = 0;

onAddGroupsReadWriteClicked = function()
{
  var arr = moveListWithSuffix(_z("group_candidates"), _z("groups_auth"), ":r+w", " (Read/Write)");
  if (arr != null && arr.length > 0) {
    modified_groups++;
  }
}

onAddGroupsReadClicked = function()
{
  var arr = moveListWithSuffix(_z("group_candidates"), _z("groups_auth"), ":r", " (Read)");
  if (arr != null && arr.length > 0) {
    modified_groups++;
  }
}

onAddGroupsWriteClicked = function()
{
  var arr = moveListWithSuffix(_z("group_candidates"), _z("groups_auth"), ":w", " (Write)");
  if (arr != null && arr.length > 0) {
    modified_groups++;
  }
}

onRemoveGroupsClicked = function()
{
  var arr = moveListTrimSuffix(_z("groups_auth"), _z("group_candidates"), ":", "(");
  if (arr != null && arr.length > 0) {
    modified_groups++;
  }
}

</script>
