<% if @folder.nil? %>

<table style="width:100%; background-color:lightcyan; height:100%;">
  <tr>
    <td style="vertical-align:top;">
      <br/><br/><br/>
      <table style="width:80%; margin:0px auto;">
        <tr>
          <td style="text-align:left; vertical-align:top; padding:10px; color:firebrick; background-color:white; border:5px moccasin dashed; border-radius:8px;">
            <%= t('folder.cannot_be_edited') %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<% else %>

<table style="width:100%; background-color:lightcyan; height:100%;">
  <tr>
    <td style="vertical-align:top;">
      <table style="width:100%; border-spacing:2px;">
        <tr>
          <td id="tab_users" class="td_item_tab" nowrap onclick="selectTabUsers(<%= @folder.id %>);">
              <%= t('user.plural') %>
          </td>
          <td id="tab_groups" class="td_item_tab" nowrap onclick="selectTabGroups(<%= @folder.id %>);">
              <%= t('group.plural') %>
          </td>
          <td id="tab_teams" class="td_item_tab selected" nowrap style="background-color:brown;">
              <%= t('team.plural') %>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td style="vertical-align:top;">

      <%= form_tag( {:controller => 'folders', :action => 'set_auth_teams', :id => ''}, :name => 'form_folder_auth', :method => 'post') %>
        <table style="width:100%; margin:10px 0px 15px;">
          <tr>
            <td style="padding:10px;">
              <table style="width:100%;">
                <tr>
                  <td style="text-align:left;">
                    <%= t('cap.teams') %><br/>
                    <select id="team_candidates" name="team_candidates" class="select_multi" size="5" multiple="multiple">
                    <%
                     read_teams = @folder.get_read_teams_a
                     write_teams = @folder.get_write_teams_a
                     read_teams = [] if read_teams.nil?
                     write_teams = [] if write_teams.nil?
                     @teams.each do |team|
                       next if read_teams.include?(team.id.to_s)
                       next if write_teams.include?(team.id.to_s)
                    %>
                      <option value="<%= team.id %>"><%= team.name %></option>
                    <% end %>
                    </select>
                  </td>
                </tr>
                <tr style="height:5px;"><td></td></tr>
                <tr>
                  <td>
                    <table style="width:100%;">
                      <tr>
                        <td style="text-align:center;" nowrap>
                          <input type="button" value="<%= raw(t('arrow.down')) %><%= t('auth.read_write') %>" onclick="onAddTeamsReadWriteClicked();" />
                          <input type="button" value="<%= raw(t('arrow.down')) %><%= t('auth.read') %>" onclick="onAddTeamsReadClicked();" />
                          <input type="button" value="<%= raw(t('arrow.down')) %><%= t('auth.write') %>" onclick="onAddTeamsWriteClicked();" />
                          <input type="button" value="<%= raw(t('arrow.up')) %><%= t('btn.remove') %>" onclick="onRemoveTeamsClicked();" />
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr style="height:6px;"><td></td></tr>
                <tr>
                  <td>
                    <select id="teams_auth" name="teams_auth[]" class="select_multi" size="5" multiple="multiple">
                    <%
                     readWrite = read_teams & write_teams
                     readOnly = read_teams - write_teams
                     writeOnly = write_teams - read_teams
                     readWrite.each do |team_id|
                    %>
                      <option value="<%= team_id %>:r+w"><%= Team.get_name(team_id) %> (Read/Write)</option>
                    <% end %>
                    <% readOnly.each do |team_id| %>
                      <option value="<%= team_id %>:r"><%= Team.get_name(team_id) %> (Read)</option>
                    <% end %>
                    <% writeOnly.each do |team_id| %>
                      <option value="<%= team_id %>:w"><%= Team.get_name(team_id) %> (Write)</option>
                    <% end %>
                    </select>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr style="height:20px;">
            <td>
              <table style="margin:20px auto 0px;">
                <tr>
                  <td class="img_button_td" onclick="doApplyAuthTeams(<%= @folder.id %>);">
                    <%= t('btn.apply') %>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </form>

    </td>
  </tr>
</table>

<% end %>

<%= render(:partial => 'common/flash_notice') %>

<script type="text/javascript">

modified_users = 0;
modified_groups = 0;
modified_teams = 0;

onAddTeamsReadWriteClicked = function()
{
  var arr = moveListWithSuffix(_z("team_candidates"), _z("teams_auth"), ":r+w", " (Read/Write)");
  if (arr != null && arr.length > 0) {
    modified_teams++;
  }
}

onAddTeamsReadClicked = function()
{
  var arr = moveListWithSuffix(_z("team_candidates"), _z("teams_auth"), ":r", " (Read)");
  if (arr != null && arr.length > 0) {
    modified_teams++;
  }
}

onAddTeamsWriteClicked = function()
{
  var arr = moveListWithSuffix(_z("team_candidates"), _z("teams_auth"), ":w", " (Write)");
  if (arr != null && arr.length > 0) {
    modified_teams++;
  }
}

onRemoveTeamsClicked = function()
{
  var arr = moveListTrimSuffix(_z("teams_auth"), _z("team_candidates"), ":", "(");
  if (arr != null && arr.length > 0) {
    modified_teams++;
  }
}

</script>
