
<% if @folder.nil? %>

<table style="height:100%; width:100%; background-color:lightcyan;" cellpadding="0" cellspacing="0">
  <tr>
    <td style="vertical-align:top;">
      <br/><br/><br/>
      <table style="width:80%; margin:0px auto;" cellpadding="0" cellspacing="0">
        <tr>
          <td style="text-align:left; vertical-align:top; padding:10px; color:firebrick; background-color:white; border:5px moccasin dashed;">
            <%= t('folder.cannot_be_edited') %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<% else %>

<table id="view_sub" cellspacing="0" cellpadding="0" style="height:100%; width:100%; background-color:lightcyan;">
  <tr>
    <td style="vertical-align:top;">
      <table cellspacing="2" cellpadding="0" style="width:100%;">
        <tr style="height:20px;">
          <td id="tab_users" class="td_item_tab selected" nowrap style="background-color:blue;">
              <%= t('user.plural') %>
          </td>
          <td id="tab_groups" class="td_item_tab" nowrap onclick="selectTabGroups(<%= @folder.id %>);">
              <%= t('group.plural') %>
          </td>
          <td id="tab_teams" class="td_item_tab" nowrap onclick="selectTabTeams(<%= @folder.id %>);">
              <%= t('team.plural') %>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td style="vertical-align:top;">

      <%= form_tag( {:controller => 'folders', :action => 'set_auth_users', :id => ''}, :name => 'form_folder_auth', :method => 'post') %>
        <table cellspacing="0" cellpadding="0" style="width:100%; margin:10px 0px 15px;">
          <tr>
            <td style="padding:10px;">
              <table cellspacing="0" cellpadding="0" style="width:100%;">
                <tr>
                  <td id="div_selectUsers" style="text-align:left;">

                    <%= render(:partial => 'ajax_select_users') %>

                  </td>
                </tr>
                <tr style="height:5px;"><td></td></tr>
                <tr>
                  <td>
                    <table cellspacing="0" cellpadding="0" style="width:100%;">
                      <tr>
                        <td style="text-align:center;" nowrap>
                          <input type="button" value="<%= raw(t('arrow.down')) %><%= t('auth.read_write') %>" onclick="var ary=moveListWithSuffix(_z('user_candidates'), _z('users_auth'), ':r+w', ' (Read/Write)'); if (ary != null && ary.length > 0) {modified_users++;} return false;">
                          <input type="button" value="<%= raw(t('arrow.down')) %><%= t('auth.read') %>" onclick="var ary=moveListWithSuffix(_z('user_candidates'), _z('users_auth'), ':r', ' (Read)'); if (ary != null && ary.length > 0) {modified_users++;} return false;">
                          <input type="button" value="<%= raw(t('arrow.down')) %><%= t('auth.write') %>" onclick="var ary=moveListWithSuffix(_z('user_candidates'), _z('users_auth'), ':w', ' (Write)'); if (ary != null && ary.length > 0) {modified_users++;} return false;">
                          <input type="button" value="<%= raw(t('arrow.up')) %><%= t('btn.remove') %>" onclick="var ary=moveListTrimSuffix(_z('users_auth'), _z('user_candidates'), ':', '('); if (ary != null && ary.length > 0) {modified_users++;} return false;">
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr style="height:6px;"><td></td></tr>
                <tr>
                  <td>
                    <select class="select_multi" id="users_auth" name="users_auth[]" size="5" multiple="multiple">
                    <%
                     readWrite = @read_users & @write_users
                     readOnly = @read_users - @write_users
                     writeOnly = @write_users - @read_users
                     readWrite.each do |user_id|
                    %>
                      <option value="<%= user_id %>:r+w"><%= User.get_name(user_id) %> (Read/Write)</option>
                    <% end %>
                    <% readOnly.each do |user_id| %>
                      <option value="<%= user_id %>:r"><%= User.get_name(user_id) %> (Read)</option>
                    <% end %>
                    <% writeOnly.each do |user_id| %>
                      <option value="<%= user_id %>:w"><%= User.get_name(user_id) %> (Write)</option>
                    <% end %>
                    </select>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr style="height:20px;">
            <td>
              <table style="margin:20px auto 0px;" cellspacing="0" cellpadding="0">
                <tr>
                  <td class="img_button_td" onclick="doApplyAuthUsers(<%= @folder.id %>);">
                    <%= t('btn.apply') %>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </form>

    </td>
  </tr>
</table>

<%= render(:partial => 'common/flash_notice') %>

<script type="text/javascript">

modified_users = 0;
modified_groups = 0;
modified_teams = 0;

doSelectGroup = function(frm)
{
  var addParams = new Array();
  addParams.push(Form.serialize(frm));
  addParams.push("authenticity_token=<%= form_authenticity_token %>");

  var thetisBoxProgress = prog("TOP-RIGHT");

  new Ajax.Updater(
      "div_selectUsers",
      "<%= url_for(:controller => 'folders', :action => 'get_group_users', :id => @folder.id) %>",
      {
        parameters:addParams.join("&"),
        asynchronous:true,
        evalScripts:true,
        onComplete:function(request) {
          thetisBoxProgress.remove();
        }
      }
    );
}

showGroupTreeToSelect = function(group_id)
{
  var thetisBox = new ThetisBox;
  thetisBox.setFormTag("<form action=\"\" method=\"post\" onsubmit=\"doSelectGroup(this); return false;\">");
  thetisBox.show("CENTER", "", "TREE", "", "<%= t('group.select_to_show')%>", "");
  thetisBox.setTree("<%= url_for(:controller => 'groups', :action => 'ajax_get_tree') %>", group_id);
}
</script>

<% end %>
