<%
unless @yaml_timecard['default_breaks'].nil?
  @yaml_timecard['default_breaks'].each do |spans|
    org_start = spans.first
    org_end = spans.last
    brk = (UtilDateTime.create(org_end).to_time - UtilDateTime.create(org_start).to_time) / 60 / 60
%>
<div nowrap>
<%= (brk <= 0.0)?'':brk %>
<span style="color:orangered;">
  (
  <%= org_start.strftime('%H:%M') %>
  ~
  <%= org_end.strftime('%H:%M') %>
  )
</span>
&nbsp;<img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/edit.gif" title="<%= t('btn.edit') %>" onclick="inputBreak('<%= org_start.strftime(Schedule::SYS_DATETIME_FORM) %>', '<%= org_end.strftime(Schedule::SYS_DATETIME_FORM) %>'); return false;" />
&nbsp;<img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/delete.gif" title="<%= t('btn.delete') %>" onclick="doDeleteBreak('<%= org_start.strftime(Schedule::SYS_DATETIME_FORM) %>', '<%= org_end.strftime(Schedule::SYS_DATETIME_FORM) %>'); return false;" />
</div>
<%
  end
end
%>

<div class="button_gray" style="float:left; margin-top:2px;" onclick="inputBreak();">
  <%= t('btn.add') %>
</div>

<%= render(:partial => 'common/flash_notice') %>
