<div style="padding:3px;">
<table class='timecard' style="width:100%;">
  <tr>
    <td style="text-align:center; width:14%;" nowrap><%= t('msg.year') %></td>
    <td style="text-align:center; width:19%; background-color:#C6D3EF;" nowrap><%= t('timecard.given_days') %></td>
    <td style="text-align:center; width:19%; background-color:#C6D3EF;" nowrap><%= t('timecard.carried_over') %></td>
    <td style="text-align:center; width:10%; background-color:#B9FFBC;" nowrap><%= t('msg.total') %></td>
    <td style="text-align:center; width:19%; background-color:#D6ECFA;" nowrap><%= t('timecard.applied_days') %></td>
    <td style="text-align:center; width:19%; background-color:#D6ECFA;" nowrap><%= t('timecard.remainder') %></td>
  </tr>
<%
yaml = ApplicationHelper.get_config_yaml

edit = (params[:edit] == 'true')
start_date, end_date = Timecard.get_exist_span(@selected_user.id)

if @paid_holidays.nil? or @paid_holidays.empty?
  if start_date.nil? or end_date.nil?
    if edit
      year_begins_from, month_begins_at = TimecardsHelper.get_fiscal_params(yaml)
      fiscal_year = TimecardsHelper.get_fiscal_year(Date.today, year_begins_from, month_begins_at)
      start_year = fiscal_year
      end_year = fiscal_year
    else
      start_year = 0
      end_year = -1
    end
  else
    start_year = start_date.year
    end_year = end_date.year
  end
else
  if start_date.nil? or end_date.nil?
    start_year = @paid_holidays.first.year
    end_year = @paid_holidays.last.year
  else
    start_year = (start_date.year < @paid_holidays.first.year)?(start_date.year):(@paid_holidays.first.year)
    end_year = (end_date.year > @paid_holidays.last.year)?(end_date.year):(@paid_holidays.last.year)
  end
end

if start_year > end_year and !edit
%>
  <tr style="height:50px;">
    <td style="text-align:center; color:mediumblue;" colspan="6">
      <%= t('paren.no_entries') %>
    </td>
  </tr>
<%
else

  i = 0

  if edit
    year = start_year - 1
    i += 1

    if yaml[:timecard].nil? or yaml[:timecard]['paidhld_per_year'].nil?
      paidhld_per_year = 0
    else
      paidhld_per_year = yaml[:timecard]['paidhld_per_year']
    end
%>
  <tr style="background-color:white;">
    <td style="text-align:center;" nowrap>
      <%= year %>
    </td>
    <td style="text-align:center; color:blue;">
      -
      &nbsp;<img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/edit.png" title="<%= t('btn.edit') %>" onclick="showUpdateGivenDays(<%= @selected_user.id %>, <%= year %>, <%= paidhld_per_year %>);" />
    </td>
    <td style="text-align:center;">-</td>
    <td style="text-align:center;">-</td>
    <td style="text-align:center;">-</td>
    <td style="text-align:center;">-</td>
  </tr>
<%
  end

  for year in start_year..end_year
    bgcolor = (i%2 == 1) ? 'gainsboro' : 'white'
    i += 1

    unless @paid_holidays.nil? or @paid_holidays.empty?
      paid_hld = @paid_holidays.find{ |hld| hld.year == year }
    end
%>
  <tr style="background-color:<%= bgcolor %>;">
    <td style="text-align:center;" nowrap>
      <%= year %>
    </td>
    <%
    style = ''
    style = 'color:blue;' if edit
    %>
    <td style="text-align:center; <%= raw(style) %>">
      <% given_num = (paid_hld.nil?)?0:paid_hld.num %>
      <%= given_num %>
    <% if edit %>
      &nbsp;<img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/edit.png" title="<%= t('btn.edit') %>" onclick="showUpdateGivenDays(<%= @selected_user.id %>, <%= year %>, <%= given_num %>);" />
    <% end %>
    </td>
    <td style="text-align:center;">
      <% carried_over = PaidHoliday.get_carried_over(@selected_user.id, year) %>
      <%= carried_over %>
    </td>
    <td style="text-align:center;">
      <% total = given_num + carried_over %>
      <%= total %>
    </td>
    <td style="text-align:center;">
      <%
      year_start, year_end = TimecardsHelper.get_year_span(year, @year_begins_from, @month_begins_at)
      applied_paid_hlds = Timecard.applied_paid_hlds(@selected_user.id, year_start, year_end)
      %>
      <%= applied_paid_hlds %>
    </td>
    <%
    remainder_num = total - applied_paid_hlds
    style = ''
    style = 'color:red;' if remainder_num < 0
    %>
    <td style="text-align:center; <%= raw(style) %>">
      <%= remainder_num %>
    </td>
  </tr>
<%
  end

  if edit
    year = end_year + 1
    bgcolor = (i%2 == 1) ? 'gainsboro' : 'white'
%>
  <tr style="background-color:<%= bgcolor %>;">
    <td style="text-align:center;" nowrap>
      <%= year %>
    </td>
    <td style="text-align:center; color:blue;">
      -
      &nbsp;<img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/edit.png" title="<%= t('btn.edit') %>" onclick="showUpdateGivenDays(<%= @selected_user.id %>, <%= year %>, <%= paidhld_per_year %>);" />
    </td>
    <td style="text-align:center;">-</td>
    <td style="text-align:center;">-</td>
    <td style="text-align:center;">-</td>
    <td style="text-align:center;">-</td>
  </tr>
<%
  end
end
%>
</table>
</div>

<%= render(:partial => 'common/flash_notice') %>
