
<%= form_tag( {:controller => 'timecards', :action => 'group'}, :name => 'form_display', :method => 'get') %>
  <table style="margin:0px auto; width:98%;">
    <tr>
      <td style="text-align:left; width:30%;">
      <% if !@login_user.nil? and @login_user.admin?(User::AUTH_TIMECARD) %>
        <table style="margin:0px auto 0px 0px; width:65px;">
          <tr>
            <td style="text-align:left; width:30px;" nowrap >
              <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/config.png" title="<%= t('btn.config') %>" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'timecards', :action => 'configure') %>';">
            </td>
          </tr>
        </table>
      <% end %>
      </td>
      <td style="text-align:center; width:40%;" nowrap></td>
      <td style="text-align:right; width:30%;" nowrap>
        <%
        display = []
        unless @user.nil?
          user_name = @user.get_name_for_timecard
          if @login_user != @user
            display << [h(user_name), 'user_'+@user.id.to_s]
          end
        end
        display << [h(t('timecard.my_timecard')), 'mine']
        unless @login_user.nil?
          groups_a = @login_user.get_groups_a
          groups_a.each do |group_id|
            display << [h(Group.get_name(group_id)), 'group_'+group_id]
          end
          # teams_a = @login_user.get_teams_a
          # teams_a.each do |team_id|
          #   display << [h(Team.get_name(team_id)), 'team_'+team_id]
          # end
          if !@group_id.nil? and !groups_a.include?(@group_id)
            display << [h(Group.get_name(@group_id)), 'group_'+@group_id]
          end
          if !@login_user.nil? and @login_user.admin?(User::AUTH_TIMECARD)
            display << [h(t('group.other_group')), 'group_other']
          end
        end
        %>
        <%= t('cap.display') %>
        <%= select_tag 'display',
             options_for_select(display, params[:display]),
             :onchange => "if (this.options[this.selectedIndex].value=='group_other') { showGroupTree(); } else { submit(); prog('TOP-RIGHT'); }"
        %>
      </td>
    </tr>
  </table>
</form>

<script type="text/javascript">

function doSelectGroup(thetisBoxId)
{
  var thetisBox = ThetisBox.getInstance(thetisBoxId);
  var display = _z("display");

  if (thetisBox && display) {
    prog("TOP-RIGHT");
    display.options[display.selectedIndex].value = "group_" + thetisBox.getSelectedTreeNodeId();
    document.form_display.submit();
  }
}

function showGroupTree()
{
  var thetisBox = new ThetisBox;
  thetisBox.show("CENTER", "", "TREE", "doSelectGroup("+thetisBox.id+")", "<%= t('group.select_to_show')%>", "");
  thetisBox.setTree("<%= url_for(:controller => 'groups', :action => 'ajax_get_tree') %>", "");
}

</script>

