
<%= form_tag( {:controller => 'timecards', :action => 'update_config'}, :name => 'form_config', :method => 'post') %>

<table style="width:100%; padding-top:15px;">
  <tr>
    <td style="width:45%; vertical-align:top;">

      <div class="info_area" style="width:100%; padding:20px 0px 10px; text-align:center;" >
        <table style="margin:0px auto; width:85%; border-spacing:2px;">
          <tr>
            <td class="spec_cap" colspan="2" nowrap style="width:100%;">
              <%= t('config.general_settings') %>
            </td>
          </tr>
          <tr>
            <td class="spec_cap" nowrap>
              <%= t('timecard.year_begins_from') %>
            </td>
            <td class="spec_value" style="width:70%;">
              <select id="year_begins_from" name="timecard[year_begins_from]">
              <%
              year_begins_from = @yaml_timecard['year_begins_from']
              for month in 1..12 do
                selected = ''
                if month.to_s == year_begins_from
                  selected = 'selected'
                end
              %>
                <option value= "<%= month %>" <%= selected %>><%= month %></option>
              <% end %>
              </select>
              <%= t('timecard.month') %>
            </td>
          </tr>
          <tr>
            <td class="spec_cap" nowrap>
              <%= t('timecard.month_begins_at') %>
            </td>
            <td class="spec_value" style="width:70%;">
              <select id="month_begins_at" name="timecard[month_begins_at]">
              <%
              month_begins_at = @yaml_timecard['month_begins_at']
              for day in 1..28 do
                selected = ''
                if day.to_s == month_begins_at
                  selected = 'selected'
                end
              %>
                <option value= "<%= day %>" <%= selected %>><%= day %></option>
              <% end %>
              </select>
              <%= t('timecard.day') %>
            </td>
          </tr>
          <tr>
            <td class="spec_cap" nowrap>
              <%= t('user.u_name') %>
            </td>
            <td class="spec_value" style="width:70%;">
              <% checked = (@yaml_timecard['always_by_full_name']=='1')?'checked':'' %>
              <input name="timecard[always_by_full_name]" type="hidden" value="0" />
              <input type="checkbox" id="always_by_full_name" name="timecard[always_by_full_name]" value="1" <%= checked %>><label for="always_by_full_name"><%= t('timecard.always_fullname') %></label>
            </td>
          </tr>
        </table>
      </div>

      <div class="info_area" style="width:100%; padding:20px 0px; text-align:center;" >
        <table style="margin:0px auto; width:85%; border-spacing:2px;">
          <tr>
            <td class="spec_cap" colspan="2" nowrap style="width:100%;">
              <%= t('menu.paid_holidays') %>
            </td>
          </tr>
          <tr>
            <td class="spec_cap" nowrap>
              <%= t('timecard.default_days') %>
            </td>
            <td class="spec_value" style="width:70%">
              <%
              days = 0
              unless @yaml_timecard['paidhld_per_year'].nil?
                days = @yaml_timecard['paidhld_per_year']
              end
              %>
              <input type="text" id="paidhld_per_year" name="timecard[paidhld_per_year]" value="<%= days %>" style="width:50px" /> <%= t('timecard.days_per_year') %>
            </td>
          </tr>
          <tr>
            <td class="spec_cap" nowrap>
              <%= t('timecard.carry_over') %>
            </td>
            <td class="spec_value">
              <%
              paidhld_carry_over = @yaml_timecard['paidhld_carry_over']
              checked_none = (paidhld_carry_over == PaidHoliday::CARRY_OVER_NONE)?'checked':''
              checked_1_year = (paidhld_carry_over == PaidHoliday::CARRY_OVER_1_YEAR)?'checked':''
              checked_no_expiration = (paidhld_carry_over == PaidHoliday::CARRY_OVER_NO_EXPIRATION)?'checked':''
              %>
              <input type="radio" id="paidhld_carryover_none" name="timecard[paidhld_carry_over]" value="<%= PaidHoliday::CARRY_OVER_NONE %>" <%= checked_none %>><label for="paidhld_carryover_none"><%= t('msg.none') %></label><br/>
              <input type="radio" id="paidhld_carryover_1_year" name="timecard[paidhld_carry_over]" value="<%= PaidHoliday::CARRY_OVER_1_YEAR %>" <%= checked_1_year %>><label for="paidhld_carryover_1_year"><%= t('timecard.one_year') %></label><br/>
              <input type="radio" id="paidhld_carryover_no_expiration" name="timecard[paidhld_carry_over]" value="<%= PaidHoliday::CARRY_OVER_NO_EXPIRATION %>" <%= checked_no_expiration %>><label for="paidhld_carryover_no_expiration"><%= t('timecard.no_expiration') %></label><br/>
            </td>
          </tr>
        </table>
      </div>

    </td>
    <td style="width:10px;">&nbsp;</td>
    <td style="width:54%; vertical-align:top;">

      <div class="info_area" style="width:100%; padding:10px 0px 20px; text-align:center;">
        <table style="margin:0px auto; width:85%; border-spacing:2px;">
          <tr>
            <td class="spec_cap" colspan="2" nowrap style="width:100%;">
              <%= t('timecard.working_rules') %>
            </td>
          </tr>
          <tr>
            <td class="spec_cap">
              <%= t('timecard.default_breaks') %>
            </td>
            <td class="spec_value" style="width:70%;">
              <div id="div_break">
                <%= render(:partial => 'ajax_config_break') %>
              </div>
            </td>
          </tr>
          <tr>
            <td class="spec_cap">
              <%= t('timecard.standard_labor_time') %>
              <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/info.png" onclick="msg('<%= t('timecard.standard_labor_time_info')%><br/>');">
            </td>
            <td class="spec_value" style="width:70%">
              <div class="time_select" style="padding-bottom:5px;">
                <select id="standard_hours_hour">
                <%
                standard_hours = @yaml_timecard['standard_hours']
                cur_hour = nil
                unless standard_hours.nil? or standard_hours.empty?
                  cur_hour = standard_hours.split(':').first.to_i
                end

                THETIS_HOURS.each do |hour|
                  selected = ''
                  if hour == cur_hour
                    selected = 'selected'
                  end
                %>
                  <option value="<%= hour %>" <%= selected %>><%= sprintf('%d', hour) %></option>
                <% end %>
                </select>
                <%= t('msg.hours') %>
                <select id="standard_hours_min">
                <%
                cur_min = nil
                unless standard_hours.nil? or standard_hours.empty?
                  cur_min = standard_hours.split(':').last.to_i
                end

                THETIS_MINUTES.each do |min|
                  selected = ''
                  if min == cur_min
                    selected = 'selected'
                  end
                %>
                  <option value="<%= min %>" <%= selected %>><%= sprintf('%02d', min) %></option>
                <% end %>
                </select>
                <%= t('msg.minutes') %>
              </div>
              <div class="time_select" style="background-color:#ffe3ec; padding:5px 15px;" nowrap>
                <%= t('timecard.for_off_am') %><br/>
                <select id="standard_hours_hour_when_off_am">
                <%
                standard_hours_when_off_am = @yaml_timecard['standard_hours_when_off_am']
                cur_hour = nil
                unless standard_hours_when_off_am.nil? or standard_hours_when_off_am.empty?
                  cur_hour = standard_hours_when_off_am.split(':').first.to_i
                end

                THETIS_HOURS.each do |hour|
                  selected = ''
                  if hour == cur_hour
                    selected = 'selected'
                  end
                %>
                  <option value="<%= hour %>" <%= selected %>><%= sprintf('%d', hour) %></option>
                <% end %>
                </select>
                <%= t('msg.hours') %>
                <select id="standard_hours_min_when_off_am">
                <%
                cur_min = nil
                unless standard_hours_when_off_am.nil? or standard_hours_when_off_am.empty?
                  cur_min = standard_hours_when_off_am.split(':').last.to_i
                end

                THETIS_MINUTES.each do |min|
                  selected = ''
                  if min == cur_min
                    selected = 'selected'
                  end
                %>
                  <option value="<%= min %>" <%= selected %>><%= sprintf('%02d', min) %></option>
                <% end %>
                </select>
                <%= t('msg.minutes') %>
              </div>
              <div class="time_select" style="background-color:#ffe3ec; padding:5px 15px;" nowrap>
                <%= t('timecard.for_off_pm') %><br/>
                <select id="standard_hours_hour_when_off_pm">
                <%
                standard_hours_when_off_pm = @yaml_timecard['standard_hours_when_off_pm']
                cur_hour = nil
                unless standard_hours_when_off_pm.nil? or standard_hours_when_off_pm.empty?
                  cur_hour = standard_hours_when_off_pm.split(':').first.to_i
                end

                THETIS_HOURS.each do |hour|
                  selected = ''
                  if hour == cur_hour
                    selected = 'selected'
                  end
                %>
                  <option value="<%= hour %>" <%= selected %>><%= sprintf('%d', hour) %></option>
                <% end %>
                </select>
                <%= t('msg.hours') %>
                <select id="standard_hours_min_when_off_pm">
                <%
                cur_min = nil
                unless standard_hours_when_off_pm.nil? or standard_hours_when_off_pm.empty?
                  cur_min = standard_hours_when_off_pm.split(':').last.to_i
                end

                THETIS_MINUTES.each do |min|
                  selected = ''
                  if min == cur_min
                    selected = 'selected'
                  end
                %>
                  <option value="<%= min %>" <%= selected %>><%= sprintf('%02d', min) %></option>
                <% end %>
                </select>
                <%= t('msg.minutes') %>
              </div>
            </td>
          </tr>
          <tr>
            <td class="spec_cap">
              <%= t('timecard.commence_at') %>
              <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/info.png" onclick="msg('<%= t('timecard.commence_at_info')%><br/>');">
            </td>
            <td class="spec_value" style="width:70%">
              <div class="time_select" style="padding-bottom:5px;">
                <select id="commence_at_hour" onchange="changeHour(this.value, _z('commence_at_min'));">
                  <option value=""></option>
                <%
                commence_at = @yaml_timecard['commence_at']
                cur_hour = nil
                unless commence_at.nil? or commence_at.empty?
                  cur_hour = commence_at.split(':').first.to_i
                end

                THETIS_HOURS.each do |hour|
                  selected = ''
                  if hour == cur_hour
                    selected = 'selected'
                  end
                %>
                  <option value="<%= hour %>" <%= selected %>><%= sprintf('%d', hour) %></option>
                <% end %>
                </select>
                :
                <select id="commence_at_min" onchange="changeMin(this.value, _z('commence_at_hour'));">
                  <option value=""></option>
                <%
                cur_min = nil
                unless commence_at.nil? or commence_at.empty?
                  cur_min = commence_at.split(':').last.to_i
                end

                THETIS_MINUTES.each do |min|
                  selected = ''
                  if min == cur_min
                    selected = 'selected'
                  end
                %>
                  <option value="<%= min %>" <%= selected %>><%= sprintf('%02d', min) %></option>
                <% end %>
                </select>
              </div>
              <div class="time_select" style="background-color:#ffe3ec; padding:5px 15px;" nowrap>
                <%= t('timecard.for_off_am') %><br/>
                <select id="commence_at_hour_when_off_am" onchange="changeHour(this.value, _z('commence_at_min_when_off_am'));">
                  <option value=""></option>
                <%
                commence_at_when_off_am = @yaml_timecard['commence_at_when_off_am']
                cur_hour = nil
                unless commence_at_when_off_am.nil? or commence_at_when_off_am.empty?
                  cur_hour = commence_at_when_off_am.split(':').first.to_i
                end

                THETIS_HOURS.each do |hour|
                  selected = ''
                  if hour == cur_hour
                    selected = 'selected'
                  end
                %>
                  <option value="<%= hour %>" <%= selected %>><%= sprintf('%d', hour) %></option>
                <% end %>
                </select>
                :
                <select id="commence_at_min_when_off_am" onchange="changeMin(this.value, _z('commence_at_hour_when_off_am'));">
                  <option value=""></option>
                <%
                cur_min = nil
                unless commence_at_when_off_am.nil? or commence_at_when_off_am.empty?
                  cur_min = commence_at_when_off_am.split(':').last.to_i
                end

                THETIS_MINUTES.each do |min|
                  selected = ''
                  if min == cur_min
                    selected = 'selected'
                  end
                %>
                  <option value="<%= min %>" <%= selected %>><%= sprintf('%02d', min) %></option>
                <% end %>
                </select>
              </div>
            </td>
          </tr>
          <tr>
            <td class="spec_cap">
              <%= t('timecard.close_at') %>
              <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/info.png" onclick="msg('<%= t('timecard.close_at_info')%><br/>');">
            </td>
            <td class="spec_value" style="width:70%">
              <div class="time_select" style="padding-bottom:5px;">
                <select id="close_at_hour" onchange="changeHour(this.value, _z('close_at_min'));">
                  <option value=""></option>
                <%
                close_at = @yaml_timecard['close_at']
                cur_hour = nil
                unless close_at.nil? or close_at.empty?
                  cur_hour = close_at.split(':').first.to_i
                end

                THETIS_HOURS.each do |hour|
                  selected = ''
                  if hour == cur_hour
                    selected = 'selected'
                  end
                %>
                  <option value="<%= hour %>" <%= selected %>><%= sprintf('%d', hour) %></option>
                <% end %>
                </select>
                :
                <select id="close_at_min" onchange="changeMin(this.value, _z('close_at_hour'));">
                  <option value=""></option>
                <%
                cur_min = nil
                unless close_at.nil? or close_at.empty?
                  cur_min = close_at.split(':').last.to_i
                end

                THETIS_MINUTES.each do |min|
                  selected = ''
                  if min == cur_min
                    selected = 'selected'
                  end
                %>
                  <option value="<%= min %>" <%= selected %>><%= sprintf('%02d', min) %></option>
                <% end %>
                </select>
              </div>
              <div class="time_select" style="background-color:#ffe3ec; padding:5px 15px;" nowrap>
                <%= t('timecard.for_off_pm') %><br/>
                <select id="close_at_hour_when_off_pm" onchange="changeHour(this.value, _z('close_at_min_when_off_pm'));">
                  <option value=""></option>
                <%
                close_at_when_off_pm = @yaml_timecard['close_at_when_off_pm']
                cur_hour = nil
                unless close_at_when_off_pm.nil? or close_at_when_off_pm.empty?
                  cur_hour = close_at_when_off_pm.split(':').first.to_i
                end

                THETIS_HOURS.each do |hour|
                  selected = ''
                  if hour == cur_hour
                    selected = 'selected'
                  end
                %>
                  <option value="<%= hour %>" <%= selected %>><%= sprintf('%d', hour) %></option>
                <% end %>
                </select>
                :
                <select id="close_at_min_when_off_pm" onchange="changeMin(this.value, _z('close_at_hour_when_off_pm'));">
                  <option value=""></option>
                <%
                cur_min = nil
                unless close_at_when_off_pm.nil? or close_at_when_off_pm.empty?
                  cur_min = close_at_when_off_pm.split(':').last.to_i
                end

                THETIS_MINUTES.each do |min|
                  selected = ''
                  if min == cur_min
                    selected = 'selected'
                  end
                %>
                  <option value="<%= min %>" <%= selected %>><%= sprintf('%02d', min) %></option>
                <% end %>
                </select>
              </div>
            </td>
          </tr>
          <tr>
            <td class="spec_cap">
              <%= t('timecard.midnight_span') %>
              <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/info.png" onclick="msg('<%= t('timecard.midnight_span_info')%><br/>');">
            </td>
            <td class="spec_value" style="width:70%">
              <span class="time_select">
                <select id="midnight_from_hour" onchange="changeHour(this.value, _z('midnight_from_min'));">
                  <option value=""></option>
                <%
                midnight_span = @yaml_timecard['midnight_span']
                unless midnight_span.nil? or midnight_span.empty?
                  midnight_span = midnight_span.split('~')
                  midnight_from = midnight_span.first
                  midnight_to = midnight_span.last
                end
                cur_hour = nil
                unless midnight_from.nil? or midnight_from.empty?
                  cur_hour = midnight_from.split(':').first.to_i
                end

                THETIS_HOURS.each do |hour|
                  selected = ''
                  if hour == cur_hour
                    selected = 'selected'
                  end
                %>
                  <option value="<%= hour %>" <%= selected %>><%= sprintf('%d', hour) %></option>
                <% end %>
                </select>
                :
                <select id="midnight_from_min" onchange="changeMin(this.value, _z('midnight_from_hour'));">
                  <option value=""></option>
                <%
                cur_min = nil
                unless midnight_from.nil? or midnight_from.empty?
                  cur_min = midnight_from.split(':').last.to_i
                end

                THETIS_MINUTES.each do |min|
                  selected = ''
                  if min == cur_min
                    selected = 'selected'
                  end
                %>
                  <option value="<%= min %>" <%= selected %>><%= sprintf('%02d', min) %></option>
                <% end %>
                </select>
              </span>
              ~
              <span class="time_select">
                <select id="midnight_to_hour" onchange="changeHour(this.value, _z('midnight_to_min'));">
                  <option value=""></option>
                <%
                cur_hour = nil
                unless midnight_to.nil? or midnight_to.empty?
                  cur_hour = midnight_to.split(':').first.to_i
                end

                THETIS_HOURS.each do |hour|
                  selected = ''
                  if hour == cur_hour
                    selected = 'selected'
                  end
                %>
                  <option value="<%= hour %>" <%= selected %>><%= sprintf('%d', hour) %></option>
                <% end %>
                </select>
                :
                <select id="midnight_to_min" onchange="changeMin(this.value, _z('midnight_to_hour'));">
                  <option value=""></option>
                <%
                cur_min = nil
                unless midnight_to.nil? or midnight_to.empty?
                  cur_min = midnight_to.split(':').last.to_i
                end

                THETIS_MINUTES.each do |min|
                  selected = ''
                  if min == cur_min
                    selected = 'selected'
                  end
                %>
                  <option value="<%= min %>" <%= selected %>><%= sprintf('%02d', min) %></option>
                <% end %>
                </select>
              </span>
            </td>
          </tr>
        </table>
      </div>

    </td>
  </tr>
</table>

  <input type="hidden" id="standard_hours" name="timecard[standard_hours]" value="" />
  <input type="hidden" id="standard_hours_when_off_am" name="timecard[standard_hours_when_off_am]" value="" />
  <input type="hidden" id="standard_hours_when_off_pm" name="timecard[standard_hours_when_off_pm]" value="" />
  <input type="hidden" id="commence_at" name="timecard[commence_at]" value="" />
  <input type="hidden" id="commence_at_when_off_am" name="timecard[commence_at_when_off_am]" value="" />
  <input type="hidden" id="close_at" name="timecard[close_at]" value="" />
  <input type="hidden" id="close_at_when_off_pm" name="timecard[close_at_when_off_pm]" value="" />
  <input type="hidden" id="midnight_span" name="timecard[midnight_span]" value="" />
</form>

<table style="margin:20px auto 10px;">
  <tr>
    <td class="prim_btn" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'history', :action => 'back') %>';">
      <%= t('btn.back') %>
    </td>
    <td style="width:15px;"></td>
    <td class="prim_btn" onclick="doRegister();">
      <%= t('btn.register') %>
    </td>
  </tr>
</table>
<br/>


<script type="text/javascript">

function changeHour(value, min)
{
  if (value == "") {
    min.value = "";
  } else if (min.value == "") {
    min.value = 0;
  }
}

function changeMin(value, hour)
{
  if (value == "") {
    hour.value = "";
  } else if (hour.value == "") {
    hour.value = new Date().getHours();
  }
}

function checkRegister()
{
  var paidhld_per_year = _z("paidhld_per_year").value;

  if (isNaN(paidhld_per_year) || parseFloat(paidhld_per_year) < 0.0 || parseFloat(paidhld_per_year) > 365.0) {
    msg("<%= t('timecard.invalid_default_paid_holidays') %>");
    return false;
  }

  var standard_hours = _z("standard_hours").value;
  var standard_hours_when_off_am = _z("standard_hours_when_off_am").value;
  var standard_hours_when_off_pm = _z("standard_hours_when_off_pm").value;
  if (standard_hours != "") {
    standard_hours = parseFloat(standard_hours.replace(":", "."));
    if (standard_hours_when_off_am != "") {
      standard_hours_when_off_am = parseFloat(standard_hours_when_off_am.replace(":", "."));
      if (standard_hours_when_off_am > standard_hours) {
        msg("<%= t('timecard.invalid_standard_for_off_am') %>");
        return false;
      }
    }
    if (standard_hours_when_off_pm != "") {
      standard_hours_when_off_pm = parseFloat(standard_hours_when_off_pm.replace(":", "."));
      if (standard_hours_when_off_pm > standard_hours) {
        msg("<%= t('timecard.invalid_standard_for_off_pm') %>");
        return false;
      }
    }
  }

  var commence_at = _z("commence_at").value;
  var commence_at_when_off_am = _z("commence_at_when_off_am").value;
  if (commence_at != "") {
    commence_at = parseFloat(commence_at.replace(":", "."));
    if (commence_at_when_off_am != "") {
      commence_at_when_off_am = parseFloat(commence_at_when_off_am.replace(":", "."));
      if (commence_at_when_off_am < commence_at) {
        msg("<%= t('timecard.invalid_commence_time_for_off_am') %>");
        return false;
      }
    }
  }

  var close_at = _z("close_at").value;
  var close_at_when_off_pm = _z("close_at_when_off_pm").value;
  if (close_at != "") {
    close_at = parseFloat(close_at.replace(":", "."));
    if (close_at_when_off_pm != "") {
      close_at_when_off_pm = parseFloat(close_at_when_off_pm.replace(":", "."));
      if (close_at_when_off_pm > close_at) {
        msg("<%= t('timecard.invalid_close_time_for_off_pm') %>");
        return false;
      }
    }
  }

  return true;
}

function doRegister()
{
  var hour = null, min = null;
  hour = _z("standard_hours_hour").value;
  min = _z("standard_hours_min").value;
  if (hour == "" || min == "" ) {
    _z("standard_hours").value = "";
  } else {
    _z("standard_hours").value = hour + ":" + fillLeft(min, "0", 2);
  }

  hour = _z("standard_hours_hour_when_off_am").value;
  min = _z("standard_hours_min_when_off_am").value;
  if (hour == "" || min == "" ) {
    _z("standard_hours_when_off_am").value = "";
  } else {
    _z("standard_hours_when_off_am").value = hour + ":" + fillLeft(min, "0", 2);
  }

  hour = _z("standard_hours_hour_when_off_pm").value;
  min = _z("standard_hours_min_when_off_pm").value;
  if (hour == "" || min == "" ) {
    _z("standard_hours_when_off_pm").value = "";
  } else {
    _z("standard_hours_when_off_pm").value = hour + ":" + fillLeft(min, "0", 2);
  }

  hour = _z("commence_at_hour").value;
  min = _z("commence_at_min").value;
  if (hour == "" || min == "" ) {
    _z("commence_at").value = "";
  } else {
    _z("commence_at").value = hour + ":" + fillLeft(min, "0", 2);
  }

  hour = _z("commence_at_hour_when_off_am").value;
  min = _z("commence_at_min_when_off_am").value;
  if (hour == "" || min == "" ) {
    _z("commence_at_when_off_am").value = "";
  } else {
    _z("commence_at_when_off_am").value = hour + ":" + fillLeft(min, "0", 2);
  }

  hour = _z("close_at_hour").value;
  min = _z("close_at_min").value;
  if (hour == "" || min == "" ) {
    _z("close_at").value = "";
  } else {
    _z("close_at").value = hour + ":" + fillLeft(min, "0", 2);
  }

  hour = _z("close_at_hour_when_off_pm").value;
  min = _z("close_at_min_when_off_pm").value;
  if (hour == "" || min == "" ) {
    _z("close_at_when_off_pm").value = "";
  } else {
    _z("close_at_when_off_pm").value = hour + ":" + fillLeft(min, "0", 2);
  }

  var from_hour = _z("midnight_from_hour").value;
  var from_min = _z("midnight_from_min").value;
  var to_hour = _z("midnight_to_hour").value;
  var to_min = _z("midnight_to_min").value;
  if (from_hour == "" || from_min == "" || to_hour == "" || to_min == "") {
    _z("midnight_span").value = "";
  } else {
    _z("midnight_span").value = from_hour + ":" + fillLeft(from_min, "0", 2) + "~" + to_hour + ":" + fillLeft(to_min, "0", 2);
  }

  if (!checkRegister()) {
    return;
  }

  prog("TOP-RIGHT");
  document.form_config.submit();
}

var thetisBox = null;

function inputBreak(org_start, org_end)
{
  if (thetisBox != null){
    thetisBox.remove();
    thetisBox = null;
  }

  var hours = [
  <% THETIS_HOURS.each do |hour| %>
    <%= hour.to_s + ((THETIS_HOURS.last==hour)?'':',') %>
  <% end %>
  ];
  var mins = [
  <% THETIS_MINUTES.each do |min| %>
    <%= min.to_s + ((THETIS_MINUTES.last==min)?'':',') %>
  <% end %>
  ];
  var content = ThetisBox.getTimeSpanDialog(hours, mins, "onBreakOk()", "onBreakCancel()", org_start, org_end);

  thetisBox = new ThetisBox;
  thetisBox.title = "<%= t('timecard.input_break') %>";
  thetisBox.overflow = "hidden";
  thetisBox.show("CENTER", "250,200", "TRAY", "", "", content);
}

function onBreakOk()
{
  var addParams = [];
  addParams.push("id=<%= (@timecard.nil?)?'':(@timecard.id) %>");
  addParams.push(Form.serialize(document.form_span));
  addParams.push("authenticity_token=<%= form_authenticity_token %>");

  var thetisBoxProgress = prog("TOP-RIGHT");

  new Ajax.Updater(
      "div_break",
      "<%= url_for(:controller => 'timecards', :action => 'update_default_break') %>",
      {
        method:"post",
        parameters:addParams.join("&"),
        evalScripts:false,
        onComplete:function(request) {
          thetisBoxProgress.remove();
          thetisBox.remove();

          request.responseText.evalScripts();
        }
      }
    );
}

function onBreakCancel()
{
  thetisBox.remove();
  thetisBox = null;
}

function onDeleteBreakClicked(org_start, org_end)
{
  confm("<%= t('paren.square.left') %>"+org_start.split(" ")[1]+"~"+org_end.split(" ")[1]+"<%= t('msg.confirm_to_delete') %>", "doDeleteBreak('"+org_start+"', '"+org_end+"')");
}

function doDeleteBreak(org_start, org_end)
{
  var addParams = [];
  addParams.push("id=<%= (@timecard.nil?)?'':(@timecard.id) %>");
  addParams.push("org_start=" + encodeURIComponent(org_start));
  addParams.push("org_end=" + encodeURIComponent(org_end));
  addParams.push("authenticity_token=<%= form_authenticity_token %>");

  var thetisBoxProgress = prog("TOP-RIGHT");

  new Ajax.Updater(
      "div_break",
      "<%= url_for(:controller => 'timecards', :action => 'delete_default_break') %>",
      {
        method:"post",
        parameters:addParams.join("&"),
        evalScripts:false,
        onComplete:function(request) {
          thetisBoxProgress.remove();
          thetisBox.remove();

          request.responseText.evalScripts();
        }
      }
    );
}

</script>

