
<%= render(:partial => 'toolbar') %>

<table style="width:95%; margin:0px auto 5px;">
  <tr style="height:25px;">
    <td style="width:20%;"></td>
    <td style="width:60%; text-align:center; vertical-align:top;">
      <%
      last_month = Date.new(@year, @month, 1) << 1
      next_month = Date.new(@year, @month, 1) >> 1
      %>
      <a class="calendar_paging" href="javascript:this.onclick()" onclick="prog('TOP-RIGHT'); location.href='<%= url_for :controller => 'timecards', :action => 'month', :date => last_month.strftime('%Y-%m'), :user_id => @selected_user.id, :display => params[:display] %>'; return false;">&nbsp;&lt;&nbsp;</a>&nbsp;&nbsp;
      <span style="color:crimson; cursor:pointer;" onclick="selectMonth(function(date){doUpdatePage(date);});"><u><%= sprintf('%4d - %02d', @year, @month) %></u></span>
      &nbsp;&nbsp;<a class="calendar_paging" href="javascript:this.onclick()" onclick="prog('TOP-RIGHT'); location.href='<%= url_for :controller => 'timecards', :action => 'month', :date => next_month.strftime('%Y-%m'), :user_id => @selected_user.id, :display => params[:display] %>'; return false;">&nbsp;&gt;&nbsp;</a>
    </td>
    <td style="width:20%; text-align:right; padding-top:5px;">
    <% unless params[:display].blank? or (params[:display] == 'mine') %>
      <a href="javascript:this.onclick()" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'timecards', :action => 'group', :user_id => @selected_user.id, :display => params[:display]) %>'; return false;"><%= raw(t('btn.arrow_back')) %></a>
    <% else %>
      &nbsp;
    <% end %>
    </td>
  </tr>
</table>


<%= render(:partial => 'user_profile') %>

<table class="timecard" style="width:100%;">
  <tr>
    <td style="text-align:center; width:8%;" rowspan="2" nowrap><%= t('msg.date') %></th>
    <td style="text-align:center; width:5%; background-color:#D6ECFA;" rowspan="2" nowrap><%= t('cap.class') %></td>
    <td style="text-align:center; width:5%; background-color:#B9FFBC;" rowspan="2" nowrap><%= Timecard.human_attribute_name('status') %></td>
    <td style="text-align:center; width:5%; background-color:#B9FFBC;" rowspan="2" nowrap><%= t('cap.option') %></td>
    <td style="text-align:center; width:24%; background-color:#D6ECFA;" colspan="3" nowrap><%= t('timecard.labor_time') %></td>
    <td style="text-align:center; width:35%; background-color:#D6ECFA;" rowspan="2" nowrap><%= Timecard.human_attribute_name('comment') %></td>
    <td style="text-align:center; width:16%; background-color:#C6D3EF;" colspan="2" nowrap><%= t('timecard.overtime') %></td>
  </tr>
  <tr>
    <td style="text-align:center; width:8%; background-color:#D6ECFA;" nowrap><%= t('timecard.from') %></td>
    <td style="text-align:center; width:8%; background-color:#D6ECFA;" nowrap><%= t('timecard.to') %></td>
    <td style="text-align:center; width:8%; background-color:#D6ECFA;" nowrap><%= t('msg.hours_full') %></td>
    <td style="text-align:center; width:8%; background-color:#C6D3EF;" nowrap><%= t('timecard.usual') %></td>
    <td style="text-align:center; width:8%; background-color:#C6D3EF;" nowrap><%= t('timecard.midnight') %></td>
  </tr>
<%
today = Date.today
day = @start_date.dup
days = (@end_date - @start_date).to_i + 1

@holidays ||= Schedule.get_holidays

workcodes = Timecard.workcodes

labor_days = 0.0
lateness_days = 0
leaving_early_days = 0
work_on_holidays = 0
paid_holidays = 0
business_trip_days = 0
makeup_holidays = 0
special_holidays = 0
absence_days = 0
wktime_sum = 0
wktime_on_holidays = 0
wktime_on_holidays_midnight = 0
overtime_sum = 0
usual_overtime_sum = 0
midnight_overtime_sum = 0
i = 0
days.times do
  if Schedule.check_holiday(day, @holidays)
    bgcolor = Timecard::BGCOLOR_HOLIDAY
    i = 0
  else
    case day.wday
      when 0
        bgcolor = Timecard::BGCOLOR_SUN
        i = 0
      when 6
        bgcolor = Timecard::BGCOLOR_SAT
        i = 0
      else
        bgcolor = (i%2 == 1) ? '#EDEDED' : 'white'
        i += 1
    end
  end

  date_s = day.strftime(Schedule::SYS_DATE_FORM)
  timecard = @timecards[date_s]
  timecard = Timecard.new if timecard.nil?
%>
  <tr style="background-color:<%= bgcolor %>;">
    <%
    today_bg_style = ''
    today_txt_style = ''
    if day.year == today.year and day.month == today.month and day.day == today.day
      today_bg_style = 'background-color:darkorange;'
      today_txt_style = 'color:white;'
    end
    %>
    <td nowrap style="text-align:center; <%= today_bg_style %>">
      <% if @start_date.day != 1 and (day == @start_date or day.day == 1) %>
        <sup><%= day.month.to_s %>/</sup>
      <% end %>
      <a class="a_underline" <%= raw(today_txt_style) %> href="javascript:this.onclick()" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'timecards', :action => 'edit', :date => date_s, :user_id => params[:user_id], :display => params[:display]) %>'; return false;">
        <%= day.day.to_s + ' (' + Schedule.wday_name(day.wday) + ')' %>
      </a>
    </td>

    <%
    wkcode_params = workcodes[timecard.workcode]
    unless wkcode_params.nil?
      labor_days += wkcode_params[Timecard::WKCODE_PARAM_LABORDAY]
      paid_holidays += wkcode_params[Timecard::WKCODE_PARAM_PAIDHLD]

      case timecard.workcode
        when Timecard::WKCODE_WK_ON_HOLIDAY
          work_on_holidays += 1
        when Timecard::WKCODE_HLD_SPECIAL
          special_holidays += 1
        when Timecard::WKCODE_HLD_MAKEUP
          makeup_holidays += 1
        when Timecard::WKCODE_ABSENCE
          absence_days += 1
      end
    end
    %>
    <td style="text-align:center;" nowrap>
    <% unless timecard.workcode.nil? %>
      <% alt = h(timecard.workcode_name) %>
      <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/timecard/<%= timecard.workcode_icon %>" title="<%= alt %>">
    <% end %>
    </td>
    <td style="text-align:center;" nowrap>
      <% if !timecard.start.nil? and timecard.end.nil? %>
        <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/pencil.png" title="<%= t('msg.not_fulfilled') %>">
      <%
      elsif !timecard.start.nil?
        check_ok = true
        if timecard.lateness?
          lateness_days += 1
          check_ok = false
      %>
        <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/timecard/lateness.png" title="<%= t('timecard.lateness') %>">
        <%
        end
        if timecard.leaving_early?
          leaving_early_days += 1
          check_ok = false
        %>
        <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/timecard/leaving_early.png" title="<%= t('timecard.leaving_early') %>">
      <%
        end
        if check_ok
      %>
        <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/check_ok.png" title="<%= t('btn.ok') %>">
      <%
        end
      end
      %>
    </td>
    <td style="text-align:center;" nowrap>
      <%
      options = ''
      if timecard.business_trip?
        business_trip_days += 1
        options = '<img src="'+THETIS_RELATIVE_URL_ROOT+'/images/timecard/business_trip.png" title="'+t('timecard.business_trip')+'">'
      end
      %>
      <%= raw(options) %>
    </td>
    <td style="text-align:center;" nowrap>
      <%= (timecard.start.nil?)?'':timecard.start.strftime('%H:%M') %>
    </td>
    <td style="text-align:center;" nowrap>
      <%= (timecard.end.nil?)?'':timecard.end.strftime('%H:%M') %>
    </td>
    <%
    actual_wktime = timecard.get_actual_wktime
    wktime_sum += actual_wktime

    if timecard.work_on_holiday?
      wktime_on_holidays += actual_wktime
    end
    %>
    <td nowrap style="text-align:center; color:blue;">
      <%= (actual_wktime > 0)?(ApplicationHelper.float_exp(actual_wktime / 60.0, 2)):'' %>
    </td>
    <td style="text-align:left; padding:0px 5px;">
      <%= timecard.comment %>
    </td>

    <td style="text-align:center;" nowrap>
      <%
      # Note that "overtime != usual_overtime + midnight_overtime".
      overtime_sum += timecard.get_overtime unless timecard.work_on_holiday?

      unless timecard.start.nil? or timecard.end.nil?
        usual_overtime = timecard.get_usual_overtime
        exp_usual_overtime = ApplicationHelper.float_exp(usual_overtime / 60.0, 2)

        if timecard.work_on_holiday?
          exp_usual_overtime = '(' + exp_usual_overtime + ')'
        else
          usual_overtime_sum += usual_overtime
        end

        if usual_overtime < 0.0
      %>
        <span style="color:darkgreen;"><%= exp_usual_overtime %></span>
      <% elsif usual_overtime == 0.0 %>
        -
      <% else %>
        <span style="color:orangered;"><%= exp_usual_overtime %></span>
      <%
        end
      end
      %>
    </td>
    <td style="text-align:center;" nowrap>
      <%
      unless timecard.start.nil? or timecard.end.nil?
        midnight_overtime = timecard.get_midnight_overtime
        exp_midnight_overtime = ApplicationHelper.float_exp(midnight_overtime / 60.0, 2)

        if timecard.work_on_holiday?
          exp_midnight_overtime = '(' + exp_midnight_overtime + ')'
          wktime_on_holidays_midnight += midnight_overtime
        else
          midnight_overtime_sum += midnight_overtime
        end
      %>
        <%= (midnight_overtime <= 0)?'-':'<span style="color:red;">' + exp_midnight_overtime + '</span>' %>
      <% end %>
    </td>
  </tr>
<%
  day += 1
end
%>
</table>

<table style="width:100%; padding-top:15px;">
  <tr>
    <td style="text-align:left; vertical-align:top; width:49%;">
      <table class="timecard" style="width:100%;">
        <tr>
          <th nowrap>
            <%= t('timecard.labor_days') %>
          </th>
          <td style="text-align:center; width:120px;" nowrap>
            <%= labor_days %>
          </td>
        </tr>
        <tr style="height:1px;"><td colspan="2"></td></tr>
        <tr>
          <th nowrap>
            <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/timecard/business_trip.png"> <%= t('timecard.business_trip') %>
          </th>
          <td style="text-align:center; width:120px;" nowrap>
            <%= business_trip_days %>
          </td>
        </tr>
        <tr>
          <th nowrap>
            <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/timecard/lateness.png"> <%= t('timecard.lateness') %>
          </th>
          <td style="text-align:center; width:120px;" nowrap>
            <%= lateness_days %>
          </td>
        </tr>
        <tr>
          <th nowrap>
            <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/timecard/leaving_early.png"> <%= t('timecard.leaving_early') %>
          </th>
          <td style="text-align:center; width:120px;" nowrap>
            <%= leaving_early_days %>
          </td>
        </tr>
        <tr>
          <th nowrap>
            <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/timecard/work_on_holiday.png"> <%= t('timecard.working_on_holiday') %>
          </th>
          <td style="text-align:center; width:120px;" nowrap>
            <%= work_on_holidays %>
          </td>
        </tr>
        <tr style="height:1px;"><td colspan="2"></td></tr>
        <tr>
          <th nowrap>
            <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/timecard/makeup_holiday.png"> <%= t('timecard.makeup_holidays') %>
          </th>
          <td style="text-align:center; width:120px;" nowrap>
            <%= makeup_holidays %>
          </td>
        </tr>
        <tr>
          <th nowrap>
            <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/timecard/special_holiday.png"> <%= t('timecard.special_holidays') %>
          </th>
          <td style="text-align:center; width:120px;" nowrap>
            <%= special_holidays %>
          </td>
        </tr>
        <tr>
          <th nowrap>
            <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/timecard/absence.png"> <%= t('timecard.absence') %>
          </th>
          <td style="text-align:center; width:120px;" nowrap>
            <%= absence_days %>
          </td>
        </tr>
        <tr style="height:1px;"><td colspan="2"></td></tr>
        <tr>
          <th nowrap>
            <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/timecard/paid_holiday.png"> <%= t('timecard.paid_holidays') %>
          </th>
          <td style="text-align:center; width:120px;" nowrap>
            <%= paid_holidays %>
          </td>
        </tr>
        <tr>
          <th nowrap>
            <%= t('timecard.left_paid_holidays') %>
          </th>
          <td style="text-align:center; width:120px;" nowrap>
            <%
            given_num = (@paid_holiday.nil?)?0:@paid_holiday.num
            carried_over = PaidHoliday.get_carried_over(@selected_user.id, @fiscal_year)
            %>
            <%= (given_num + carried_over - @applied_paid_hlds - paid_holidays) %>
          <% if @login_user.id == @selected_user.id or @login_user.admin?(User::AUTH_TIMECARD) %>
            <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/zoom.png" title="<%= t('btn.detail') %>" onclick="showPaidHldByUser(<%= @selected_user.id %>, '<%= ApplicationHelper.h_s_quote(@selected_user.get_name_for_timecard) %>');" />
          <% end %>
          </td>
        </tr>
      </table>
    </td>
    <td style="width:5px;"></td>
    <td style="width:49%; text-align:right; vertical-align:top;">
      <table class="timecard" style="width:100%;">
        <tr>
          <th style="text-align:center;" nowrap>
            <%= t('timecard.total_labor_time') %>
          </th>
          <td style="text-align:center; width:120px;" nowrap>
            <span style="color:blue;"><%= ApplicationHelper.float_exp(wktime_sum / 60.0, 2) %></span>
          </td>
        </tr>
        <tr style="height:1px;"><td colspan="2"></td></tr>
        <tr>
          <th style="text-align:center;" nowrap>
            <%= t('timecard.overtime_sum') %> <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/info.png" onclick="msg('<%= t('timecard.overtime_sum_info')%><br/>');"><br/>
            [ <%= t('timecard.usual') %> + <%= t('timecard.midnight') %> ]
          </th>
          <td style="text-align:center; width:120px;" nowrap>
            <span style="color:black;"><%= ApplicationHelper.float_exp(overtime_sum / 60.0, 2) %></span><br/>
            [ <span style="color:orangered;"><%= ApplicationHelper.float_exp(usual_overtime_sum / 60.0, 2) %></span> + <span style="color:red;"><%= ApplicationHelper.float_exp(midnight_overtime_sum / 60.0, 2) %></span> ]
          </td>
        </tr>
        <tr>
          <th style="text-align:center;" nowrap>
            <%= t('timecard.labor_time_on_holidays') %><br/>
            [ <%= t('timecard.midnight') %> ]
          </th>
          <td style="text-align:center; width:120px;" nowrap>
            <span style="color:black;"><%= ApplicationHelper.float_exp(wktime_on_holidays / 60.0, 2) %></span><br/>
            [ <span style="color:red;"><%= ApplicationHelper.float_exp(wktime_on_holidays_midnight / 60.0, 2) %></span> ]
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<br/>
<br/>


<%= render(:partial => 'common/ym_selector', :locals => {:year => @year, :month => @month}) %>

<script type="text/javascript">

function doUpdatePage(date)
{
  prog("TOP-RIGHT");
  location.href = "<%= url_for(:controller => 'timecards', :action => 'month') %>?date=" + date + "&user_id=<%= @selected_user.id %>&display=<%= params[:display] %>";
}

var thetisBoxPaidHldByUser = null;

function showPaidHldByUser(user_id, name)
{
  if (thetisBoxPaidHldByUser != null) {
    thetisBoxPaidHldByUser.remove();
    thetisBoxPaidHldByUser = null;
  }

  var thetisBoxProgress = prog("TOP-RIGHT");

  var addParams = [];
  addParams.push("user_id="+user_id);

  new Ajax.Request(
      "<%= url_for(:controller => 'timecards', :action => 'paidhld_list') %>",
      {
        method:"get",
        parameters:addParams.join("&"),
        onComplete:function(request) {
          thetisBoxProgress.remove();

          thetisBoxPaidHldByUser = new ThetisBox;
          thetisBoxPaidHldByUser.resizable = true;
          thetisBoxPaidHldByUser.setOnClose(function(){ thetisBoxPaidHldByUser = null; });
          thetisBoxPaidHldByUser.title = "<%= t('timecard.paid_holiday') %>";
          thetisBoxPaidHldByUser.bgcolor_title = "limegreen";
          thetisBoxPaidHldByUser.bgcolor_body = "lightcyan";
          thetisBoxPaidHldByUser.show("CENTER", "500,360", "TRAY", "", "&nbsp;<img src='<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/zoom.png'><b style='font-size:16px; padding:0px 5px;'>" + name + "</b>", request.responseText.stripScripts());
          request.responseText.evalScripts();
        }
      }
    );
  return true;
}

</script>

