
<%
@groups_cache ||= {}
@group_obj_cache ||= {}
%>

<%= form_tag( {:controller => 'timecards', :action => 'users'}, :method => 'get', :name => 'form_list') %>

<table style="width:100%; border-spacing:3px;">
  <tr>
    <td>
      <table style="width:100%;">
        <tr>
        <% if @login_user.admin?(User::AUTH_TIMECARD) %>
          <td nowrap style="width:1%; text-align:left;">
            <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/config.png" alt="<%= t('btn.config') %>" title="<%= t('btn.config') %>" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'timecards', :action => 'configure') %>';">
          </td>
        <% end %>
          <td style="text-align:right;" nowrap>
            <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/search.gif" alt="<%= t('cap.search_keywords') %>">&nbsp;<%= text_field_tag 'keyword', params[:keyword] %>
            <input type="button" value="<%= t('btn.search') %>" onclick="form_list.action='<%= url_for(:controller => 'timecards', :action => 'search') %>'; form_list.submit(); prog('TOP-RIGHT');"/>
            <input type="button" value="<%= t('btn.reset') %>" onclick="location.href='<%= url_for(:controller => 'timecards', :action => 'users') %>'; prog('TOP-RIGHT');"/>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr style="height:1px;"><td></td></tr>
  <tr>
    <td>
      <table style="width:100%;">
        <tr>
          <td nowrap style="text-align:left; padding-bottom:5px;">
  <% if @group_id.nil? or @group_id.empty? %>
            <div class="button_gray" style="float:left;" onclick="showGroupTreeToSelect('0');">
              <%= t('btn.select_group') %>
            </div>
  <% else %>
            <%= t('cap.group') %> <a href="#" onclick="showGroupTreeToSelect('<%= @group_id %>');" onMouseOver="this.style.backgroundColor='palegreen'" onMouseOut="this.style.backgroundColor='white'" style="color:red;"><%= Group.get_path(@group_id, @groups_cache, @group_obj_cache) %></a>
            &nbsp; <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/erase.gif" alt="<%= t('btn.clear') %>" title="<%= t('btn.clear') %>" onclick="clearGroup()" />
  <% end %>
          </td>
          <td style="text-align:right;">
  <% if @login_user.admin?(User::AUTH_TIMECARD) %>
            <input type="button" value="<%= t('btn.multi_update')%>" onclick="showUpdateMulti();">
            <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/info.gif" onclick="msg('<%= t('timecard.multi_update_paid_holidays_info') %>');">
            &nbsp;&nbsp;
            <input type="button" value="<%= t('btn.select_deselect_all')%>" onclick="selectAll();">
  <% else %>
            &nbsp;
  <% end %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table style="width:100%; padding-bottom:10px;">
  <tr>
    <td class="pagination_td" style="text-align:center;">
      <%= t('cap.total') %><%= t('user', :count => @total_num) %>
      <%
      prms = ApplicationHelper.dup_hash(params)
      prms.delete('authenticity_token')
      prms.delete('check_user')
      prms['action'] = 'users'
      pagination = will_paginate(@user_pages, :params => prms)
      pagination = ApplicationHelper.custom_pagination(pagination)
      %>
      <%= raw(pagination) %>
    </td>
  </tr>
</table>

<div class="base_list" id="div_users">
<table id="list_users" style="width:100%; border-spacing:1px;">
  <tr>
    <th class="list_sort" style="width:5%;"  nowrap onclick="sortList('User.id')"><%= t('activerecord.attributes.id') %><span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('User.id', @sort_col, @sort_type)) %></span></th>
    <th class="list_sort" style="width:20%;" nowrap onclick="sortList('name')"><%= User.model_name.human %><span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('name', @sort_col, @sort_type)) %></span></th>
    <th class="list_sort" style="width:25%;" nowrap onclick="sortList('xorder')"><%= t('user.title') %><span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('xorder', @sort_col, @sort_type)) %></span></th>
    <th class="list_sort" style="width:30%;" nowrap onclick="sortList('groups')"><%= User.human_attribute_name('organization') %><span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('groups', @sort_col, @sort_type)) %></span></th>
    <td nowrap style="width:10%; text-align:center; background-color:#FFDFAD;"><%= t('timecard.applied') %></td>
    <td nowrap style="width:10%; text-align:center; background-color:#D4FFA9;"><%= t('timecard.remainder') %></td>
  </tr>
<%
yaml = ApplicationHelper.get_config_yaml
year_begins_from, month_begins_at = TimecardsHelper.get_fiscal_params(yaml)
fiscal_year = TimecardsHelper.get_fiscal_year(Date.today, year_begins_from, month_begins_at)
year_start, year_end = TimecardsHelper.get_year_span(fiscal_year, year_begins_from, month_begins_at) 

@users.each_with_index do |user, idx|
  td_class = (idx % 2 == 1) ? 'list_td_on' : 'list_td_off'
%>
  <tr style="height:33px;">
    <td class="<%= td_class %>" nowrap style="text-align:right;">
      <%= user.id %>
    </td>
    <td class="<%= td_class %>" nowrap>
      <a class="a_underline" href="#" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'users', :action => 'show', :id => user.id) %>'; return false;">
        <%= truncate(user.get_name_for_timecard(yaml), :length => 20) %>
      </a>
    </td>
    <td class="<%= td_class %>" nowrap><%= truncate(user.title, :length => 10) %></td>
    <td class="<%= td_class %>" nowrap>
      <% user.get_groups_a.each do |group_id| %>
        <%= Group.get_path(group_id, @groups_cache, @group_obj_cache) %><br/>
      <% end %>
    </td>
    <td class="<%= td_class %>" nowrap style="text-align:center">
      <%
      applied_paid_hlds = Timecard.applied_paid_hlds(user.id, year_start, year_end)
      %>
      <%= applied_paid_hlds %>
    </td>
    <td class="<%= td_class %>" nowrap style="text-align:center">
      <%
      paid_hld = PaidHoliday.get_for(user.id, fiscal_year)
      given_num = (paid_hld.nil?)?0:paid_hld.num
      carried_over = PaidHoliday.get_carried_over(user.id, fiscal_year)
      %>
      <%= (given_num + carried_over - applied_paid_hlds) %>
    </td>
  <% if @login_user.admin?(User::AUTH_TIMECARD) %>
    <td class="<%= td_class %>" nowrap style="text-align:center;">
      <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/zoom.gif" alt="<%= t('btn.detail') %>" title="<%= t('btn.detail') %>" onclick="showPaidHldByUser(<%= user.id %>, '<%= ApplicationHelper.h_s_quote(user.get_name_for_timecard(yaml)) %>');" />
    </td>
    <td class="<%= td_class %>" style="width:20px; text-align:center;">
      <%= check_box(:check_user, user.id, :class => 'check_user') %>
    </td>
  <% end %>
  </tr>
<% end %>
</table>
</div>

<%= hidden_field_tag('sort_col', params[:sort_col]) %>
<%= hidden_field_tag('sort_type', params[:sort_type]) %>
<%= hidden_field_tag('group_id', @group_id) %>

</form>

<script type="text/javascript">

function selectAll()
{
  var elems = document.getElementsByClassName("check_user", document.form_list);
  var all_selected = true;
  for (var i=0; elems != null && i < elems.length; i++) {
    if (!elems[i].checked) {
      all_selected = false;
      break;
    }
  }
  for (var i=0; elems != null && i < elems.length; i++) {
    elems[i].checked = !all_selected;
  }
}

function clearGroup()
{
  document.form_list.group_id.value = "";
  document.form_list.submit();
  prog("TOP-RIGHT");
}

function sortList(col)
{
  var type = "<%= @sort_type %>";
  
  if (col == "<%= @sort_col %>") {
    type = (type == "ASC") ? "DESC" : "ASC";
  }

  document.form_list.sort_col.value = col;
  document.form_list.sort_type.value = type;
  document.form_list.submit();
  prog("TOP-RIGHT");
}

function showGroupTreeToSelect(group_id)
{
  var thetisBox = new ThetisBox;
  thetisBox.progress = true;
  thetisBox.setAdditionalParams(new Array("authenticity_token=<%= form_authenticity_token %>"));
  thetisBox.show("CENTER", "", "TREE", "<%= url_for(:controller => 'timecards', :action => 'users') %>", "<%= t('group.select_to_show')%>", "");
  thetisBox.setTree("<%= url_for(:controller => 'groups', :action => 'ajax_get_tree') %>", group_id);
}

var thetisBox = null;

function showUpdateMulti()
{
  if (thetisBox != null) {
    thetisBox.remove();
    thetisBox = null;
  }

  <%
  if yaml[:timecard].nil? or yaml[:timecard]['paidhld_per_year'].nil?
    paidhld_per_year = 0
  else
    paidhld_per_year = yaml[:timecard]['paidhld_per_year']
  end
  %>
  var content = getUpdateMultiDialog(<%= fiscal_year %>, <%= paidhld_per_year %>, "onUpdateMultiOK()", "onUpdateMultiCancel()");

  thetisBox = new ThetisBox;
  thetisBox.title = "<%= t('timecard.paid_holiday') %>";
  thetisBox.overflow = "hidden";
  thetisBox.show("CENTER", "350,280", "TRAY", "", "", content);
}

function checkUpdateMulti()
{
  var year = document.form_update_multi.year.value;
  var num = document.form_update_multi.num.value;

  var check_ary = new Array(year, num);

  for (var i=0; i < check_ary.length; i++) {
    if (check_ary[i].length <= 0) {
      msg("<%= t('msg.specify_all_indispensable') %>");
      return false;
    }
  }
  if (isNaN(year) || parseInt(year, 10) < 1970 || parseInt(year, 10) > 2100) {
    msg("<%= t('timecard.invalid_fiscal_year') %>");
    return false;
  }
  if (isNaN(num) || parseFloat(num) < 0.0 || parseFloat(num) > 365.0) {
    msg("<%= t('timecard.invalid_paid_holidays') %>");
    return false;
  }
  return true;
}

function onUpdateMultiOK()
{
  if (!checkUpdateMulti()) {
    return;
  }

  confm("<%= t('timecard.confirm_multi_update_paid_holidays') %>", "_onUpdateMultiOK()");
}

function _onUpdateMultiOK()
{
  thetisBox.hide();

  var elem = document.createElement("input");
  elem.name = "year";
  elem.type = "hidden";
  elem.value = document.form_update_multi.year.value;
  document.form_list.appendChild(elem);

  elem = document.createElement("input");
  elem.name = "num";
  elem.type = "hidden";
  elem.value = document.form_update_multi.num.value;
  document.form_list.appendChild(elem);

  document.form_list.action = "<%= url_for(:controller => 'timecards', :action => 'paidhld_update_multi') %>";
  document.form_list.method = "post";
  document.form_list.submit();
  prog("TOP-RIGHT");
}

function onUpdateMultiCancel()
{
  thetisBox.remove();
  thetisBox = null;
}

function getUpdateMultiDialog(defYear, defNum, onOk, onCancel)
{
  content = "<form name='form_update_multi'>";
  content += "<table style='width:100%; height:180px' cellspacing='0' cellpadding='0'>";
  content += "  <tr style='height:70px;'>";
  content += "    <td style='text-align:center; padding:15px 0px;'>";

  content += "<table align='center' style='width:95%;' cellspacing='0' cellpadding='0'>";
  content += "  <tr>";
  content += "    <td colspan='2' style=\"text-align:left;\">";
  content += "      <%= t('timecard.updating_paid_holidays') %>";
  content += "    </td>";
  content += "  </tr>";
  content += "  <tr>";
  content += "    <td nowrap style='width:40%; text-align:left; padding:5px 0px; text-indent:20px;'>";
  content += "      <%= t('cap.fiscal_year') %>";
  content += "    </td>";
  content += "    <td style=\"text-align:left;\">";
  content += "      <input type='text' name='year' value='"+defYear+"' style='ime-mode:disabled; width:60px;' />";
  content += "    </td>";
  content += "  </tr>";
  content += "  <tr>";
  content += "    <td colspan='2' style=\"text-align:left;\">";
  content += "      <%= t('timecard.uniformly_to') %>";
  content += "    </td>";
  content += "  </tr>";
  content += "  <tr>";
  content += "    <td nowrap style='text-align:left; padding:5px 0px; text-indent:20px;'>";
  content += "      <%= t('cap.days') %>";
  content += "    </td>";
  content += "    <td style=\"text-align:left;\">";
  content += "      <input type='text' name='num' value='"+defNum+"' style='ime-mode:disabled; width:60px;' />";
  content += "    </td>";
  content += "  </tr>";
  content += "</table>";

  content += "    </td>";
  content += "  </tr>";
  content += "  <tr>";
  content += "    <td style=\"text-align:center; vertical-align:top;\">";
  content += "      <input type='button' value='"+__thetisbox_OK+"' onclick='"+onOk+"' style='width:80px' />";
  content += "      &nbsp;<input type='button' value='"+__thetisbox_Cancel+"' onclick='"+onCancel+"' style='width:80px' />";
  content += "    </td>";
  content += "  </tr>";
  content += "  <tr style=\"100%\">";
  content += "    <td></td>";
  content += "  </tr>";
  content += "</table>";
  content += "</form>";
  return content;
}

var thetisBoxPaidHldByUser = null;

function showPaidHldByUser(user_id, name)
{
  if (thetisBoxPaidHldByUser != null) {
    thetisBoxPaidHldByUser.remove();
    thetisBoxPaidHldByUser = null;
  }

  var thetisBoxProgress = prog("TOP-RIGHT");

  new Ajax.Request(
          "<%= url_for(:controller => 'timecards', :action => 'paidhld_list') %>?user_id=" + user_id + "&edit=true",
          {
            method:"get",
            asynchronous:true,
            evalScripts:true,
            onComplete:function(request){
              thetisBoxProgress.remove();

              thetisBoxPaidHldByUser = new ThetisBox;
              thetisBoxPaidHldByUser.setOnClose(function(){ thetisBoxPaidHldByUser = null; });
              thetisBoxPaidHldByUser.title = "<%= t('timecard.paid_holiday') %>";
              thetisBoxPaidHldByUser.bgcolor_title = "limegreen";
              thetisBoxPaidHldByUser.bgcolor_body = "lightcyan";
              thetisBoxPaidHldByUser.show("CENTER", "500,360", "TRAY", "", "&nbsp;<img src='<%= THETIS_RELATIVE_URL_ROOT %>/images/zoom.gif'><b style='font-size:12pt; padding:0px 5px;'>" + name + "</b>", request.responseText.stripScripts());
              request.responseText.evalScripts();
            }
          }
        );
  return true;
}

function showUpdateGivenDays(user_id, defYear, defNum)
{
  if (thetisBox != null) {
    thetisBox.remove();
    thetisBox = null;
  }

  var content = getUpdateGivenDaysDialog(defYear, defNum, "onUpdateGivenDaysOK("+user_id+")", "onUpdateGivenDaysCancel()");

  thetisBox = new ThetisBox;
  thetisBox.title = "<%= t('timecard.paid_holiday') %>";
  thetisBox.overflow = "hidden";
  thetisBox.show("CENTER", "300,240", "TRAY", "", "", content);
}

function checkUpdateGivenDays()
{
  var num = document.form_given_days.num.value;

  var check_ary = new Array(num);

  for (var i=0; i < check_ary.length; i++) {
    if (check_ary[i].length <= 0) {
      msg("<%= t('msg.specify_all_indispensable') %>");
      return false;
    }
  }
  if (isNaN(num) || parseFloat(num) < 0.0 || parseFloat(num) > 365.0) {
    msg("<%= t('timecard.invalid_paid_holidays') %>");
    return false;
  }
  return true;
}

function onUpdateGivenDaysOK(user_id)
{
  if (!checkUpdateGivenDays()) {
    return;
  }

  thetisBox.hide();

  var elem = document.createElement("input");
  elem.name = "user_id";
  elem.type = "hidden";
  elem.value = user_id;
  document.form_given_days.appendChild(elem);

  elem = document.createElement("input");
  elem.name = "edit";
  elem.type = "hidden";
  elem.value = "true";
  document.form_given_days.appendChild(elem);

  thetisBoxPaidHldByUser.setOnClose(function(){ prog("CENTER", "<%= t('msg.updating_list') %>"); document.form_list.submit(); });

  var thetisBoxProgress = prog("CENTER");

  new Ajax.Updater(
              "thetisBoxContent-"+thetisBoxPaidHldByUser.id,
              "<%= url_for(:controller => 'timecards', :action => 'paidhld_update') %>",
              {
                asynchronous:true,
                evalScripts:true,
                onComplete:function(request){ thetisBoxProgress.remove(); },
                parameters:Form.serialize(document.form_given_days)+"&authenticity_token=<%= form_authenticity_token %>"
              }
            );
}

function onUpdateGivenDaysCancel()
{
  thetisBox.remove();
  thetisBox = null;
}

function getUpdateGivenDaysDialog(defYear, defNum, onOk, onCancel)
{
  content = "<form name='form_given_days'>";
  content += "<table align='center' valign='top' width='100%' style='height:180px' cellspacing='0' cellpadding='0'>";
  content += "  <tr style='height:70px;'>";
  content += "    <td style='text-align:center; padding:15px 0px;'>";

  content += "<table align='center' width='95%' cellspacing='0' cellpadding='0'>";
  content += "  <tr>";
  content += "    <td nowrap style='width:50%; text-align:left; padding:5px 0px; text-indent:20px;'>";
  content += "      <%= t('cap.fiscal_year') %>";
  content += "    </td>";
  content += "    <td style='text-align:left;'>";
  content += "      "+defYear;
  content += "      <input type='hidden' name='year' value='"+defYear+"' />";
  content += "    </td>";
  content += "  </tr>";
  content += "  <tr>";
  content += "    <td nowrap style='text-align:left; padding:5px 0px; text-indent:20px;'>";
  content += "      <%= t('cap.days') %>";
  content += "    </td>";
  content += "    <td style='text-align:left;'>";
  content += "      <input type='text' name='num' value='"+defNum+"' style='ime-mode:disabled; width:60px;' />";
  content += "    </td>";
  content += "  </tr>";
  content += "</table>";

  content += "    </td>";
  content += "  </tr>";
  content += "  <tr>";
  content += "    <td style=\"text-align:center; vertical-align:top;\">";
  content += "      <input type='button' value='"+__thetisbox_OK+"' onclick='"+onOk+"' style='width:80px' />";
  content += "      &nbsp;<input type='button' value='"+__thetisbox_Cancel+"' onclick='"+onCancel+"' style='width:80px' />";
  content += "    </td>";
  content += "  </tr>";
  content += "  <tr style=\"height:100%;\">";
  content += "    <td></td>";
  content += "  </tr>";
  content += "</table>";
  content += "</form>";
  return content;
}

</script>
