<%
login_user = session[:login_user]

groups_cache = {}
%>

<table id="div_selectUsers" width="95%" cellspacing="0" cellpadding="0" align="center" style="width:95%;">
  <tr>
    <td align="center" style="padding-top:10px;">

      <table width="100%" cellspacing="0" cellpadding="0">
        <tr>
          <td width="130">
            <div class="button_gray" style="float:left;" onClick="showGroupTreeToSelect('<%= (@group_id.nil?)?'':@group_id %>');">
              <%= t('btn.select_group') %>
            </div>
          </td>
          <td align="left" style="color:blue;">
            <% unless @group_id.nil? %>
              <%=h Group.get_path(@group_id, groups_cache) %>
              &nbsp;<img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/erase.gif" onclick="doClearGroup();" alt="<%= t('btn.clear') %>" title="<%= t('btn.clear') %>">
            <% end %>
          </td>
        </tr>
      </table>

    <% if @group_id.nil? %>

      <select id="user_candidates" class="select_candidates" size="5" multiple style="width:100%;">
      <%
      users_available = PseudoHash.new

      login_groups = login_user.get_groups_a
      login_groups.each do |group_id|
        group_name = Group.get_path(group_id, groups_cache)
        group_users = Group.get_users(group_id)
        group_users.each do |user|
          user_id = user.id.to_s
          if users_available.keys.include?(user_id)
            users_available[user_id] << group_name
          else
            users_available[user_id, true] = [group_name]
          end
        end
      end

      login_teams = login_user.get_teams_a
      login_teams.each do |team_id|
        team_name = Team.get_name(team_id)
        begin
          team = Team.find(team_id)
          team_users = team.get_users_a
        rescue
          team_users = []
        end
        team_users.each do |user_id|
          if users_available.keys.include?(user_id)
            users_available[user_id] << team_name
          else
            users_available[user_id, true] = [team_name]
          end
        end
      end

      if login_groups.empty? and login_teams.empty?
        users_available[login_user.id.to_s, true] = []
      end

      users_available.each do |user_id, org_names|
        disp = User.get_name(user_id, @users_cache)
        disp += ' @ ' + truncate(org_names.join(', '), :length => 50) unless org_names.nil? or org_names.empty?
        if !@users_selected.nil? and @users_selected.include?(user_id)
          next
        end
      %>
        <option value="<%=h user_id %>"><%=h disp %></option>
      <% end %>
      </select>

    <% else %>

      <select id="user_candidates" class="select_candidates" size="5" multiple style="width:100%;">
        <%
        users_available = PseudoHash.new

        unless @users.nil?
          @users.each do |user|
            user_id = user.id.to_s
            users_available[user_id, true] = user.get_name
          end
        end

        users_available.each do |user_id, name|
          next if !@users_selected.nil? and @users_selected.include?(user_id)
          disp = name
        %>
          <option value="<%=h user_id %>"><%=h disp %></option>
        <% end %>
      </select>

    <% end %>

    </td>
  </tr>
  <tr>
    <td align="center" style="padding-top:10px;">

      <table align="center" cellspacing="0" cellpadding="0">
        <tr>
          <td align="right">
            <input type="button" value="<%= t('btn.add') %>" onclick="onPostToOk();" style="width:90px; height:25px">
          </td>
          <td width="10"></td>
          <td align="left">
            <input type="button" value="<%= t('btn.cancel') %>" onclick="ThetisBox.getContainer(this).remove();" style="width:90px; height:25px">
          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<script type="text/javascript">

showGroupTreeToSelect = function(group_id)
{
  var thetisBox = new ThetisBox;
  thetisBox.progress = true;
  thetisBox.setFormTag("<form action=\"<%= url_for(:controller => 'desktop', :action => 'get_group_users') %>\" onsubmit=\"new Ajax.Updater(_z('div_selectUsers').parentNode, this.action, {method:'get', asynchronous:true, evalScripts:true, onComplete:function(request){__thetisBoxProgress.remove();}, parameters:Form.serialize(this)}); return false;\">");
  thetisBox.show("CENTER", "", "TREE", "", "<%= t('group.select_to_show')%>", "");
  thetisBox.setTree("<%= url_for(:controller => 'groups', :action => 'ajax_get_tree') %>", group_id);
}

doClearGroup = function()
{
  var thetisBox = prog("TOP-RIGHT");

  new Ajax.Updater(
              _z("div_selectUsers").parentNode,
              "<%= url_for(:controller => 'desktop', :action => 'get_group_users') %>",
              {
                method:"get",
                asynchronous:true,
                evalScripts:true,
                onComplete:function(request) {
                  thetisBox.remove();
                }
              }
            );
}

onPostToOk = function()
{
  var ret_ary = moveList(_z("user_candidates"), _z("post_to"));

  ThetisBox.getContainer(_z("div_selectUsers")).remove();
}

</script>
