
<span>
  <% toy_id = "toy_warnLogin" %>

  <div class="toy_desktop" id="<%= toy_id %>" style="position:absolute; z-index:10000; display:none;">
  <table class="label_frame" width="200" style="border:solid 2px; border-top-color:whitesmoke; border-left-color:whitesmoke; border-bottom-color:dimgray; border-right-color:dimgray; background-color:lightpink;" cellspacing="7">
    <tr>
      <td width="20" style="width:20px; cursor:move; background-color:deeppink; padding-left:10px;">
        &nbsp;
      </td>
      <td align="left" style="font-size:10.5pt; cursor:pointer; padding-left:3px; background-color:white;" onclick="editLabel('<%= toy_id %>')">
        <pre id="<%= toy_id %>_msg"><%= t('msg.login_to_show_own_desktop') %></pre>
      </td>
    </tr>
  </table>
  <span id="<%= toy_id %>_type" style="display:none;"><%= Toy::XTYPE_LABEL %></span>
  </div>

  <script type="text/javascript">
  //<![CDATA[
  new Draggable("<%= toy_id %>", {revert:false})
  //]]>
  </script>

<script type="text/javascript">

var desktop = _z("div_desktop");

var deskWidth = desktop.clientWidth;
var deskHeight = desktop.clientHeight;
var deskPos = getPos(desktop);

var toy = _z("<%= toy_id %>");
toy.style.left = (deskPos.x + deskWidth * 700 / 10000) + "px"; // 7%
toy.style.top = (deskPos.y + deskHeight * 1500 / 10000) + "px"; // 15%
toy.style.display = "inline";

</script>

</span>

