
<table id="div_desktop" style="width:100%; height:100%;" cellpadding="0" cellspacing="0">
  <tr>
    <td>
    </td>
  </tr>
</table>

<script type="text/javascript">

document.body.style.background="url(<%= THETIS_RELATIVE_URL_ROOT %>/images/desktop/grad_<%= @desktop.background_color %>.png) right repeat-y";

function onLoadSub()
{
<%
open_url_h = {:controller => 'desktop', :action => 'open_desktop'}
open_url_h = open_url_h.update(ApplicationHelper.get_fwd_params(params))

date_s = Date.today.strftime(Schedule::SYS_DATE_FORM)
%>
  new Ajax.Updater(
            _z("div_desktop").parentNode,
            "<%= url_for(open_url_h) %>",
            {
              method:"get",
              asynchronous:true,
              evalScripts:true,
              onComplete:function(request){
            <% if @desktop.popup_news %>
                  setTimeout("showTray()", 50);
            <% end %>
            <%
            if @desktop.popup_schedule and !session[:schedule_popped_up]
              session[:schedule_popped_up] = true
            %>
                  setTimeout("showSchedule()", 100);
            <% end %>
            <%
            if !@login_user.nil? and @desktop.popup_timecard
              timecard = Timecard.get_for(@login_user.id, date_s)
              if timecard.nil? or timecard.start.nil?
            %>
                  setTimeout("showTimecard()", 150);
            <%
              end
            end
            %>
                }
            }
          );
}

function showSchedule()
{
  var desktop = _z("div_desktop");
  var deskWidth = desktop.clientWidth;
  var deskHeight = desktop.clientHeight;
  var deskPos = getPos(desktop);

  var thetisBoxProgress = prog("CENTER");

  var thetisBox = new ThetisBox;
<%= render(:partial => 'theitsbox_color') %>
  var trayWidth = Math.floor(deskWidth * 2 / 3) - 2;
  var trayHeight = 220;
  var trayX = deskPos.x + 2;
  var trayY = deskPos.y + 2;

  new Ajax.Request(
          "<%= url_for(:controller => 'desktop', :action => 'get_schedule', :date => date_s) %>",
          {
            method:"get",
            asynchronous:true,
            evalScripts:true,
            onComplete:function(request) {
                thetisBox.title = "<%= date_s %>";
                thetisBox.resizable = true;
//                thetisBox.overflow = "scroll";
                thetisBox.show(
                          trayX+","+trayY,
                          trayWidth+","+trayHeight,
                          "TRAY",
                          "",
                          "",
                          request.responseText.stripScripts()
                        );
                thetisBoxProgress.remove();
                request.responseText.evalScripts();
              }
          }
        );
}

function showTimecard()
{
  var desktop = _z("div_desktop");
  var deskWidth = desktop.clientWidth;
  var deskHeight = desktop.clientHeight;
  var deskPos = getPos(desktop);

  var thetisBoxProgress = prog("CENTER");

  var thetisBox = new ThetisBox;
<%= render(:partial => 'theitsbox_color') %>
  var trayWidth = 200;
  var trayHeight = 150;
  var trayX = deskPos.x + 2;
  var trayY = deskPos.y + deskHeight - trayHeight;

  new Ajax.Request(
          "<%= url_for(:controller => 'desktop', :action => 'edit_timecard', :date => date_s) %>",
          {
            method:"get",
            asynchronous:true,
            evalScripts:true,
            onComplete:function(request) {
                thetisBox.title = "<%= date_s %>";
                thetisBox.resizable = true;
//                thetisBox.overflow = "scroll";
                thetisBox.show(
                          trayX+","+trayY,
                          trayWidth+","+trayHeight,
                          "TRAY",
                          "",
                          "",
                          request.responseText.stripScripts()
                        );
                thetisBoxProgress.remove();
                request.responseText.evalScripts();
              }
          }
        );
}

function showToolTray(sw)
{
  var tool_tray = _z("tool_tray");

  if (!tool_tray)
    return;

  if (sw) {
    tool_tray.style.display = "block";
  } else {
    tool_tray.style.display = "none";
  }
}

function showTray()
{
  var desktop = _z("div_desktop");
  var deskWidth = desktop.clientWidth;
  var deskHeight = desktop.clientHeight;
  var deskPos = getPos(desktop);

  showToolTray(false);

  var thetisBoxProgress = prog("CENTER");

  var thetisBox = new ThetisBox;
<%= render(:partial => 'theitsbox_color') %>
  thetisBox.setOnClose("showToolTray(true);");
  var trayWidth = Math.floor(deskWidth / 3);
  var trayHeight = deskHeight;
  var trayX = deskPos.x + deskWidth - trayWidth + 2;
  var trayY = deskPos.y + 2;
  if (is_MS) {
    trayX -= 3;
  } else {
    trayHeight += 4
  }

  new Ajax.Request(
          "<%= url_for(:controller => 'desktop', :action => 'get_news_tray') %>",
          {
            method:"get",
            asynchronous:true,
            evalScripts:true,
            onComplete:function(request) {
                thetisBox.title = "<%= t('desktop.news.title') %>";
                thetisBox.overflow = "scroll";
                thetisBox.show(
                          trayX+","+trayY,
                          trayWidth+","+trayHeight,
                          "TRAY",
                          "",
                          "<%= t('desktop.news.caption') %>",
                          request.responseText.stripScripts()
                        );
                thetisBoxProgress.remove();
                request.responseText.evalScripts();
              }
          }
        );
}

function showToolBiorhythm(sw)
{
  var tool_biorhythm = _z("tool_biorhythm");

  if (tool_biorhythm == null) {
    return;
  }

  if (sw) {
    tool_biorhythm.style.display = "block";
  } else {
    tool_biorhythm.style.display = "none";
  }
}

function requestBirthday()
{
  var thetisBox = new ThetisBox;
  thetisBox.setFormTag("<form action=\"\" method=\"post\" onsubmit=\"saveBirthday(thetisBoxEdit.value); return false;\">");
  thetisBox.show(
            "CENTER",
            "",
            "INPUT",
            "",
            "<%= t('msg.specify_birthday') %><br/>&nbsp;&nbsp;&nbsp;<%= t('msg.ex_birthday') %><br/><%= t('msg.howto_change_birthday') %>",
            ""
          );
}

<% unless @login_user.nil? %>
function saveBirthday(birthday)
{
  var thetisBoxProgress = prog("CENTER");

  new Ajax.Request(
          "<%= url_for(:controller => 'users', :action => 'update', :id => @login_user.id) %>&user[birthday]="+birthday,
          {
            parameters:"authenticity_token=<%= form_authenticity_token %>",
            asynchronous:true,
            evalScripts:true,
            onComplete:function(request) {
                setTimeout("showBiorhythm()", 10);
                thetisBoxProgress.remove();
                _z("biorhythm_req_birth").value = "false";
              }
          }
        );
}
<% end %>

function showBiorhythm()
{
  showToolBiorhythm(false);

  var thetisBoxProgress = prog("CENTER");

  var thetisBox = new ThetisBox;
  thetisBox.setOnClose("showToolBiorhythm(true);");
  thetisBox.bgcolor_title = "darkviolet";
  thetisBox.bgcolor_body = "thistle";
  thetisBox.title = "<%= t('biorhythm.name') %>";

  new Ajax.Request(
          "<%= url_for(:controller => 'desktop', :action => 'show_biorhythm') %>",
          {
            method:"get",
            asynchronous:true,
            evalScripts:true,
            onComplete:function(request) {
                thetisBox.show(
                          "CENTER",
                          "530,407",
                          "TRAY",
                          "",
                          "",
                          request.responseText
                        );
                thetisBoxProgress.remove();
              }
          }
        );
}

</script>

