<%
mail_account_id = params[:mail_account_id]
%>

<%= form_tag( {:controller => 'mail_filters', :action => 'list'}, :method => 'get', :name => 'form_filters') %>

<table style="width:100%; border-spacing:3px;">
  <tr>
    <td>
      <table style="width:100%;">
        <tr>
          <td style="text-align:left; width:1%;" nowrap>
            <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/item_add.png" title="<%= t('btn.create') %>" onclick="showFilterNew();">
          </td>
          <td style="width:10px;"></td>
          <td style="text-align:right;" nowrap>
            <%
            opts = []
            @mail_accounts.each do |mail_account|
              opts << [mail_account.get_title, mail_account.id]
            end
            %>
            <%= t('mail_filter.target_account') %><%= t('cap.suffix') %>
            <%= select_tag('mail_account_id', options_for_select(opts, mail_account_id), :onchange => 'onOptionChangedFilters(this);', :style => 'min-width:150px;') %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr style="height:1px;"><td></td></tr>
  <tr>
    <td style="text-align:right;">
      <table style="width:100%;">
         <tr>
          <td nowrap style="width:80px; text-align:left; padding-right:10px;">
            <input type="button" value="<%= t('btn.order') %>" onclick="onOrderFiltersClicked(this);" style="width:80px;" />
          </td>
          <td nowrap style="width:120px; text-align:left;">
            <input type="button" value="<%= t('btn.execute_now')%>" onclick="onExecNowFiltersClicked(this);">
            <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/info.png" onclick="msg('<%= raw(t('mail_filter.execute_now_info')) %>');">
          </td>
          <td style="text-align:center;" nowrap>
          </td>
          <td style="text-align:right;" nowrap>
            <input type="button" value="<%= t('btn.select_deselect_all')%>" onclick="selectAllFilters();">
            <span style="color:silver;">|</span>
            <input type="button" value="<%= t('btn.delete')%>" onclick="onDeleteFiltersClicked();">
          </td>
         </tr>
      </table>
    </td>
  </tr>
</table>

<%
=begin
%>
# <table style="width:100%;">
#   <tr>
#     <td class="pagination_bar">
#       <%= t('cap.total') %><%= t('mail_filter', :count => @total_num) %>
#       <%
#       prms = ApplicationHelper.dup_hash(params)
#       prms.delete('authenticity_token')
#       prms.delete('check_filter')
#       prms['action'] = 'list'
#       pagination = will_paginate(@filter_pages, :params => prms)
#       pagination = ApplicationHelper.custom_pagination(pagination)
#       %>
#       <%= raw(pagination) %>
#     </td>
#   </tr>
#   <tr style="height:10px;"><td></td></tr>
# </table>
<%
=end
%>

<div class="base_list" id="div_filters">
<table class="regular_table" id="list_filters">
 <thead>
  <tr>
    <th style="width:5%; background-color:#d6ecfa;" nowrap><%= MailFilter.human_attribute_name('xorder') %><!-- <span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('xorder', @sort_col, @sort_type)) %></span> --></th>
    <th style="width:50%; background-color:#d6ecfa;" nowrap><%= MailFilter.human_attribute_name('title') %><!-- <span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('title', @sort_col, @sort_type)) %></span> --></th>
    <th style="width:15%; background-color:#d6ecfa;"><%= t('mail_filter.trigger.checking') %><!-- <span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('title', @sort_col, @sort_type)) %></span> --></th>
    <th style="width:15%; background-color:#d6ecfa;"><%= t('mail_filter.trigger.manual') %><!-- <span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('title', @sort_col, @sort_type)) %></span> --></th>
    <th style="width:15%; background-color:#d6ecfa;" nowrap><%= MailFilter.human_attribute_name('enabled') %><!-- <span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('enabled', @sort_col, @sort_type)) %></span> --></th>
  <!--
    <th class="list_sort" style="width:80%;" nowrap onclick="sortList('title')"><%= MailFilter.human_attribute_name('title') %><span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('title', @sort_col, @sort_type)) %></span></th>
    <th class="list_sort" style="width:20%;" nowrap onclick="sortList('enabled')"><%= MailFilter.human_attribute_name('enabled') %><span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('enabled', @sort_col, @sort_type)) %></span></th>
  -->
  </tr>
 </thead>
 <tbody>
<% @filters.each_with_index do |filter, idx|  %>
  <tr>
    <td nowrap style="text-align:center;">
      <%= (idx+1) %>
    </td>
    <td nowrap>
      <a class="a_underline" href="this.onclick();" onclick="showFilterEdit(<%= filter.id %>, '<%= ApplicationHelper.h_s_quote(truncate(filter.title, :length => 20)) %>'); return false;">
        <%= truncate(filter.title, :length => 30) %>
      </a>
    </td>
    <td nowrap style="text-align:center;">
    <% if filter.get_triggers_a.include?(MailFilter::TRIGGER_CHECKING) %>
      <%= raw(t('sign.positive')) %>
    <% else %>
      <%= raw(t('sign.not_applicable')) %>
    <% end %>
    </td>
    <td nowrap style="text-align:center;">
    <% if filter.get_triggers_a.include?(MailFilter::TRIGGER_MANUAL) %>
      <%= raw(t('sign.positive')) %>
    <% else %>
      <%= raw(t('sign.not_applicable')) %>
    <% end %>
    </td>
    <td style="text-align:center;">
    <% if filter.enabled %>
      <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/check_ok.png" />
    <% else %>
      <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/check_ng.png" />
    <% end %>
    </td>
    <td nowrap style="text-align:center;">
      <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/edit.png" title="<%= t('btn.edit') %>" onclick="showFilterEdit(<%= filter.id %>, '<%= ApplicationHelper.h_s_quote(truncate(filter.title, :length => 20)) %>');" />
    </td>
    <td style="width:20px; text-align:center;">
      <input type="hidden" name="check_filter[<%= filter.id %>]" value="0" />
      <input type="checkbox" class="check_filter" id="check_filter_<%= filter.id %>" name="check_filter[<%= filter.id %>]" value="1" />
    </td>
  </tr>
<% end %>
 </tbody>
</table>
</div>

<input type="hidden" id="sort_col" name="sort_col" value="<%= params[:sort_col] %>" />
<input type="hidden" id="sort_type" name="sort_type" value="<%= params[:sort_type] %>" />

</form>


<%= render(:partial => 'common/flash_notice') %>

<script type="text/javascript">

doUpdateFiltersList = function()
{
  if (thetisBoxFilterEdit) {
    thetisBoxFilterEdit.remove();
    thetisBoxFilterEdit = null;
  }

  var thetisBoxProgress = prog("TOP-RIGHT");

  new Ajax.Updater(
      document.form_filters.parentNode,
      "<%= url_for(:controller => 'mail_filters', :action => 'list') %>",
      {
        method: "get",
        parameters: Form.serialize(document.form_filters),
        evalScripts: true,
        onComplete: function(request) {
          thetisBoxProgress.remove();
        }
      }
    );
}

onOptionChangedFilters = function(elem)
{
  if (elem.id == "mail_account_id") {
    doUpdateFiltersList();
  }
}

thetisBoxFiltersOrder = null;

onOrderFiltersClicked = function(elem)
{
  if (thetisBoxFiltersOrder != null) {
    thetisBoxFiltersOrder.remove();
    thetisBoxFiltersOrder = null;
  }
  thetisBoxFiltersOrder = new ThetisBox;

  var addParams = [];
  addParams.push("mail_account_id="+_z("mail_account_id").value);

  var thetisBoxProgress = prog("TOP-RIGHT");
  new Ajax.Request(
      "<%= url_for(:controller => 'mail_filters', :action => 'get_order') %>",
      {
        method:"get",
        parameters:addParams.join("&"),
        onComplete:function(request) {
          thetisBoxProgress.remove();

          thetisBoxFiltersOrder.title = "<%= t('btn.order') %>";
          thetisBoxFiltersOrder.show(
                    "CENTER",
                    "480,+280",
                    "TRAY",
                    "",
                    "",
                    request.responseText.stripScripts()
                  );
          request.responseText.evalScripts();
        }
      }
    );
}

onExecNowFiltersClicked = function(elem)
{
  var folder_id = getCurrentFolderId();
  var mail_account_id = getMailAccountId(folder_id);
  if (!folder_id || mail_account_id != _z("mail_account_id").value) {
    msg("<%= t('mail_filter.specify_folder_to_filter') %>");
    return;
  }

  confm("<%= t('mail_filter.confirm_to_execute_now') %>", "doExecNowFilters("+mail_account_id+", "+folder_id+")");
}

doExecNowFilters = function(mail_account_id, folder_id)
{
  var addParams = [];
  addParams.push("mail_account_id="+mail_account_id);
  addParams.push("mail_folder_id="+folder_id);
  addParams.push("authenticity_token=<%= form_authenticity_token %>");

  var thetisBoxProgress = prog("TOP-RIGHT");

  new Ajax.Request(
      "<%= url_for(:controller => 'mail_filters', :action => 'do_execute') %>",
      {
        method:"post",
        parameters:addParams.join("&"),
        onComplete:function(request) {
          thetisBoxProgress.remove();

          if (doUpdateMails) {
            invalidateAccountSummary();
            doUpdateMails(null, false);
          }

          if (request.responseText == "") {
            tip("<%= t('msg.execute_success')%>");
          } else {
            msg("<%= t('msg.system_error')%><br/>"+request.responseText);
          }
        }
      }
    );
}

selectAllFilters = function()
{
  var elems = document.getElementsByClassName("check_filter", document.form_filters);
  var all_selected = true;
  for (var i=0; elems != null && i < elems.length; i++) {
    if (!elems[i].checked) {
      all_selected = false;
      break;
    }
  }
  for (var i=0; elems != null && i < elems.length; i++) {
    elems[i].checked = !all_selected;
  }
}

onDeleteFiltersClicked = function()
{
  var elems = document.getElementsByClassName("check_filter", document.form_filters);
  var count=0;
  for (var i=0; elems!=null && i<elems.length; i++) {
    if (elems[i].checked) {
      count++;
    }
  }
  if (count <= 0) {
    return;
  }
  confm(count+"<%= t('mail_filter.confirm_delete') %>", "doDeleteFilters()");
}

doDeleteFilters = function()
{
  var addParams = [];
  addParams.push(Form.serialize(document.form_filters));
  addParams.push("authenticity_token=<%= form_authenticity_token %>");

  var thetisBoxProgress = prog("TOP-RIGHT");

  new Ajax.Updater(
      document.form_filters.parentNode,
      "<%= url_for(:controller => 'mail_filters', :action => 'destroy') %>",
      {
        method: "post",
        parameters: addParams.join("&"),
        evalScripts: true,
        onComplete: function(request){
          thetisBoxProgress.remove();
          doUpdateFiltersList();
        }
      }
    );
}

/*
sortList = function(col)
{
  var type = "<%= @sort_type %>";
  
  if (col == "<%= @sort_col %>") {
    type = (type == "ASC") ? "DESC" : "ASC";
  }

  document.form_filters.sort_col.value = col;
  document.form_filters.sort_type.value = type;
  document.form_filters.submit();
  prog("TOP-RIGHT");
}
*/

doRegisterFilter = function(frm)
{
  prog("TOP-RIGHT");
  frm.submit();
}

showFilter = function(mail_filter_id, mail_filter_title)
{
  var thetisBox = new ThetisBox;
  thetisBox.resizable = true;
  thetisBox.bgcolor_title = "#8486e0";
  thetisBox.bgcolor_body = "#a5baff";

  var addParams = [];
  addParams.push("id="+mail_filter_id);

  var thetisBoxProgress = prog("CENTER");

  new Ajax.Request(
      "<%= url_for(:controller => 'mail_filters', :action => 'show') %>",
      {
        method:"get",
        parameters:addParams.join("&"),
        onComplete:function(request) {
          thetisBox.title = "&nbsp;<img src='<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/zoom.png'> " + mail_filter_title;
          thetisBox.overflow = "auto";
          if (thetisBoxFilters) {
            thetisBoxFilters.addChildBox(thetisBox);
          }
          thetisBox.show(
                    "CENTER",
                    Math.min(520, _mainWidth*9/10)+","+Math.min(640, _mainHeight*9/10),
                    "TRAY",
                    "",
                    "",
                    request.responseText.stripScripts()
                  );
          thetisBoxProgress.remove();
          request.responseText.evalScripts();
        }
      }
    );
}

thetisBoxFilterEdit = null;

showFilterNew = function()
{
  if (thetisBoxFilterEdit) {
    thetisBoxFilterEdit.remove();
    thetisBoxFilterEdit = null;
  }

  var mail_account_id = _z("mail_account_id").value;
  if (!mail_account_id) {
    tip("<%= t('msg.select_account') %>", "CENTER");
    return false;
  }

  var addParams = [];
  addParams.push("mail_account_id="+mail_account_id);

  var thetisBoxProgress = prog("CENTER");

  new Ajax.Request(
      "<%= url_for(:controller => 'mail_filters', :action => 'new') %>",
      {
        method:"get",
        parameters:addParams.join("&"),
        onComplete:function(request) {
          thetisBoxFilterEdit = new ThetisBox;
          thetisBoxFilterEdit.resizable = true;
          thetisBoxFilterEdit.bgcolor_title = "#8486e0";
          thetisBoxFilterEdit.bgcolor_body = "#a5baff";
          thetisBoxFilterEdit.title = "&nbsp;<img src='<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/edit.png'> <%= t('mail_filter.new') %>";
          thetisBoxFilterEdit.overflow = "auto";
          if (thetisBoxFilters) {
            thetisBoxFilters.addChildBox(thetisBoxFilterEdit);
          }
          thetisBoxFilterEdit.show(
                    "CENTER",
                    Math.min(520, _mainWidth*9/10)+","+Math.min(640, _mainHeight*9/10),
                    "TRAY",
                    "",
                    "",
                    request.responseText.stripScripts()
                  );
          thetisBoxProgress.remove();
          request.responseText.evalScripts();
        }
      }
    );

  return true;
}

showFilterEdit = function(mail_filter_id, mail_filter_title)
{
  if (thetisBoxFilterEdit) {
    thetisBoxFilterEdit.remove();
    thetisBoxFilterEdit = null;
  }

  var addParams = [];
  addParams.push("id="+mail_filter_id);

  var thetisBoxProgress = prog("CENTER");

  new Ajax.Request(
      "<%= url_for(:controller => 'mail_filters', :action => 'edit') %>",
      {
        method:"get",
        parameters:addParams.join("&"),
        onComplete:function(request) {
          thetisBoxFilterEdit = new ThetisBox;
          thetisBoxFilterEdit.resizable = true;
          thetisBoxFilterEdit.bgcolor_title = "#8486e0";
          thetisBoxFilterEdit.bgcolor_body = "#a5baff";
          thetisBoxFilterEdit.title = "&nbsp;<img src='<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/edit.png'> " + mail_filter_title;
          thetisBoxFilterEdit.overflow = "auto";
          if (thetisBoxFilters) {
            thetisBoxFilters.addChildBox(thetisBoxFilterEdit);
          }
          thetisBoxFilterEdit.show(
                    "CENTER",
                    Math.min(520, _mainWidth*9/10)+","+Math.min(640, _mainHeight*9/10),
                    "TRAY",
                    "",
                    "",
                    request.responseText.stripScripts()
                  );
          thetisBoxProgress.remove();
          request.responseText.evalScripts();
        }
      }
    );
}

</script>

