<% HistoryHelper.set_back(request) %>

<%= render(:partial => 'common/error', :locals => {:obj => @user}) %>

<table style="width:100%; margin-top:10px;">
  <tr>
    <td style="width:49%; vertical-align:top;" >

      <!-- Local -->
      <div class="info_area" style="width:100%; padding:15px 0px; text-align:center;" >
        <table style="margin:0px auto; width:85%; border-spacing:2px;">
          <tr>
            <td class="item_cap_td" nowrap style="width:100%;"><%= t('template.item_templates') %></td>
          </tr>
          <tr>
            <td class="item_value_td">
              <div id="div_ajax_local">
                <%= render(:partial => 'ajax_local') %>
              </div>

              <div class="button_gray" style="float:right; margin-top:3px;" onclick="doCreateLocal();">
                <%= t('btn.create') %>
              </div>
            </td>
          </tr>
        </table>
      </div>

    </td>
    <td style="width:10px;">&nbsp;</td>
    <td style="width:49%; vertical-align:top;">

      <!-- System -->
      <div class="info_area" style="width:100%; padding:15px 0px; text-align:center;">
        <table style="margin:0px auto; width:85%; border-spacing:2px;">
          <tr>
            <td class="item_cap_td" colspan="2" nowrap style="width:100%;"><%= t('template.system_templates') %></td>
          </tr>
          <tr>
            <td class="item_cap_td" style="width:40%;" nowrap><%= t('item.profile_sheet') %></td>
            <td class="item_value_td">
              <%= render(:partial => 'system') %>
            </td>
          </tr>
        </table>
      </div>

    </td>
  </tr>
</table>

<table style="margin:20px auto 10px;">
  <tr>
    <td class="img_button_td" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'history', :action => 'back') %>';">
      <%= t('btn.back') %>
    </td>
  </tr>
</table>
<br/>


<script type="text/javascript">

function doCreateLocal()
{
  var thetisBoxProgress = prog("TOP-RIGHT");

  new Ajax.Updater(
      "div_ajax_local",
      "<%= url_for(:controller => 'templates', :action => 'create_local') %>",
      {
        method:"post",
        parameters:"authenticity_token=<%= form_authenticity_token %>",
        asynchronous:true,
        evalScripts:true,
        onComplete:function(request) {
          thetisBoxProgress.remove();
        }
      }
    );
  return true;
}

function onDeleteLocalClicked(item_id, title)
{
  confm("<%= t('paren.square.left') %>" + title + "<%= t('msg.confirm_to_delete') %>", "doDeleteLocal("+item_id+")");
}

function doDeleteLocal(item_id)
{
  var addParams = [];
  addParams.push("id="+item_id);
  addParams.push("authenticity_token=<%= form_authenticity_token %>");

  var thetisBoxProgress = prog("TOP-RIGHT");

  new Ajax.Updater(
      "div_ajax_local",
      "<%= url_for(:controller => 'templates', :action => 'destroy_local') %>",
      {
        method:"post",
        parameters:addParams.join("&"),
        asynchronous:true,
        evalScripts:true,
        onComplete:function(request) {
          thetisBoxProgress.remove();
        }
      }
    );
}

</script>
