
<%= hidden_field('email', 'id') %>

<table style="width:100%; padding-top:15px;">
  <tr>
    <td style="min-width:80px; width:80px; text-align:left;">
      <%= t('cap.sender') %>
    </td>
    <td style="text-align:left;">

      <% if @mail_account.nil? %>
        <span style="font-weight:bold; color:red;"><%= t('msg.configure_mail_account') %></span>
      <%
      else
        opts = []
        mail_accounts = MailAccount.find_all("user_id=#{@login_user.id}")
        mail_accounts.each do |account|
          from_exp = (account.get_from_exp || '')
          opts << [from_exp + ' ' + t('paren.round.enclose', :name => account.get_title), account.id]
        end
      %>
        <%= select_tag('mail_account_id', options_for_select(opts, @mail_account.id), :style => 'width:80%;') %>
      <% end %>
    </td>
  </tr>
  <tr style="height:10px;"><td></td></tr>
  <tr>
    <td style="text-align:left;">
      <%= t('cap.send_to') %><%= t('cap.suffix') %>
    </td>
    <td style="text-align:center;">

      <table style="width:100%;">
        <tr>
          <td style="text-align:center;" nowrap>
            <select id="addresses_selected" name="addresses[]" class="select_multi" size="5" multiple="multiple">
            <% unless @email.nil? %>
              <% @email.get_to_addresses.each do |addr| %>
              <option value="<%= Email::ADDR_PREFIX_TO %><%= addr %>"><%= t('cap.to') %> <%= addr %></option>
              <% end %>
              <% @email.get_cc_addresses.each do |addr| %>
              <option value="<%= Email::ADDR_PREFIX_CC %><%= addr %>"><%= t('cap.cc') %> <%= addr %></option>
              <% end %>
              <% @email.get_bcc_addresses.each do |addr| %>
              <option value="<%= Email::ADDR_PREFIX_BCC %><%= addr %>"><%= t('cap.bcc') %> <%= addr %></option>
              <% end %>
            <% end %>
            </select>
          </td>
          <td style="width:35px; text-align:center; vertical-align:middle; line-height:20px;">
            <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/dropup.png" title="<%= t('btn.upper') %>" onclick="onAddrUpperClicked()" style="cursor:pointer; margin-bottom:3px;" /><br/>
            <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/dropdown.png" title="<%= t('btn.lower') %>" onclick="onAddrLowerClicked()" style="cursor:pointer;" /><br/>
          </td>
          <td style="width:35px; text-align:center; vertical-align:middle; line-height:20px;">
            <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/user_add.png" title="<%= t('btn.add') %>" onclick="onShowPanelSendToClicked()" style="cursor:pointer; margin-bottom:3px;" /><br/>
            <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/edit.png" title="<%= t('btn.edit') %>" onclick="onEditToAddressClicked()" style="cursor:pointer; margin-bottom:3px;" /><br/>
            <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/delete.png" title="<%= t('btn.remove') %>" onclick="removeAddress()" style="cursor:pointer; margin-bottom:3px;" /><br/>
          </td>
        </tr>
      </table>

    </td>
  </tr>
  <tr style="height:10px;"><td></td></tr>
  <tr>
    <td style="text-align:left;">
      <%= t('cap.subject') %>
    </td>
    <td style="text-align:left;">
      <%= text_field('email', 'subject', :size => '43', :style => 'width:80%;') %>
    </td>
  </tr>
  <tr style="height:10px;"><td></td></tr>
  <tr>
    <td colspan="2" style="text-align:center;">
      <%= text_area('email', 'message', :rows => '10', :style => 'width:100%;') %>
    </td>
  </tr>
</table>

<%= render(:partial => 'common/flash_notice') %>


<script type="text/javascript">

addEvent(_z("email_subject"), "keypress", avoidSubmit);

var thetisBoxSendTo = null;

onEditToAddressClicked = function()
{
  if (thetisBoxSendTo != null) {
    thetisBoxSendTo.remove();
    thetisBoxSendTo = null;
  }
  thetisBoxSendTo = new ThetisBox;
  thetisBoxSendTo.bgcolor_title = "#8db7eb";
  thetisBoxSendTo.bgcolor_body = "aliceblue";
  thetisBoxSendTo.bgcolor_content = "aliceblue";
  thetisBoxSendTo.border_content = "";

  var content = getToAddrEditor("onEditToAddrOk()", "onEditToAddrCancel()");
  if (!content) {
    return;
  }

  if (thetisBoxMailForm) {
    thetisBoxMailForm.addChildBox(thetisBoxSendTo);
  }
  thetisBoxSendTo.title = "<img src='<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/edit.png' /> <%= t('cap.send_to') %>";
  thetisBoxSendTo.overflow = "hidden";
  thetisBoxSendTo.show("CENTER", "420,168", "TRAY", "", "", content);
  addEvent(_z("to_addr_bare"), "keypress", avoidSubmit);
}

getToAddrEditor = function(onOk, onCancel)
{
  var found = false;
  var targetAddrText = "";
  var targetAddrVal = "";
  var list = _z("addresses_selected");
  for (var i=0; i < list.options.length; i++) {
    var option = list.options[i];
    if (!found && option.selected == true) {
      targetAddrText = option.text;
      targetAddrVal = option.value;
      found = true;
    } else {
      option.selected = false;
    }
  }
  if (!found) {
    return null;
  }
  var addrPrefix = targetAddrVal.split("<%= Email::ADDR_PREFIX_SEPARATOR %>")[0];
  addrPrefix += "<%= Email::ADDR_PREFIX_SEPARATOR %>";

  var addrBare = replaceAll(targetAddrVal, addrPrefix, "");

  addrBare = addrBare.replace(/<%= Email::ADDR_ORDER_SEPARATOR %>\d+$/, "");

  content = "<form name='form_to_addr'>";
  content += "<table style='width:100%; height:180px'>";
  content += "  <tr style='height:70px;'>";
  content += "    <td style='text-align:center; vertical-align:middle;' nowrap>";

  content += "      <select id='to_addr_prefix'>";
  var selected = "";
  <%
  opts = []
  opts << [t('cap.to'), Email::ADDR_PREFIX_TO]
  opts << [t('cap.cc'), Email::ADDR_PREFIX_CC]
  opts << [t('cap.bcc'), Email::ADDR_PREFIX_BCC]
  opts.each do |opt|
  %>
  selected = "";
  if (addrPrefix == "<%= opt.last %>") {
    selected = "selected";
  }
  content += "        <option value='<%= opt.last %>' "+selected+"><%= opt.first %></option>";
  <% end %>
  content += "      </select>";

  content += "      <input type='text' id='to_addr_bare' value='"+escQuotes(addrBare)+"' style='width:300px' />";
  content += "      <input type='hidden' id='org_to_addr_val' value='"+escQuotes(targetAddrVal)+"' />";
  content += "    </td>";
  content += "  </tr>";
  content += "  <tr>";
  content += "    <td style='text-align:center; vertical-align:top;'>";
  content += "      <input type='button' value='<%= t('btn.ok') %>' onclick='"+onOk+"' style='width:80px' />";
  content += "      &nbsp;<input type='button' value='<%= t('btn.cancel') %>' onclick='"+onCancel+"' style='width:80px' />";
  content += "    </td>";
  content += "  </tr>";
  content += "</table>";
  content += "</form>";
  return content;
}

onEditToAddrOk = function()
{
  var to_addr_prefix = _z("to_addr_prefix");
  var to_addr_bare = _z("to_addr_bare");
  var org_to_addr_val = _z("org_to_addr_val");

  var found = false;
  var list = _z("addresses_selected");
  for (var i=0; i < list.options.length; i++) {
    var option = list.options[i];
    if (!found && option.value == org_to_addr_val.value) {
      var dispPrefix = "";
      switch (to_addr_prefix.value) {
        case "<%= Email::ADDR_PREFIX_TO %>":
          dispPrefix = "<%= t('cap.to') %>";
          break;
        case "<%= Email::ADDR_PREFIX_CC %>":
          dispPrefix = "<%= t('cap.cc') %>";
          break;
        case "<%= Email::ADDR_PREFIX_BCC %>":
          dispPrefix = "<%= t('cap.bcc') %>";
          break;
      }
      option.text = dispPrefix + " " + to_addr_bare.value;
      option.value = to_addr_prefix.value + to_addr_bare.value
      option.selected = true;
      found = true;
    } else {
      option.selected = false;
    }
  }

  thetisBoxSendTo.remove();
  thetisBoxSendTo = null;
}

onEditToAddrCancel = function()
{
  thetisBoxSendTo.remove();
  thetisBoxSendTo = null;
}

onShowPanelSendToClicked = function()
{
  if (thetisBoxSendTo != null) {
    thetisBoxSendTo.remove();
    thetisBoxSendTo = null;
  }
  thetisBoxSendTo = new ThetisBox;
  thetisBoxSendTo.resizable = true;
  thetisBoxSendTo.bgcolor_title = "#8db7eb";
  thetisBoxSendTo.bgcolor_body = "aliceblue";
  thetisBoxSendTo.bgcolor_content = "aliceblue";
  thetisBoxSendTo.border_content = "";

  var addParams = [];
<% unless @mail_account.nil? %>
  addParams.push("mail_account_xtype=<%= @mail_account.xtype %>");
<% end %>

  var thetisBoxProgress = prog("TOP-RIGHT");
  new Ajax.Request(
      "<%= url_for(:controller => 'send_mails', :action => 'edit_send_to') %>",
      {
        method:"get",
        parameters:addParams.join("&"),
        onComplete:function(request) {
          thetisBoxProgress.remove();

          thetisBoxSendTo.title = "<%= t('cap.send_to') %>";
          if (thetisBoxMailForm) {
            thetisBoxMailForm.addChildBox(thetisBoxSendTo);
          }
          thetisBoxSendTo.show(
                    "TOP-RIGHT",
                    "480,340",
                    "TRAY",
                    "",
                    "",
                    request.responseText.stripScripts()
                  );
          request.responseText.evalScripts();
        }
      }
    );
}

_prepareMoveListItems = function(list)
{
  var selOptions = [];
  var firstIdx = -1;

  for (var i=0; i < list.options.length; i++) {

    var option = list.options[i];

    if (option.selected == true) {
      selOptions.push(option);

      if (firstIdx < 0) {
        firstIdx = i;
      }
    }
  }
  deleteList(list);

  return [firstIdx, selOptions];
}

onAddrUpperClicked = function()
{
  var list = _z("addresses_selected");
  var moveParams = _prepareMoveListItems(list);

  var firstIdx = moveParams[0];
  var selOptions = moveParams[1];

  if (firstIdx < 0) {
    return;
  }

  var insertIdx = firstIdx;
  if (insertIdx > 0) {
    insertIdx--;
  }

  for (var i=0; i < selOptions.length; i++) {
    list.options.add(selOptions[i], insertIdx++);
  }
}

onAddrLowerClicked = function()
{
  var list = _z("addresses_selected");
  var moveParams = _prepareMoveListItems(list);

  var firstIdx = moveParams[0];
  var selOptions = moveParams[1];

  if (firstIdx < 0) {
    return;
  }

  var insertIdx = firstIdx + 1;

  for (var i=0; i < selOptions.length; i++) {
    list.options.add(selOptions[i], insertIdx++);
  }
}

</script>
