<%
@folders_cache ||= {}
@folder_obj_cache ||= {}

unless @mail_folder.nil?
  div_id = 'mailTree:' + @mail_folder.id.to_s
%>

<div id="base_<%= div_id %>" nowrap style="padding:0px; display:inline;">
  <%
  linker_id = 'a_' + div_id
  %>
  <a id="<%= linker_id %>" value="" href="javaScript:onFolderTreeNodeClicked('<%= @mail_folder.id %>', '<%= linker_id %>', '<%= div_id %>')">
    <%
    icons = @mail_folder.get_icons
    folder_open = icons[1]
    folder_close = icons[2]
    %>
    <img id="<%= div_id %>_open" src="<%= folder_open %>"><img id="<%= div_id %>_close" src="<%= folder_close %>" style="display:none;">
    <span id="<%= div_id %>_name"><%= @mail_folder.name %></span>
  </a><br/>
  <div id="<%= div_id %>" class="thetisBoxTreeBlock" style="padding-left:30px; border-left:1px dotted navy;"></div>
</div>
<span id="path_<%= @mail_folder.id %>" style="display:none;"><%= @mail_folder.get_path(@folders_cache, @folder_obj_cache) %></span>
<span id="xtype_<%= @mail_folder.id %>" style="display:none;"><%= @mail_folder.xtype %></span>

<% end %>


<script type="text/javascript">

<% unless params[:mail_account_id].blank? %>
folderAccountsHash["<%= @mail_folder.id %>"] = <%= params[:mail_account_id] %>;
<% end %>

</script>
