
<% unless @emails.nil? %>

<table style="width:100%; margin:3px 0px;">
  <tr>
    <td class="pagination_td" style="text-align:center;">
      <%= t('cap.total') %><%= t('mail', :count => @total_num) %>
      <%
      prms = ApplicationHelper.dup_hash(params)
      prms.delete('authenticity_token')
      prms.delete('check_mail')
      prms['action'] = 'get_mails'
      pagination = will_paginate(@email_pages, :params => prms)
      pagination = ApplicationHelper.ajax_pagination(pagination, 'onPaginate')
      %>
      <%= raw(pagination) %>
    </td>
  </tr>
</table>

<input type='hidden' id="selected_row" value="" />
<input type='hidden' id="req_detail" value="false" />

<table class="regular_table">
 <thead>
  <tr>
    <th class="list_sort" style="width:55%;" nowrap onclick="sortList('subject')"><%= t('mail.subject') %><span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('subject', @sort_col, @sort_type)) %></span></th>
    <th class="list_sort" style="width:5%;" nowrap onclick="sortList('has_attach')"><img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/mail/clip.png"><span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('has_attach', @sort_col, @sort_type)) %></span></th>
    <th class="list_sort" style="width:15%;" nowrap onclick="sortList('from_address')"><%= t('mail.sender') %><span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('from_address', @sort_col, @sort_type)) %></span></th>
    <th class="list_sort" style="width:20%;" nowrap onclick="sortList('sent_at')"><%= t('mail.sent_at') %><span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('sent_at', @sort_col, @sort_type)) %></span></th>
  </tr>
 </thead>
 <tbody>
<%
@emails.each_with_index do |email, idx|
  sbj_style = (email.unread?)?'email_subject_unread':''
  show_header = true # (email.status != Email::STATUS_DRAFT)
%>
  <tr id="tr_<%= email.id %>" onclick="onSelChanged(this, '<%= email.id %>');" style="height:26px; cursor:pointer;" onmouseover="if (_z('selected_row').value!=this.id) {setTrBgcolor(this, '#BFFF81');}" onmouseout="setTrBgcolor(this, (_z('selected_row').value==this.id)?'lawngreen':'');">
    <td class="<%= sbj_style %>" id="mail_subject_<%= email.id %>" title="<%= email.subject %>" nowrap style="text-align:left;">
    <% if show_header %>
      <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/zoom.png" onclick="_z('req_detail').value='true';" />
    <% end %>
      <%= truncate(email.subject, :length => 30) %>
      <div id="mail_header_<%= email.id %>" style="display:none;">
        <%= render(:partial => 'header_info',:locals => {:email => email}) %>
      </div>
      <%= hidden_field_tag('email_status_' + email.id.to_s, email.status) %>
    </td>
    <td nowrap style="text-align:center;">
      <% if email.mail_attachments.nil? or email.mail_attachments.empty? %>
        &nbsp;
      <% else %>
        <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/mail/clip.png" />
      <% end %>
    </td>
    <td title="<%= email.from_address %>" nowrap>
      <%= truncate(email.from_address, :length => 15) %>
    </td>
    <%
    sent_at = email.get_sent_at_exp(false)
    sent_at_full = email.get_sent_at_exp(true)
    %>
    <td title="<%= sent_at_full %>" nowrap style="text-align:center;">
      <%= sent_at %>
    </td>
    <td nowrap style="text-align:center;" onclick="onCheckBoxCellClicked(this, '<%= email.id %>');">
      <%= check_box(:check_mail, email.id, :class => 'check_mail') %>
    </td>
  </tr>
<% end %>
 </tbody>
</table>
<% end %>

<%= render(:partial => 'common/flash_notice') %>


<script type="text/javascript">

_sort_col = "<%= params[:sort_col] %>";
_sort_type = "<%= params[:sort_type] %>";

formListParams_h = {
  folder_id: "<%= @folder_id %>",
  mail_account_id: "<%= params[:mail_account_id] %>",
  sort_col: "<%= params[:sort_col] %>",
  sort_type: "<%= params[:sort_type] %>"
}
setFormListParams(formListParams_h);

onCheckBoxCellClicked = function(elem, email_id)
{
  var sel_tr = _z("selected_row").value;
  if (sel_tr == "") {
    if (elem.parentNode.onclick) {
      elem.parentNode.onclick();
    }
  }

  if (window.event) {
    window.event.cancelBubble = true;
  }
}

onSelChanged = function(cur_tr, email_id)
{
  var sel_tr = _z("selected_row").value;
  if (sel_tr != "") {
    setTrBgcolor(_z(sel_tr), "");
  }
  _z("selected_row").value = cur_tr.id;
  setTrBgcolor(cur_tr, "lawngreen");

  if (_z("req_detail").value == "true") {
    showHeaderInfo(email_id, _z("mail_subject_"+email_id).title);
    _z("req_detail").value = "false";
  } else {
    removeHeaderInfo();
  }

  showMail(email_id);

  var div_mail_subject = _z("mail_subject_"+email_id);
  removeClassName(div_mail_subject, "email_subject_unread");

  if (_z("email_status_"+email_id).value == "<%= Email::STATUS_DRAFT %>") {
    _z("btnbox_handled").style.display = "none";
    _z("btnbox_draft").style.display = "block";
  } else {
    _z("btnbox_handled").style.display = "block";
    _z("btnbox_draft").style.display = "none";
  }

  var elems = document.getElementsByClassName("check_mail");
  for (var i=0; elems != null && i < elems.length; i++) {
    var elem = elems[i];
    var ref_email_id = elem.id.split("_")[2];
    elem.checked = (email_id == ref_email_id);
  }
}

</script>
