
<%= form_tag( {:controller => 'mail_folders', :action => 'get_mails' }, :method => 'get', :name => 'form_list') %>
<table style="width:100%; padding:2px 5px 4px;">
  <tr>
    <td style="text-align:left;" nowrap>
      <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/search.gif" title="<%= t('cap.search_keywords') %>">&nbsp;<%= text_field_tag('keyword', params[:keyword]) %>

      <input type="submit" value="<%= t('btn.search') %>" onclick="onSearchClicked(); return false;" />
      <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/erase.gif" title="<%= t('btn.clear') %>" onclick="onResetClicked(); return false;" />
    </td>
    <td style="text-align:right;" nowrap>
      <input type="button" value="<%= t('btn.select_deselect_all')%>" onclick="selectAll();">
      <span style="color:silver;">|</span>
      <input type="button" value="<%= t('btn.delete')%>" onclick="onDeleteMailsClicked();">
      <input type="button" value="<%= t('btn.move')%>" onclick="onMoveMailsClicked();">
    </td>
  </tr>
</table>

<input type="hidden" id="folder_id" name="id" value="" />
<input type="hidden" name="mail_account_id" value="" />
<input type="hidden" name="sort_col" value="" />
<input type="hidden" name="sort_type" value="" />
</form>

<script type="text/javascript">

initFormListParams = function()
{
  var folder_id = getCurrentFolderId();
  var mail_account_id = getMailAccountId(folder_id);

  formListParams_h = {
    folder_id: (folder_id || ""),
    mail_account_id: (mail_account_id || ""),
    sort_col: (_sort_col ||  ""),
    sort_type: (_sort_type || "")
  }
  setFormListParams(formListParams_h);
}
initFormListParams();

onSearchClicked = function()
{
  var addParams = new Array();
  addParams.push(Form.serialize(document.form_list));

  doUpdateViewMails("get", "<%= url_for(:controller => 'mail_folders', :action => 'get_mails') %>", addParams, "<%= @folder_id %>");
}

onResetClicked = function()
{
  document.form_list.keyword.value = "";

  var addParams = new Array();
  addParams.push(Form.serialize(document.form_list));

  doUpdateViewMails("get", "<%= url_for(:controller => 'mail_folders', :action => 'get_mails') %>", addParams, "<%= @folder_id %>");
}

onDeleteMailsClicked = function()
{
  var elems = document.getElementsByClassName("check_mail");
  var count = 0;
  var teams = new Array();
  for (var i=0; elems != null && i < elems.length; i++) {
    if (elems[i].checked) {
      count++;
    }
  }
  if (count <= 0) {
    return;
  }
  var msg = count + "<%= t('mail.confirm_to_delete') %>";
  confm(msg, "doDeleteMails()");
}

doDeleteMails = function()
{
  invalidateAccountSummary();

  var addParams = getCheckedMailsParam();
  addParams.push(Form.serialize(document.form_list));
<% unless params[:page].blank? %>
  addParams.push("page=<%= params[:page] %>");
<% end %>

  doUpdateViewMails("post", "<%= url_for(:controller => 'mail_folders', :action => 'ajax_delete_mails') %>", addParams, "<%= @folder_id %>");
}

onMoveMailsClicked = function()
{
  if (countCheckedMails() <= 0) {
    return;
  }
  showFolderTreeToMove(<%= @folder_id %>);
}

doMoveMails = function(thetisBoxId)
{
  var thetisBoxSelKeeper = _z("thetisBoxSelKeeper-"+thetisBoxId);
  if (thetisBoxSelKeeper && thetisBoxSelKeeper.value) {
    var val = thetisBoxSelKeeper.value;
    ThetisBox.remove(thetisBoxId);

    invalidateAccountSummary();

    var addParams = getCheckedMailsParam();
    addParams.push(Form.serialize(document.form_list));
    addParams.push("thetisBoxSelKeeper="+val);
    addParams.push("authenticity_token=<%= form_authenticity_token %>");
  <% unless params[:page].blank? %>
    addParams.push("page=<%= params[:page] %>");
  <% end %>

    doUpdateViewMails("post", "<%= url_for(:controller => 'mail_folders', :action => 'ajax_move_mails') %>", addParams, "<%= @folder_id %>");
  }
}

countCheckedMails = function()
{
  var cnt = 0;

  var elems = document.getElementsByClassName("check_mail");
  for (var i=0; elems != null && i < elems.length; i++) {
    if (elems[i].checked) {
      cnt++;
    }
  }
  return cnt;
}

getCheckedMailsParam = function()
{
  var params = new Array();

  var elems = document.getElementsByClassName("check_mail");
  for (var i=0; elems != null && i < elems.length; i++) {
    if (elems[i].checked) {
      var email_id = elems[i].id.split("_")[2];
      params[params.length] = "check_mail["+email_id+"]=1";
    }
  }
  return params;
}

showFolderTreeToMove = function(folder_id)
{
  var thetisBox = new ThetisBox;
  thetisBox.show("CENTER", "", "TREE", "doMoveMails("+thetisBox.id+")", "<%= t('item.select_folder_to_move_to')%>", "");
  thetisBox.setTree("<%= url_for(:controller => 'mail_folders', :action => 'ajax_get_tree') %>", folder_id);
}

sortList = function(col)
{
  var type = "<%= @sort_type %>";

  if (col == "<%= @sort_col %>") {
    type = (type == "ASC") ? "DESC" : "ASC";
  }

  document.form_list.sort_col.value = col;
  document.form_list.sort_type.value = type;

  var addParams = new Array();
  addParams.push(Form.serialize(document.form_list));

  doUpdateViewMails("get", "<%= url_for(:controller => 'mail_folders', :action => 'get_mails') %>", addParams, "<%= @folder_id %>");
}

selectAll = function()
{
  var elems = document.getElementsByClassName("check_mail");
  var all_selected = true;
  for (var i=0; elems != null && i < elems.length; i++) {
    if (!elems[i].checked) {
      all_selected = false;
      break;
    }
  }
  for (var i=0; elems != null && i < elems.length; i++) {
    elems[i].checked = !all_selected;
  }
}

onPaginate = function(url)
{
//  var m = url.match(/page=(\d+)/);
//  var page = m[1];
  doUpdateViewMails("get", url, null, "<%= @folder_id %>");
}

</script>

