
<table style="width:100%;">
  <tr>
    <td style="text-align:center; vertical-align:top;">

      <table class="border_collapse steelblue" style="width:100%;">
        <tr>
      <% @schedules_hash.each do |day, schedules| %>
          <td style="width:14.28%; text-align:center; word-break:break-all; font-weight:400; font-size:11pt; background-color:<%= THETIS_WDAY_COLOR[day.wday] %>;"><%= day.day %> (<%= Schedule::wday_name(day.wday) %>)</td>
      <% end %>
        </tr>
        <tr>
      <%
      @schedules_hash.each do |day, schedules|
        @day = day
      %>
          <td style="vertical-align:top;">

            <table style="width:100%; border-spacing:1px;">

              <%
              sche_holiday = Schedule.check_holiday(@day, @holidays)
              unless sche_holiday.nil?
              %>
              <tr>
                <td style="text-align:center; border:none;">
                  <span class="span_holiday"><%= sche_holiday.title %></span>
                </td>
              </tr>
              <% end %>


        <%
        if schedules.length > 0
          @overlap_ary = Schedule.check_overlap_equipment(@equipment_id, schedules, @day)
          schedules.each do |sched|
            @schedule = sched
        %>
              <tr>
                <%= render(:partial => 'schedule_entry_equip') %>
              </tr>
          <% end %>
        <% else %>
              <tr>
                <td style="border:none;">&nbsp;</td>
              </tr>
        <% end %>
            </table>

          </td>
      <% end %>
        </tr>
      </table>

    </td>
  </tr>
</table>
