
<%
@groups_cache ||= {}
@group_obj_cache ||= {}
%>

<%= form_tag( {:controller => 'equipment', :action => 'search'}, :method => 'get', :name => 'form_list') %>

<table style="width:100%; border-spacing:3px;">
  <tr>
    <td style="text-align:left;">
      <a href="<%= url_for(:controller => 'equipment', :action => 'new') %>"><img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/equipment_add.gif" style="vertical-align:middle;" alt="<%= t('btn.create') %>" title="<%= t('btn.create') %>"></a>
    </td>
  </tr>
  <tr style="height:1px;"><td></td></tr>
  <tr>
    <td>
      <table style="width:100%;">
        <tr>
          <td style="text-align:left; padding-bottom:5px;" nowrap>
    <% if @group_id.nil? or @group_id.empty? %>
            <div class="button_gray" style="float:left;" onclick="showGroupTreeToSelect('0');">
              <%= t('btn.select_group') %>
            </div>
    <% else %>
            <%= t('cap.group') %> <a href="#" onclick="showGroupTreeToSelect('<%= @group_id %>'); return false;" style="color:red;" onMouseOver="this.style.backgroundColor='palegreen'" onMouseOut="this.style.backgroundColor='white'"><%= Group.get_path(@group_id, @groups_cache, @group_obj_cache) %></a>
            &nbsp; <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/erase.gif" alt="<%= t('btn.clear') %>" title="<%= t('btn.clear') %>" onclick="clearGroup();" />
    <% end %>
          </td>
          <td style="text-align:right;" nowrap>
            <input type="button" value="<%= t('btn.select_deselect_all')%>" onclick="selectAll();">
            <span style="color:silver;">|</span>
            <input type="button" value="<%= t('btn.delete')%>" onclick="doDelete(); return false;">
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table style="width:100%; margin-bottom:10px;">
  <tr>
    <td class="pagination_td" style="text-align:center;">
      <%= t('cap.total') %><%= t('equipment', :count => @total_num) %>
      <%
      prms = ApplicationHelper.dup_hash(params)
      prms.delete('authenticity_token')
      prms.delete('check_equipment')
      prms['action'] = 'list'
      pagination = will_paginate(@equipment_pages, :params => prms)
      pagination = ApplicationHelper.custom_pagination(pagination)
      %>
      <%= raw(pagination) %>
    </td>
  </tr>
</table>

<div class="base_list" id="div_equipment">
<table id="list_equipment" style="width:100%; border-spacing:1px;">
  <tr>
    <th class="list_sort" style="width:5%;"  nowrap onclick="sortList('equipment.id')"><%= t('activerecord.attributes.id') %><span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('equipment.id', @sort_col, @sort_type)) %></span></th>
    <th class="list_sort" style="width:28%;" nowrap onclick="sortList('name')"><%= Equipment.human_attribute_name('name') %><span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('name', @sort_col, @sort_type)) %></span></th>
    <th class="list_sort" style="width:30%;" nowrap onclick="sortList('note')"><%= Equipment.human_attribute_name('note') %><span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('note', @sort_col, @sort_type)) %></span></th>
    <th class="list_sort" style="width:27%;"  nowrap onclick="sortList('belongs_to')"><%= t('equipment.belongs_to') %><span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('belongs_to', @sort_col, @sort_type)) %></span></th>
  </tr>
<%
users_cache = {}
@equipment.each_with_index do |equipment, idx|
%>
  <% td_class = (idx % 2 == 1) ? 'list_td_on' : 'list_td_off' %>
  <tr style="height:33px;">
    <td class="<%= td_class %>" nowrap style="text-align:right;"><%= equipment.id %></td>
    <td class="<%= td_class %>" nowrap>
      <a class="a_underline" href="#" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'equipment', :action => 'show', :id => equipment.id) %>'; return false;">
        <%= truncate(equipment.name, :length => 20) %>
      </a>
    </td>
    <td class="<%= td_class %>" nowrap><pre><%= truncate(equipment.note, :length => 30) %></pre></td>
    <td class="<%= td_class %>" nowrap>
  <!--
      <% equipment.get_users_a.each do |user_id| %>
        <%= User.get_name(user_id, users_cache) %><br/>
      <% end %>
  -->
      <%
      teams_cache = {}

      groups = equipment.get_groups_a
      teams = equipment.get_teams_a
      %>
      <% unless groups.empty? %>
        <%= t('group.plural') %><%= t('cap.suffix') %>
        <div style="padding-left:20px;">
        <% groups.each do |group_id| %>
          <%= Group.get_path(group_id, @groups_cache, @group_obj_cache) %><br/>
        <% end %>
        </div>
      <% end %>
      <% unless teams.empty? %>
        <%= t('team.plural') %><%= t('cap.suffix') %>
        <div style="padding-left:20px;">
        <% teams.each do |team_id| %>
          <%= Team.get_name(team_id, teams_cache) %><br/>
        <% end %>
        </div>
      <% end %>
    </td>
    <td class="<%= td_class %>" nowrap style="text-align:center;">
      <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/edit.gif" alt="<%= t('btn.edit') %>" title="<%= t('btn.edit') %>" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'equipment', :action => 'edit', :id => equipment) %>';">
    </td>
    <td class="<%= td_class %>" nowrap style="text-align:center;">
      <%= check_box(:check_equipment, equipment.id, :class => 'check_equipment') %>
    </td>
  </tr>
<% end %>
</table>
</div>

<%= hidden_field_tag('sort_col', params[:sort_col]) %>
<%= hidden_field_tag('sort_type', params[:sort_type]) %>
<%= hidden_field_tag('group_id', @group_id) %>

</form>

<script type="text/javascript">

function clearGroup()
{
  document.form_list.action = "<%= url_for(:controller => 'equipment', :action => 'list') %>";
  document.form_list.group_id.value = "";
  document.form_list.submit();
  prog("TOP-RIGHT");
}

function sortList(col)
{
  var type = "<%= @sort_type %>";

  if (col == "<%= @sort_col %>") {
    type = (type == "ASC") ? "DESC" : "ASC";
  }

  document.form_list.action = "<%= url_for(:controller => 'equipment', :action => 'list') %>";
  document.form_list.sort_col.value = col;
  document.form_list.sort_type.value = type;
  document.form_list.submit();
  prog("TOP-RIGHT");
}

function showGroupTreeToSelect(group_id)
{
  var thetisBox = new ThetisBox;
  thetisBox.progress = true;
  thetisBox.show("CENTER", "", "TREE", "<%= url_for(:controller => 'equipment', :action => 'list') %>", "<%= t('group.select_to_show')%>", "");
  thetisBox.setTree("<%= url_for(:controller => 'groups', :action => 'ajax_get_tree') %>", group_id);
}

function selectAll()
{
  var elems = document.getElementsByClassName("check_equipment", document.form_list);
  var all_selected = true;

  for (var i=0; elems != null && i < elems.length; i++) {
    if (!elems[i].checked) {
      all_selected = false;
      break;
    }
  }
  for (var i=0; elems != null && i < elems.length; i++) {
    elems[i].checked = !all_selected;
  }
}

function doDelete()
{
  var elems = document.getElementsByClassName("check_equipment", document.form_list);
  var count=0;
  for (var i=0; elems != null && i < elems.length; i++) {
    if (elems[i].checked) {
      count++;
    }
  }
  if (count <= 0) return;

  confm(count+"<%= t('equipment.confirm_to_delete') %>", "_doDelete()");
}

function _doDelete()
{
  document.form_list.action = "<%= url_for(:controller => 'equipment', :action => 'destroy') %>";
  document.form_list.method = "post";
  document.form_list.submit();

  prog("TOP-RIGHT");
}

</script>

