
<%= render(:partial => 'common/jkl_calendar_init') %>

<script type="text/javascript">

var calDisp = new JKL.Calendar("div_cal_disp", "cal_date");
calDisp.setFunc(function() {_z('date_wday').innerHTML = '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'; document.form_equipment.submit(); prog('TOP-RIGHT');});
calDisp.setStyle("frame_color", "#3333cc");

</script>

<%
date_s = @date.strftime(Schedule::SYS_DATE_FORM)

@equip_name_cache ||= {}
@equip_obj_cache ||= {}
%>

<%= form_tag( {:controller => 'equipment', :action => 'schedule_all', :id => params[:id]}, :method => 'get', :name => 'form_equipment', :id => 'form_equipment') %>

<table style="margin:0px auto; width:98%;">
  <tr>
    <td style="width:30%; text-align:left;">
    <% unless @login_user.nil? %>
      <table style="width:65px; margin: 0px auto 0px 0px;">
        <tr>
          <td style="text-align:left; width:30px;" nowrap>
            <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/schedule_add.png" title="<%= t('btn.create') %>" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'schedules', :action => 'day', :id => date_s, :showNew => 'true') %>';">
          </td>
          <% if @login_user.admin? User::AUTH_EQUIPMENT %>
          <td style="width:5px;"></td>
          <td style="text-align:left; width:30px;" nowrap>
            <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/config.png" title="<%= t('btn.config') %>" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'equipment', :action => 'list') %>';">
          </td>
          <% end %>
        </tr>
      </table>
    <% end %>
    </td>
    <td style="text-align:right; width:30px;" nowrap>
      <%
      display = [[h(t('equipment.all')), 'all']]
      unless @login_user.nil?
        group_obj_cache = {}
        groups_a = @login_user.get_groups_a(true, group_obj_cache)
        groups_a.each do |group_id|
          if group_obj_cache[group_id].nil?
            group_name = Group.get_name(group_id)
          else
            group_name = group_obj_cache[group_id].name
          end
          display << [h(group_name), 'group_'+group_id]
        end
        teams_a = @login_user.get_teams_a
        teams_a.each do |team_id|
          display << [h(Team.get_name(team_id)), 'team_'+team_id]
        end
      end
      %>
      <%= t('cap.display') %>
      <%= select_tag('display', options_for_select(display, params[:display]), :onchange => "prog('TOP-RIGHT'); submit();") %>
    </td>
  </tr>
</table>

<div style="text-align:center;">
  <%= render(:partial => 'common/calendar_paging_day', :locals => {:date => @date}) %>
</div>
</form>

<% if @equip_schedule_hash.nil? or @equip_schedule_hash.empty? %>
  <div style="padding-top:10px;">
    <table class="border_collapse green" style="width:95%; margin:0px auto;">
      <tr style="height:50px;">
        <td style="text-align:center; color:darkgreen;">
          <%= t('paren.no_equipment') %>
        </td>
      </tr>
    </table>
  </div>
<% else %>

  <%
  @equip_schedule_hash.each do |equip_id, sched_hash|
    @equipment_id = equip_id
    @schedules_hash = sched_hash
  %>

  <div id="div_timetable_<%= @equipment_id %>">
    <table style="width:100%; padding-bottom:10px;">
      <tr>
        <td style="text-align:left;">
          <% disp = Equipment.get_name(@equipment_id, @equip_name_cache, @equip_obj_cache) %>
          <a class="a_underline" href="javascript:this.onclick()" onclick="showEquipment(<%= @equipment_id %>, '<%= ApplicationHelper.h_s_quote(disp) %>'); return false;">
            <%= disp %>
          </a>
        </td>
      </tr>
      <tr style="height:5px;"><td></td></tr>
      <tr>
        <td>
          <%= render(:partial => 'weektable') %>
        </td>
      </tr>
    </table>
  </div>

  <% end %>

<% end %>


<%= render(:partial => 'common/schedule_func', :locals => {:from => 'equipment'}) %>

<script type="text/javascript">

function doPageDay(date)
{
  var addParams = [];
  addParams.push("date="+date);
  addParams.push("id=<%= params[:id] %>");

  var url = "<%= url_for(:controller => 'equipment', :action => 'schedule_all') %>";
  url += "?" + addParams.join("&");

  prog("TOP-RIGHT");
  location.href = url;
}

function showEquipment(equipment_id, name)
{
  var thetisBox = new ThetisBox;
  thetisBox.resizable = true;
  thetisBox.title = "<%= t('menu.equipment') %>";
  thetisBox.show(
      "CENTER",
      (_mainWidth*7/10)+","+(_mainHeight*7/10),
      "IFRAME",
      "",
      "",
      "<%= url_for(:controller => 'equipment', :action => 'show') %>?id=" + equipment_id + "&popup=true"
    );
}

</script>
