
<% if @equipment.nil? %>
  <div style="padding-top:20px;">
    <table style="width:95%; border:green 1px solid;">
      <tr style="height:50px;">
        <td style="text-align:center; color:darkgreen;">
          <%= t('msg.already_deleted', :name => Equipment.model_name.human) %>
        </td>
      </tr>
    </table>
  </div>
<% elsif !@equipment.is_accessible_by(@login_user) %>
  <div style="padding-top:20px;">
    <table style="width:95%; border:green 1px solid;">
      <tr style="height:50px;">
        <td style="text-align:center; color:darkgreen;">
          <%= t('msg.need_auth_to_access') %>
        </td>
      </tr>
    </table>
  </div>
<% else %>
  <table style="margin:0px auto; width:85%; border-spacing:2px;">
    <tr>
      <td class="prim_cap" nowrap>
        <%= Equipment.human_attribute_name('name') %>
      </td>
      <td class="spec_value">
        <%= @equipment.name %>
      </td>
    </tr>
    <tr>
      <td class="spec_cap" nowrap>
        <%= Equipment.human_attribute_name('note') %>
      </td>
      <td class="spec_value">
        <pre><%= @equipment.note %></pre>
      </td>
    </tr>
    <tr>
      <td class="spec_cap" nowrap>
        <%= t('equipment.belongs_to') %>
      </td>
      <td class="spec_value">
        <%= render(:partial => 'common/show_scope', :locals => {:obj => @equipment, :empty_msg => t('msg.all')}) %>
      </td>
    </tr>
  </table>
<% end %>

<% if (params[:popup] != 'true') %>
<table style="margin:10px auto;">
  <tr>
    <td class="prim_btn" onclick="prog('TOP-RIGHT'); history.back();">
      <%= t('btn.back') %>
    </td>
  </tr>
</table>
<% end %>

<%= render(:partial => 'common/flash_notice') %>

