<% unless @tmpl_workflows_folder.nil? %>

<table class="info_area" style="width:100%;">
  <tr>
    <td id="sortable_items" style="text-align:left; padding-left:10px;">
      <%
      sql = WorkflowsHelper.get_tmpl_list_sql(@tmpl_workflows_folder.id, @group_id)
      workflows = Workflow.find_by_sql(sql)
      unless workflows.nil?
        workflows.each do |workflow|
          item = workflow.item
          next if item.nil?
      %>
        <div id="item_<%= item.id %>" style="height:18px; padding-top:4px; padding-bottom:4px;">
          <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/up_down.gif" title="<%= t('msg.drag_to_change_orger') %>" style="cursor:move" />
          <a class="a_underline" href="javascript:this.onclick()" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'items', :action => 'show', :id => item.id) %>'; return false;">
            <%= truncate(item.title, :length => 20) %>
          </a>
          &nbsp;&nbsp;<img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/edit.gif" title="<%= t('btn.edit') %>" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'items', :action => 'edit', :id => item.id) %>';" />
          &nbsp;<img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/delete.gif" title="<%= t('btn.delete') %>" onclick="doDeleteWorkflow(<%= item.id %>, '<%= ApplicationHelper.h_s_quote(truncate(item.title, :length => 20)) %>'); return false;" />
        </div>
      <%
        end
      end
      %>
    </td>
  </tr>
</table>

<script type="text/javascript">

onItemsOrderUpdated = function()
{
  var addParams = new Array();
  addParams.push("id=<%= @tmpl_workflows_folder.id %>");
  addParams.push("authenticity_token=<%= form_authenticity_token %>");

  new Ajax.Request(
      "<%= url_for(:controller => 'folders', :action => 'update_items_order') %>",
      {
        method:"post",
        parameters:Sortable.serialize("sortable_items", { name: "items_order" }) + "&" + addParams.join("&"),
        asynchronous:true,
        evalScripts:true
      }
    );
}

//<![CDATA[
Sortable.create(
      "sortable_items",
      {
        onUpdate: onItemsOrderUpdated,
        tag:"div"
      }
    );
//]]>
</script>

<% end %>
