
<table class="info_area" style="height:100%; width:100%; background-color:lavender;">
  <tr>
    <td style="vertical-align:top; padding:10px;">
      <div id="div_ajax_map" style="text-align:left;">

        <%= render(:partial => 'ajax_group_map') %>

      </div>

      <table style="margin:20px auto 0px;">
        <tr>
          <td class="img_button_td" onclick="doRegister();">
            <%= t('btn.register') %>
          </td>
        <% unless @office_map.nil? %>
          <td style="width:10px;"></td>
          <td class="img_button_td" onclick="onClearClicked();">
            <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/erase.gif" /> <%= t('btn.clear') %>
          </td>
        <% end %>
        </tr>
      </table>

    </td>
  </tr>
</table>


<script type="text/javascript">

doRegister = function()
{
  var thetisBoxProgress = prog("TOP-RIGHT");

  ajaxUploadFile(
      document.form_group_map,
      document.form_group_map.action,
      "div_ajax_map",
      function(){
        thetisBoxProgress.remove();
      },
      function(){ /*ERROR*/ }
    );
  return true;
}

onClearClicked = function()
{
  confm("<%= t('office_map.confirm_to_delete') %>", "doClear()");
}

doClear = function()
{
  var thetisBoxProgress = prog("TOP-RIGHT");

  var addParams = [];
  addParams.push("group_id=<%= @group_id %>");
  addParams.push(Form.serialize(document.form_group_map));

  new Ajax.Updater(
      "div_ajax_map",
      "<%= url_for(:controller => 'locations', :action => 'delete_map') %>",
      {
        method:"post",
        parameters:addParams.join("&"),
        evalScripts:true,
        onComplete:function(request) {
          thetisBoxProgress.remove();
        }
      }
    );
}

</script>
