
<table class="info_area" style="width:100%; height:100%;">
  <tr>
    <td style="vertical-align:top; padding:10px;">
      <div id="div_ajax_workflows">

        <%= render(:partial => 'ajax_group_workflows') %>

      </div>

      <div class="button_gray" style="float:right; margin-top:3px;" onclick="doCreateWorkflow();">
        <%= t('btn.create') %>
      </div>
    </td>
  </tr>
</table>


<script type="text/javascript">

doCreateWorkflow = function()
{
  var thetisBoxProgress = prog("TOP-RIGHT");

  new Ajax.Updater(
      "div_ajax_workflows",
      "<%= url_for(:controller => 'templates', :action => 'create_workflow', :group_id => @group_id) %>",
      {
        method:"post",
        parameters:"authenticity_token=<%= form_authenticity_token %>",
        asynchronous:true,
        evalScripts:true,
        onComplete:function(request){
          thetisBoxProgress.remove();
        }
      }
    );
  return true;
}

onDeleteWorkflowClicked = function(item_id, title)
{
  confm("<%= t('paren.square.left') %>" + title + "<%= t('msg.confirm_to_delete') %>", "doDeleteWorkflow("+item_id+")");
}

doDeleteWorkflow = function(item_id)
{
  var addParams = [];
  addParams.push("id=" + item_id);
  addParams.push("group_id=<%= @group_id %>");
  addParams.push("authenticity_token=<%= form_authenticity_token %>");

  var thetisBoxProgress = prog("TOP-RIGHT");

  new Ajax.Updater(
      "div_ajax_workflows",
      "<%= url_for(:controller => 'templates', :action => 'destroy_workflow') %>",
      {
        method:"post",
        parameters:addParams.join("&"),
        asynchronous:true,
        evalScripts:true,
        onComplete:function(request){
          thetisBoxProgress.remove();
        }
      }
    );
}

</script>
