<table style="width:100%; height:100%; background-color:cornsilk;">
  <tr>
    <td style="vertical-align:top;">

<% if (@groups.nil? or @groups.empty?) %>

      <table style="width:80%; margin:30px auto 0px;">
        <tr>
          <td style="text-align:center; padding:10px; color:firebrick; background-color:white; border:5px moccasin dashed; border-radius:8px;">
            <%= t('paren.no_groups') %>
          </td>
        </tr>
      </table>

<% else %>

      <table class="regular_table">
       <tbody id="sortable_items">
      <% @groups.each_with_index do |group, idx| %>
        <tr id="group_<%= group.id %>">
          <td>
            <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/up_down.png" title="<%= t('msg.drag_to_change_orger') %>" style="cursor:move" />
            [<%= group.id %>]&nbsp;&nbsp;<span style="color:navy;"><%= truncate(group.name, :length => 20) %></span>
          </td>
        </tr>
      <% end %>
       </tbody>
      </table>

<script type="text/javascript">

onGroupsOrderUpdated = function()
{
  var addParams = [];
  addParams.push("id=<%= Group.find(@groups.first).parent_id %>");
  addParams.push(Sortable.serialize("sortable_items", { name: "groups_order" }));
  addParams.push("authenticity_token=<%= form_authenticity_token %>");

  new Ajax.Request(
      "<%= url_for(:controller => 'groups', :action => 'update_groups_order') %>",
      {
        method:"post",
        parameters:addParams.join("&")
      }
    );
}

Sortable.create(
    "sortable_items",
    {
      onUpdate: onGroupsOrderUpdated,
      tag:"tr"
    }
  );

</script>

<% end %>

    </td>
  </tr>
</table>
