
<table class="info_area" style="width:100%;">
  <tr>
    <td id="sortable_titles" style="padding-left:10px; text-align:left;">
      <%
      titles = User.get_config_titles
      unless titles.nil?
        titles.each do |title_name|
      %>
        <div id="item_<%= title_name %>" style="height:18px; padding:4px 0px;">
          <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/up_down.gif" title="<%= t('msg.drag_to_change_orger') %>" style="cursor:move;" />
          <%= truncate(title_name, :length => 20) %>
          <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/edit.gif" title="<%= t('btn.rename') %>" onclick="onRenameTitleClicked('<%= ApplicationHelper.h_s_quote(title_name) %>'); return false;" style="margin-left:10px;" />
          <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/delete.gif" title="<%= t('btn.delete') %>" onclick="onDeleteTitleClicked('<%= ApplicationHelper.h_s_quote(title_name) %>'); return false;" style="margin-left:5px;" />
        </div>
      <%
        end
      end
      %>
    </td>
  </tr>
</table>

<script type="text/javascript">

onTitlesOrderUpdated = function()
{
  var addParams = [];
  addParams.push("authenticity_token=<%= form_authenticity_token %>");

  new Ajax.Request(
      "<%= url_for(:controller => 'users', :action => 'update_titles_order') %>",
      {
        method:"post",
        parameters:Sortable.serialize("sortable_titles", { name: "titles_order" }) + "&" + addParams.join("&"),
        asynchronous:true,
        evalScripts:true
      }
    );
}

Sortable.create(
      "sortable_titles",
      {
        onUpdate: onTitlesOrderUpdated,
        tag:"div"
      }
    );

</script>

<%= render(:partial => 'common/flash_notice') %>

