<%
unless @user.nil? or @user.groups.nil?

  @groups_cache ||= {}
  @group_obj_cache ||= {}
%>

  <table style="width:100%;">
  <% @user.get_groups_a.each do |group_id| %>
    <tr>
      <td nowrap style="width:20%;">
        <%= Group.get_path(group_id, @groups_cache, @group_obj_cache) %><br/>
      </td>
    <% if @login_user.admin?(User::AUTH_USER) %>
      <td style="width:20px;"></td>
      <td>
        <table style="margin:0px auto 0px 0px;">
          <tr>
            <td style="width:10px;"></td>
            <td style="width:15px;">
              <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/edit.gif" title="<%= t('btn.edit') %>" onclick="showGroupTreeToSelect('<%= group_id %>', true);" />
            </td>
            <td style="width:10px;">&nbsp;</td>
            <td style="width:15px;">
              <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/delete.gif" title="<%= t('btn.delete') %>" onclick="onRemoveGroupClicked(<%= group_id %>, '<%= ApplicationHelper.h_s_quote(Group.get_path(group_id, @groups_cache, @group_obj_cache)) %>', <%= @user.id %>); return false;" />
            </td>
          </tr>
        </table>
      </td>
    <% end %>
      <td style="width:30%;"></td>
    </tr>
  <% end %>
  </table>

<% end %>
