
<!-- Authorities -->
<div class="info_area" style="width:100%; padding:15px 0px; text-align:center;">
  <table style="width:90%; border-spacing:2px;">
    <tr>
      <td class="item_cap_td" nowrap style="width:100%; text-align:center;">
        <%= t('cap.admin_authorities') %>
      </td>
    </tr>
    <tr>
      <td class="item_value_td">
        <table style="width:100%;">
          <tr>
            <td nowrap style="width:20%;">
              <%
              unless @user.nil?
                @user.get_auth_a.each do |auth|
              %>
                <%= User.get_auth_name(auth) %><br/>
              <%
                end
              end
              %>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>

<div style="height:10px"></div>

<!-- Groups -->
<div class="info_area" style="width:100%; padding:15px 0px; text-align:center;">
  <table style="width:90%; margin:0px auto; border-spacing:2px;">
    <tr>
      <td class="item_cap_td" nowrap style="width:100%; text-align:center;">
        <%= t('group.plural') %>
      </td>
    </tr>
    <tr>
      <td class="item_value_td">
        <table style="width:100%;">
          <tr>
            <td nowrap>
              <%
              unless @user.nil?
                @groups_cache ||= {}
                @group_obj_cache ||= {}
                @user.get_groups_a.each do |group_id|
              %>
                <%= Group.get_path(group_id, @groups_cache, @group_obj_cache) %><br/>
              <%
                end
              end
              %>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>

<div style="height:10px"></div>

<!-- OfficialTitles -->
<div class="info_area" style="width:100%; padding:15px 0px; text-align:center;">
  <table style="width:90%; margin:0px auto;">
    <tr>
      <td class="item_cap_td" nowrap style="width:100%; text-align:center;">
        <%= OfficialTitle.model_name.human %>
      </td>
    </tr>
    <tr>
      <td class="item_value_td" style="padding:0px;">
      <%
      official_title_obj_cache = {}
      @user.user_titles.each do |user_title|
      %>
        <%= truncate(OfficialTitle.get_name(user_title.official_title_id, official_title_obj_cache), :length => 16) %><br/>
      <% end  %>
      </td>
    </tr>
  </table>
</div>

<div style="height:10px"></div>

<!-- Teams -->
<div class="info_area" style="width:100%; padding:15px 0px; text-align:center;">
  <table style="width:90%; margin:0px auto; border-spacing:2px;">
    <tr>
      <td class="item_cap_td" nowrap style="width:100%; text-align:center;">
        <%= t('team.plural') %>
      </td>
    </tr>
    <tr>
      <td class="item_value_td">
        <div id="div_user_teams">
          <ul style="padding-left:15px;">
          <%
          @user.get_teams_a.each do |team_id|
            begin
              team = Team.find(team_id)
              access_auth = team.item.check_user_auth(@login_user, 'r', true)
          %>
            <li type="square">
            <% if access_auth %><a class="a_underline" href="javascript:this.onclick()" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'items', :action => 'show', :id => team.item.id) %>'; return false;"><% end %>
              <%= team.name %>
            <% if access_auth %></a><% end %><br/>
          <%
            rescue
            end
          end
          %>
          </ul>
        </div>
      </td>
    </tr>
  </table>
</div>

<div style="height:10px"></div>

<!-- Zeptair VPN -->
<div class="info_area" style="width:100%; padding:15px 0px; text-align:center;">
  <table style="width:90%; margin:0px auto; border-spacing:2px;">
    <tr>
      <td class="item_cap_td" nowrap style="width:100%; text-align:center;">
        <%= t('zeptair.vpn_connection') %>
      </td>
    </tr>
    <tr>
      <td class="item_value_td">
        <% if @user.allowed_zept_connect? %>
          <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/check_ok.gif">
          <%= t('msg.allowed') %><br/>
          <%= t('zeptair.recent_zeptid') %> <b style="color:blueviolet;"><%= @user.zeptair_id %></b>
        <% else %>
          <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/check_ng.gif">
          <%= t('msg.not_allowed') %>
        <% end %>
      </td>
    </tr>
  </table>
</div>
