
<%= render(:partial => 'common/error', :locals => {:obj => @user}) %>

<div class="info_area" style="width:100%; padding:20px 0px; text-align:center;">
  <%= hidden_field('user', 'id') %>
  <table style="margin:0px auto; width:85%;" cellpadding="0" cellspacing="2">
    <tr>
      <td class="prim_cap_td" nowrap>
        <label for="user_name"><%= t('user.u_name') %></label><sup style="color:red">*</sup>
      </td>
      <td class="item_value_td">
        <%= text_field('user', 'name', :style => 'ime-mode:disabled') %>
      </td>
    </tr>
  <%
  req_pass = false
  if $thetis_config[:menu]['open_user_reg'] == '1'
    unless  params[:action]=='new' or params[:action]=='create'
      req_pass = true
    end
  else
    req_pass = true
  end
  if req_pass
  %>
     <tr>
      <td class="prim_cap_td" nowrap>
        <label for="user_password"><%= t('password.name') %></label><sup style="color:red">*</sup>
      </td>
      <td class="item_value_td">
        <%
        passwd = ''
        unless @user.nil? or @user.pass_md5.nil? or @user.pass_md5.empty?
          passwd = User::PASSWORD_DUMMY
        end
        %>
        <input type="password" id="user_password" name="user[password]" size="30" value="<%= passwd %>" onfocus="this.select();" />
      </td>
    </tr>
    <tr>
      <td class="prim_cap_td" nowrap>
        <label for="user_password_confirmation"><%= t('password.confirm') %></label><sup style="color:red">*</sup>
      </td>
      <td class="item_value_td">
        <input type="password" id="user_password_confirmation" size="30" value="<%= passwd %>" onfocus="this.select();" />
      </td>
    </tr>
  <% end %>
    <tr>
      <td class="item_cap_td" nowrap>
        <label for="user_email"><%= User.human_attribute_name('email') %></label><sup style="color:red">*</sup>
      </td>
      <td class="item_value_td">
        <%= text_field('user', 'email', :style => 'ime-mode:disabled') %>
      </td>
    </tr>
    <tr>
      <td class="item_cap_td" nowrap>
        <label for="user_fullname"><%= User.human_attribute_name('fullname') %></label>
      </td>
      <td class="item_value_td">
        <%= text_field('user', 'fullname') %>
      </td>
    </tr>
    <tr>
      <td class="item_cap_td" nowrap>
        <label for="user_address"><%= User.human_attribute_name('address') %></label>
      </td>
      <td class="item_value_td">
        <%= t('cap.postalcode') %> <%= text_field('user', 'postalcode', :style => 'width:100px; ime-mode:disabled;') %><br/>
        <%= text_area('user', 'address', :style => 'width:100%', :rows => '3') %>
      </td>
    </tr>
    <tr>
      <td class="item_cap_td" nowrap>
        <label for="user_time_zone"><%= User.human_attribute_name('time_zone') %></label>
      </td>
      <td class="item_value_td">
<%
if THETIS_USER_TIMEZONE_SELECTABLE \
    or (!@login_user.nil? and @login_user.admin?(User::AUTH_USER))
%>
        <%= time_zone_select('user', 'time_zone', nil, :default => THETIS_USER_TIMEZONE_DEFAULT) %>
<%
else
  if @user.nil? or @user.time_zone.nil? or @user.time_zone.empty?
%>
        <%= t('paren.not_specified') %>
  <% else %>
        <%= ActiveSupport::TimeZone[@user.time_zone] %>
<%
  end
end
%>
      </td>
    </tr>
    <tr>
      <td class="item_cap_td" nowrap>
        <label for="user_tel"><%= t('cap.tel') %></label>
      </td>
      <td class="item_value_td">
        <%
        options = []
        THETIS_TEL_TYPES.each do |type|
          val = User.get_tel_type_name(type)
          options << [val, val]
        end

        tel1_note = ''
        tel2_note = ''
        tel3_note = ''
        unless @user.nil?
          tel1_note = @user.tel1_note
          tel2_note = @user.tel2_note
          tel3_note = @user.tel3_note
        end
        %>
        <%= select_tag('user[tel1_note]', options_for_select(options, tel1_note)) %>
        <%= text_field('user', 'tel1', :style => 'ime-mode:disabled') %><br/>
        <%= select_tag('user[tel2_note]', options_for_select(options, tel2_note)) %>
        <%= text_field('user', 'tel2', :style => 'ime-mode:disabled') %><br/>
        <%= select_tag('user[tel3_note]', options_for_select(options, tel3_note)) %>
        <%= text_field('user', 'tel3', :style => 'ime-mode:disabled') %><br/>
      </td>
    </tr>
    <tr>
      <td class="item_cap_td" nowrap>
        <label for="user_fax"><%= User.human_attribute_name('fax') %></label>
      </td>
      <td class="item_value_td">
        <%= text_field('user', 'fax', :style => 'ime-mode:disabled') %>
      </td>
    </tr>
    <tr>
      <td class="item_cap_td" nowrap>
        <label for="user_organization"><%= User.human_attribute_name('organization') %></label>
      </td>
      <td class="item_value_td">
        <%= text_area('user', 'organization', :style => 'width:100%', :rows => '3') %>
      </td>
    </tr>
    <tr>
      <td class="item_cap_td" nowrap>
        <label for="user_url"><%= User.human_attribute_name('url') %></label>
      </td>
      <td class="item_value_td">
        <%= text_field('user', 'url', :style => 'width:100%; ime-mode:disabled;') %>
      </td>
    </tr>
    <tr>
      <td class="item_cap_td" nowrap>
        <label for="user_title"><%= User.human_attribute_name('title') %></label>
      </td>
      <td class="item_value_td">
        <%= text_field('user', 'title', :style => 'width:80%; vertical-align:middle;') %><img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/dropleft.gif" onclick="showTitleSelector();" style="cursor:pointer;" />
      </td>
    </tr>
    <tr>
      <td class="item_cap_td" nowrap>
        <label for="user_figure"><%= User.human_attribute_name('figure') %></label>
      </td>
      <td class="item_value_td">
        <%= radio_button('user', 'figure', 'boy_green') %><label for="user_figure_boy_green"> <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/boy_green.png" title="Boy green" alt="Boy green" /></label>
        &nbsp;&nbsp;
        <%= radio_button('user', 'figure', 'girl_pink') %><label for="user_figure_girl_pink"> <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/girl_pink.png" title="Girl pink" alt="Girl pink" /></label>
      </td>
    </tr>
  <% if params[:action] == 'edit' and @login_user.id == @user.id %>
    <tr>
      <%
      def_birth_y = ''
      def_birth_m = ''
      def_birth_n = ''
      unless @user.nil? or @user.birthday.nil?
        def_birth_y = @user.birthday.strftime('%Y')
        def_birth_m = @user.birthday.strftime('%m')
        def_birth_d = @user.birthday.strftime('%d')
      end
      %>
      <td class="item_cap_td" nowrap>
        <label for="user_birthday"><%= User.human_attribute_name('birthday') %></label>
      </td>
      <td class="item_value_td">
        <input type="text" id="user_birthday_y" name="user[birthday_y]" value="<%= def_birth_y %>" size="30" style="width:50px; ime-mode:disabled">
        <%
        options = []
        (1..12).each do |month|
          options << [month, month]
        end
        %>
        <%= select_tag('user[birthday_m]', options_for_select(options, def_birth_m.to_i)) %>
        <%
        options = []
        (1..31).each do |day|
          options << [day, day]
        end
        %>
        <%= select_tag('user[birthday_d]', options_for_select(options, def_birth_d.to_i)) %>
      </td>
    </tr>
  <% end %>
  </table>
</div>

<input type="hidden" name="from" value="<%= params[:from] %>" />


<script type="text/javascript">

doRegisterUser = function(frm)
{
  var password = _z("user_password");
  if (password) {
    var password_confirmation = _z("user_password_confirmation");
    if (password.value == "") {
      var thetisBox = msg("<%= t('msg.specify', :name => t('password.name')) %>");
      thetisBox.setOnClose(function(){password.focus();});
      return false;
    }
    if (password.value != password_confirmation.value) {
      msg("<%= t('activerecord.errors.messages.confirmation', :attribute => t('password.name')) %>");
      return false;
    }

  <% unless @user.nil? %>
    if (password.value == "<%= User::PASSWORD_DUMMY %>") {
      var user_name = _z("user_name");
      if (user_name.value != "<%= @user.name %>") {
        password.value = "";
        password_confirmation.value = "";
        var thetisBox = msg("<%= t('msg.specify', :name => t('password.name')) %>");
        thetisBox.setOnClose(function(){password.focus();});
        return false;
      }
      user_name.disabled = true;
      password.disabled = true;
    }
  <% end %>
    password_confirmation.disabled = true;
  }

  prog("TOP-RIGHT");
  frm.submit();

  return true;
}

var titleSelector = null;

showTitleSelector = function()
{
  if (titleSelector != null){
    titleSelector.remove();
    titleSelector = null;
  }

  var content = getTitleSelector("onTitleSelectOK()", "onTitleSelectCancel()");

  titleSelector = new ThetisBox;
  titleSelector.title = "<%= t('user.select_title') %>";
  titleSelector.overflow = "hide";
  titleSelector.show("CENTER", "350,200", "TRAY", "", "", content);
}

getTitleSelector = function(onOk, onCancel)
{
  var titles = new Array(
  <%
  first = true
  titles = User.get_config_titles
  unless titles.nil?
    titles.each do |title|
      unless first
  %>
                    ,
  <%
      end
      first = false
  %>
                    "<%= title %>"
  <%
    end
  end
  %>
                    );

  var def = _z("user_title").value;

  content = "<form name='form_title'>";
  content += "<table style='width:100%; height:180px' cellspacing='0' cellpadding='0'>";
  content += "  <tr style='height:70px;'>";
  content += "    <td style='text-align:center; vertical-align:middle;'>";
  content += "      <select name='title'>";
  var found_flag = false;
  for (var i=0; i < titles.length; i++) {
    var selected = "";
    if (def == titles[i] || (!found_flag && i == titles.length - 1)) {
      selected = "selected";
      found_flag = true;
    }
    content += "      <option value=\""+esc_w_quotes(titles[i])+"\" "+selected+">"+titles[i]+"</option>";
  }
  content += "      </select>";
  content += "    </td>";
  content += "  </tr>";
  content += "  <tr>";
  content += "    <td style='text-align:center; vertical-align:top;'>";
  content += "      <input type='button' value='<%= t('btn.ok') %>' onclick='"+onOk+"' style='width:80px' />";
  content += "      &nbsp;<input type='button' value='<%= t('btn.cancel') %>' onclick='"+onCancel+"' style='width:80px' />";
  content += "    </td>";
  content += "  </tr>";
  content += "  <tr style='height:100%;'>";
  content += "    <td></td>";
  content += "  </tr>";
  content += "</table>";
  content += "</form>";
  return content;
}

onTitleSelectOK = function()
{
  _z("user_title").value = document.form_title.title.value;
  titleSelector.remove();
  titleSelector = null;
}

onTitleSelectCancel = function()
{
  titleSelector.remove();
  titleSelector = null;
}

</script>
