
<%= form_tag({:controller => 'users', :action => 'create'}, :method => 'post', :name => 'form_user') %>

<table style="width:80%; margin:10px auto 0px;">
  <tr>
    <td style="text-align:center; vertical-align:top;">
      <%= render(:partial => 'user_form') %>
    </td>
  </tr>
</table>

<table style="margin:20px auto 10px;">
  <tr>
  <% if params[:from] == 'users_list' %>
    <td class="img_button_td" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'history', :action => 'back') %>';">
      <%= t('btn.back') %>
    </td>
    <td style="width:15px;"></td>
  <% end %>
    <td class="img_button_td" onclick="doRegisterUser(document.form_user);">
      <%= t('btn.register')%>
    </td>
  </tr>
</table>
<br/>
</form>

<% if $thetis_config[:menu]['open_user_reg'] == '1' and params[:action] == 'new' %>
<script type="text/javascript">

function showTips() {
  var thetisBox = new ThetisBox;
  thetisBox.show("TOP-RIGHT", "", "MESSAGE", "", "<span class='font_msg_bold'><%= t('user.u_name')%></span> <%= t('msg.and')%> <span class='font_msg_bold'><%= User.human_attribute_name('email')%></span><%= t('user.required_for_registration')%><br/><span class='font_msg_bold' style='color:firebrick;'><%= t('user.initial_password')%></span><%= t('user.will_be_sent_by1')%><span class='font_msg_bold'><%= Email.model_name.human %></span><%= t('user.will_be_sent_by2')%><br/><%= t('user.login_update_pwd_within1')%><span class='font_msg_bold'><%= t('user.within_3_days')%></span><%= t('user.login_update_pwd_within2')%>", "");
}

</script>
<% end %>
