<% HistoryHelper.set_back(request) %>

<%= render(:partial => 'common/error', :locals => {:obj => @user}) %>

<table style="width:100%; padding-top:15px;">
  <tr>
    <td style="width:54%; vertical-align:top;">

      <!-- Basic Information -->
      <div class="info_area" style="width:100%; padding-top:15px; padding-bottom:15px; text-align:center;">
        <table style="margin:0px auto; width:85%; border-spacing:2px;">
          <tr>
            <td class="prim_cap_td" nowrap>
              <label for="user_name"><%= t('user.u_name') %></label>
            </td>
            <td class="item_value_td">
              <%= @user.name %>
            </td>
          </tr>
          <tr>
            <td class="item_cap_td" nowrap>
              <label for="user_email"><%= User.human_attribute_name('email') %></label>
            </td>
            <td class="item_value_td">
              <%= @user.email %>
            </td>
          </tr>
          <tr>
            <td class="item_cap_td" nowrap>
              <label for="user_fullname"><%= User.human_attribute_name('fullname') %></label>
            </td>
            <td class="item_value_td">
              <%= @user.fullname %>
            </td>
          </tr>
          <tr>
            <td class="item_cap_td" nowrap>
              <label for="user_address"><%= User.human_attribute_name('address') %></label>
            </td>
            <td class="item_value_td">
              <% unless @user.postalcode.nil? or @user.postalcode.empty? %>
                <%= t('cap.postalcode') %> <%= @user.postalcode %><br/>
              <% end %>
              <pre><%= @user.address %></pre>
            </td>
          </tr>
          <tr>
            <td class="item_cap_td" nowrap>
              <label for="user_time_zone"><%= User.human_attribute_name('time_zone') %></label>
            </td>
            <td class="item_value_td">
              <% if @user.nil? or @user.time_zone.nil? or @user.time_zone.empty? %>
                <%= t('paren.not_specified') %>
              <% else %>
                <%= ActiveSupport::TimeZone[@user.time_zone] %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="item_cap_td" nowrap>
              <label for="user_tel"><%= t('cap.tel') %></label>
            </td>
            <td class="item_value_td">
              <% unless @user.tel1.nil? or @user.tel1.empty? %>
                <%= @user.tel1_note %>: <%= @user.tel1 %><br/>
              <% end %>
              <% unless @user.tel2.nil? or @user.tel2.empty? %>
                <%= @user.tel2_note %>: <%= @user.tel2 %><br/>
              <% end %>
              <% unless @user.tel3.nil? or @user.tel3.empty? %>
                <%= @user.tel3_note %>: <%= @user.tel3 %><br/>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="item_cap_td" nowrap>
              <label for="user_fax"><%= User.human_attribute_name('fax') %></label>
            </td>
            <td class="item_value_td">
              <%= @user.fax %>
            </td>
          </tr>
          <tr>
            <td class="item_cap_td" nowrap>
              <label for="user_organization"><%= User.human_attribute_name('organization') %></label>
            </td>
            <td class="item_value_td">
              <%= @user.organization %>
            </td>
          </tr>
          <tr>
            <td class="item_cap_td" nowrap>
              <label for="user_url"><%= User.human_attribute_name('url') %></label>
            </td>
            <td class="item_value_td">
              <%= @user.url %>
            </td>
          </tr>
          <tr>
            <td class="item_cap_td" nowrap>
              <label for="user_title"><%= User.human_attribute_name('title') %></label>
            </td>
            <td class="item_value_td">
              <%= @user.title %>
            </td>
          </tr>
          <tr>
            <td class="item_cap_td" nowrap>
              <label for="user_figure"><%= User.human_attribute_name('figure') %></label>
            </td>
            <td class="item_value_td">
              <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/<%= @user.get_figure %>.png" />
            </td>
          </tr>
          <tr style="height:15px;"><td></td></tr>
          <tr>
            <td class="item_cap_td" nowrap>
              <%= t('item.profile_sheet') %>
            </td>
            <td class="item_value_td">
              <!-- Profile Sheet -->
              <%
              item = @user.get_profile_sheet
              if !item.nil? and item.public
              %>
              <a class="a_underline" href="#" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'items', :action => 'show', :id => item.id) %>'; return false;">
                <%= truncate(item.title, :length => 20) %>
              </a>
              <% else %>
              <%= t('item.not_created_or_not_public') %>
              <% end %>
            </td>
          </tr>
        <% if @login_user.admin?(User::AUTH_USER) %>
          <tr style="height:15px;"><td></td></tr>
          <tr>
            <td class="item_cap_td" nowrap>
              <label for="user_created_at"><%= User.human_attribute_name('created_at') %></label>
            </td>
            <td class="item_value_td">
              <%
              created_at = ''
              created_at = @user.created_at.strftime(THETIS_DATE_FORMAT_YMD+' %H:%M:%S') unless @user.created_at.nil?
              %>
              <span style="font-size:10.5pt;"><%= created_at %></span>
            </td>
          </tr>
          <tr>
            <td class="item_cap_td" nowrap>
              <label for="user_login_at"><%= User.human_attribute_name('login_at') %></label>
            </td>
            <td class="item_value_td">
              <%
              login_at = ''
              login_at = @user.login_at.strftime(THETIS_DATE_FORMAT_YMD+' %H:%M:%S') unless @user.login_at.nil?
              %>
              <span style="font-size:10.5pt;"><%= login_at %></span>
            </td>
          </tr>
        <% end %>
        </table>
      </div>

    </td>
    <td style="min-width:10px; width:10px;"></td>
    <td style="width:45%; vertical-align:top;">

      <%= render(:partial => 'show_addition') %>

    </td>
  </tr>
</table>


<table style="margin:20px auto 10px;">
  <tr>
    <td class="img_button_td" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'history', :action => 'back') %>';">
      <%= t('btn.back') %>
    </td>
  </tr>
</table>
<br/>

