
<script type="text/javascript">
tabs = ["users", "groups", "teams"];
</script>

<table style="width:100%;">
  <tr>
    <td style="vertical-align:top;">
      <table style="width:100%; border-spacing:2px;">
        <tr style="height:20px;">
          <td id="tab_users" class="td_tab" nowrap style="width:110px;" onclick="showTab('users', tabs, 'blue');">
            <%= t('user.plural') %>
          </td>
          <td id="tab_groups" class="td_tab" nowrap style="width:110px;" onclick="showTab('groups', tabs, 'forestgreen');">
            <%= t('group.plural') %>
          </td>
          <td id="tab_teams" class="td_tab" nowrap style="width:110px;" onclick="showTab('teams', tabs, 'brown');">
            <%= t('team.plural') %>
          </td>
          <td><!-- SPACER --></td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td style="border:solid 1px gray; background-color:#fffafd;">

      <div id="tab_div_users">
        <table style="width:100%; padding:5px 10px;">
          <tr>
            <td>
              <select id="users_selected" name="users[]" class="select_multi" size="5" multiple="multiple">
              <%
              @users_selected = @schedule.get_users_a
              if params[:action] == 'new'
                @users_selected << @login_user.id.to_s
              end

              @users_cache ||= {}
              %>
              <% @users_selected.each do |user_id| %>
                <option value="<%= user_id %>"><%= User.get_name(user_id, @users_cache) %></option>
              <% end %>
              </select>
            </td>
            <td style="width:35px; vertical-align:middle; line-height:20px; text-align:center;" >
              <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/user_add.png" title="<%= t('btn.add') %>" onclick="onSelectUsersClicked()" style="cursor:pointer; margin-bottom:3px;" /><br/>
              <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/delete.png" title="<%= t('btn.remove') %>" onclick="removeScheduleUsers();" style="cursor:pointer; margin-bottom:3px;" /><br/>
            </td>
          </tr>
        </table>
      </div>
      <div id="tab_div_groups" style="display:none;">
        <table style="width:100%; padding:5px 10px;">
          <tr>
            <td>
              <%
              groups = Group.where(nil).to_a
              groups_selected = @schedule.get_groups_a
              @groups_cache ||= {}
              @group_obj_cache = Group.build_cache(groups)
              %>
              <select id="group_candidates" name="group_candidates" class="select_candidates" size="5" multiple="multiple">
              <%
               groups.each do |group|
                 next if groups_selected.include?(group.id.to_s)
              %>
                <option value="<%= group.id %>"><%= Group.get_path(group.id, @groups_cache, @group_obj_cache) %></option>
              <% end %>
              </select>
            </td>
          </tr>
          <tr style="height:5px;"><td></td></tr>
          <tr>
            <td>
              <table style="width:100%;">
                <tr>
                  <td style="text-align:left; vertical-align:bottom; width:33%;"  >
                    <%= t('group.plural') %><%= t('cap.suffix') %>
                  </td>
                  <td style="text-align:center; width:34%;"  nowrap>
                    <input type="button" value="<%= raw(t('arrow.down')) %><%= t('btn.add') %>" onclick="addMember('group');" style="width:80px;" />
                    <input type="button" value="<%= raw(t('arrow.up')) %><%= t('btn.remove') %>" onclick="removeMember('group');" style="width:80px;" />
                  </td>
                  <td style="width:33%;">&nbsp;</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr style="height:5px;"><td></td></tr>
          <tr>
            <td>
              <select id="groups_selected" name="groups[]" class="select_multi" size="5" multiple="multiple">
              <% groups_selected.each do |group_id| %>
                <option value="<%= group_id %>"><%= Group.get_path(group_id, @groups_cache, @group_obj_cache) %></option>
              <% end %>
              </select>
            </td>
          </tr>
        </table>
      </div>
      <div id="tab_div_teams" style="display:none;">
        <table style="width:100%; padding:5px 10px;">
          <tr>
            <td>
              <%
              target_user_id = (@login_user.admin?(User::AUTH_TEAM))?(nil):(@login_user.id)
              teams = Team.get_for(target_user_id, true)
              teams_selected = @schedule.get_teams_a
              @teams_cache ||= {}
              %>
              <select id="team_candidates" name="team_candidates" class="select_candidates" size="5" multiple="multiple">
              <%
               teams.each do |team|
                 next if teams_selected.include?(team.id.to_s)
              %>
                <option value="<%= team.id %>"><%= Team.get_name(team.id, @teams_cache) %></option>
              <% end %>
              </select>
            </td>
          </tr>
          <tr style="height:5px;"><td></td></tr>
          <tr>
            <td>
              <table style="width:100%;">
                <tr>
                  <td style="text-align:left; vertical-align:bottom; width:33%;" >
                    <%= t('team.plural') %><%= t('cap.suffix') %>
                  </td>
                  <td style="text-align:center; width:34%;" nowrap>
                    <input type="button" value="<%= raw(t('arrow.down')) %><%= t('btn.add') %>" onclick="addMember('team');" style="width:80px;" />
                    <input type="button" value="<%= raw(t('arrow.up')) %><%= t('btn.remove') %>" onclick="removeMember('team');" style="width:80px;" />
                  </td>
                  <td style="width:33%;">&nbsp;</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr style="height:5px;"><td></td></tr>
          <tr>
            <td>
              <select id="teams_selected" name="teams[]" class="select_multi" size="5" multiple="multiple">
              <% teams_selected.each do |team_id| %>
                <option value="<%= team_id %>"><%= Team.get_name(team_id, @teams_cache) %></option>
              <% end %>
              </select>
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
</table>

<script type="text/javascript">

showTab("users", tabs, "blue");

removeScheduleUsers = function()
{
  var arr = deleteList(_z("users_selected"));

  if (arr != null && arr.length > 0) {
    reqTargetDay++;
  }
}

var thetisBoxAddScheduleUsers = null;

onSelectUsersClicked = function()
{
  if (thetisBoxAddScheduleUsers) {
    thetisBoxAddScheduleUsers.remove();
    thetisBoxAddScheduleUsers = null;
  }
  thetisBoxAddScheduleUsers = new ThetisBox;

  var thetisBoxProgress = prog("CENTER");

  new Ajax.Request(
      "<%= url_for(:controller => 'schedules', :action => 'select_users') %>",
      {
        method:"get",
        onComplete:function(request) {
          thetisBoxAddScheduleUsers.resizable = true;
          thetisBoxAddScheduleUsers.title = "<%= User.model_name.human %>";
          thetisBoxAddScheduleUsers.overflow = "hidden";
          thetisBoxAddScheduleUsers.show(
                    "CENTER",
                    "460,320",
                    "TRAY",
                    "",
                    "",
                    request.responseText.stripScripts()
                  );
          thetisBoxProgress.remove();
          request.responseText.evalScripts();
        }
      }
    );
}

</script>

