<%
date_s = @day.strftime(Schedule::SYS_DATE_FORM)

auth_read = @schedule.check_user_auth(@login_user, 'r', true)
auth_write = @schedule.check_user_auth(@login_user, 'w', true)

if @schedule.holiday?
  bg_color = 'white'
else
  text_color, bg_color = @schedule.scope_colors
  case @schedule.scope
    when Schedule::SCOPE_ALL
      scope = '<span style="color:'+text_color+';">' + t('schedule.disp_to_all') + '</span>'
    when Schedule::SCOPE_PRIVATE
      scope = '<span style="color:'+text_color+';">' + t('schedule.private') + '</span>'
    else
      scope = ''
  end
end
%>

<% if @schedule.holiday? %>
  <td style="text-align:center; border:none;">
    <span class="span_holiday"><%= @schedule.title %></span>
  </td>
<% else %>

  <td style="text-align:left; padding:5px 0px 5px 5px; background-color:<%= bg_color %>; line-height:1.3; border:none;">

    <% if @schedule.allday %>
      &bull;
      <% if @schedule.repeat? %><b style="color:white; background-color:#0770E7;">&sub;</b><% end %>
      <% if auth_read %><a class="a_underline" href="javascript:this.onclick()" onclick="showScheduleDetail('<%= date_s %>', '<%= @schedule.id %>', '<%= ApplicationHelper.h_s_quote(@schedule.title) %>'); return false;"><% end %>
        <%= @schedule.title %>
      <% if auth_read %></a><% end %>
      <!-- <%= raw(scope) %> -->
      <% if auth_write %>
      <!--
        &nbsp;<img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/edit.gif" title="<%= t('btn.edit') %>" onclick="editScheduleDetail('<%= date_s %>', '<%= @schedule.id %>'); return false;" />
        &nbsp;<img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/delete.gif" title="<%= t('btn.delete') %>" onclick="doScheduleDelete('<%= date_s %>', '<%= @schedule.id %>', '<%= ApplicationHelper.h_s_quote(truncate(@schedule.title, :length => 20)) %>'); return false;" />
      -->
      <% end %>
      <br/>
    <%
    else
      if @schedule.within_a_day?
    %>
        <%= @schedule.start.strftime('%H:%M') + '-' + @schedule.end.strftime('%H:%M') %><% unless auth_write %><br/><% end %>
      <% else %>
        <%= @schedule.start.strftime(THETIS_DATE_FORMAT_MD+' %H:%M') + ' - ' + @schedule.end.strftime(THETIS_DATE_FORMAT_MD+' %H:%M') %><% unless auth_write %><br/><% end %>
    <%
      end
      if auth_write
    %>
      <!--
        &nbsp;<img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/edit.gif" title="<%= t('btn.edit') %>" onclick="editScheduleDetail('<%= date_s %>', '<%= @schedule.id %>'); return false;" />
        &nbsp;<img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/delete.gif" title="<%= t('btn.delete') %>" onclick="doScheduleDelete('<%= date_s %>', '<%= @schedule.id %>', '<%= ApplicationHelper.h_s_quote(truncate(@schedule.title, :length => 20)) %>'); return false;" /><br/>
      -->
      <% end %>
      <% if @schedule.repeat? %><b style="color:white; background-color:#0770E7;">&sub;</b><% end %>
      <% if auth_read %><a class="a_underline" href="javascript:this.onclick()" onclick="showScheduleDetail('<%= date_s %>', '<%= @schedule.id %>', '<%= ApplicationHelper.h_s_quote(@schedule.title) %>'); return false;"><% end %>
        <%= @schedule.title %>
      <% if auth_read %></a><% end %>
      <!-- <%= raw(scope) %> -->
    <% end %>

  </td>
<% end %>
