<%
date_s = @date.strftime(Schedule::SYS_DATE_FORM)
read_only ||= false
brief_view ||= false
%>

<table class="border_collapse dimgray" style="width:100%;">
  <tr>
<% for time in (THETIS_HOURS.first)..(THETIS_HOURS.last) do %>
  <%
  bgcolor = 'white'
  timecolor = THETIS_SCHEDULE_TIMECOLORS.find{|entry| entry[:range].include?(time)}
  bgcolor = timecolor[:color] unless timecolor.nil?
  %>
    <td colspan="<%= THETIS_DIV_IN_HOUR %>" style="text-align:center; background-color:<%= bgcolor %>; font-weight:400; font-size:11pt;"><%= time%></td>
<% end %>
  </tr>
  <tr style="height:10px;">
<%
 cell_num = THETIS_HOURS.to_a.size * THETIS_DIV_IN_HOUR
 cell_num.times do |q|
%>
    <td style="line-height:10px;">&nbsp</td>
<% end %>
  </tr>
<%
if @schedules.length > 0
  @schedules.each do |schedule|
    auth_write = schedule.check_user_auth(@login_user, 'w', true)
    text_color, bg_color = schedule.scope_colors
    border_color = text_color
    case schedule.scope
      when Schedule::SCOPE_ALL
        scope = '<span style="color:'+text_color+';">' + t('schedule.disp_to_all') + '</span>'
      when Schedule::SCOPE_PRIVATE
        scope = '<span style="color:'+text_color+';">' + t('schedule.private') + '</span>'
      else
        scope = ''
    end
%>
  <tr style="height:30px;">
    <% if schedule.holiday? %>
    <td colspan="<%= THETIS_HOURS.to_a.size * THETIS_DIV_IN_HOUR %>" style="text-align:center;">
      <span class="span_holiday"><%= schedule.title %></span>
    </td>
    <% elsif schedule.allday %>
    <td colspan="<%= THETIS_HOURS.to_a.size * THETIS_DIV_IN_HOUR %>" style="text-align:center; color:navy;">
      &bull;
      <% if schedule.repeat? %><b style="color:white; background-color:#0770E7;">&sub;</b><% end %>
      <a class="a_underline" href="#" onclick="showScheduleDetail('<%= date_s %>', '<%= schedule.id %>', '<%= ApplicationHelper.h_s_quote(schedule.title) %>'); return false;">
        <%= schedule.title %>
      </a>
      <% unless brief_view %><%= raw(scope) %><% end %>
      <% if auth_write and !read_only and !brief_view %>
      &nbsp;<img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/edit.gif" title="<%= t('btn.edit') %>" onclick="editScheduleDetail('<%= date_s %>', '<%= schedule.id %>');" />
      &nbsp;<img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/delete.gif" title="<%= t('btn.delete') %>" onclick="doScheduleDelete('<%= date_s %>', '<%= schedule.id %>', '<%= ApplicationHelper.h_s_quote(truncate(schedule.title, :length => 20)) %>');" />
      <% end %>
    </td>
    <%
    else
      if schedule.repeat? or schedule.start.strftime(Schedule::SYS_DATE_FORM) == date_s
       span_before = (schedule.start.hour-THETIS_HOURS.first)*THETIS_DIV_IN_HOUR + schedule.start.min/(60/THETIS_DIV_IN_HOUR)
      else
       span_before = 0
      end

      if schedule.repeat? or schedule.end.strftime(Schedule::SYS_DATE_FORM) == date_s
       span_after = (THETIS_HOURS.last-schedule.end.hour)*THETIS_DIV_IN_HOUR + THETIS_DIV_IN_HOUR-schedule.end.min/(60/THETIS_DIV_IN_HOUR)
      else
       span_after = 0
      end

      span = cell_num - span_before - span_after
      if span == 0
        span = 1
        span_after -= 1
      end
    %>

    <% if span_before > 0 %>
    <td colspan="<%= span_before %>"></td>
    <% end %>

    <td colspan="<%= span %>" style="text-align:left; padding:5px 0px 5px 5px; background-color:<%= bg_color %>; border-color:<%= border_color %>; line-height:1.3;">
      <% if schedule.within_a_day? %>
        <%= schedule.start.strftime('%H:%M') + '-' + schedule.end.strftime('%H:%M') %><% if !auth_write or read_only %><br/><% end %>
      <% else %>
        <%= schedule.start.strftime(THETIS_DATE_FORMAT_MD+' %H:%M') + ' - ' + schedule.end.strftime(THETIS_DATE_FORMAT_MD+' %H:%M') %><% unless auth_write %><br/><% end %>
      <% end %>
      <% if auth_write and !read_only and !brief_view %>
      &nbsp;<img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/edit.gif" title="<%= t('btn.edit') %>" onclick="editScheduleDetail('<%= date_s %>', '<%= schedule.id %>'); return false;">
      &nbsp;<img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/delete.gif" title="<%= t('btn.delete') %>" onclick="doScheduleDelete('<%= date_s %>', '<%= schedule.id %>', '<%= ApplicationHelper.h_s_quote(truncate(schedule.title, :length => 20)) %>'); return false;" /><br/>
      <% end %>
      <% if schedule.repeat? %><b style="color:white; background-color:#0770E7;">&sub;</b>&nbsp;<% end %><a class="a_underline" href="#" onclick="showScheduleDetail('<%= date_s %>', '<%= schedule.id %>', '<%= ApplicationHelper.h_s_quote(schedule.title) %>'); return false;"><%= schedule.title %></a>
      <% unless brief_view %><%= raw(scope) %><% end %>
    </td>

    <% if span_after > 0 %>
    <td colspan="<%= span_after %>"></td>
    <% end %>
  </tr>
<%
    end
  end
end
if @schedules.find { |schedule| !schedule.holiday? }.nil?
%>
  <tr style="height:50px;">
    <td colspan="<%= THETIS_HOURS.to_a.size * THETIS_DIV_IN_HOUR %>" style="text-align:center; color:gray;">
      <%= t('paren.no_schedules') %>
    </td>
  </tr>
<% end %>
</table>
