
<%= render(:partial => 'common/jkl_calendar_init') %>

<script type="text/javascript">

var calDisp = new JKL.Calendar("div_cal_disp", "cal_date");
calDisp.setFunc(
    function() {
      _z("date_wday").innerHTML = "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;";
      doUpdatePage();
    }
  );
calDisp.setStyle("frame_color", "#3333cc");

</script>

<%
date_s = @date.strftime(Schedule::SYS_DATE_FORM)

@groups_cache ||= {}
@teams_cache ||= {}
%>

<%= form_tag( {:controller => 'schedules', :action => 'index'}, :method => 'get', :name => 'form_schedule', :id => 'form_schedule') %>

<table style="margin:0px auto; width:98%;">
  <tr>
    <td style="width:30%; text-align:left;">
    <% if !@login_user.nil? and @login_user.admin? User::AUTH_SCHEDULE %>
      <table style="margin:0px auto 0px 0px; width:65px;">
        <tr>
          <td nowrap style="width:30px; text-align:left;">
            <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/config.png"  title="<%= t('btn.config') %>" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'schedules', :action => 'configure') %>';">
          </td>
        </tr>
      </table>
    <% end %>
    </td>
    <td nowrap style="width:40%; text-align:center;">
      <% if @login_user.nil? %>
        &nbsp;&nbsp;<span style="color:navy"><%= t('schedule.login_required') %></span>&nbsp;&nbsp;
      <% end %>
    </td>
    <td nowrap style="width:30%; text-align:right;">
      <%
      display = [[h(t('schedule.calendar')), 'month'], [h(t('schedule.unit_week')), 'week'], [h(t('schedule.unit_day')), 'day']]
      unless @login_user.nil?
        groups_a = @login_user.get_groups_a
        groups_a.each do |group_id|
          display << [h(Group.get_name(group_id)), 'group_'+group_id] unless group_id == 0
        end
        teams_a = @login_user.get_teams_a
        teams_a.each do |team_id|
          display << [h(Team.get_name(team_id, @teams_cache)), 'team_'+team_id] unless team_id == 0
        end
        display << [h(t('group.other_group')), 'group_other']
      end
      %>
      <%= t('cap.display') %> <%= select_tag 'display',
                               options_for_select(display, params[:display]),
                               :onchange => "if (this.options[this.selectedIndex].value=='group_other') { showGroupTree(); } else { submit(); prog('TOP-RIGHT'); }"
      %>
    </td>
  </tr>
</table>

<div style="text-align:center;">
  <%= render(:partial => 'common/calendar_paging_day', :locals => {:date => @date}) %>
</div>

</form>

<%
@holidays ||= Schedule.get_holidays

7.times do |day_idx|
  @schedules = Schedule.get_user_day(@login_user, @date, @holidays)
  date_s = @date.strftime(Schedule::SYS_DATE_FORM)
%>

<div id="div_timetable_<%= day_idx %>" style="padding-bottom:5px">
<table style="width:100%;">
  <% unless @login_user.nil? %>
  <tr>
    <td></td>
    <td style="text-align:left; padding-left:8px;">
      <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/item_add.png" title="<%= t('btn.create') %>" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'schedules', :action => 'day', :date => date_s, :showNew => 'true') %>';">
    </td>
  </tr>
  <tr style="height:2px;"><td></td></tr>
  <% end %>
  <tr>
    <td nowrap style="width:10%; text-align:center; background-color:<%= THETIS_WDAY_COLOR[@date.wday] %>;">
      <%= @date.strftime(THETIS_DATE_FORMAT_MD) %><br/>
      (<%= Schedule::wday_name(@date.wday) %>)
    </td>
    <td style="width:90%; text-align:center; padding:0px;">
      <%= render(:partial => 'timetable') %>
    </td>
  </tr>
</table>
</div>
<%
  @date += 1
end
%>


<%= render(:partial => 'common/schedule_func', :locals => {:from => 'schedules'}) %>

<script type="text/javascript">

function doPageDay(date)
{
  var addParams = [];
  addParams.push("date="+date);

  var url = "<%= url_for(:controller => 'schedules', :action => 'week') %>";
  url += "?" + addParams.join("&");

  prog("TOP-RIGHT");
  location.href = url;
}

function editScheduleDetail(date, id)
{
  prog("TOP-RIGHT");
  location.href="<%= url_for(:controller => 'schedules', :action => 'day') %>?date="+date+"&edit_id="+id;
}

function onDeleteScheduleClicked(date, id, title)
{
  confm("<%= t('paren.square.left') %>" + title + "<%= t('schedule.confirm_to_delete') %>", "doScheduleDelete('"+date+"', "+id+")");
}

function doScheduleDelete(date, id)
{
  prog("TOP-RIGHT");
  location.href="<%= url_for(:controller => 'schedules', :action => 'day') %>?date="+date+"&doDelete="+id;
}

function doSelectGroup(thetisBoxId)
{
  var thetisBox = ThetisBox.getInstance(thetisBoxId);
  var display = _z("display");

  if (thetisBox && display) {
    prog("TOP-RIGHT");
    display.options[display.selectedIndex].value = "group_" + thetisBox.getSelectedTreeNodeId();
    document.form_schedule.submit();
  }
}

function showGroupTree()
{
  var thetisBox = new ThetisBox;
  thetisBox.show("CENTER", "", "TREE", "doSelectGroup("+thetisBox.id+")", "<%= t('group.select_to_show')%>", "");
  thetisBox.setTree("<%= url_for(:controller => 'groups', :action => 'ajax_get_tree') %>", "");
}

function doUpdatePage()
{
  prog("TOP-RIGHT");
  document.form_schedule.submit();
}

</script>
