
<%= render(:partial => 'common/error', :locals => {:obj => @address}) %>

<script type="text/javascript">
tabs = new Array("basic", "address", "memo", "scope");
</script>

<table cellspacing="0" cellpadding="0" style="width:100%;">
  <tr>
    <td style="text-align:center;">

      <table cellspacing="2" cellpadding="0" style="width:100%;">
        <tr>
          <td id="tab_basic" class="td_item_tab" nowrap style="background-color:silver;" onClick="showTab('basic', tabs); this.bgColor='sienna'" bgColor="sienna" onMouseOver="if(_z('tab_div_basic').style.display == 'none') this.bgColor='palegreen'" onMouseOut="if (_z('tab_div_basic').style.display == 'none') this.bgColor='silver'; else this.bgColor='sienna';">
            <%= t('cap.basic_info') %>
          </td>
          <td id="tab_address" class="td_item_tab" nowrap style="background-color:silver;" onClick="showTab('address', tabs); this.bgColor='sienna';" bgColor="sienna" onMouseOver="if(_z('tab_div_address').style.display == 'none') this.bgColor='palegreen'" onMouseOut="if (_z('tab_div_address').style.display == 'none') this.bgColor='silver'; else this.bgColor='sienna';">
            <%= Address.human_attribute_name('address') %>
          </td>
          <td id="tab_memo" class="td_item_tab" nowrap style="background-color:silver;" onClick="showTab('memo', tabs); this.bgColor='sienna'" bgColor="sienna" onMouseOver="if(_z('tab_div_memo').style.display == 'none') this.bgColor='palegreen'" onMouseOut="if (_z('tab_div_memo').style.display == 'none') this.bgColor='silver'; else this.bgColor='sienna';">
            <%= Address.human_attribute_name('memo') %>
          </td>
          <td id="tab_scope" class="td_item_tab" nowrap style="background-color:silver;" onClick="showTab('scope', tabs); this.bgColor='sienna'" bgColor="sienna" onMouseOver="if(_z('tab_div_scope').style.display == 'none') this.bgColor='palegreen'" onMouseOut="if (_z('tab_div_scope').style.display == 'none') this.bgColor='silver'; else this.bgColor='sienna';">
            <%= t('schedule.scope') %>
          </td>
          <td><!-- SPACER --></td>
        </tr>
      </table>

    </td>
  </tr>
  <tr>
    <td style="text-align:center;">

      <%= hidden_field('address', 'id') %>

      <div id="tab_div_basic">
        <table cellpadding="0" cellspacing="0" style="width:100%; border:outset 3px darkgoldenrod; margin-bottom:10px;">
          <tr>
            <td style="text-align:center; padding:10px 0px;">
              <table align="center" style="width:85%;" cellpadding="0" cellspacing="2">
                <tr>
                  <td class="prim_cap_td" style="background-color:#FFE033;" nowrap><label for="address_name">
                    <%= Address.human_attribute_name('name') %></label>
                  </td>
                  <td class="item_value_td">
                    <%= text_field('address', 'name', :style => 'width:90%') %><sup style="color:red">*</sup>
                  </td>
                </tr>
                <tr>
                  <td class="prim_cap_td" style="background-color:#FFE033;" nowrap>
                    <label for="address_email1"><%= Address.human_attribute_name('email1') %></label>
                  </td>
                  <td class="item_value_td">
                    <%= text_field('address', 'email1', :style => 'ime-mode:disabled; width:100%;') %>
                  </td>
                </tr>
                <tr>
                  <td class="prim_cap_td" style="background-color:#FFE033;" nowrap>
                    <label for="address_email2"><%= Address.human_attribute_name('email2') %></label>
                  </td>
                  <td class="item_value_td">
                    <%= text_field('address', 'email2', :style => 'ime-mode:disabled; width:100%;') %>
                  </td>
                </tr>
                <tr>
                  <td class="prim_cap_td" style="background-color:#FFE033;" nowrap>
                    <label for="address_email3"><%= Address.human_attribute_name('email3') %></label>
                  </td>
                  <td class="item_value_td">
                    <%= text_field('address', 'email3', :style => 'ime-mode:disabled; width:100%;') %>
                  </td>
                </tr>
                <tr>
                  <td class="prim_cap_td" style="background-color:#FFE033;" nowrap>
                    <label for="address_tel1"><%= Address.human_attribute_name('tel1') %></label>
                  </td>
                  <td class="item_value_td">
                    <%= text_field('address', 'tel1', :style => 'ime-mode:disabled; width:100%;') %>
                  </td>
                </tr>
                <tr>
                  <td class="prim_cap_td" style="background-color:#FFE033;" nowrap>
                    <label for="address_tel2"><%= Address.human_attribute_name('tel2') %></label>
                  </td>
                  <td class="item_value_td">
                    <%= text_field('address', 'tel2', :style => 'ime-mode:disabled; width:100%;') %>
                  </td>
                </tr>
                <tr>
                  <td class="prim_cap_td" style="background-color:#FFE033;" nowrap>
                    <label for="address_tel3"><%= Address.human_attribute_name('tel3') %></label>
                  </td>
                  <td class="item_value_td">
                    <%= text_field('address', 'tel3', :style => 'ime-mode:disabled; width:100%;') %>
                  </td>
                </tr>
                <tr>
                  <td class="prim_cap_td" style="background-color:#FFE033;" nowrap>
                    <label for="address_fax"><%= Address.human_attribute_name('fax') %></label>
                  </td>
                  <td class="item_value_td">
                    <%= text_field('address', 'fax', :style => 'ime-mode:disabled; width:100%;') %>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>

      <div id="tab_div_address" style="display:none;">
        <table cellpadding="0" cellspacing="0" style="width:100%; border:outset 3px darkgoldenrod; margin-bottom:10px;">
          <tr>
            <td style="text-align:center; padding:10px 0px;">
              <table align="center" style="width:85%;" cellpadding="0" cellspacing="2">
                <tr>
                  <td class="prim_cap_td" style="background-color:#FFE033;" nowrap>
                    <label for="address_postalcode"><%= Address.human_attribute_name('postalcode') %></label>
                  </td>
                  <td class="item_value_td">
                    <%= text_field('address', 'postalcode') %>
                  </td>
                </tr>
                <tr>
                  <td class="prim_cap_td" style="background-color:#FFE033;" nowrap>
                    <label for="address_address"><%= Address.human_attribute_name('address') %></label>
                  </td>
                  <td class="item_value_td">
                    <%= text_area('address', 'address', :style => 'width:100%', :rows => '4') %>
                  </td>
                </tr>
                <tr>
                  <td class="prim_cap_td" style="background-color:#FFE033;" nowrap>
                    <label for="address_url"><%= Address.human_attribute_name('url') %></label>
                  </td>
                  <td class="item_value_td">
                    <%= text_field('address', 'url', :style => 'ime-mode:disabled; width:100%;') %>
                  </td>
                </tr>
                <tr>
                  <td class="prim_cap_td" style="background-color:#FFE033;" nowrap>
                    <label for="address_organization"><%= Address.human_attribute_name('organization') %></label>
                  </td>
                  <td class="item_value_td">
                    <%= text_area('address', 'organization', :style => 'width:100%', :rows => '3') %>
                  </td>
                </tr>
                <tr>
                  <td class="prim_cap_td" style="background-color:#FFE033;" nowrap>
                    <label for="address_title"><%= Address.human_attribute_name('title') %></label>
                  </td>
                  <td class="item_value_td">
                    <%= text_field('address', 'title', :style => 'width:100%') %>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>

      <div id="tab_div_memo" style="display:none;">
        <table cellpadding="0" cellspacing="0" style="width:100%; border:outset 3px darkgoldenrod; margin-bottom:10px;">
          <tr>
            <td style="text-align:center; padding:10px 0px;">
              <table align="center" style="width:85%;" cellpadding="0" cellspacing="2">
                <tr>
                  <td class="prim_cap_td" style="background-color:#FFE033;" nowrap>
                    <label for="address_memo"><%= Address.human_attribute_name('memo') %></label>
                  </td>
                  <td class="item_value_td">
                    <%= text_area('address', 'memo', :style => 'width:100%', :rows => '5') %>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>

      <div id="tab_div_scope" style="display:none;">
        <table cellpadding="0" cellspacing="0" style="width:100%; border:outset 3px darkgoldenrod; margin-bottom:10px;">
          <tr>
            <td style="text-align:left; padding:20px 10px;">
            <% if (@login_user.nil? or !@login_user.admin?(User::AUTH_ADDRESSBOOK)) %>
              <ul>
                <li><%= t('scope.private') %></li>
              </ul>
              <%= hidden_field_tag('scope', 'private') %>
            <% else %>
              <%
              is_private = false
              is_for_all = false
              if (@address.nil? or @address.private?)
                is_private = true
              elsif @address.for_all?
                is_for_all = true
              end
              %>
              <input type="radio" id="scope_private" name="scope" value="private" onclick="_z('div_edit_scope').style.display='none';" <%= (is_private)?'checked':'' %> /><label for="scope_private"><%= t('scope.private') %></label><br/>
              <input type="radio" id="scope_all" name="scope" value="all" onclick="_z('div_edit_scope').style.display='none';" <%= (is_for_all)?'checked':'' %> /><label for="scope_all"><%= t('scope.common') %><%= t('paren.round.left') %><%= t('msg.all_users') %><%= t('paren.round.right') %></label><br/>
              <input type="radio" id="scope_common" name="scope" value="common" onclick="_z('div_edit_scope').style.display='block';" <%= (is_private or is_for_all)?'':'checked' %> /><label for="scope_common"><%= t('scope.common') %></label><br/>
              <div id="div_edit_scope" style="display:<%= (is_private or is_for_all)?'none':'block' %>; padding-left:10px">
                <%= render(:partial => 'common/edit_scope', :locals => {:obj => @address}) %>
              </div>
            <% end %>
            </td>
          </tr>
        </table>
      </div>

    </td>
  </tr>
</table>

<%= hidden_field_tag('admin', params[:admin]) %>


<script type="text/javascript">

showTab("basic", tabs);

</script>
