<%
form_idx = Time.now.to_f.to_s.gsub('.', '_')
%>

<% if (@address.nil? or @address.id.nil? or @address.id == 0) %>
<%= form_tag({:controller => 'addressbook', :action => 'create'}, :method => 'post', :name => 'form_address'+form_idx) %>
<% else %>
<%= form_tag({:controller => 'addressbook', :action => 'update', :id => @address.id}, :method => 'post', :name => 'form_address'+form_idx) %>
<% end %>

<table width="100%" cellspacing="0" cellpadding="0" style="padding:5px 15px;">
  <tr>
    <td valign="top">
      <%= render(:partial => 'address_form') %>
    </td>
  </tr>
</table>

</form>

<table align="center" cellspacing="0" cellpadding="0" style="margin-bottom:20px;">
  <tr>
    <td class="img_button_td" onclick="onRegisterAddressClicked();">
    <% if (@address.nil? or @address.id.nil? or @address.id == 0) %>
      <%= t('btn.register')%>
    <% else %>
      <%= t('btn.update')%>
    <% end %>
    </td>
  </tr>
</table>


<script type="text/javascript">

onRegisterAddressClicked = function()
{
  var address_name = _z("address_name");
  if (address_name.value == "") {
    var thetisBox = msg("<%= t('addressbook.specify_name') %>");
    thetisBox.setOnClose(
        function() {
          showTab("basic", tabs);
          _z("address_name").focus();
        }
      );
    return false;
  }

  var scope_common = _z("scope_common");
  if (scope_common) {
    if (scope_common.checked) {
      selectListAll(_z("groups_selected"));
      selectListAll(_z("teams_selected"));
    } else {
      deselectListAll(_z("groups_selected"));
      deselectListAll(_z("teams_selected"));
    }
  }

  return doRegisterAddress(document.form_address<%= form_idx %>);
}

</script>
