<%
if @header_menu_param.nil?
  @header_menu_param = ['', '', '']
end
%>

<%= form_tag( {:controller => 'config', :action => 'update_header_menu'}, :name => 'form_header_menu_info', :method => 'post') %>
<table style="width:100%;">
  <tr>
    <td style="text-align:right;">
      <table style="width:100%; padding-top:20px; border-spacing:1px;">
        <tr>
          <td class="item_cap_td" style="background-color:pink"><%= t('config.menu_name') %></td>
          <td class="item_value_td">
            <input type="text" name="header_menu[name]" value="<%= @header_menu_param[0] %>" style="width:95%" /><br/>
          </td>
        </tr>
        <tr>
          <td class="item_cap_td" style="background-color:pink"><%= t('config.menu_target') %></td>
          <td class="item_value_td">
            <%
            [['main', t('config.menu_inside_thetis')], ['_blank', t('config.menu_new_window')]].each do |choice|
              checked = ''
              checked = 'checked' if choice.first == @header_menu_param[1]
            %>
              <input type="radio" id="target_<%= choice.first %>" name="header_menu[target]" value="<%= choice.first %>" <%= checked %> /><label for="target_<%= choice.first %>"><%= choice.last %></label>
            <% end %>
            <br/>
          </td>
        </tr>
        <tr>
          <td class="item_cap_td" style="background-color:pink"><%= t('config.menu_url') %></td>
          <td class="item_value_td">
            <input type="text" name="header_menu[url]" value="<%= @header_menu_param[2] %>" style="width:95%" /><br/>
          </td>
        </tr>
        <tr style="height:10px;"><td></td></tr>
        <tr>
          <td colspan="2">
            <table style="width:100%;">
              <tr>
                <td style="text-align:center;">
                  <input id="header_menu_info_ok" type="button" value="<%= t('btn.register') %>" onclick="onHeaderMenuInfoOK('<%= ApplicationHelper.h_s_quote(@header_menu_param[0]) %>');" style="width:80px;">
                  &nbsp;&nbsp;<input id="header_menu_info_cancel" type="button" value="<%= t('btn.cancel') %>" onclick="onHeaderMenuInfoCancel()" style="width:80px;">
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

</form>

