
<table class="info_area" style="width:100%;">
  <tr>
    <td id="sortable_header_menus" style="text-align:left; padding-left:10px;">
      <%
      header_menus = @yaml[:general]['header_menus']
      unless header_menus.nil?
        header_menus.each do |header_menu|
          menu_name = header_menu[0]
          menu_target = header_menu[1]
          menu_url = header_menu[2]
      %>
        <div id="item_<%= menu_name %>" style="height:18px; padding-top:4px; padding-bottom:4px;">
          <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/up_down.gif" title="<%= t('msg.drag_to_change_orger') %>" style="cursor:move" />
          <%= truncate(menu_name, :length => 20) %>
          <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/edit.gif" title="<%= t('btn.edit') %>" onclick="doEditHeaderMenu('<%= ApplicationHelper.h_s_quote(menu_name) %>'); return false;" style="margin-left:10px;" />
          <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/delete.gif" title="<%= t('btn.delete') %>" onclick="onDeleteHeaderMenuClicked('<%= ApplicationHelper.h_s_quote(menu_name) %>'); return false;" style="margin-left:5px;" />
        </div>
      <%
        end
      end
      %>
    </td>
  </tr>
</table>

<script type="text/javascript">

onHeaderMenusOrderUpdated = function()
{
  var addParams = [];
  addParams.push(Sortable.serialize("sortable_header_menus", { name: "header_menus_order" }));
  addParams.push("authenticity_token=<%= form_authenticity_token %>");

  new Ajax.Request(
      "<%= url_for(:controller => 'config', :action => 'update_header_menus_order') %>",
      {
        method:"post",
        parameters:addParams.join("&"),
      }
    );
}

Sortable.create(
    "sortable_header_menus",
    {
      onUpdate: onHeaderMenusOrderUpdated,
      tag:"div"
    }
  );

</script>

<%= render(:partial => 'common/flash_notice') %>

