
<%= form_tag( {:controller => 'official_titles', :action => 'update'}, :name => 'form_official_title', :method => 'post') %>

<table style="width:100%; margin:10px 0px 20px; border-spacing:1px;">
  <tr>
    <td class="spec_cap" nowrap>
      <%= Group.model_name.human %>
    </td>
    <td class="spec_value">
    <% if @group_id.nil? %>
      <%= t('paren.not_specified') %>
    <%
    else
      groups_cache = {}
    %>
      <%= Group.get_path(@group_id, groups_cache) %>
    <% end %>
    </td>
  </tr>
  <tr>
    <td class="spec_cap" nowrap>
      <%= OfficialTitle.human_attribute_name('name') %>
    </td>
    <td class="spec_value">
      <input type="text" id="official_title_name" name="official_title[name]" value="<%= (@official_title.nil?)?(nil):(@official_title.name) %>" style="width:90%" />
    </td>
  </tr>
  <tr style="height:10px;"><td></td></tr>
  <tr>
    <td colspan="2">
      <table style="margin:0px auto;">
        <tr>
          <td class="prim_btn" id="official_title_ok" onclick="onOfficialTitleOk();">
        <% if @official_title.nil? %>
            <%= t('btn.register') %>
        <% else %>
            <%= t('btn.update') %>
        <% end %>
          </td>
          <td style="min-width:10px; width:10px;"></td>
          <td class="prim_btn" id="official_title_cancel" onclick="onOfficialTitleCancel();">
            <%= t('btn.cancel') %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<input type="hidden" id="group_id" name="group_id" value="<%= @group_id %>" />
<input type="hidden" id="id" name="id" value="<%= (@official_title.nil?)?(nil):(@official_title.id) %>" />
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

</form>

