
<table style="width:100%; margin:10px 0px 20px;">
  <tr>
    <td class="spec_cap" nowrap>
      <%= Group.model_name.human %>
    </td>
    <td class="spec_value">
    <% if @group_id.nil? %>
      <%= t('paren.not_specified') %>
    <%
    else
      groups_cache = {}
    %>
      <%= Group.get_path(@group_id, groups_cache) %>
    <% end %>
    </td>
  </tr>
  <tr>
    <td class="spec_cap" nowrap>
      <%= OfficialTitle.human_attribute_name('name') %>
    </td>
    <td class="spec_value">
      <%= @official_title.name %>
    </td>
  </tr>
</table>

