<%
unless @user.nil? or @user.groups.nil?

  @groups_cache ||= {}
  @group_obj_cache ||= {}
%>

  <table cellspacing="0" cellpadding="0" width="100%">
  <% @user.get_groups_a.each do |group_id| %>
    <tr>
      <td nowrap width="20%">
        <%= Group.get_path(group_id, @groups_cache, @group_obj_cache) %><br/>
      </td>
    <% if @login_user.admin?(User::AUTH_USER) %>
      <td width="20"></td>
      <td>
        <table cellspacing="0" cellpadding="0" align="left">
          <tr>
            <td width="10"></td>
            <td width="15">
              <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/edit.gif" alt="<%= t('btn.edit') %>" title="<%= t('btn.edit') %>" onclick="showGroupTreeToSelect('<%= group_id %>', true);" />
            </td>
            <td width="10">&nbsp;</td>
            <td width="15">
              <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/delete.gif" alt="<%= t('btn.delete') %>" title="<%= t('btn.delete') %>" onclick="doRemoveGroup(<%= group_id %>, '<%= ApplicationHelper.h_s_quote(Group.get_path(group_id, @groups_cache, @group_obj_cache)) %>', <%= @user.id %>); return false;" />
            </td>
          </tr>
        </table>
      </td>
    <% end %>
      <td width="30%"></td>
    </tr>
  <% end %>
  </table>

<% end %>
