
<%
login_user = session[:login_user]

groups_cache = {}
%>

<%= form_tag( {:controller => 'users', :action => 'list'}, :method => 'post', :name => 'form_list') %>

<table width="100%" cellspacing="3" cellpadding="0">
  <tr>
    <td>
      <table width="100%" cellspacing="0" cellpadding="0">
        <tr>
        <% if login_user.admin?(User::AUTH_USER) %>
          <td align="left" nowrap width="1%">
            <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/user_add.gif" alt="<%= t('btn.create') %>" title="<%= t('btn.create') %>" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'users', :action => 'new', :from => 'users_list') %>';">
          </td>
          <td width="10"></td>
          <td align="left" nowrap width="1%">
            <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/csv_exp.gif" alt="<%= t('btn.export_csv') %>" title="<%= t('btn.export_csv') %>" onclick="exportCsv();">
          </td>
          <td width="10"></td>
          <td align="left" nowrap width="1%">
            <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/csv_imp.gif" alt="<%= t('btn.import_csv') %>" title="<%= t('btn.import_csv') %>" onclick="importCsv();">
          </td>
          <td width="10"></td>
          <td align="left" nowrap width="1%">
            <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/config.gif" alt="<%= t('btn.config') %>" title="<%= t('btn.config') %>" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'users', :action => 'configure') %>';">
          </td>
        <% end %>
          <td align="right" nowrap>
            <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/search.gif" alt="<%= t('cap.search_keywords') %>">&nbsp;<%= text_field_tag 'keyword', params[:keyword] %>
            <input type="button" value="<%= t('btn.search') %>" onClick="form_list.action='<%= url_for(:controller => 'users', :action => 'search') %>'; form_list.submit(); prog('TOP-RIGHT');"/>
            <input type="button" value="<%= t('btn.reset') %>" onClick="location.href='<%= url_for(:controller => 'users', :action => 'list') %>'; prog('TOP-RIGHT');"/>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr height="1"><td></td></tr>
  <tr>
    <td align="right">
      <table width="100%" cellspacing="0" cellpadding="0">
         <tr>
          <td align="left" width="120" style="padding-bottom:5px;">
  <% if @group_id.nil? or @group_id.empty? %>
            <table width="100%" cellspacing="0" cellpadding="0">
              <tr>
                <td class="td_button_gray" align="left" nowrap bgColor="gray" onClick="showGroupTreeToSelect('0');" onMouseOver="this.bgColor='lawngreen'" onMouseOut="this.bgColor='gray'">
                  <%= t('btn.select_group') %>
                </td>
              </tr>
            </table>
  <% else %>
            <table width="100%" cellpadding="0" cellspacing="0">
              <tr>
                <td align="left" nowrap>
                  <%= t('cap.group') %> <a href="#" onclick="showGroupTreeToSelect('<%= @group_id %>');" onMouseOver="this.style.backgroundColor='palegreen'" onMouseOut="this.style.backgroundColor='white'" style="color:red;"><%=h Group.get_path(@group_id, groups_cache) %></a>
                  &nbsp; <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/erase.gif" alt="<%= t('btn.clear') %>" title="<%= t('btn.clear') %>" onclick="clearGroup()" />
                </td>
              </tr>
            </table>
  <% end %>
          </td>
          <td align="right">
  <% if login_user.admin?(User::AUTH_USER) %>
            <input type="button" value="<%= t('btn.select_deselect_all')%>" onclick="selectAll();">
            <input type="button" value="<%= t('btn.delete')%>" onclick="doDelete();">
            <input type="button" value="<%= t('btn.send_notification')%>" onclick="doNotify();">
  <% else %>
            &nbsp;
  <% end %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td class="pagination_td" align="center">
      <%= t('cap.total') %><%= t('user', :count => @total_num) %>
      <%
      prms = ApplicationHelper.dup_hash(params)
      prms.delete('authenticity_token')
      prms.delete('check_user')
      pagination = will_paginate(@user_pages, :params => prms)
      pagination = ApplicationHelper.custom_pagination(pagination)
      %>
      <%= pagination %>
    </td>
  </tr>
  <tr height="10"><td></td></tr>
</table>

<div id="div_users" style="overflow:scroll; background-color:white;">
<table id="list_users" width="100%" cellpadding="0" cellspacing="1">
  <tr>
    <th class="list_th" width="5%"  nowrap onClick="sortList('User.id')" onMouseOver="this.style.backgroundImage='url(<%= THETIS_RELATIVE_URL_ROOT %>/images/list_th_on.png)';" onMouseOut="this.style.backgroundImage='url(<%= THETIS_RELATIVE_URL_ROOT %>/images/list_th_off.png)';"><%= t('activerecord.attributes.id') %><span style="color:darkcyan; font-size:9pt;"><%= raw(ApplicationHelper.get_sort_direction_exp('User.id', @sort_col, @sort_type)) %></span></th>
    <th class="list_th" width="16%" nowrap onClick="sortList('name')" onMouseOver="this.style.backgroundImage='url(<%= THETIS_RELATIVE_URL_ROOT %>/images/list_th_on.png)';" onMouseOut="this.style.backgroundImage='url(<%= THETIS_RELATIVE_URL_ROOT %>/images/list_th_off.png)';"><%= t('user.u_name') %><span style="color:darkcyan; font-size:9pt;"><%= raw(ApplicationHelper.get_sort_direction_exp('name', @sort_col, @sort_type)) %></span></th>
    <th class="list_th" width="20%" nowrap onClick="sortList('fullname')" onMouseOver="this.style.backgroundImage='url(<%= THETIS_RELATIVE_URL_ROOT %>/images/list_th_on.png)';" onMouseOut="this.style.backgroundImage='url(<%= THETIS_RELATIVE_URL_ROOT %>/images/list_th_off.png)';"><%= User.human_attribute_name('fullname') %><span style="color:darkcyan; font-size:9pt;"><%= raw(ApplicationHelper.get_sort_direction_exp('fullname', @sort_col, @sort_type)) %></span></th>
    <th class="list_th" width="26%"  nowrap onClick="sortList('email')" onMouseOver="this.style.backgroundImage='url(<%= THETIS_RELATIVE_URL_ROOT %>/images/list_th_on.png)';" onMouseOut="this.style.backgroundImage='url(<%= THETIS_RELATIVE_URL_ROOT %>/images/list_th_off.png)';"><%= User.human_attribute_name('email') %><span style="color:darkcyan; font-size:9pt;"><%= raw(ApplicationHelper.get_sort_direction_exp('email', @sort_col, @sort_type)) %></span></th>
    <th class="list_th" width="10%"  nowrap onClick="sortList('xorder')" onMouseOver="this.style.backgroundImage='url(<%= THETIS_RELATIVE_URL_ROOT %>/images/list_th_on.png)';" onMouseOut="this.style.backgroundImage='url(<%= THETIS_RELATIVE_URL_ROOT %>/images/list_th_off.png)';"><%= t('user.title') %><span style="color:darkcyan; font-size:9pt;"><%= raw(ApplicationHelper.get_sort_direction_exp('xorder', @sort_col, @sort_type)) %></span></th>
    <th class="list_th" width="20%"  nowrap onClick="sortList('groups')" onMouseOver="this.style.backgroundImage='url(<%= THETIS_RELATIVE_URL_ROOT %>/images/list_th_on.png)';" onMouseOut="this.style.backgroundImage='url(<%= THETIS_RELATIVE_URL_ROOT %>/images/list_th_off.png)';"><%= User.human_attribute_name('organization') %><span style="color:darkcyan; font-size:9pt;"><%= raw(ApplicationHelper.get_sort_direction_exp('groups', @sort_col, @sort_type)) %></span></th>
  </tr>
<% @users.each_with_index do |user, idx|  %>
  <% td_class = (idx % 2 == 1) ? 'list_td_on' : 'list_td_off' %>
  <tr height="33">
    <td class="<%=td_class %>" nowrap style="text-align:right;"><%=h user.id %></td>
    <td  class="<%=td_class %>"nowrap>
      <a class="a_underline" href="#" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'users', :action => 'show', :id => user.id) %>'; return false;">
        <%=h truncate(user.name, :length => 20) %>
      </a>
    </td>
    <td class="<%=td_class %>" nowrap><%=h truncate(user.fullname, :length => 30) %></td>
    <td class="<%=td_class %>" nowrap><%=h truncate(user.email, :length => 30) %></td>
    <td class="<%=td_class %>" nowrap><%=h truncate(user.title, :length => 10) %></td>
    <td class="<%=td_class %>" nowrap>
      <% user.get_groups_a.each do |group_id| %>
        <%=h Group.get_path(group_id, groups_cache) %><br/>
      <% end %>
    </td>
  <% if login_user.admin?(User::AUTH_USER) %>
    <td class="<%=td_class %>" nowrap style="text-align:center;">
      <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/edit.gif" alt="<%= t('btn.edit') %>" title="<%= t('btn.edit') %>" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'users',:action => 'edit', :id => user.id, :from => 'users_list') %>';" />
    </td>
    <td class="<%=td_class %>" width="20" style="text-align:center;">
      <%= check_box(:check_user, user.id, :class => 'check_user') %>
    </td>
  <% end %>
  </tr>
<% end %>
</table>
</div>

<%= hidden_field_tag('sort_col', params[:sort_col]) %>
<%= hidden_field_tag('sort_type', params[:sort_type]) %>
<%= hidden_field_tag('group_id', @group_id) %>

</form>

<script type="text/javascript">
<!--
var thetisBox = null;

function selectAll()
{
  var elems = document.getElementsByClassName("check_user", document.form_list);
  var all_selected = true;
  for (var i=0; elems != null && i < elems.length; i++) {
    if (!elems[i].checked) {
      all_selected = false;
      break;
    }
  }
  for (var i=0; elems != null && i < elems.length; i++) {
    elems[i].checked = !all_selected;
  }
}

function exportCsv()
{
  if (thetisBox != null){
    thetisBox.remove();
    thetisBox = null;
  }

  var content = getEncodingSelector("doExportCsv()", "export");

  thetisBox = new ThetisBox;
  thetisBox.title = "<%= t('user.title_export') %>";
  thetisBox.show("CENTER", "380,280", "TRAY", "", "<%= t('msg.select_encoding') %> ", content);
}

function doExportCsv()
{
  var enc = null;
  for (var i=0; i<document.form_enc.enc.length; i++) {
    if (document.form_enc.enc[i].checked) {
      enc = document.form_enc.enc[i].value;
      break;
    }
  }
  if (enc == null) {
    return;
  }
  thetisBox.remove();
  thetisBox = null;

  // prog("TOP-RIGHT");
  location="<%= url_for(:controller => 'users', :action => 'export_csv') %>?enc="+enc;
}

function importCsv()
{
  if (thetisBox != null){
    thetisBox.remove();
    thetisBox = null;
  }

  var content = getEncodingSelector("doImportCsv()", "import");

  thetisBox = new ThetisBox;
  thetisBox.title = "<%= t('user.title_import') %>";
  thetisBox.show("CENTER", "380,455", "TRAY", "", "<%= t('user.specify_csv_encoding') %> ", content);
}

function doImportCsv()
{
  if (document.form_enc.imp_file.value == "") {
    msg("<%= t('user.specify_csv') %>");
    return "";
  }
  var enc = null;
  for (var i=0; i<document.form_enc.enc.length; i++) {
    if (document.form_enc.enc[i].checked) {
      enc = document.form_enc.enc[i].value;
      break;
    }
  }
  if (enc == null) {
    msg("<%= t('user.select_encoding_of_csv') %>");
    return;
  }
  var mode = null;
  for (var i=0; i<document.form_enc.mode.length; i++) {
    if (document.form_enc.mode[i].checked) {
      mode = document.form_enc.mode[i].value;
      break;
    }
  }
  if (mode == null) {
    msg("<%= t('msg.select_import_mode') %>");
    return;
  }

  document.form_enc.method = "post";
  document.form_enc.action = "<%= url_for(:controller => 'users', :action => 'import_csv') %>";
  document.form_enc.submit();

  prog("TOP-RIGHT");

  thetisBox.hide();
}

function doDelete()
{
  var elems = document.getElementsByClassName("check_user", document.form_list);
  var count=0;
  for (var i=0; elems!=null && i<elems.length; i++) {
    if (elems[i].checked) {
      var user_id = elems[i].id.split("_")[2];
      if (user_id == "<%= login_user.id %>") {
        msg("<%= t('user.cannot_remove_yourself') %>");
        return;
      }
      count++;
    }
  }
  if (count <= 0) {
    return;
  }
  confm(count+"<%= t('user.confirm_to_delete') %>", "_doDelete()");
}

function _doDelete()
{
  document.form_list.action = "<%= url_for(:controller => 'users', :action => 'destroy') %>";
  document.form_list.submit();

  prog("TOP-RIGHT");
}

function doNotify()
{
  var additionalParams = new Array("authenticity_token=<%= form_authenticity_token %>");

  var elems = document.getElementsByClassName("check_user", document.form_list);
  var count=0;
  for (var i=0; elems!=null && i<elems.length; i++) {
    if (elems[i].checked) {
      var user_id = elems[i].id.split("_")[2];
      additionalParams.push("check_user["+user_id+"]=1");
      count++;
    }
  }
  if (count <= 0) {
    msg("<%= t('msg.select_users_to_notify') %>");
    return false;
  }

  var thetisBox = new ThetisBox;
  thetisBox.setAdditionalParams(additionalParams);
  thetisBox.progress = true;
  thetisBox.show(
                "CENTER", "540,200", "TEXTAREA",
                "<%= url_for(:controller => 'users', :action => 'notify') %>",
                "<%= t('msg.notify_info1') %>"+count+"<%= t('msg.notify_info2') %><br/><%= t('msg.notify_info3') %>",
                ""
              );
}

function clearGroup()
{
  document.form_list.group_id.value = "";
  document.form_list.submit();
  prog("TOP-RIGHT");
}

function sortList(col)
{
  var type = "<%= @sort_type %>";
  
  if (col == "<%= @sort_col %>") {
    type = (type == "ASC") ? "DESC" : "ASC";
  }

  document.form_list.sort_col.value = col;
  document.form_list.sort_type.value = type;
  document.form_list.submit();
  prog("TOP-RIGHT");
}

function showGroupTreeToSelect(group_id)
{
  var thetisBox = new ThetisBox;
  thetisBox.progress = true;
  thetisBox.setAdditionalParams(new Array("authenticity_token=<%= form_authenticity_token %>"));
  thetisBox.show("CENTER", "", "TREE", "<%= url_for(:controller => 'users', :action => 'list') %>", "<%= t('group.select_to_show')%>", "");
  thetisBox.setTree("<%= url_for(:controller => 'groups', :action => 'ajax_get_tree') %>", group_id);
}

//-->
</script>

<%
unless @imp_errs.nil? or @imp_errs.empty?
%>

<div id="imp_errs" style="display:none;">
<table align="center" valign="top" width="100%" cellspacing="0" cellpadding="0">
  <tr style="height:20px;">
    <td align="right" style="color:blueviolet; padding-right:10px; padding-top:10px;">
      <%=h @imp_cnt.to_s + t('user.imported') %><br/>
    </td>
  </tr>
  <tr>
    <td valign="top" style="padding:10px;">
      <table align="center" valign="top" width="100%" cellspacing="0" cellpadding="0" border="1">
<%
err_cnt = 0
@imp_errs.each do |user_cnt, errs|
  if err_cnt < 20
%>
        <tr>
        <% if user_cnt > 0 %>
          <td align="right" valign="top" style="padding:0px 3px;">
            <%=h user_cnt.to_s + t('user.err_list_cap') %>
          </td>
          <td align="left" valign="top" style="padding:0px 3px;">
        <% else %>
          <td align="left" valign="top" style="padding:0px 3px;" colspan="2">
        <% end %>
            <ul>
        <% errs.each do |err| %>
              <li><%=h err %></li>
        <% end %>
            </ul>
          </td>
        </tr>
<% else %>
        <tr>
          <td colspan="2" align="center" valign="top" nowrap style="padding-left:3px; padding-right:3px;">
            <b>...</b>
          </td>
        </tr>
<%
    break
  end
  err_cnt += 1
end
%>
      </table>
    </td>
  </tr>
</table>
</div>

<script type="text/javascript">
<!--
function showImportError()
{
  var thetisBox = new ThetisBox;
  thetisBox.title = "<%= t('cap.import_error') %>";
  thetisBox.bgcolor_title = "crimson";
  thetisBox.bgcolor_body = "salmon";
  thetisBox.show("CENTER", (mainWidth*7/10)+",450", "TRAY", "", "<%= t('msg.error_detected') %>", _z("imp_errs").innerHTML);
}

function onLoadSub()
{
  setTimeout("showImportError()", 100);
}
//-->
</script>

<% end %>

<%= render(:partial => 'common/encoding_selector') %>
