<% HistoryHelper.set_back(request) %>

<% login_user = session[:login_user] %>

<%= render :partial => 'common/error', :locals => {:obj => @user} %>

<table width="100%" cellspacing="0" cellpadding="0">
  <tr height="15"><td colspan="3"></td></tr>
  <tr>
    <td width="54%" valign="top">

      <!-- Basic Information -->
      <div class="info_area" style="width:100%; padding-top:15px; padding-bottom:15px;" align="center">
        <table align="center" width="85%" cellpadding="0" cellspacing="2">
          <tr>
            <td class="prim_cap_td" nowrap><label for="user_name"><%=h t('user.u_name') %></label></td>
            <td class="item_value_td">
              <%=h @user.name %>
            </td>
          </tr>
          <tr>
            <td class="item_cap_td" nowrap><label for="user_email"><%=h User.human_attribute_name('email') %></label></td>
            <td class="item_value_td">
              <%=h @user.email %>
            </td>
          </tr>
          <tr>
            <td class="item_cap_td" nowrap><label for="user_fullname"><%=h User.human_attribute_name('fullname') %></label></td>
            <td class="item_value_td">
              <%=h @user.fullname %>
            </td>
          </tr>
          <tr>
            <td class="item_cap_td" nowrap><label for="user_address"><%=h User.human_attribute_name('address') %></label></td>
            <td class="item_value_td">
              <% unless @user.postalcode.nil? or @user.postalcode.empty? %>
                <%=h t('cap.postalcode') %> <%=h @user.postalcode %><br/>
              <% end %>
              <pre><%=h @user.address %></pre>
            </td>
          </tr>
          <tr>
            <td class="item_cap_td" nowrap><label for="user_time_zone"><%= User.human_attribute_name('time_zone') %></label></td>
            <td class="item_value_td">
              <% if @user.nil? or @user.time_zone.nil? or @user.time_zone.empty? %>
                <%= t('paren.not_specified') %>
              <% else %>
                <%= ActiveSupport::TimeZone[@user.time_zone] %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="item_cap_td" nowrap><label for="user_tel"><%=h t('cap.tel') %></label></td>
            <td class="item_value_td">
              <% unless @user.tel1.nil? or @user.tel1.empty? %>
                <%=h @user.tel1_note %>: <%=h @user.tel1 %><br/>
              <% end %>
              <% unless @user.tel2.nil? or @user.tel2.empty? %>
                <%=h @user.tel2_note %>: <%=h @user.tel2 %><br/>
              <% end %>
              <% unless @user.tel3.nil? or @user.tel3.empty? %>
                <%=h @user.tel3_note %>: <%=h @user.tel3 %><br/>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="item_cap_td" nowrap><label for="user_fax"><%=h User.human_attribute_name('fax') %></label></td>
            <td class="item_value_td">
              <%=h @user.fax %>
            </td>
          </tr>
          <tr>
            <td class="item_cap_td" nowrap><label for="user_organization"><%=h User.human_attribute_name('organization') %></label></td>
            <td class="item_value_td">
              <%=h @user.organization %>
            </td>
          </tr>
          <tr>
            <td class="item_cap_td" nowrap><label for="user_url"><%=h User.human_attribute_name('url') %></label></td>
            <td class="item_value_td">
              <%=h @user.url %>
            </td>
          </tr>
          <tr>
            <td class="item_cap_td" nowrap><label for="user_title"><%=h t('user.title') %></label></td>
            <td class="item_value_td">
              <%=h @user.title %>
            </td>
          </tr>
          <tr height="15"><td></td></tr>
          <tr>
            <td class="item_cap_td" nowrap><%=h t('item.profile_sheet') %></td>
            <td class="item_value_td">
              <!-- Profile Sheet -->
              <%
              item = @user.get_profile_sheet
              if !item.nil? and item.public
              %>
              <a class="a_underline" href="#" onclick="prog('TOP-RIGHT'); location.href='<%= url_for :controller => 'items', :action => 'show', :id => item.id %>'; return false;">
                <%=h truncate(item.title, :length => 20) %>
              </a>
              <% else %>
              <%=h t('item.not_created_or_not_public') %>
              <% end %>
            </td>
          </tr>
        <% if login_user.admin?(User::AUTH_USER) %>
          <tr height="15"><td></td></tr>
          <tr>
            <td class="item_cap_td" nowrap><label for="user_created_at"><%=h User.human_attribute_name('created_at') %></label></td>
            <td class="item_value_td">
              <%
              created_at = ''
              created_at = @user.created_at.strftime(THETIS_DATE_FORMAT_YMD+' %H:%M:%S') unless @user.created_at.nil?
              %>
              <span style="font-size:10.5pt;"><%=h created_at %></span>
            </td>
          </tr>
          <tr>
            <td class="item_cap_td" nowrap><label for="user_login_at"><%=h User.human_attribute_name('login_at') %></label></td>
            <td class="item_value_td">
              <%
              login_at = ''
              login_at = @user.login_at.strftime(THETIS_DATE_FORMAT_YMD+' %H:%M:%S') unless @user.login_at.nil?
              %>
              <span style="font-size:10.5pt;"><%=h login_at %></span>
            </td>
          </tr>
        <% end %>
        </table>
      </div>

    </td>
    <td width="10">&nbsp;</td>
    <td width="45%" valign="top">

      <%= render :partial => 'show_addition' %>

    </td>
  </tr>
</table>


<table align="center" cellspacing="0" cellpadding="0">
  <tr height="20"><td></td></tr>
  <tr>
    <td class="img_button_td" onclick="prog('TOP-RIGHT'); location.href='<%= url_for :controller => 'history', :action => 'back' %>';">
      <%=h t('btn.back') %>
    </td>
  </tr>
  <tr height="10"><td></td></tr>
</table>
<br/>

