
<% if (@equipment.nil? or @equipment.id == 0) %>
<%= form_tag({:controller => 'equipment', :action => 'create'}, :method => 'post', :name => 'form_equipment') %>
<% else %>
<%= form_tag({:controller => 'equipment', :action => 'update', :id => @equipment.id}, :method => 'post', :name => 'form_equipment') %>
<% end %>

<table style="width:80%; margin:10px auto 0px;" cellspacing="0" cellpadding="0">
  <tr>
    <td style="vertical-align:top;">
      <%= render(:partial => 'equipment_form') %>
    </td>
  </tr>
</table>

<table cellspacing="0" cellpadding="0" style="margin:20px auto 10px;">
  <tr>
    <td class="img_button_td" onclick="prog('TOP-RIGHT'); history.back();">
      <%= t('btn.back') %>
    </td>
    <td style="min-width:15px; width:15px;"></td>
    <td class="img_button_td" onclick="doRegister();">
    <% if (@equipment.nil? or @equipment.id == 0) %>
      <%= t('btn.register')%>
    <% else %>
      <%= t('btn.update')%>
    <% end %>
    </td>
  </tr>
</table>

</form>

<script type="text/javascript">

function doRegister()
{
  selectListAll(_z("groups_selected"));
  selectListAll(_z("teams_selected"));

  prog("TOP-RIGHT");
  document.form_equipment.submit();
}
</script>
