
<% if (@equipment.nil? or @equipment.id == 0) %>
<%= form_tag({:controller => 'equipment', :action => 'create'}, :method => 'post', :name => 'form_equipment') %>
<% else %>
<%= form_tag({:controller => 'equipment', :action => 'update', :id => @equipment.id}, :method => 'post', :name => 'form_equipment') %>
<% end %>

<table width="80%" align="center" cellspacing="0" cellpadding="0">
  <tr height="10"><td></td></tr>
  <tr>
    <td valign="top">
      <%= render :partial => 'equipment_form' %>
    </td>
  </tr>
</table>

<table align="center" cellspacing="0" cellpadding="0">
  <tr height="20"><td></td></tr>
  <tr>
    <td class="img_button_td" onclick="prog('TOP-RIGHT'); history.back();">
      <%= t('btn.back') %>
    </td>
    <td width="15"></td>
    <td class="img_button_td" onclick="doRegister();">
    <% if (@equipment.nil? or @equipment.id == 0) %>
      <%= t('btn.register')%>
    <% else %>
      <%= t('btn.update')%>
    <% end %>
    </td>
  </tr>
  <tr height="10"><td></td></tr>
</table>

</form>

<script type="text/javascript">
function doRegister()
{
  selectListAll($("groups_selected"));
  selectListAll($("teams_selected"));

  prog("TOP-RIGHT");
  document.form_equipment.submit();
}
</script>
