
<% if @equipment.nil? %>
  <div style="padding-top:20px;">
    <table cellspacing="0" cellpadding="0" style="width:95%; border:green 1px solid;">
      <tr style="height:50px;">
        <td style="text-align:center; color:darkgreen;">
          <%= t('msg.already_deleted', :name => Equipment.model_name.human) %>
        </td>
      </tr>
    </table>
  </div>
<% elsif !@equipment.is_accessible_by(@login_user) %>
  <div style="padding-top:20px;">
    <table cellspacing="0" cellpadding="0" style="width:95%; border:green 1px solid;">
      <tr style="height:50px;">
        <td style="text-align:center; color:darkgreen;">
          <%= t('msg.need_auth_to_access') %>
        </td>
      </tr>
    </table>
  </div>
<% else %>
  <table align="center" style="width:85%;" cellpadding="0" cellspacing="2">
    <tr>
      <td class="prim_cap_td" nowrap>
        <%= Equipment.human_attribute_name('name') %>
      </td>
      <td class="item_value_td">
        <%= @equipment.name %>
      </td>
    </tr>
    <tr>
      <td class="item_cap_td" nowrap>
        <%= Equipment.human_attribute_name('note') %>
      </td>
      <td class="item_value_td">
        <pre><%= @equipment.note %></pre>
      </td>
    </tr>
    <tr>
      <td class="item_cap_td" nowrap>
        <%= t('equipment.belongs_to') %>
      </td>
      <td class="item_value_td">
        <%= render(:partial => 'common/show_scope', :locals => {:obj => @equipment, :empty_msg => t('msg.all')}) %>
      </td>
    </tr>
  </table>
<% end %>

<% if params[:popup] != 'true' %>
<table align="center" cellspacing="0" cellpadding="0" style="padding:10px 0px;">
  <tr>
    <td class="img_button_td" onclick="prog('TOP-RIGHT'); history.back();">
      <%= t('btn.back') %>
    </td>
  </tr>
</table>
<% end %>

<%= render(:partial => 'common/flash_notice') %>

