
<table style="width:100%;">
  <tr style="height:7px;">
    <td style="width:100%; background-image:url('<%= THETIS_RELATIVE_URL_ROOT %>/images/header_corner.png'); background-repeat:no-repeat; background-position:top right;">
    </td>
    <td style="width:20%; background:url('<%= THETIS_RELATIVE_URL_ROOT %>/images/woody_light.png') repeat-x;">
    </td>
    <td rowspan="2" style="background:url('<%= THETIS_RELATIVE_URL_ROOT %>/images/woody_light.png') repeat-x;">
      <table style="width:100%;">
        <tr>
          <td style="padding-left:5px; text-align:center;">
            <a href="javascript:this.onclick()" onclick="doUpdateIframe('<%= url_for(:controller => 'users', :action => 'edit') %>', 'groupware'); return false;" style="color:navy;">
              <table id="table_login_user" style="cursor:pointer; display:none; background-color:lightcyan; border:1px solid silver; border-right:1px solid black; border-bottom:1px solid black;">
                <tr>
                  <td nowrap style="text-align:center; padding:5px 10px; line-height:1.0;">
                    <%= t('cap.login') %> 
                    <span id="login_name"></span>&nbsp;<img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/edit.gif" title="<%= t('btn.edit') %>">
                  </td>
                </tr>
              </table>
            </a>
          </td>
        <% if $thetis_config[:feed]['enabled'] == '1' %>
          <td style="width:10px;"></td>
          <td style="text-align:center; vertical-align:middle;">
            <a href="javascript:this.onclick()" onclick="window.open('<%= ApplicationHelper.url_for(:controller => 'feeds', :action => 'index', :feed => 'all') %>', 'thetis_feeds'); return false;">
              <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/feed_icon.png" title="<%= t('feed.cap') %>" style="cursor:pointer;" />
            </a>
          </td>
        <% end %>
        </tr>
      </table>
    </td>
  </tr>
  <tr style="height:21px;">
    <td colspan="2" style="border-top:1px solid white; background-image:url('<%= THETIS_RELATIVE_URL_ROOT %>/images/header_menu.png'); background-repeat:repeat-x; background-color:#BA6F18;">
      <table style="width:100%;">
        <tr>
          <td style="padding-left:10px;">
            <table>
              <tr>
                <td onclick="onBtnModeBusinessClicked(this);" style="border-radius:3px; min-width:100px; width:120px; height:90%; font-size:9pt; line-height:1.0; color:black; background-color:papayawhip; text-align:center; vertical-align:middle; padding-top:2px;">
                  <img id="sign_mode_business" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/selected_blue.png" style="padding-bottom:2px; display:none;" />
                  <%= t('mode.business') %>
                </td>
                <td style="min-width:5px; width:5px;">
                </td>
                <td onclick="onBtnModeGroupwareClicked(this);" style="border-radius:3px; min-width:100px; width:120px; height:90%; font-size:9pt; line-height:1.0; color:black; background-color:papayawhip; text-align:center; vertical-align:middle; padding-top:2px;">
                  <img id="sign_mode_groupware" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/selected_red.png" style="padding-bottom:2px; display:none;" />
                  <%= t('mode.groupware') %>
                </td>
              </tr>
            </table>
          </td>
          <td style="padding:0px 10px 2px; font-size:11pt; font-weight:bold; line-height:1.0; text-align:right;">
            <a href="javascript:this.onclick()" onclick="if (typeof(top.showTopicBox) != 'undefined') { top.showTopicBox(); }; return false;"><span style="color:white;"><%= t('topicbox.title') %></span></a>
              <span style="color:lightblue;">/ </span>
            <a href="javascript:this.onclick()" onclick="doUpdateIframe('<%= THETIS_NOTE_URL %>?'+((new Date()).getTime())); return false;"><span style="color:white;"><%= t('menu.note') %></span></a>
            <%
            headlines = {}
            header_menus = $thetis_config[:general]['header_menus']
            unless header_menus.nil?
              header_menus.each do |link|
                headlines[link[0]] = [link[1], link[2]]
              end
            end
            if $thetis_config[:menu]['open_user_reg'] == '1'
              headlines[t('menu.user_reg')] = ['main', url_for(:controller => 'users', :action => 'new')]
            end

            headlines.each do |caption, args|
              target, url = args
            %>
              <span style="color:lightblue;">/ </span>
              <% if target == 'main' %>
              <a href="javascript:this.onclick()" onclick="doUpdateIframe('<%= url %>'); return false;" style="color:white;">
              <% else %>
              <a href="<%= url %>" target="<%= target %>" style="color:white;">
              <% end %>
                <%= caption %>
              </a>
            <% end %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>


<script type="text/javascript">

function onBtnModeBusinessClicked(elem)
{
  if (typeof(hideTopicBox) == "function") {
    hideTopicBox();
  }
  setMode("business");
}

function onBtnModeGroupwareClicked(elem)
{
  if (typeof(hideTopicBox) == "function") {
    hideTopicBox();
  }
  setMode("groupware");
}

function toggleModeSign(mode)
{
  var sign_mode_business = _z("sign_mode_business");
  var sign_mode_groupware = _z("sign_mode_groupware");

  var selected = null;
  var unselected = null;
  if (mode == "business") {
    selected = sign_mode_business;
    unselected = sign_mode_groupware;
  } else {
    selected = sign_mode_groupware;
    unselected = sign_mode_business;
  }

  if (!selected || selected.style.display == "") {
    return false;
  }

  selected.style.display = "";
  selected.parentNode.style.cursor = "";
  unselected.style.display = "none";
  unselected.parentNode.style.cursor = "pointer";

  return true;
}

</script>

