<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">

<title>Sysphonic Thetis</title>

<%= stylesheet_link_tag('application', :media => 'all') %>
</head>

<body>

<table style="width:100%; height:100%; padding-bottom:5px;">
  <tr style="height:95%;">
    <td style="width:200px; padding:30px;">
      <table onclick="window.open('http://sysphonic.com/').focus();" style="width:100%; cursor:pointer; border:3px inset silver;">
        <tr style="height:180px;">
          <td style="text-align:center; vertical-align:middle;">
            <table style="width:100%;">
              <tr style="height:92px;">
                <td style="width:100%; text-align:center; vertical-align:bottom; cursor:pointer; background:url(<%= THETIS_RELATIVE_URL_ROOT %>/images/sysphonic_small.png) center top no-repeat;">
                  <span style="font-size:18pt; font-family:Times New Roman, Georgia; font-weight:500;">
                      Sysphonic
                  </span>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td style="vertical-align:top;">
      <table style="width:100%; padding:20px 10px 10px;">
        <tr>
          <td>
            <table style="width:60%; margin:0px auto 0px 0px;">
              <tr>
                <td style="text-align:left;" nowrap>
                  Sysphonic <B>Thetis</B><sup>&reg;</sup>  <small style="text-align:right;">ver.2.4.0</small>&nbsp;
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <div class="hr"></div>
            <ul style="padding-left:20px;">
              <li style="font-size:10pt;"><%= t('about.license') %></li>
              <li style="font-size:10pt;"><%= t('about.license_detail') %></li>
            </ul>
          </td>
        </tr>
        <tr style="height:5px;"><td></td></tr>
        <tr>
          <td style="text-align:center; font-size:9pt;">
            Copyright (c) 2007-2016, MORITA Shintaro, Sysphonic
          </td>
        </tr>
        <tr>
          <td style="text-align:center; font-size:9pt;">
            Thetis includes following other copyrights :
          </td>
        </tr>
        <tr style="height:10px;"><td></td></tr>
        <tr>
          <td>
            <div nowrap style="padding:5px; overflow:scroll; font-size:10pt; width:320px; height:100px; border:solid 1px gray;">
<span style="background-color:turquoise">CKEditor</span> ver.4.5.6<br/>
Copyright (c) CKSource - Frederico Knabben<br/>
http://ckeditor.com/<br/>
<span style="background-color:turquoise">JKL.Calendar</span> based on ver.0.13<br/>
Copyright 2005-2006 Kawasaki Yusuke<br/>
http://www.kawa.net/works/js/jkl/calender.html<br/>
<span style="background-color:turquoise">Dojo</span> ver.1.7.2<br/>
Copyright (c) 2004-2011, The Dojo Foundation<br/>
http://dojotoolkit.org<br/>
<span style="background-color:turquoise">Prototype JavaScript framework</span> ver.1.7<br/>
(c) 2005-2010 Sam Stephenson<br/>
http://www.prototypejs.org/<br/>
<span style="background-color:turquoise">script.aculo.us</span> v1.9.0<br/>
Copyright (c) 2005-2010 Thomas Fuchs<br/>
http://script.aculo.us<br/>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr style="height:5%;">
    <td style="text-align:center; vertical-align:bottom;" colspan="2">
      <table style="margin:0px auto; width:95%;">
        <tr>
          <td style="padding:5px; background-color:gainsboro; text-align:center;">
            <input type="button" onclick="window.close();" value="<%= t('btn.close') %>" />
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>
