<%
if @login_user.nil? or @login_user.auth.nil? or @login_user.auth.empty?
%>

<script type="text/javascript">

setTimeout("location.href='<%= YamlHelper.get_value($thetis_config, 'general.default_page', nil) %>'", 1);

</script>

<% else %>

<table id="title_main" style="width:97%; height:100%; padding:30px 0px;">
  <tr>
    <td style="vertical-align:middle;">

      <table style="width:100%; height:100%;">
        <tr style="height:10%;">
          <td style="text-align:left; font-size:20pt; line-height:1.0; padding-left:60px; text-indent:80px;" >
            <%= t('menu.for_administrators') %>
            <div class="hr"></div>
          </td>
        </tr>
        <tr style="height:90%;">
          <td style="text-align:left; vertical-align:top;" >
            <ul style="padding-left:200px;">
            <% if @login_user.admin?(User::AUTH_ALL) %>
              <li style="list-style:square; font-size:13pt; line-height:1.9;"><a href="javascript:this.onclick()" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'config', :action => 'edit') %>'; return false;"><%= t('menu.general_conf') %></a></li>
            <% end %>
            <% if @login_user.admin?(User::AUTH_USER) %>
              <li style="list-style:square; font-size:13pt; line-height:1.9;"><a href="javascript:this.onclick()" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'users', :action => 'list') %>'; return false;"><%= t('menu.users_manage') %></a></li>
            <% end %>
            <% if @login_user.admin?(User::AUTH_GROUP) or @login_user.admin?(User::AUTH_WORKFLOW) or @login_user.admin?(User::AUTH_LOCATION) %>
              <li style="list-style:square; font-size:13pt; line-height:1.9;"><a href="javascript:this.onclick()" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'groups', :action => 'show_tree') %>'; return false;"><%= t('menu.groups_manage') %></a></li>
            <% end %>
            <% if @login_user.admin?(User::AUTH_TEAM) %>
              <li style="list-style:square; font-size:13pt; line-height:1.9;"><a href="javascript:this.onclick()" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'teams', :action => 'list') %>'; return false;"><%= t('menu.teams_manage') %></a></li>
            <% end %>
            <% if @login_user.admin?(User::AUTH_SCHEDULE) %>
              <li style="list-style:square; font-size:13pt; line-height:1.9;"><a href="javascript:this.onclick()" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'schedules', :action => 'configure') %>'; return false;"><%= t('menu.schedules_manage') %></a></li>
            <% end %>
            <% if @login_user.admin?(User::AUTH_EQUIPMENT) %>
              <li style="list-style:square; font-size:13pt; line-height:1.9;"><a href="javascript:this.onclick()" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'equipment', :action => 'list') %>'; return false;"><%= t('menu.equipment_manage') %></a></li>
            <% end %>
            <% if @login_user.admin?(User::AUTH_ADDRESSBOOK) %>
              <li style="list-style:square; font-size:13pt; line-height:1.9;"><a href="javascript:this.onclick()" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'addressbook', :action => 'list', :admin => 'true') %>'; return false;"><%= t('menu.addressbook_manage') %></a></li>
            <% end %>
            <% if @login_user.admin?(User::AUTH_ITEM) %>
              <li style="list-style:square; font-size:13pt; line-height:1.9;"><a href="javascript:this.onclick()" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'templates', :action => 'list') %>'; return false;"><%= t('menu.templates') %></a></li>
            <% end %>
            </ul>

          <% if @login_user.admin?(User::AUTH_RESEARCH) %>
            <div style="padding-left:160px; padding-top:30px; padding-bottom:5px;">
              <table style="width:100%; border-bottom:solid 1px dimgray;">
                <tr style="height:30px;">
                  <td style="width:5px; background-color:blue;"></td>
                  <td style="text-align:left; vertical-align:middle; padding:0px 20px; line-height:15pt;"  > 
                    <b style="color:dimgray; font-size:12pt;">
                      <%= t('menu.research_manage') %>
                    </b>
                  </td>
                </tr>
              </table>
              <ul style="padding-top:5px; padding-left:40px;">
                <li style="list-style:square; font-size:13pt; line-height:1.9;"><a href="javascript:this.onclick()" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'researches', :action => 'settings') %>'; return false;"><%= t('menu.settings') %></a>
                <li style="list-style:square; font-size:13pt; line-height:1.9;"><a href="javascript:this.onclick()" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'researches', :action => 'users') %>'; return false;"><%= t('menu.users_and_status') %></a>
                <li style="list-style:square; font-size:13pt; line-height:1.9;"><a href="javascript:this.onclick()" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'researches', :action => 'statistics') %>'; return false;"><%= t('menu.statistics') %></a>
              </ul>
            </div>
          <% end %>
          <% if @login_user.admin?(User::AUTH_TIMECARD) %>
            <div style="padding-left:160px; padding-top:30px; padding-bottom:5px;">
              <table style="width:100%; border-bottom:solid 1px dimgray;">
                <tr style="height:30px;">
                  <td style="width:5px; background-color:blue;"></td>
                  <td style="text-align:left; vertical-align:middle; padding:0px 20px; line-height:15pt;"  > 
                    <b style="color:dimgray; font-size:12pt;">
                      <%= t('menu.timecards_manage') %>
                    </b>
                  </td>
                </tr>
              </table>
              <ul style="padding-top:5px; padding-left:40px;">
                <li style="list-style:square; font-size:13pt; line-height:1.9;"><a href="javascript:this.onclick()" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'timecards', :action => 'configure') %>'; return false;"><%= t('menu.settings') %></a>
                <li style="list-style:square; font-size:13pt; line-height:1.9;"><a href="javascript:this.onclick()" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'timecards', :action => 'users') %>'; return false;"><%= t('menu.paid_holidays') %></a>
              </ul>
            </div>
          <% end %>
          <% if @login_user.admin?(User::AUTH_ZEPTAIR) %>
            <div style="padding:30px 0px 5px 160px;">
              <table style="width:100%; border-bottom:solid 1px dimgray;">
                <tr style="height:30px;">
                  <td style="width:5px; background-color:blue;"></td>
                  <td style="text-align:left; vertical-align:middle; padding:0px 20px; line-height:15pt;"> 
                    <b style="color:dimgray; font-size:12pt;">
                      <%= t('zeptair.vpn') %>
                    </b>
                  </td>
                </tr>
              </table>
              <ul style="padding-top:5px; padding-left:40px;">
                <li style="list-style:square; font-size:13pt; line-height:1.9;"><a href="javascript:this.onclick()" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'zeptair_xlogs', :action => 'list') %>'; return false;"><%= t('zeptair.network_logs') %></a>
              </ul>
            </div>
          <% end %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<% end %>
