<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title><%= $thetis_config[:general]['app_title'] %></title>

<link rel="shortcut icon" href="images/thetis.ico">

<%= stylesheet_link_tag('application', :media => 'all') %>
<%= javascript_include_tag('top') %>

<script type="text/javascript">

ThetisBox.setTitle("<%= $thetis_config[:general]['app_title'] %>");
ThetisBox.setOk("<%= t('btn.ok') %>");
ThetisBox.setCancel("<%= t('btn.cancel') %>");
ThetisBox.setClose("<%= t('btn.close') %>");
ThetisBox.setCloseImg("<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/close.png");

function setLoginName(name)
{
  if (name == null || name.length <= 0) {
    _z("login_name").innerHTML = "";
    _z("table_login_user").style.display = "none";
  } else {
    _z("login_name").innerHTML = name;
    _z("table_login_user").style.display = "block";
  }
}

function setHeaderLogin(loginName)
{
  setLoginName(loginName);
}

function setLeftLogin(loginName, loginAdmin)
{
  if (typeof(setNavLogin) != "undefined") {
    setNavLogin(loginName, loginAdmin);
  }
}

var thetisBoxTopic = null;

function showTopicBox()
{
  var mainRegion = getClientRegion();
  var mainWidth = mainRegion.width;
  var mainHeight = mainRegion.height;

  thetisBoxTopic = new ThetisBox;
  thetisBoxTopic.resizable = true;
  thetisBoxTopic.title = "<%= t('topicbox.title') %>";
  thetisBoxTopic.show("CENTER", (mainWidth/10*7)+","+(mainHeight/10*7), "IFRAME", "", "<%= $thetis_config[:topic]['caption'] %>", "<%= THETIS_TOPICS_URL %>?"+((new Date()).getTime()));
}

function hideTopicBox()
{
  if (thetisBoxTopic) {
    thetisBoxTopic.remove();
    thetisBoxTopic = null;
  }
}

_iframes = null;

function onLoad()
{
  _iframes = [_z("iframe_groupware"), _z("iframe_business")];

  setMode("groupware");

  doResize();
}

function doResize()
{
  var mainRegion = getClientRegion();
  var mainWidth = mainRegion.width;
  var mainHeight = mainRegion.height;

  _z("sect_nav").style.height = mainHeight + "px";
  _z("sect_main").style.height = (mainHeight - 28 - 8) + "px";

  var height = window.innerHeight;  // Firefox
  if (isNaN(height)) {
    height = mainHeight;
  }
  var tbl_left_groupware = _z("tbl_left_groupware");
  tbl_left_groupware.style.height = height + "px";

  if (height < tbl_left_groupware.scrollHeight) {
    toggleSymbol(false);
  }
}

function getActiveIframe()
{
  for (var i=0; _iframes && i < _iframes.length; i++) {
    if (_iframes[i].style.display != "none") {
      return _iframes[i];
    }
  }
  return null;
}

function getActiveContent()
{
  var iframe = getActiveIframe();
  if (iframe) {
    return iframe.contentWindow;
  } else {
    return null;
  }
}

function setMode(mode)
{
  var targetIframe = null;
  for (var i=0; _iframes && i < _iframes.length; i++) {
    var iframe = _iframes[i];
    if (iframe.id == "iframe_" + mode) {
      if (iframe.style.display != "none") {
        return false;
      }
      iframe.style.display = "";
      targetIframe = iframe;
    } else {
      iframe.style.display = "none";
    }
  }
  var leftTables = [_z("tbl_left_groupware"), _z("tbl_left_business")];
  for (var i=0; i < leftTables.length; i++) {
    var tbl = leftTables[i];
    tbl.style.display = (tbl.id == "tbl_left_" + mode)?"":"none";
  }
  toggleModeSign(mode);

  if (mode == "groupware"
      && targetIframe.contentWindow.document.location.href == "about:blank") {
    <%
    if params[:default].blank?
      url = ''
      url << $thetis_config[:general]['default_page']
      if $thetis_config[:general]['default_topicbox'] == '1'
        url << "#{url.include?('?')?'&':'?'}topicBox=true"
      end
    else
      url = params[:default]
    end
    %>
    doUpdateIframe("<%= url %>", mode);
  }
  return true;
}

function doUpdateIframe(url, mode)
{
  hideTopicBox();

  if (mode) {
    setMode(mode);
  }

  try {
    var iframeContent = getActiveContent();
    if (typeof(iframeContent.prog) == "function") {
      iframeContent.prog("TOP-RIGHT");
    }
    iframeContent.document.location.href = url;
  } catch (e) {
    var iframe = getActiveIframe();
    iframe.src = url;
  }
}

addEvent(window, "resize", doResize);

</script>

</head>

<body onload="onLoad()" style="overflow:hidden;">

<table style="width:100%;">
  <tr>
    <td rowspan="3" style="min-width:150px; width:150px;">
      <div id="sect_nav" style="overflow:auto;">
        <%= render(:partial => 'left_groupware', :layout => false) %>
        <%= render(:partial => 'left_business', :layout => false) %>
      </div>
    </td>
    <td style="min-height:28px; height:28px;">
      <%= render(:partial => 'header', :layout => false) %>
    </td>
  </tr>
  <tr>
    <td>
      <div id="sect_main" style="overflow:hidden;">
        <iframe id="iframe_groupware" src="about:blank" frameborder="0" style="width:100%; height:100%; border:none; margin:0px; overflow:hidden; display:none;"></iframe>
        <iframe id="iframe_business" src="about:blank" frameborder="0" style="width:100%; height:100%; border:none; margin:0px; overflow:hidden; display:none;"></iframe>
      </div>
    </td>
  </tr>
  <tr>
    <td style="min-height:8px; height:8px;">
      <%= render(:partial => 'footer', :layout => false) %>
    </td>
  </tr>
</table>

</body>
</html>
