
<table style="height:100%; width:100%; margin-top:5px; background-color:white;">
  <tr>
    <td style="padding-left:10px; padding-right:20px; vertical-align:top;">
      <table id="base_table" style="width:100%; margin:7px 0px 10px;">
        <tr>
          <td style="text-align:left; padding-left:5px; color:navy;">
            <%= t('cap.from_outside') %><br/>
          </td>
          <td style="text-align:right;">
            <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/select_all.gif" alt="<%= t('btn.select_all') %>" title="<%= t('btn.select_all') %>" onclick="selectAll('div_outside');" />
          </td>
        </tr>
        <tr style="height:3px;"><td></td></tr>
        <tr>
          <td style="text-align:right;" colspan="2">
            <textarea id="div_outside" wrap="off" readonly style="width:95%; height:52px; border:1px solid black; padding-top:5px; padding-left:8px;"><%= @root_url + url_for(:controller => 'frames', :action => 'index', :default => @def_page) %></textarea>
          </td>
        </tr>
        <tr style="height:10px;"><td></td></tr>
        <tr>
          <td style="text-align:left; padding-left:5px; color:navy;">
            <%= t('cap.from_inside') %><br/>
          </td>
          <td style="text-align:right;">
            <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/select_all.gif" alt="<%= t('btn.select_all') %>" title="<%= t('btn.select_all') %>" onclick="selectAll('div_inside');" />
          </td>
        </tr>
        <tr style="height:3px;"><td></td></tr>
        <tr>
          <td style="text-align:right;" colspan="2">
            <textarea id="div_inside" wrap="off" readonly style="width:95%; height:52px; border:1px solid black; padding-top:5px; padding-left:8px;"><%= @def_page %></textarea>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<script type="text/javascript">

selectAll = function(div_name)
{
  var div = _z(div_name);
  div.focus();
  div.select();
}

</script>
