
<div class="info_area" style="width:90%; padding:15px 0px; background-color:#FFEBCB; text-align:center;" >
  <%= form_tag( {:controller => 'items', :action => 'destroy_comment', :id => '', :comment_id => @comment.id }, :name => 'form_team_cancel', :method => 'post') %>
    <table style="margin:0px auto;">
      <tr>
        <td>
          <%= t('team.now_applying') %>
        </td>
      </tr>
      <tr>
        <td style="padding-top:10px; text-align:center;">
          <table style="margin:0px auto;">
            <tr>
              <td class="img_button_td" onclick="onTeamCancelClicked();">
                <%= t('btn.cancel') %>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </form>
</div>

<%= render(:partial => 'common/flash_notice') %>


<script type="text/javascript">

onTeamCancelClicked = function()
{
  confm("<%= t('team.confirm_cancel') %>", "doTeamCancel()");
}

doTeamCancel = function()
{
  var thetisBoxProgress = prog("TOP-RIGHT");

  new Ajax.Updater(
      "div_team_apply",
      document.form_team_cancel.action,
      {
        method:"post",
        parameters: Form.serialize(document.form_team_cancel),
        evalScripts:true,
        onComplete:function(request) {
          thetisBoxProgress.remove();
        }
      }
    );
}
</script>
