<%
@user_obj_cache ||= {}

@group_obj_cache ||= {}
@groups_cache ||= {}
@user_groups ||= {}
%>

<% unless @comment.nil? %>

<table style="width:100%; padding:20px 20px 0px;">
  <tr>
  <%
  body_class = (@comment.user_id == 0)?'comment_sys_body_td':'comment_body_td'
  %>
  <% if @comment.user_id == 0 %>
    <td class="comment_sys_tab_td" style="text-align:left; width:25%;" nowrap >
  <% else %>
    <td class="comment_tab_td" style="text-align:left; width:25%;" nowrap >
  <% end %>
      <%
      user_name, u_groups, figure = UsersHelper.get_groups_info(@comment.user_id, @user_groups, @users_cache, @user_obj_cache, @groups_cache, @group_obj_cache)
      unless u_groups.empty?
      %>
      <a href="javascript:this.onclick()" onclick="showUserGroups('<%= @comment.user_id %>', '<%= ApplicationHelper.h_s_quote(user_name) %>', '<%= u_groups.join(',') %>', '<%= figure %>'); return false;">
      <% end %>
        <b style="color:white;"><%= user_name %></b>
      <% unless u_groups.empty? %>
      </a>
      <% end %>
      &nbsp;(<%= @comment.updated_at.strftime(THETIS_DATE_FORMAT_YMD+' %H:%M') %>)
    </td>
    <td style="text-align:left; padding-left:15px;" >
    <%
    unless @login_user.nil? or params[:action] == 'bbs'
      if @login_user.id == @comment.user_id \
          or @login_user.id == @item.user_id \
          or @login_user.admin?(User::AUTH_ITEM)
    %>
      <table style="width:75px; margin:0px auto 0px 0px;">
        <tr>
        <% if @login_user.id == @comment.user_id %>
          <td>
            <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/edit.png" title="<%= t('btn.edit') %>" onclick="editComment(<%= @comment.id %>);" />
          </td>
          <td>
            <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/file_add.png" title="<%= t('item.attach_file') %>" onclick="attachFileToComment(<%= @comment.id %>);" />
          </td>
        <% end %>
          <td>
            <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/delete.png" title="<%= t('btn.delete') %>" onclick="onDeleteCommentClicked(<%= @comment.id %>); return false;" />
          </td>
        </tr>
      </table>
    <%
      end
    end
    %>
    </td>
  </tr>
  <tr>
    <td class="<%= body_class %>" id="comment_<%= @comment.id %>" colspan="2" style="text-align:left;">
      <div id ="comment_body<%= @comment.id %>"><%= raw(ApplicationHelper.format_text_block(h(@comment.message))) %></div>
    </td>
  </tr>
<%
comment_attachments = @comment.attachments_without_content
unless comment_attachments.nil? or comment_attachments.empty?
%>
  <tr>
    <td style="text-align:left; color:black; font-size:10pt; padding-left:10px; border:1px solid #965100; border-top:0px; background-color:white" colspan="2">
    <% comment_attachments.each do |attach| %>
      <div id="div_comment_attach_<%= attach.id %>">
        <a href="<%= url_for(:controller => 'items', :action => :get_attachment, :id => attach.id) %>">
          <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/file.png"> <%= attach.name %>
        </a>
      <% if params[:action] != 'bbs' and !@login_user.nil? and @comment.user_id == @login_user.id %>
        &nbsp;<img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/delete.png" title="<%= t('btn.delete') %>" onclick="onDeleteCommentAttachmentClicked('div_comment_attach_<%= attach.id %>', <%= @comment.id %>, <%= attach.id %>, '<%= ApplicationHelper.h_s_quote(attach.name) %>'); return false;" />
      <% end %>
      </div>
    <% end %>
    </td>
  </tr>
<%
end

if @for_print.nil? or @for_print == false

  profiles_cache ||= {}
  profile_sheet = profiles_cache[@comment.user_id]

  if profile_sheet.nil?
    user = User.find_with_cache(@comment.user_id, @user_obj_cache)
    begin
      profile_sheet = Item.find(user.item_id)
      profiles_cache[@comment.user_id] = profile_sheet unless profiles_cache.nil?
    rescue
    end
  end

  @item ||= @comment.item
  if !@login_user.nil? and @login_user.id == @item.user_id \
      and !profile_sheet.nil? and profile_sheet.public
%>
  <tr>
    <td colspan="2" style="text-align:right;">
      <a class="a_underline" href="javascript:this.onclick()" onclick="onShowProfileSheetClicked('<%= profile_sheet.id %>', '<%= ApplicationHelper.h_s_quote(user_name) %>'); return false;">
        <%= t('item.profile_sheet') %>
        <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/zoom.png" title="<%= t('item.show_profile_sheet') %>" />
      </a>
    </td>
  </tr>
<%
  end
end
%>
</table>

<% end %>

