
<%= render(:partial => 'common/error', :locals => {:obj => @attachment}) %>

<table style="width:90%; margin:20px auto 0px;" cellpadding="0" cellspacing="2">
  <tr>
    <td style="vertical-align:top;">
      <table cellspacing="0" cellpadding="0" style="width:100%;">
        <tr>
          <td class="item_cap_td" style="width:100%; background-color:#E5C27F;"><%= t('item.add_attachment') %></td>
        </tr>
        <tr>
          <td class="item_value_td" style="width:80%;">
            <table style="width:100%;" cellpadding="0" cellspacing="2">
              <tr>
                <td rowspan="<%= (THETIS_ATTACHMENT_LOCATION_SELECTABLE)?4:3 %>" style="width:20px; background-color:goldenrod; text-align:center;" >A</td>
                <td class="item_cap_td" style="background-color:navajowhite"><%= t('item.file') %></td>
                <td class="item_value_td">
                  <%= file_field(:attachment0, :file, :style => 'width:100%', :size => '50') %><br/>
                </td>
              </tr>
              <tr>
                <td class="item_cap_td" style="background-color:navajowhite"><%= Item.human_attribute_name('title') %></td>
                <td class="item_value_td">
                  <%= text_field(:attachment0, :title, :style => 'width:70%') %><br/>
                </td>
              </tr>
              <tr>
                <td class="item_cap_td" style="background-color:navajowhite"><%= Attachment.human_attribute_name('memo') %></td>
                <td class="item_value_td">
                  <%= text_area(:attachment0, :memo, :rows => '3', :wrap => 'off', :style => 'width:100%') %><br/>
                </td>
              </tr>
            <% if THETIS_ATTACHMENT_LOCATION_SELECTABLE %>
              <tr>
                <td class="item_cap_td" style="background-color:navajowhite"><%= t('item.storage_location') %></td>
                <td class="item_value_td">
                  <%= radio_button(:attachment0, :location, Attachment::LOCATION_DB, :checked => (THETIS_ATTACHMENT_LOCATION_DEFAULT == Attachment::LOCATION_DB)) %><label for="attachment0_location_<%= Attachment::LOCATION_DB.downcase %>"><%= t('item.location_db') %></label>
                  &nbsp;
                  <%= radio_button(:attachment0, :location, Attachment::LOCATION_DIR, :checked => (THETIS_ATTACHMENT_LOCATION_DEFAULT == Attachment::LOCATION_DIR)) %><label for="attachment0_location_<%= Attachment::LOCATION_DIR.downcase %>"><%= t('item.location_file') %></label>
                </td>
              </tr>
            <% end %>
              <tr style="height:5px;"><td></td></tr>
              <tr>
                <td rowspan="<%= (THETIS_ATTACHMENT_LOCATION_SELECTABLE)?4:3 %>" style="width:20px; background-color:goldenrod; text-align:center;" >B</td>
                <td class="item_cap_td" style="background-color:navajowhite">
                  <%= t('item.file') %>
                </td>
                <td class="item_value_td">
                  <%= file_field(:attachment1, :file, :style => 'width:100%', :size => '50') %><br/>
                </td>
              </tr>
              <tr>
                <td class="item_cap_td" style="background-color:navajowhite">
                  <%= Item.human_attribute_name('title') %>
                </td>
                <td class="item_value_td">
                  <%= text_field(:attachment1, :title, :style => 'width:70%') %><br/>
                </td>
              </tr>
              <tr>
                <td class="item_cap_td" style="background-color:navajowhite">
                  <%= Attachment.human_attribute_name('memo') %>
                </td>
                <td class="item_value_td">
                  <%= text_area(:attachment1, :memo, :rows => '3', :wrap => 'off', :style => 'width:100%') %><br/>
                </td>
              </tr>
            <% if THETIS_ATTACHMENT_LOCATION_SELECTABLE %>
              <tr>
                <td class="item_cap_td" style="background-color:navajowhite">
                  <%= t('item.storage_location') %>
                </td>
                <td class="item_value_td">
                  <%= radio_button(:attachment1, :location, Attachment::LOCATION_DB, :checked => (THETIS_ATTACHMENT_LOCATION_DEFAULT == Attachment::LOCATION_DB)) %><label for="attachment1_location_<%= Attachment::LOCATION_DB.downcase %>"><%= t('item.location_db') %></label>
                  &nbsp;
                  <%= radio_button(:attachment1, :location, Attachment::LOCATION_DIR, :checked => (THETIS_ATTACHMENT_LOCATION_DEFAULT == Attachment::LOCATION_DIR)) %><label for="attachment1_location_<%= Attachment::LOCATION_DIR.downcase %>"><%= t('item.location_file') %></label>
                </td>
              </tr>
            <% end %>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td style="width:10px;"></td>
    <td id="sortable_attachments" style="text-align:center; width:150px; vertical-align:top;">
    <%
    idx = 0
    item_attachments = @item.attachments_without_content
    item_attachments.each do |attach|
    %>
      <div id="item_<%= attach.id %>" style="width:100%;">
        <table cellspacing="0" cellpadding="0" style="width:100%; margin-bottom:10px;">
          <tr>
            <td style="text-align:right; vertical-align:middle; cursor:move;" >
            <% if item_attachments.length > 1 %>
              <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/up_down.gif" title="<%= t('msg.drag_to_change_orger') %>" />
            <% end %>
            </td>
            <td class="img_td" style="text-align:center; padding-left:5px; padding-right:5px; cursor:move;">
              <table style="width:100%;" cellpadding="0" cellspacing="0">
                <tr>
                  <td style="text-align:center;">
                    <%= truncate(attach.name, :length => 20) %>
                  </td>
                </tr>
                <tr>
                  <td style="text-align:center;">
                  <% unless attach.title.nil? or attach.title.empty? %>
                    <span style="color:tomato;">&lt;</span><%= truncate(attach.title, :length => 18) %><span style="color:tomato;">&gt;</span>
                  <% end %>
                  </td>
                </tr>
              </table>
            </td>
            <td style="vertical-align:middle;">
              <table style="width:100%;" cellpadding="0" cellspacing="0">
                <tr>
                  <td>
                    <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/edit.gif" alt="<%= t('btn.edit') %>" title="<%= t('btn.edit') %>" onclick="editAttachInfo(<%= attach.id %>, '<%= ApplicationHelper.h_s_quote(attach.name) %>');" />
                  </td>
                </tr>
                <tr style="height:5px;"><td></td></tr>
                <tr>
                  <td>
                    <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/delete.gif" alt="<%= t('btn.delete') %>" title="<%= t('btn.delete') %>" onclick="doDeleteAttach(<%= attach.id %>, '<%= ApplicationHelper.h_s_quote((attach.title.nil? or attach.title.empty?)?(attach.name):(attach.title)) %>');" />
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    <%
      idx = idx + 1
    end
    %>
    </td>
  </tr>
</table>


<script type="text/javascript">

setSortableAttach = function() {
  // Following code in HTML body such as "sortable_element" tag causes a JavaScript error in dojo.io.bind.
  Sortable.create("sortable_attachments", {onUpdate:function(){new Ajax.Request("<%= url_for(:controller => 'items', :action => 'update_attachments_order') %>?id="+_z("item_id").value, {asynchronous:true, evalScripts:true, parameters:Sortable.serialize("sortable_attachments", {name:"attachments_order"})+"&authenticity_token=<%= form_authenticity_token %>"})}, tag:"div"})
}

<% if item_attachments.length > 1 and params[:action] == 'edit' %>
setTimeout(setSortableAttach, 100);
<% end %>

var thetisBoxAttachInfo = null;

editAttachInfo = function(attach_id, attach_name)
{
  if (thetisBoxAttachInfo != null) {
    return;
  }
  thetisBoxAttachInfo = new ThetisBox;
  thetisBoxAttachInfo.setOnClose(function(){ thetisBoxAttachInfo = null; });

  var thetisBoxProgress = prog("CENTER");

  new Ajax.Request(
          "<%= url_for(:controller => 'items', :action => 'edit_attachment_info') %>?attachment_id="+attach_id,
          {
            method:"get",
            asynchronous:true,
            evalScripts:true,
            onComplete:function(request) {
                thetisBoxAttachInfo.title = attach_name;
                thetisBoxAttachInfo.show("CENTER", "520,320", "TRAY", "", "", request.responseText.stripScripts());
                thetisBoxProgress.remove();
                request.responseText.evalScripts();
              }
          }
        );
}

onAttachInfoOK = function()
{
  var btnOk = _z("attachment_info_ok");
  btnOk.disabled = true;
  var btnCancel = _z("attachment_info_cancel");
  btnCancel.disabled = true;

  var thetisBoxProgress = prog("CENTER");

  ajaxUploadFile(
          "form_attachment_info",
          document.form_attachment_info.action,
          "div_item_attachment",
          function(){
              setTimeout(setSortableAttach, 100);
              thetisBoxProgress.remove();
              var boxInstance = ThetisBox.getInstanceForElem(btnOk);
              if (boxInstance) {
                boxInstance.remove();
              }
              tips("<%= t('msg.update_success')%>");
          },
          function(){
              thetisBoxProgress.remove();
              btnOk.disabled = false;
              btnCancel.disabled = false;
              msg("<%= t('msg.system_error')%>");
          }
        );
}

onAttachInfoCancel = function()
{
  var boxInstance = ThetisBox.getInstanceForElem(document.form_attachment_info);
  if (boxInstance) {
    boxInstance.remove();
  }
}

doDeleteAttach = function(attach_id, title)
{
  confm('<%= t('paren.square.left') %>'+title+'<%= t('msg.confirm_to_delete') %>', "_doDeleteAttach("+attach_id+")");
}

_doDeleteAttach = function(attach_id)
{
  var thetisBox = prog("TOP-RIGHT");

  new Ajax.Updater(
              "div_item_attachment",
              "<%= url_for(:controller => 'items', :action => 'delete_attachment') %>",
              {
                asynchronous:true,
                evalScripts:true,
                onComplete:function(request) {
                  thetisBox.remove();
                },
                parameters: "attachment_id="+attach_id+"&authenticity_token=<%= form_authenticity_token %>"
              }
            );
}

</script>
