<%
if @for_print.nil? or @for_print == false
  profiles_cache = {}
end

@item.comments.each do |comment|
  @comment = comment
  next unless @comment.xtype == Comment::XTYPE_MSG
%>
  <a name="comment_<%= @comment.id %>"></a>
  <div id="div_comment_<%= @comment.id %>">
    <%= render(:partial => 'ajax_comment', :locals => {:profiles_cache => profiles_cache}) %>
  </div>
<% end %>


<script type="text/javascript">

onShowProfileSheetClicked = function(profileSheetId, userName)
{
  var thetisBox = new ThetisBox;
  thetisBox.title = "<%= t('item.profile_sheet') %> - "+userName;
  thetisBox.show("CENTER", (_mainWidth*8/10)+","+(_mainHeight*8/10), "IFRAME", "", "", "<%= url_for(:controller => 'items', :action => 'show_for_print') %>?id="+profileSheetId);
}

</script>
