<% unless @comment.nil? %>
  <a name="comment_<%= @comment.id %>"></a>
  <table style="width:95%; margin:0px auto; border:1px skyblue solid; background-color:white; border-spacing:5px;">
    <tr>
      <%
      case @comment.xtype
        when Comment::XTYPE_ACK
          bgcolor = '#bdf759'
        when Comment::XTYPE_NAK
          bgcolor = 'lightcoral'
        else
          bgcolor = ''
      end
      %>
      <td style="background-color:<%= bgcolor %>; padding-left:5px;">
        <%= @comment.get_xtype_name %>&nbsp;&nbsp;<span style="font-size:13px;">(<%= @comment.updated_at.strftime(THETIS_DATE_FORMAT_YMD+' %H:%M') %>)</span>
      </td>
    </tr>
    <tr>
      <td style="padding-left:5px; padding-right:5px;">
        <pre><%= @comment.message %></pre>
      </td>
    </tr>
  </table>
  <div style="height:5px"></div>
<% end %>

