
<table style="width:85%; margin:0px auto 15px; border-spacing:2px;">
  <tr>
    <td class="spec_cap" colspan="2" nowrap style="width:100%;">
      <%= @item.title %>
    </td>
  </tr>
  <tr>
    <td class="prim_cap" style="width:20%;" nowrap>
      <%= Team.human_attribute_name('status') %>
    </td>
    <td class="spec_value" id="status">
      <div id="div_team_status">

        <%= render(:partial => 'ajax_team_status') %>

      </div>
    </td>
  </tr>
  <tr>
    <td class="spec_cap" style="width:20%;" nowrap>
      <%= t('msg.members') %>
    </td>
    <td class="spec_value" nowrap>
    <%
    unless @team.nil?
      @users_cache ||= {}
      @user_obj_cache ||= {}

      @groups_cache ||= {}
      @group_obj_cache ||= {}

      @team.get_users_a.each do |user_id|
        user_name = User.get_name(user_id, @users_cache, @user_obj_cache)
        group_names = []
        begin
          user = User.find_with_cache(user_id, @user_obj_cache)
          user.get_groups_a.each do |group_id|
            group_names << Group.get_path(group_id, @groups_cache, @group_obj_cache)
          end
        rescue
        end
        belongs_to = user_name + ' @ <br/>&nbsp;&nbsp;' + group_names.join('<br/>&nbsp;&nbsp;')
    %>
        <% unless @login_user.nil? %><a class="a_underline" href="javascript:this.onclick()" onclick="msg('<%= ApplicationHelper.h_s_quote(belongs_to) %>'); return false;"><% end %>
          <%= user_name %>
        <% unless @login_user.nil? %></a><% end %>
        <br/>
    <%
      end
    end
    %>
    </td>
  </tr>
  <tr>
    <td class="spec_cap" style="width:20%;" nowrap>
      <%= t('team.team_folder') %>
    </td>
    <td class="spec_value" nowrap>
    <%
    @folders_cache ||= {}
    @folder_obj_cache ||= {}

    unless @team.nil? or @login_user.nil?
      team_folder = @team.get_team_folder
      unless team_folder.nil?
        if  Folder.check_user_auth(team_folder.id, @login_user, 'r', true)
          path = team_folder.get_path(@folders_cache, @folder_obj_cache)
    %>
      <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/folder/team_folder.png" title="" />
      <a class="a_underline" href="javascript:this.onclick()" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'items', :action => 'bbs', :folder_id => team_folder.id) %>'; return false;">
        <%= path %>
      </a>
      <% else %>
        <%= t('paren.round.left') %><%= t('msg.need_auth_to_access') %><%= t('paren.round.right') %>
    <%
        end
      end
    end
    %>
    </td>
  </tr>
</table>

<%= render(:partial => 'common/flash_notice') %>


<script type="text/javascript">

<% unless @team.nil? %>
if (_z("team_id") != null) {
  _z("team_id").value = "<%= @team.id %>";
}
<% end %>

<%
=begin
%>
#<% if (params[:action] == 'team_organize') %>
#
#onMoveInTeamFolderClicked = function()
#{
#  confm("<%= t('item.confirm_move_in_team_folder') %><br/><%= t('item.move_in_team_folder_info') %>", "doMoveInTeamFolder()");
#}
#
#doMoveInTeamFolder = function()
#{
#  var addParams = [];
#  addParams.push("id=<%= @item.id %>");
#  addParams.push("authenticity_token=<%= form_authenticity_token %>");
#
#  var thetisBoxProgress = prog("TOP-RIGHT");
#
#  new Ajax.Updater(
#      "folder_path",
#      "<%= url_for(:controller => 'items', :action => 'move_in_team_folder') %>",
#      {
#        method:"post",
#        parameters:addParams.join("&"),
#        evalScripts:true,
#        onComplete:function(request) {
#          thetisBoxProgress.remove();
#        }
#      }
#    );
#}
#
#// Once the item is moved in the Team Folder, nobody except the members of the Team can see it.
#// setTimeout(onMoveInTeamFolderClicked, 100);
#
#<% end %>
<%
=end
%>

</script>
