<%
@folders_cache ||= {}
@folder_obj_cache ||= {}
%>

<%= render(:partial => 'common/error', :locals => {:obj => @item}) %>

<table style="width:90%; margin:15px auto 0px; border-spacing:2px;">
<% unless @item.nil? %>
  <tr>
    <td class="item_cap_td" style="background-color:#97DCFF">
      <label for="item_xtype"><%= Item.human_attribute_name('xtype') %></label>
    </td>
    <td class="item_value_td">
  <%
  case @item.xtype
    when Item::XTYPE_PROFILE
  %>
      <%= t('item.profile_sheet') %>
  <% when Item::XTYPE_WORKFLOW %>
      <%= Workflow.model_name.human %>
  <% when Item::XTYPE_RESEARCH %>
      <%= Research.model_name.human %>
  <% else   # XTYPE_INFO, XTYPE_PROJECT, XTYPE_ZEPTAIR_DIST, XTYPE_UNKNOWN %>
      <%= radio_button('item', 'xtype', Item::XTYPE_INFO, :onClick => 'onItemXtypeClicked(this)') %><label for="item_xtype_<%= Item::XTYPE_INFO %>"> <%= t('item.type.normal') %></label><br/>
      <%= radio_button('item', 'xtype', Item::XTYPE_PROJECT, :onClick => 'onItemXtypeClicked(this)') %><label for="item_xtype_<%= Item::XTYPE_PROJECT %>"> <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/folder/team_folder.gif" title="<%= t('item.project') %>" /> <%= t('item.type.project') %></label><br/>
    <%
=begin
#    if @login_user.admin?(User::AUTH_ZEPTAIR)
    %>
#      <%= radio_button('item', 'xtype', Item::XTYPE_ZEPTAIR_DIST, :onClick => 'onItemXtypeClicked(this)') %><label for="item_xtype_<%= Item::XTYPE_ZEPTAIR_DIST %>"> <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/zeptair/zeptair_icon.png" title="<%= t('item.type.zeptair_dist') %>" /> <%= t('item.type.zeptair_dist') %></label>
#      &nbsp;<img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/info.gif" onclick="msg('<%= t('item.zeptair_dist_info') %>');">
#
#      <div id="div_zept_cmd" style="padding-left:20px; display:<%= (@item.xtype == Item::XTYPE_ZEPTAIR_DIST)?'block':'none' %>;">
#        <div style="background-color:#FDFEFF; padding:2px 3px">
#          <%
#          zept_cmd = @item.zeptair_command
#          checked = (!zept_cmd.nil? and zept_cmd.enabled)?'checked':''
#          %>
#          <input name="zeptair_command[enabled]" type="hidden" value="0" />
#          <input type="checkbox" id="check_zept_cmd" name="zeptair_command[enabled]" value="1" onclick="dispZeptCmdEdit(this.checked); modifiedBasic++;" <%= checked %>><label for="check_zept_cmd"><%= t('item.zeptair_dist_cmd') %></label>
#          <div id="div_zept_cmd_edit" style="padding-left:20px; display:<%= (checked=='checked')?'block':'none' %>;">
#            <textarea id="zept_cmd" name="zeptair_command[commands]" rows="4" wrap="off" style="width:95%; background-color:black; color:white;" onChange="modifiedBasic++;"><%= (zept_cmd.nil?)?'':zept_cmd.commands %></textarea><br/>
#            <% checked = (!zept_cmd.nil? and zept_cmd.confirm_exec)?'checked':'' %>
#            <input name="zeptair_command[confirm_exec]" type="hidden" value="0" />
#            <input type="checkbox" id="check_zept_cmd_with_confirm" name="zeptair_command[confirm_exec]" value="1" onclick="modifiedBasic++;" <%= checked %>><label for="check_zept_cmd_with_confirm"><%= t('item.zeptair_dist_cmd_with_confirm') %></label>
#          </div>
#        </div>
#      </div>
#
#<script type="text/javascript">
#dispZeptCmdOpt = function(sw)
#{
#  var div_zept_cmd = _z("div_zept_cmd");
#  if (div_zept_cmd) {
#    div_zept_cmd.style.display = (sw)?"block":"none";
#  }
#}
#
#dispZeptCmdEdit = function(sw)
#{
#  var div_zept_cmd_edit = _z("div_zept_cmd_edit");
#  if (div_zept_cmd_edit) {
#    div_zept_cmd_edit.style.display = (sw)?"block":"none";
#  }
#}
#</script>
#
    <%
#    end
=end
    %>
  <% end %>
    </td>
  </tr>
<% end %>
  <tr>
    <td class="item_cap_td" style="background-color:#97DCFF">
      <label for="item_title"><%= Item.human_attribute_name('title') %></label>
    </td>
    <td class="item_value_td">
      <%= text_field('item', 'title', :style => 'width:400px', :onChange => 'modifiedBasic++') %>
    </td>
  </tr>
<% if !@item.nil? and @item.is_a_copy? %>
  <tr>
    <td class="item_cap_td" style="background-color:#97DCFF">
      <%= t('cap.original') %>
    </td>
    <td class="item_value_td">
    <%
    source_item = Item.find(@item.source_id)
    if source_item.nil?
    %>
      <%= t('paren.deleted') %><br/>
    <% elsif source_item.check_user_auth(@login_user, 'r', true) %>
      <%= source_item.title %><br/>
    <% else %>
      <%= t('paren.round.left') + t('msg.need_auth_to_access') + t('paren.round.right') %><br/>
    <% end %>
      <input type="checkbox" id="check_clear_original" name="check_clear_original" value="1" onclick="modifiedBasic++;"><label for="check_clear_original"><%= t('item.clear_ref_original') %></label>
      <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/info.gif" onclick="msg('<%= t('item.clear_ref_original_info') %>');">
    </td>
  </tr>
<% end %>
  <tr>
    <td class="item_cap_td" style="background-color:#97DCFF">
      <label for="item_folder_id"><%= Folder.model_name.human %></label>
    </td>
    <td class="item_value_td">
<% if !@item.nil? and Folder.get_path(@item.folder_id, @folders_cache, @folder_obj_cache).include?('/$') %>
  ---
  <%= hidden_field_tag('item[folder_id]', @item.folder_id) %>
<% elsif !@item.nil? and @item.xtype == Item::XTYPE_PROFILE %>
  <%= @item.get_folder_path(@folders_cache, @folder_obj_cache) %>
  <%= hidden_field_tag('item[folder_id]', @item.folder_id) %>
<% else %>
      <table style="width:100%;">
        <tr>
          <td style="text-align:left; width:20%;" nowrap>
            <span id="div_folderPath" style="color:red">
              <%= (@item.nil?)?'/(root)':@item.get_folder_path(@folders_cache, @folder_obj_cache) %>
              <%= hidden_field_tag('item[folder_id]', (@item.nil?)?'0':@item.folder_id) %>
            </span>
          </td>
          <td style="width:10px;"></td>
          <td>
            <div class="button_gray" style="float:left;" onclick="showFolderTreeToSelect(_z('item_folder_id').value); modifiedBasic++;">
              <%= t('btn.select_folder') %>
            </div>
          </td>
        </tr>
      </table>
      <div style="padding-top:4px;">
        <input type="checkbox" id="check_create_folder" name="check_create_folder" value="1" onclick="_z('create_folder').style.display=(this.checked?'inline':'none'); modifiedBasic++;"><label for="check_create_folder"><%= t('item.create_folder_path') %></label><br/>
        <div style="padding-top:4px; padding-left:30px;">
          <span id="create_folder" style="display:none;"> <%= t('item.subfolder_name') %><input name="create_folder_name" type="text" value="" onchange="modifiedBasic++;"></span>
        </div>
      </div>
<% end %>
    </td>
  </tr>
  <tr>
    <td class="item_cap_td" style="background-color:#97DCFF;">
      <label for="item_summary"><%= Item.human_attribute_name('summary') %></label>
    </td>
    <td class="item_value_td">
      <%= text_area('item', 'summary', :rows => '3', :wrap => 'off', :style => 'width:100%', :onChange => 'modifiedBasic++') %>
    </td>
  </tr>
  <tr>
    <td class="item_cap_td" style="background-color:#97DCFF;">
      <label for="item_public">
        <%= Item.human_attribute_name('public') %>&nbsp;
        <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/info.gif" onclick="msg('<%= t('item.public_info1') %><br/><%= t('item.public_info2') %>');">
      </label>
    </td>
    <td class="item_value_td">
<% if !@item.nil? and (@item.xtype == Item::XTYPE_WORKFLOW or @item.xtype == Item::XTYPE_RESEARCH) %>
      ---
      <%= hidden_field_tag('item[public]', '0') %>
<% else %>
      <%= check_box('item', 'public', :onChange => 'modifiedBasic++') %><label for="item_public"><%= t('item.set_public') %></label>
<% end %>
    </td>
  </tr>
  <tr>
    <td class="item_cap_td" style="background-color:#97DCFF;">
      <label for="item_update_message"><%= t('item.update_message') %></label>
    </td>
    <td class="item_value_td">
<% if !@item.nil? and (@item.xtype == Item::XTYPE_WORKFLOW or @item.xtype == Item::XTYPE_RESEARCH or @item.xtype == Item::XTYPE_PROFILE)  %>
      ---
      <%= hidden_field_tag('item[update_message]', '') %>
<% else %>
      <%= text_area 'item', 'update_message', :rows => "3", :wrap => "off", :style => 'width:100%', :onChange => 'modifiedBasic++' %>
      &nbsp;<span style="color:blueviolet; font-size:9pt;"><%= t('item.update_message_info') %></span>
<% end %>
    </td>
  </tr>
  <tr>
    <td class="item_cap_td" style="background-color:#97DCFF">
      <label for="item_layout"><%= Item.human_attribute_name('layout') %></label>
    </td>
    <td class="item_value_td">
      <table>
        <tr>
          <td style="width:10px;"></td>
          <td style="vertical-align:top;">
            <%= radio_button('item', 'layout', 'A', :onClick => 'modifiedBasic++') %><label for="item_layout_a"> A</label>
            <table border="1" style="width:50px;">
              <tr>
                <td>
                  <table border="1" style="border-spacing:2px;">
                    <tr>
                      <td nowrap style="vertical-align:top;">
                        <%= truncate(Item.human_attribute_name('summary'), :length => 8) %><br/>
                        <%= truncate(Item.human_attribute_name('description'), :length => 8) %><br/>
                      </td>
                      <td nowrap style="vertical-align:top; width:30%;" >
                        <%= truncate(t('attachment.plural'), :length => 8) %><br/>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td style="text-align:center;">
                  <%= truncate(t('image.plural'), :length => 8) %><br/>
                </td>
              </tr>
            </table>
          </td>
          <td style="width:20px;"></td>
          <td style="vertical-align:top;">
            <%= radio_button('item', 'layout', 'B', :onClick => 'modifiedBasic++') %><label for="item_layout_b"> B</label>
            <table border="1" style="width:50px;">
              <tr>
                <td>
                  <table border="1" style="border-spacing:2px;">
                    <tr>
                      <td nowrap style="vertical-align:top;">
                         <%= truncate(Item.human_attribute_name('summary'), :length => 8) %><br/>
                      </td>
                      <td nowrap style="vertical-align:top; width:30%;" >
                         <%= truncate(t('attachment.plural'), :length => 8) %><br/>
                      </td>
                    </tr>
                    <tr>
                      <td nowrap style="vertical-align:top;">
                         <%= truncate(Item.human_attribute_name('description'), :length => 8) %><br/>&nbsp;
                      </td>
                      <td nowrap style="vertical-align:top; width:30%;">
                         <%= truncate(t('image.plural'), :length => 8) %><br/>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
          <td style="width:20px;"></td>
          <td style="vertical-align:top;">
            <%= radio_button('item', 'layout', 'C', :onClick => 'modifiedBasic++') %><label for="item_layout_c"> C</label>
            <table border="1" style="width:50px;">
              <tr>
                <td style="text-align:center;" colspan="2">
                  <table border="1" style="border-spacing:2px;">
                    <tr>
                      <td nowrap style="vertical-align:top;">
                         &nbsp;&nbsp;<%= truncate(Item.human_attribute_name('summary'), :length => 8) %>&nbsp;&nbsp;<br/>
                         &nbsp;&nbsp;<%= truncate(Item.human_attribute_name('description'), :length => 8) %>&nbsp;&nbsp;<br/>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td style="text-align:center;" nowrap>
                   <%= truncate(t('image.plural'), :length => 8) %><br/>
                </td>
                <td style="text-align:center;" nowrap>
                   <%= truncate(t('attachment.plural'), :length => 8) %><br/>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<script type="text/javascript">
<% unless @item.nil? %>
document.getElementById("item_id").value = "<%= @item.id %>";
<% end %>

onItemXtypeClicked = function(elem)
{
  modifiedBasic++;

  if (typeof(dispZeptCmdOpt) == "function") {
    if (elem.value == "<%= Item::XTYPE_ZEPTAIR_DIST %>") {
      dispZeptCmdOpt(elem.checked);
    } else {
      dispZeptCmdOpt(false);
    }
  }
}

function doSelectFolder(thetisBoxId)
{
  var thetisBox = ThetisBox.getInstance(thetisBoxId);
  if (thetisBox) {
    var treeNodeId = thetisBox.getSelectedTreeNodeId();
    if (treeNodeId) {
      ThetisBox.remove(thetisBoxId);

      var addParams = [];
      addParams.push("tree_node_id="+treeNodeId);

      var thetisBoxProgress = prog("TOP-RIGHT");

      new Ajax.Updater(
          "div_folderPath",
          "<%= url_for(:controller => 'folders', :action => 'get_path') %>",
          {
            method:"get",
            parameters:addParams.join("&"),
            asynchronous:true,
            evalScripts:true,
            onComplete:function(request) {
              thetisBoxProgress.remove();
            }
          }
        );
    }
  }
}

function showFolderTreeToSelect(folder_id)
{
  var thetisBox = new ThetisBox;
  thetisBox.show("CENTER", "", "TREE", "doSelectFolder("+thetisBox.id+")", "<%= t('msg.select_folder_to_save_in')%>", "");
  thetisBox.setTree("<%= url_for(:controller => 'folders', :action => 'ajax_get_tree') %>", folder_id);
}
</script>

