
<%= render(:partial => 'common/error', :locals => {:obj => @image}) %>

<table style="width:90%; margin:20px auto 0px; border-spacing:2px;">
  <tr>
    <td style="vertical-align:top;">
      <table style="width:100%;">
        <tr>
          <td class="item_cap_td" style="width:100%; background-color:lightpink;"><%= t('item.add_images') %></td>
        </tr>
        <tr>
          <td class="item_value_td" style="width:80%;">
            <table style="width:100%; border-spacing:2px;">
              <tr>
                <td rowspan="3" style="width:20px; background-color:lightcoral; text-align:center;" >A</td>
                <td class="item_cap_td" style="background-color:pink;"><%= t('item.file') %></td>
                <td class="item_value_td">
                  <%= file_field(:image0, :file, :style => 'width:100%', :size => '50') %><br/>
                </td>
              </tr>
              <tr>
                <td class="item_cap_td" style="background-color:pink"><%= Item.human_attribute_name('title') %></td>
                <td class="item_value_td">
                  <%= text_field(:image0, :title, :style => 'width:70%') %><br/>
                </td>
              </tr>
              <tr>
                <td class="item_cap_td" style="background-color:pink"><%= Image.human_attribute_name('memo') %></td>
                <td class="item_value_td">
                  <%= text_area(:image0, :memo, :rows => '3', :wrap => 'off', :style => 'width:100%') %><br/>
                </td>
              </tr>
              <tr style="height:5px;"><td></td></tr>
              <tr>
                <td rowspan="3" style="width:20px; background-color:lightcoral; text-align:center;" >B</td>
                <td class="item_cap_td" style="background-color:pink"><%= t('item.file') %></td>
                <td class="item_value_td">
                  <%= file_field(:image1, :file, :style => 'width:100%', :size => '50') %><br/>
                </td>
              </tr>
              <tr>
                <td class="item_cap_td" style="background-color:pink"><%= Item.human_attribute_name('title') %></td>
                <td class="item_value_td">
                  <%= text_field(:image1, :title, :style => 'width:70%') %><br/>
                </td>
              </tr>
              <tr>
                <td class="item_cap_td" style="background-color:pink"><%= Image.human_attribute_name('memo') %></td>
                <td class="item_value_td">
                  <%= text_area(:image1, :memo, :rows => '3', :wrap => 'off', :style => 'width:100%') %><br/>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td style="width:10px;"></td>
    <td id="sortable_images" style="text-align:center; width:150px; vertical-align:top;">
    <%
    item_images = @item.images_without_content
    item_images.each_with_index do |img, idx|
    %>
      <div id="item_<%= img.id %>" style="width:100%;">
        <table style="width:100%; margin-bottom:10px;">
          <tr>
            <td style="text-align:right; vertical-align:middle; cursor:move;" >
            <% if item_images.size > 1 %>
              <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/up_down.gif" title="<%= t('msg.drag_to_change_orger') %>" />
            <% end %>
            </td>
            <td class="img_td" style="text-align:center; padding-left:5px; padding-right:5px; cursor:move;">
              <table style="width:100%;">
                <tr>
                  <td style="text-align:center;">
                    <% img_url = url_for(:controller => 'items', :action => 'get_image', :id => img.id, :ts => ApplicationHelper.get_timestamp(img)) %>
                    <img id="<%= "img#{img.id}" %>" src="<%= img_url %>" style="width:90px; height:60px;" />
                  </td>
                </tr>
                <tr>
                  <td style="text-align:center;">
                  <% if img.title.nil? or img.title.empty? %>
                    <%= truncate(img.name, :length => 20) %>
                  <% else %>
                    &lt;<%= truncate(img.title, :length => 18) %>&gt;
                  <% end %>
                  </td>
                </tr>
              </table>
            </td>
            <td style="vertical-align:middle;">
              <table style="width:100%;">
                <tr>
                  <td>
                    <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/edit.gif" title="<%= t('btn.edit') %>" onclick="editImageInfo(<%= img.id %>, '<%= ApplicationHelper.h_s_quote(img.name) %>');" />
                  </td>
                </tr>
                <tr style="height:5px;"><td></td></tr>
                <tr>
                  <td>
                    <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/delete.gif" title="<%= t('btn.delete') %>" onclick="onDeleteImageClicked(<%= img.id %>, '<%= ApplicationHelper.h_s_quote((img.title.nil? or img.title.empty?)?(img.name):(img.title)) %>');" />
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    <% end %>
    </td>
  </tr>
</table>


<script type="text/javascript">

setSortableImg = function() {
  // Following code in HTML body such as "sortable_element" tag causes a JavaScript error in dojo.io.bind.
  Sortable.create("sortable_images", {onUpdate:function(){new Ajax.Request("<%= url_for(:controller => 'items', :action => 'update_images_order') %>?id="+_z("item_id").value, {asynchronous:true, evalScripts:true, parameters:Sortable.serialize("sortable_images", {name:"images_order"})+"&authenticity_token=<%= form_authenticity_token %>"})}, tag:"div"})
}

<% if item_images.size > 1 and params[:action] == 'edit' %>
setTimeout(setSortableImg, 100);
<% end %>

var thetisBoxImageInfo = null;

editImageInfo = function(img_id, img_name)
{
  if (thetisBoxImageInfo != null) {
    return;
  }
  thetisBoxImageInfo = new ThetisBox;
  thetisBoxImageInfo.setOnClose(function(){ thetisBoxImageInfo = null; });

  var thetisBoxProgress = prog("CENTER");

  new Ajax.Request(
      "<%= url_for(:controller => 'items', :action => 'edit_image_info') %>?image_id="+img_id,
      {
        method:"get",
        asynchronous:true,
        evalScripts:true,
        onComplete:function(request) {
            thetisBoxImageInfo.title = img_name;
            thetisBoxImageInfo.show("CENTER", "460,390", "TRAY", "", "", request.responseText.stripScripts());
            thetisBoxProgress.remove();
            request.responseText.evalScripts();
          }
      }
    );
}

onImageInfoOK = function()
{
  var btnOk = _z("image_info_ok");
  btnOk.disabled = true;
  var btnCancel = _z("image_info_cancel");
  btnCancel.disabled = true;

  var thetisBoxProgress = prog("CENTER");

  ajaxUploadFile(
          "form_image_info",
          document.form_image_info.action,
          "div_item_image",
          function() {
              setTimeout(setSortableImg, 100);
              thetisBoxProgress.remove();
              var boxInstance = ThetisBox.getInstanceForElem(btnOk);
              if (boxInstance) {
                boxInstance.remove();
              }
              tips("<%= t('msg.update_success')%>");
          },
          function() {
              thetisBoxProgress.remove();
              btnOk.disabled = false;
              btnCancel.disabled = false;
              msg("<%= t('msg.system_error')%>");
          }
        );
}

onImageInfoCancel = function()
{
  var boxInstance = ThetisBox.getInstanceForElem(document.form_image_info);
  if (boxInstance) {
    boxInstance.remove();
  }
}

onDeleteImageClicked = function(img_id, title)
{
  confm("<%= t('paren.square.left') %>"+title+"<%= t('msg.confirm_to_delete') %>", "doDeleteImage("+img_id+")");
}

doDeleteImage = function(img_id)
{
  var addParams = [];
  addParams.push("image_id="+img_id);
  addParams.push("authenticity_token=<%= form_authenticity_token %>");

  var thetisBoxProgress = prog("TOP-RIGHT");

  new Ajax.Updater(
      "div_item_image",
      "<%= url_for(:controller => 'items', :action => 'delete_image') %>",
      {
        method:"post",
        parameters:addParams.join("&"),
        asynchronous:true,
        evalScripts:true,
        onComplete:function(request) {
          thetisBoxProgress.remove();
        }
      }
    );
}

</script>
