
<%= form_tag( {:controller => 'items', :action => 'update_attachment_info', :id => @attachment.item_id }, :id => 'form_attachment_info', :name => 'form_attachment_info', :method => 'post', :enctype => 'multipart/form-data') %>
<table style="width:100%;">
  <tr>
    <td style="text-align:right;">
      <table style="width:100%; margin-top:5px; border-spacing:1px;">
        <tr>
          <td colspan="2" style="text-align:center;">
            <%= @attachment.name %>
          </td>
        </tr>
        <tr style="height:5px;"><td></td></tr>
        <tr>
          <td class="item_cap_td" style="background-color:#E5C27F">
            <%= t('item.new_file') %>
          </td>
          <td class="item_value_td">
            <div id="attachment_info_uploader">
              <p>Your browser doesn't have HTML5 support.</p>
            </div>
          </td>
        </tr>
        <tr>
          <td class="item_cap_td" style="background-color:#E5C27F">
            <%= Item.human_attribute_name('title') %>
          </td>
          <td class="item_value_td">
            <%= text_field(:attachment, :title, :style => 'width:70%')  %><br/>
          </td>
        </tr>
        <tr>
          <td class="item_cap_td" style="background-color:#E5C27F">
            <%= Attachment.human_attribute_name('memo') %>
          </td>
          <td class="item_value_td">
            <%= text_area(:attachment, :memo, :rows => '3', :wrap => 'off', :style => 'width:100%') %><br/>
          </td>
        </tr>
      <% if THETIS_ATTACHMENT_LOCATION_SELECTABLE %>
        <tr>
          <td class="item_cap_td" style="background-color:#E5C27F">
            <%= t('item.storage_location') %>
          </td>
          <td class="item_value_td">
          <% if @attachment.location == Attachment::LOCATION_DIR %>
            <%= t('item.location_file') %>
          <% else %>
            <%= t('item.location_db') %>
          <% end %>
          </td>
        </tr>
      <% end %>
        <tr style="height:10px;"><td></td></tr>
        <tr>
          <td colspan="2">
            <table style="width:100%;">
              <tr>
                <td style="text-align:center;">
                  <input id="attachment_info_ok" type="button" value="<%= t('btn.register') %>" onclick="onAttachInfoOkClicked()" style="width:80px;">
                  &nbsp;&nbsp;<input id="attachment_info_cancel" type="button" value="<%= t('btn.cancel') %>" onclick="onAttachInfoCancelClicked()" style="width:80px;">
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<input type="hidden" name="attachment_id" value="<%= @attachment.id %>" />

</form>

<script type="text/javascript">

jQuery(document).ready(function($){
	$("#attachment_info_uploader").plupload(getPluploadOptions(1));
});

</script>
