<%
title ||= ''
div_name ||= ''
%>

<table style="width:100%; border-bottom:solid 1px dimgray;">
  <tr style="height:25px;">
    <td style="min-width:5px; width:5px; background-color:blue;"></td>
    <td style="padding:2px 15px; text-align:left; vertical-align:top; line-height:1.0;"> 
      <b style="color:dimgray; font-size:16px;">
        <%= title %>
      </b>
      <div style="display:inline-block; float:right; font-size:15px; padding-right:10px; line-height:19px;">
        <span style="background-color:whitesmoke;">&nbsp;<a href="#"><%= t('btn.top') %></a>&nbsp;</span>
        &nbsp;
        <span style="background-color:whitesmoke;">&nbsp;<a href="javascript:this.onclick()" onclick="onToggleColumnClicked(this, '<%= div_name %>'); return false;"><%= raw(t('arrow.up')) %><%= t('btn.close') %></a>&nbsp;</span>
      </div>
    </td>
  </tr>
</table>

