
<%= render(:partial => 'common/error', :locals => {:obj => @attachment}) %>

<table style="width:90%; margin:20px auto 0px; border-spacing:2px;">
  <tr>
    <td id="sortable_attachments" style="text-align:center; width:150px; vertical-align:top;">
    <%
    idx = 0
    item_attachments = @item.attachments_without_content
    item_attachments.each do |attach|
    %>
      <div id="item_<%= attach.id %>" style="width:100%;">
        <table style="width:100%; margin-bottom:10px;">
          <tr>
            <td style="text-align:right; vertical-align:middle; cursor:move;" >
            <% if item_attachments.length > 1 %>
              <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/up_down.png" title="<%= t('msg.drag_to_change_orger') %>" />
            <% end %>
            </td>
            <td class="img_td" style="text-align:center; padding-left:5px; padding-right:5px; cursor:move;">
              <table style="width:100%;">
                <tr>
                  <td style="text-align:center;">
                    <%= truncate(attach.name, :length => 20) %>
                  </td>
                </tr>
                <tr>
                  <td style="text-align:center;">
                  <% unless attach.title.nil? or attach.title.empty? %>
                    <span style="color:tomato;">&lt;</span><%= truncate(attach.title, :length => 18) %><span style="color:tomato;">&gt;</span>
                  <% end %>
                  </td>
                </tr>
              </table>
            </td>
            <td style="vertical-align:middle;">
              <table style="width:100%;">
                <tr>
                  <td>
                    <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/edit.png" title="<%= t('btn.edit') %>" onclick="onEditAttachmentClicked(<%= attach.id %>, '<%= ApplicationHelper.h_s_quote(attach.name) %>');" />
                  </td>
                </tr>
                <tr style="height:5px;"><td></td></tr>
                <tr>
                  <td>
                    <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/delete.png" title="<%= t('btn.delete') %>" onclick="onDeleteAttachmentClicked(<%= attach.id %>, '<%= ApplicationHelper.h_s_quote((attach.title.nil? or attach.title.empty?)?(attach.name):(attach.title)) %>');" />
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    <%
      idx = idx + 1
    end
    %>
    </td>
    <td style="min-width:10px;"></td>
    <td style="vertical-align:top;">
      <div id="attachment_uploader">
        <p>Your browser doesn't have HTML5 support.</p>
      </div>
    </td>
  </tr>
</table>


<script type="text/javascript">

jQuery(document).ready(function($){
  var context = $("#attachment_uploader");
	context.plupload(getPluploadOptions());
	$(".plupload_container", context)[0].style.height = "300px";
});

setSortableAttach = function() {
  Sortable.create(
      "sortable_attachments",
      {
        tag:"div",
        onUpdate:function() {
          var addParams = [];
          addParams.push("id="+_z("item_id").value);
          addParams.push(Sortable.serialize("sortable_attachments", {name:"attachments_order"}));
          addParams.push("authenticity_token=<%= form_authenticity_token %>");

          new Ajax.Request(
              "<%= url_for(:controller => 'items', :action => 'update_attachments_order') %>",
              {
                method:"post",
                parameters:addParams.join("&")
              }
            )
        }
      }
    );
}

<% if item_attachments.length > 1 and params[:action] == 'edit' %>
setTimeout(setSortableAttach, 100);
<% end %>

var thetisBoxAttachInfo = null;

onEditAttachmentClicked = function(attach_id, attach_name)
{
  if (thetisBoxAttachInfo != null) {
    return;
  }
  thetisBoxAttachInfo = new ThetisBox;
  thetisBoxAttachInfo.setOnClose(function(){ thetisBoxAttachInfo = null; });

  var thetisBoxProgress = prog("CENTER");

  var addParams = [];
  addParams.push("attachment_id="+attach_id);

  new Ajax.Request(
      "<%= url_for(:controller => 'items', :action => 'edit_attachment_info') %>",
      {
        method:"get",
        parameters:addParams.join("&"),
        onComplete:function(request) {
          thetisBoxAttachInfo.title = attach_name;
          thetisBoxAttachInfo.resizable = true;
          thetisBoxAttachInfo.show("CENTER", "520,360", "TRAY", "", "", request.responseText.stripScripts());
          thetisBoxProgress.remove();
          request.responseText.evalScripts();
        }
      }
    );
}

onAttachInfoOkClicked = function()
{
  var btnOk = _z("attachment_info_ok");
  btnOk.disabled = true;
  var btnCancel = _z("attachment_info_cancel");
  btnCancel.disabled = true;

  var thetisBoxProgress = prog("CENTER");

  ajaxUploadFile(
      "attachment_info_uploader",
      "form_attachment_info",
      document.form_attachment_info.action,
      "div_item_attachment",
      function() {
        setTimeout(setSortableAttach, 100);
        thetisBoxProgress.remove();
        var boxInstance = ThetisBox.getInstanceForElem(btnOk);
        if (boxInstance) {
          boxInstance.remove();
        }
        tip("<%= t('msg.update_success')%>");
      },
      function() {
        thetisBoxProgress.remove();
        btnOk.disabled = false;
        btnCancel.disabled = false;
        msg("<%= t('msg.system_error')%>");
      }
    );
}

onAttachInfoCancelClicked = function()
{
  var boxInstance = ThetisBox.getInstanceForElem(document.form_attachment_info);
  if (boxInstance) {
    boxInstance.remove();
  }
}

onDeleteAttachmentClicked = function(attach_id, title)
{
  confm('<%= t('paren.square.left') %>'+title+'<%= t('msg.confirm_to_delete') %>', "doDeleteAttachment("+attach_id+")");
}

doDeleteAttachment = function(attach_id)
{
  var addParams = [];
  addParams.push("attachment_id="+attach_id);
  addParams.push("authenticity_token=<%= form_authenticity_token %>");

  var thetisBoxProgress = prog("TOP-RIGHT");

  new Ajax.Updater(
      "div_item_attachment",
      "<%= url_for(:controller => 'items', :action => 'delete_attachment') %>",
      {
        method:"post",
        parameters:addParams.join("&"),
        evalScripts:true,
        onComplete:function(request) {
          thetisBoxProgress.remove();
        }
      }
    );
}

</script>
