
<%= render(:partial => 'common/error', :locals => {:obj => @item}) %>

<table style="width:90%; margin:15px auto 0px; border-spacing:2px;">
  <tr>
    <td class="spec_cap" nowrap style="background-color:#fdc75f;">
      <%= t('workflow.order') %>
    </td>
    <td class="spec_value">
      <table style="width:100%;">
        <tr>
          <td style="width:70%;">
            <select id="orders" class="select_multi" size="5" style="width:100%;" onchange="onSelectWfOrder()">
            <%
            workflow = @item.workflow

            order_id = 1
            orders = (workflow.nil?)?[]:(workflow.get_orders)
            orders.length.times do
            %>
              <option value="<%= order_id %>"><%= t('workflow.order_prefix')+order_id.to_s %></option>
            <%
              order_id += 1
            end
            %>
            </select>
          </td>
          <td style="width:10px;">&nbsp;</td>
          <td style="vertical-align:top;">
            <table style="width:100%;">
              <tr>
                <td style="text-align:left;">
                  <input type="button" value="<%= t('btn.add') %>" onclick="addWfOrder();" style="width:80px">
                </td>
              </tr>
              <tr style="height:5px;"><td></td></tr>
              <tr>
                <td style="text-align:left;">
                  <input type="button" value="<%= t('btn.remove') %>" onclick="removeWfOrder();" style="width:80px">
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td class="spec_cap" nowrap style="background-color:#fdc75f;"><%= t('user.plural') %></td>
    <td class="spec_value">

      <table style="width:100%;">
        <tr>
          <td id="div_selectUsers">
            <%= render(:partial => 'ajax_select_users') %>
          </td>
        </tr>
        <tr style="height:5px;"><td></td></tr>
        <tr>
          <td>
            <table style="width:100%;">
              <tr>
                <td style="text-align:left; width:33%; vertical-align:bottom;" >
                  <%= t('cap.selected_users') %>
                </td>
                <td style="text-align:center; width:34%;" nowrap>
                  <input type="button" value="<%= raw(t('arrow.down')) %><%= t('btn.add') %>" onclick="addWfUser();" style="width:80px">
                  <input type="button" value="<%= raw(t('arrow.up')) %><%= t('btn.remove') %>" onclick="removeWfUser();" style="width:80px">
                </td>
                <td style="text-align:center; width:33%;">&nbsp;</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr style="height:5px;"><td></td></tr>
        <tr>
          <td>
            <select id="users_selected" class="select_multi" size="5" multiple="multiple">
            <%
            users_selected = []

            users_selected.each do |user_id|
              disp = User.get_name user_id
            %>
              <option value="<%= user_id %>"><%= disp %></option>
            <% end %>
            </select>
          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<%
order_id = 1
orders.each do |order|
%>
  <input id="order-<%= order_id %>" name="order-<%= order_id %>" type="hidden" value="<%= order.keys.join(',') %>" />
<%
  order_id += 1
end
%>


<script type="text/javascript">
<% unless @item.nil? %>
document.getElementById("item_id").value = "<%= @item.id %>";
<% end %>

<%
orders.each do |order|
  order.each do |user_id, user_name|
%>
users_cache["<%= user_id %>"] = "<%= user_name %>";
<%
  end
end
%>
</script>

