<table style="width:100%; border-spacing:2px;">
  <tr>
    <td class="cap_bar" nowrap>
      <%= t('attachment.plural_full') %>
    </td>
  </tr>
  <tr>
    <td style="text-align:center; padding-top:3px;">
    <%
    @attachments = @item.attachments_without_content
    @attachments.each do |attach|
    %>
      <table class="attachment_block" style="width:100%; padding-bottom:2px;" onclick="location='<%= url_for(:controller => 'items', :action => :get_attachment, :id => attach.id) %>'">
        <tr>
          <td class="attachment_block_name" nowrap>
            <%= attach.name %>
          </td>
        </tr>
      <% unless attach.title.blank? %>
        <tr>
          <td class="attachment_block_title">
            <%= attach.title %>
          </td>
        </tr>
      <% end %>
      <% unless attach.memo.blank? %>
        <tr>
          <td class="attachment_block_memo">
            <%= attach.memo %>
          </td>
        </tr>
      <% end %>
      </table>
    <% end %>
    </td>
  </tr>
</table>
