
<table style="width:100%; background-color:aliceblue; height:100%;">
  <tr>
    <td style="vertical-align:top;">
      <br/>
      <br/>
      <table style="width:80%; margin:0px auto; background-color:white; border:5px dodgerblue dashed;">
        <tr>
          <td style="text-align:center; vertical-align:top; padding:10px;">
            <table style="width:100%;">
              <tr>
                <td style="text-align:left; vertical-align:top; padding:0px; color:royalblue; font-size:14pt;"  >
                  <b><%= t('cap.folders') %></b>
                </td>
              </tr>
              <%
              unless @folder_id == '0'
                folder = Folder.find(@folder_id)
              %>
              <tr style="height:30px;">
                <td style="text-align:left; vertical-align:top; padding-left:50px; color:navy;">
                  <a href="javascript:this.onclick()" onclick="prog('TOP-RIGHT'); document.form_list.folder_id.value = '<%= folder.parent_id %>'; document.form_list.submit(); return false;">/ <%= t('folder.parent_path') %> </a><br/>
                </td>
              </tr>
              <% end %>
              <%
              childs = Folder.get_childs_for(@login_user, @folder_id, false, false, false)
              childs.each do |folder_id|
              %>
              <tr style="height:30px;">
                <td style="text-align:left; vertical-align:top; padding-left:50px; color:navy;">
                  <a href="javascript:this.onclick()" onclick="prog('TOP-RIGHT'); document.form_list.folder_id.value = '<%= folder_id %>'; document.form_list.submit(); return false;">/ <%= Folder.get_name(folder_id) %> </a><br/>
                </td>
              </tr>
              <% end %>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
