<%= form_tag( {:controller => 'items', :action => 'bbs' }, :method => 'get', :name => 'form_list') %>

<%
@folders_cache ||= {}
@folder_obj_cache ||= {}

@users_cache ||= {}
@user_obj_cache ||= {}

@user_groups ||= {}
@groups_cache ||= {}
@group_obj_cache ||= {}
%>

<table style="width:100%; padding-bottom:5px;">
  <tr>
    <td nowrap style="width:1%; text-align:left;">
      <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/item_add.png" title="<%= t('btn.create') %>" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'items', :action => 'new', :folder_id => @folder_id) %>';">
    </td>
    <td style="width:10px;"></td>
    <td nowrap style="width:1%; text-align:left;">
      <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/url.png" title="<%= t('item.show_url') %>" onclick="showURL();">
    </td>
    <td nowrap style="text-align:right;">
      <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/search.png" title="<%= t('cap.search_keywords') %>">&nbsp;<input type="text" id="keyword" name="keyword" value="<%= params[:keyword] %>" />
      <%= t('msg.search_in') %>
      <%
      opts = [
        [t('folder.current'), Item::FOLDER_CURRENT],
        [t('folder.all'), Item::FOLDER_ALL],
        [t('folder.lower'), Item::FOLDER_LOWER]
      ]
      %>
      <%= select_tag('find_in', options_for_select(opts, params[:find_in])) %>
      <input type="submit" value="<%= t('btn.search') %>" onclick="prog('TOP-RIGHT'); form_list.action='<%= url_for(:controller => 'items', :action => 'search') %>'; form_list.submit(); return false;"/>
      <input type="button" value="<%= t('btn.reset') %>" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'items', :action => 'bbs') %>';"/>
    </td>
  </tr>
</table>

<table style="width:100%; padding-bottom:5px;">
  <tr>
    <td style="text-align:left;" nowrap>
  <% if @folder_id.blank? %>
      <div class="button_gray" style="float:left;" onclick="showFolderTreeToSelect('');">
        <%= t('btn.select_folder') %>
      </div>
      &nbsp;
      <%
      session_folder = session[:folder_id]
      if (!session_folder.nil? and Folder.exists?(session_folder))
        if (session_folder != '0')
      %>
        <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/folder/folder_shortcut.png" title="<%= Folder.get_path(session_folder, @folders_cache, @folder_obj_cache) %>" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'items', :action => 'bbs', :folder_id => session_folder) %>';">
      <%
        end
      end
      %>
      <%
      unless @login_user.nil?
        my_folder = @login_user.get_my_folder
        unless my_folder.nil?
      %>
        <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/folder/my_folder.png" title="<%= t('folder.my_folder') %>" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'items', :action => 'bbs', :folder_id => my_folder.id) %>';">
      <%
        end
      end
      %>
  <% else %>
      <%= t('cap.folder') %> <a class="linked_path" href="javascript:this.onclick()" onclick="showFolderTreeToSelect('<%= @folder_id %>'); return false;"><%= Folder.get_path(@folder_id, @folders_cache, @folder_obj_cache) %></a>
      <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/erase.png" title="<%= t('btn.clear') %>" onclick="clearFolder()" style="margin-left:10px;" />
    <%
    toy_xtype = Toy::XTYPE_FOLDER
    toy_target_id = @folder_id
    if (!@login_user.nil? and !Toy.on_desktop?(@login_user, toy_xtype, toy_target_id))
    %>
      <img class="img_btn" id="add_to_desktop" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/desktop.png" title="<%= t('btn.add_to_desktop') %>" onclick="addToDesktop('<%= toy_xtype %>', <%= toy_target_id %>, '<%= ApplicationHelper.h_s_quote(truncate(Folder.get_name(@folder_id), :length => 20)) %>');">
    <% end %>
  <% end %>
    </td>
    <td style="text-align:right;">
      <select name="select_sorting" onchange="prog('TOP-RIGHT'); form_list.submit();">
      <%
      excepts = nil
      excepts = [:xorder] if @folder_id.blank?
      ItemsHelper.sort_opts(excepts).each do |text_val|
        selected = ''
        selected = 'selected' if (text_val.last == @sort_col+' '+@sort_type)
      %>
        <option value="<%= text_val.last %>" <%= selected %>><%= raw(text_val.first) %></option>
      <% end %>
      </select>
      &nbsp;
      <input type="hidden" name="thumbnails" value="false" />
      <input type="checkbox" id="thumbnails" name="thumbnails" value="true" <%= (params[:thumbnails]!='false')?'checked':'' %> onclick="form_list.submit(); prog('TOP-RIGHT');"><label for="thumbnails"><%= t('item.show_thumbnails') %></label>
    </td>
  </tr>
</table>

<table style="width:100%; padding-bottom:7px;">
  <tr>
    <td class="pagination_bar">
      <%= t('cap.total') %><%= t('item', :count => @total_num) %>
      <%
      prms = ApplicationHelper.dup_hash(params)
      prms.delete('authenticity_token')
      prms['action'] = 'bbs'
      pagination = will_paginate(@item_pages, :params => prms)
      pagination = ApplicationHelper.custom_pagination(pagination)
      %>
      <%= raw(pagination) %>
    </td>
  </tr>
</table>

<div class="base_list" id="div_list">

<% if (@items.empty? and @folder_id.nil?) %>

<%= render(:partial => 'bbs_empty') %>

<% elsif @items.empty? %>

<%= render(:partial => 'show_folders') %>

<% else %>

<table id="list_items" style="width:100%;">
<% @items.each do |item| %>
  <tr>
    <td>
      <table style="width:100%;">
        <tr>
          <td style="font-size:15px; line-height:19px; text-align:left; text-indent:5px;">
            <%= item.id %>.&nbsp;&nbsp; <a class="a_underline" href="javascript:this.onclick()" onclick="doShowItem(<%= item.id %>); return false;"><%= truncate(item.title, :length => 60) %></a>

            <% if (!item.workflow.nil? and item.workflow.decided?) %>
              <span style="color:sienna;"><%= raw(t('paren.aquo.left')) %><%= item.workflow.get_status_name %><%= raw(t('paren.aquo.right')) %></span>
            <% end %>

            &nbsp;&nbsp;
            <%
            unless item.folder_id.nil?
              enable_link = (@folder_id != item.folder_id.to_s)
            %>
              <% if enable_link %>
              <a class="linked_item_dir" href="javascript:this.onclick()" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'items', :action => 'bbs', :folder_id => item.folder_id) %>'; return false;">
              <% end %>
              <span style="color:red;"><%= item.get_folder_path(@folders_cache, @folder_obj_cache) %></span>
              <% if enable_link %>
              </a>
              <% end %>
            <% end %>
            <% if (!@login_user.nil? and item.editable?(@login_user.id)) %>
            &nbsp;
              <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/edit.png" title="<%= t('btn.edit') %>" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'items', :action => 'edit', :id => item) %>';" />&nbsp;
            <% end %>
            <% if (!@login_user.nil? and item.deletable?(@login_user.id)) %>
              <%
              del_type = 'null'
              del_type = '\''+Item::XTYPE_PROJECT+'\'' unless item.team.nil?
              %>
              <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/delete.png" title="<%= t('btn.delete') %>" onclick="onDeleteItemClicked(<%= item.id %>, '<%= ApplicationHelper.h_s_quote(truncate(item.title, :length => 20)) %>', <%= del_type %>); return false;" />
            <% end %>
          </td>
        </tr>
        <tr>
          <td style="font-size:15px; text-align:left; padding:5px; line-height:19px; text-indent:60px;">
            <%
            user_name, u_groups, figure = UsersHelper.get_groups_info(item.get_registrant_id, @user_groups, @users_cache, @user_obj_cache, @groups_cache, @group_obj_cache)
            unless u_groups.empty?
            %>
            <a href="javascript:this.onclick()" onclick="showUserGroups('<%= item.get_registrant_id %>', '<%= ApplicationHelper.h_s_quote(user_name) %>', '<%= u_groups.join(',') %>', '<%= figure %>'); return false;">
            <% end %>
              <span style="color:green;">by <%= item.disp_registered_by(@users_cache, @user_obj_cache) %></span>
            <% unless u_groups.empty? %>
            </a>
            <% end %>
            <%
            updated_at = (item.updated_at.nil?)?'':('('+item.updated_at.strftime(THETIS_DATE_FORMAT_YMD+' %H:%M')+')')
            %>
            &nbsp;<span style="font-size:12px; vertical-align:middle;"><%= updated_at %></span>
            <% unless item.public? %>
              <span style="color:blue"><%= raw(t('schedule.private')) %></span>
            <% end %>
            <% if (item.xtype == Item::XTYPE_PROJECT) %>
              &nbsp;&nbsp;&nbsp;<img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/folder/team_folder.png" title="<%= t('item.project') %>" />
              <%
              unless item.team.nil? or @login_user.nil?
                team_folder = item.team.get_team_folder
                unless team_folder.nil?
                  if Folder.check_user_auth(team_folder.id, @login_user, 'r', true)
                    path = team_folder.get_path(@folders_cache, @folder_obj_cache)
              %>
                <a class="a_underline" href="javascript:this.onclick()" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'items', :action => 'bbs', :folder_id => team_folder.id) %>'; return false;">
                  <%= path %>
                </a>
                <% else %>
                  <span style="color:green"><%= t('item.project') %></span>
            <%
                  end
                end
              end
            elsif (item.xtype == Item::XTYPE_ZEPTAIR_DIST)
            %>
              &nbsp;&nbsp;&nbsp;<img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/zeptair/zeptair_icon.png" title="<%= t('item.type.zeptair_dist') %>" /><span style="color:#567eff;"><%= t('item.type.zeptair_dist') %></span>
            <% end %>
          </td>
        </tr>
      <% if (item.featured? and !item.update_message.nil? and !item.update_message.empty?) %>
        <tr>
          <td style="text-align:center;">
            <div style="width:90%; text-align:left; padding-bottom:5px;">
              <div style="width:60%; background-color:#fff0fa; cursor:pointer; border:2px dashed red" onclick="doShowItem(<%= item.id %>);">
                <span style="padding:5px; font-size:13px;"><%= raw(ApplicationHelper.format_text_block(h(truncate(item.update_message, :length => 200)))) %></span>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
<%
item_images = item.images_without_content
item_attachments = item.attachments_without_content
images_num = item_images.length
attachments_num = item_attachments.length
additionalCol = ((params[:thumbnails]!='false' and images_num > 0) or (attachments_num > 0))
%>
        <tr>
          <td>
            <table style="margin:0px auto; width:90%; border:1px solid goldenrod;" >
              <tr>
                <td style="text-align:left; vertical-align:top; width:<%= (additionalCol)?'70%':'100%' %>; background-color:<%= (item.public?)?'#fff5f0':'lightcyan' %>; font-size:14px; padding:10px; line-height:20px;">
                <% unless item.summary.blank? %>
                  <div>
                    <span style="color:orangered; font-size:11px; vertical-align:middle;"><%= raw(t('paren.aquo_b.left')) %></span> <%= Item.human_attribute_name('summary') %> <span style="color:orangered; font-size:11px; vertical-align:middle;"><%= raw(t('paren.aquo_b.right')) %></span><br/>
                    <%= raw(ApplicationHelper.format_text_block(h(truncate(item.summary, :length => 100)))) %>
                  </div>
                  <div style="height:5px;">&nbsp;</div>
                <% end %>
                  <span style="color:orangered; font-size:11px; vertical-align:middle;"><%= raw(t('paren.aquo_b.left')) %></span> <%= Item.human_attribute_name('description') %> <span style="color:orangered; font-size:11px; vertical-align:middle;"><%= raw(t('paren.aquo_b.right')) %></span>
                  <br/>
                <% unless item.description.blank? %>
                  <table style="width:100%; border-spacing:2px;">
                    <tr>
                      <td>
                      <script type="text/javascript">
                        document.write('<div id="div_description_<%= item.id %>" style="padding:5px; width:'+(_mainWidth*<%= (additionalCol)?'6':'8' %>/10)+'px; height:200px; overflow:scroll;">');
                      </script>
                      <%= raw(item.description) %></div>
                      </td>
                    </tr>
                  </table>
                <% end %>
                <%
                max_bbs_img = 2
                max_bbs_attach = 2
                show_num = false
                show_num = true if (params[:thumbnails] == 'false')
                show_num = true if (images_num > max_bbs_img)
                show_num = true if (attachments_num > max_bbs_attach)
                if show_num
                %>
                  <div style="text-align:right; padding:5px;">
                    <a href="javascript:this.onclick()" onclick="doShowItem(<%= item.id %>); return false;">
                      ( <%= t('image.plural') %>: <%= images_num %>, <%= t('attachment.plural_full') %>: <%= attachments_num %> )
                    </a>
                  </div>
                <% end %>

                </td>
              <% if additionalCol %>
                <td style="background-color:<%= (item.public?)?'#fff5f0':'lightcyan' %>;">
                   <table style="margin:0px auto; width:100px;">
                <% if (params[:thumbnails]!='false' and images_num > 0) %>
                     <tr>
                       <td>
                         <table style="margin:0px auto; width:100px;">
                  <%
                  item_images.each_with_index do |image, idx|
                    break if (idx >= max_bbs_img)
                  %>
                           <tr>
                             <td style="width:130px; padding:5px">
                               <% img_url = url_for(:controller => 'items', :action => 'get_image', :id => image.id, :ts => ApplicationHelper.get_timestamp(image)) %>
                               <img style="cursor:pointer; max-width:120px; max-height:100px;" src="<%= img_url %>" onclick="doShowItem(<%= item.id %>);" />
                             </td>
                           </tr>
                <% end %>
                         </table>
                       </td>
                     </tr>
              <% end %>
              <% if (attachments_num > 0) %>
                     <tr>
                       <td>
                  <%
                  attach_cnt = 0
                  item_attachments.each do |attach|
                   attach_cnt += 1
                   break if (attach_cnt > max_bbs_attach)
                  %>
                         <table class="attachment_block" style="width:120px; margin:0px auto;" onclick="location='<%= url_for(:controller => 'items', :action => :get_attachment, :id => attach.id) %>'">
                           <tr>
                             <td class="attachment_block_name">
                               <%= attach.name %>
                             </td>
                           </tr>
                    <% unless attach.title.blank? %>
                           <tr>
                             <td class="attachment_block_title">
                               <%= attach.title %>
                             </td>
                           </tr>
                    <% end %>
                    <% unless attach.memo.blank? %>
                       <tr>
                         <td class="attachment_block_memo">
                           <%= attach.memo %>
                         </td>
                       </tr>
                    <% end %>
                         </table>
                  <% end %>
                       </td>
                     </tr>
                <% end %>
                   </table>
                </td>
              <% end %>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td style="text-align:center;">
            <table style="width:90%; margin:0px auto 20px;">
              <tr>
                <td style="text-align:center;">
                  <%
                  @item = item
                  @for_print = true
                  %>
                  <%= render(:partial => 'ajax_comments') %>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
<% end %>
</table>

<% end %>

</div>

<input type="hidden" id="sort_col" name="sort_col" value="<%= params[:sort_col] %>" />
<input type="hidden" id="sort_type" name="sort_type" value="<%= params[:sort_type] %>" />
<input type="hidden" id="folder_id" name="folder_id" value="<%= @folder_id %>" />
<input type="hidden" id="from_action" name="from_action" value="<%= 'bbs' %>" />

</form>

<%= render(:partial => 'common/user_groups') %>

<script type="text/javascript">

function showURL()
{
  var addParams = [];
  addParams.push("disp[ctrl]=items");
  addParams.push("disp[act]=bbs");
  addParams.push("disp[folder_id]=<%= @folder_id %>");

  new Ajax.Request(
      "<%= url_for(:controller => 'frames', :action => 'show_url') %>",
      {
        method:"get",
        parameters:addParams.join("&"),
        onComplete:function(request) {
          var thetisBox = new ThetisBox;
          thetisBox.show(
                    "CENTER",
                    (_mainWidth/10*8)+",320",
                    "TRAY",
                    "",
                    "<%= t('cap.url_to_this_page') %>",
                    request.responseText
                  );
          request.responseText.evalScripts();
        }
      }
    );
}

function doShowItem(item_id)
{
  prog("TOP-RIGHT");
  var params = Form.serialize(form_list);
  location.href = "<%= url_for(:controller => 'items', :action => 'show') %>?id=" + item_id + "&" + params;
}

function onDeleteItemClicked(item_id, title, del_type)
{
  if (del_type == "<%= Item::XTYPE_PROJECT %>") {
    confm("<div style='padding-bottom:10px;'><%= t('paren.square.left') %>"+title+"<%= t('folder.delete_team_folder_info1') %></div><div style='padding-bottom:10px;'><%= t('folder.delete_team_folder_info2') %></div><%= t('msg.confirm_sure') %>", "doDelete("+item_id+")");
  } else {
    confm("<%= t('paren.square.left') %>"+title+"<%= t('msg.confirm_to_delete') %>", "doDelete("+item_id+")");
  }
}

function doDelete(item_id)
{
  prog("TOP-RIGHT");
  addInputHidden(form_list, null, "authenticity_token", "<%= form_authenticity_token %>");
  form_list.action = "<%= url_for(:controller => 'items', :action => 'destroy') %>?id="+item_id;
  form_list.method = "post";
  form_list.submit();
}

function clearFolder()
{
  form_list.action = "<%= url_for(:controller => 'items', :action => 'bbs') %>";
  form_list.folder_id.value = "";
  form_list.select_sorting.disabled = true;
  form_list.sort_col.disabled = true;
  form_list.sort_type.disabled = true;
  form_list.submit();
  prog("TOP-RIGHT");
}

function addToDesktop(xtype, target_id, title)
{
  confm("<%= t('paren.square.left') %>" + title + "<%= t('msg.confirm_to_added_to_desktop') %>", "_addToDesktop('"+xtype+"', "+target_id+")");
}

function _addToDesktop(xtype, target_id)
{
  var thetisBoxProgress = prog("TOP-RIGHT");

  var addParams = [];
  addParams.push("xtype="+xtype);
  addParams.push("target_id="+target_id);
  addParams.push("authenticity_token=<%= form_authenticity_token %>");

  new Ajax.Request(
      "<%= url_for(:controller => 'desktop', :action => 'add_toy') %>",
      {
        parameters:addParams.join("&"),
        onComplete:function(request) {
          var button = _z("add_to_desktop");
          removeElem(button);

          thetisBoxProgress.remove();

          if (Number(request.responseText) > 0) {
            tip("<%= t('msg.add_to_desktop_success')%>");
          }
        }
      }
    );
}

<% if @login_user.nil? and (params[:tip] == 'true') %>
function showTips()
{
  tip("<%= t('item.no_login_info1') %><br/><span style='font-size:19px; color:firebrick; font-weight:800;'><%= t('login.name') %></span><%= t('item.no_login_info2') %>");
}
<% end %>

function showFolderTreeToSelect(folder_id)
{
  var thetisBox = new ThetisBox;
  thetisBox.show("CENTER", "", "TREE", "onFolderNodeSelected("+thetisBox.id+")", "<%= t('msg.select_folder_to_show')%>", "");
  thetisBox.setTree("<%= url_for(:controller => 'folders', :action => 'ajax_get_tree') %>", folder_id);
}

function onFolderNodeSelected(thetisBoxId)
{
  var thetisBox = ThetisBox.getInstance(thetisBoxId);
  if (thetisBox) {
    var treeNodeId = thetisBox.getSelectedTreeNodeId();
    if (treeNodeId) {
      ThetisBox.remove(thetisBoxId);

      var addParams = [
        "tree_node_id="+treeNodeId,
        "thumbnails=<%= params[:thumbnails] %>"
      ];
      prog("TOP-RIGHT");
      location.href = "<%= url_for(:controller => 'items', :action => 'bbs') %>?"+addParams.join("&");
    }
  }
}

<% if (!params[:folderTree].nil? and @folder_id.nil?) %>
function onLoadSub()
{
  showFolderTreeToSelect("<%= params[:folderTree] %>");
}
<% end %>

</script>

