<%= form_tag( {:controller => 'items', :action => 'search' }, :method => 'get', :name => 'form_list') %>

<%
@folders_cache ||= {}
@folder_obj_cache ||= {}

@users_cache ||= {}
@user_obj_cache ||= {}

@user_groups ||= {}
@groups_cache ||= {}
@group_obj_cache ||= {}
%>

<table style="width:100%; padding-bottom:5px;">
  <tr>
    <td nowrap style="width:1%; text-align:left;">
      <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/item_add.gif" title="<%= t('btn.create') %>" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'items', :action => 'new', :folder_id => @folder_id) %>';">
    </td>
    <td style="width:10px;"></td>
    <td nowrap style="width:1%; text-align:left;">
      <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/url.gif" title="<%= t('item.show_url') %>" onclick="showURL();">
    </td>
    <td nowrap style="text-align:right;">
      <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/search.gif" title="<%= t('cap.search_keywords') %>">&nbsp;<%= text_field_tag('keyword', params[:keyword]) %>
      <%= t('msg.search_in') %> <%= select_tag 'find_in',
                               options_for_select([[h(t('folder.current')),Item::FOLDER_CURRENT],
                                                  [h(t('folder.all')),Item::FOLDER_ALL],
                                                  [h(t('folder.lower')), Item::FOLDER_LOWER]], 
                                                  params[:find_in])
                %>
      <input type="submit" value="<%= t('btn.search') %>" onclick="prog('TOP-RIGHT'); submit(); return false;"/>
      <input type="button" value="<%= t('btn.reset') %>" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'items', :action => 'list', :thumbnails => 'true') %>';"/>
    </td>
  </tr>
</table>

<table style="width:100%; padding-bottom:5px;">
  <tr>
    <td style="text-align:left;" nowrap>
  <% if @folder_id.nil? or @folder_id.empty? %>
      <div class="button_gray" style="float:left;" onclick="showFolderTreeToSelect('');">
        <%= t('btn.select_folder') %>
      </div>
      &nbsp;
      <%
      session_folder = session[:folder_id]
      if !session_folder.nil? and Folder.exists?(session_folder)
        if session_folder != '0'
      %>
        <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/folder/folder_shortcut.gif" title="<%= Folder.get_path(session_folder, @folders_cache, @folder_obj_cache) %>" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'items', :action => 'list', :folder_id => session_folder) %>';">
      <%
        end
      end
      %>
      <%
      unless @login_user.nil?
        my_folder = @login_user.get_my_folder
        unless my_folder.nil?
      %>
        <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/folder/my_folder.gif" title="<%= t('folder.my_folder') %>" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'items', :action => 'list', :folder_id => my_folder.id) %>';">
      <%
        end
      end
      %>
  <% else %>
      <%= t('cap.folder') %> <a class="a_underline" href="javascript:this.onclick()" onclick="showFolderTreeToSelect('<%= @folder_id %>'); return false;" onMouseOver="this.style.backgroundColor='palegreen'" onMouseOut="this.style.backgroundColor='white'" style="color:red; background-color:white;"><%= Folder.get_path(@folder_id, @folders_cache, @folder_obj_cache) %></a>
      &nbsp; <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/erase.gif" title="<%= t('btn.clear') %>" onclick="clearFolder()" />
    <%
    toy_xtype = Toy::XTYPE_FOLDER
    toy_target_id = @folder_id
    if !@login_user.nil? and !Toy.on_desktop?(@login_user, toy_xtype, toy_target_id)
    %>
      <img class="img_btn" id="add_to_desktop" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/desktop.gif" title="<%= t('btn.add_to_desktop') %>" onclick="addToDesktop('<%= toy_xtype %>', <%= toy_target_id %>, '<%= ApplicationHelper.h_s_quote(truncate(Folder.get_name(@folder_id), :length => 20)) %>');">
    <% end %>
  <% end %>
    </td>
    <td style="text-align:right;">
      <input type="hidden" name="thumbnails" value="false" />
      <input type="checkbox" id="thumbnails" name="thumbnails" value="true" <%= (params[:thumbnails]!='false')?'checked':'' %> onclick="submit(); prog('TOP-RIGHT');"><label for="thumbnails"><%= t('item.show_thumbnails') %></label>
      &nbsp;

      <input type="button" value="<%= t('btn.select_deselect_all')%>" onclick="selectAll();">
      <span style="color:silver;">|</span>
      <input type="button" value="<%= t('btn.delete')%>" onclick="onDeleteMultiClicked();">
      <input type="button" value="<%= t('btn.move')%>" onclick="onMoveMultiClicked();">
    </td>
  </tr>
</table>

<table style="width:100%; padding-bottom:7px;">
  <tr>
    <td class="pagination_td" style="text-align:center;">
      <%= t('cap.total') %><%= t('item', :count => @total_num) %>
      <%
      prms = ApplicationHelper.dup_hash(params)
      prms.delete('authenticity_token')
      prms.delete('check_item')
      prms['action'] = 'list'
      pagination = will_paginate(@item_pages, :params => prms)
      pagination = ApplicationHelper.custom_pagination(pagination)
      %>
      <%= raw(pagination) %>
    </td>
  </tr>
</table>

<div class="base_list" id="div_list" style="background-color:white;">

<% if @items.empty? and @folder_id.nil? %>

<%= render(:partial => 'bbs_empty') %>

<% elsif @items.empty? %>

<%= render(:partial => 'show_folders') %>

<% else %>

<table id="list_items" style="width:100%; border-spacing:1px;">
  <tr>
    <th class="list_sort" style="width:5%;"  nowrap onclick="sortList('Item.id')"><%= t('activerecord.attributes.id') %><span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('Item.id', @sort_col, @sort_type)) %></span></th>
    <th class="list_sort" style="width:35%;" nowrap onclick="sortList('title')"><%= Item.human_attribute_name('title') %><span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('title', @sort_col, @sort_type)) %></span></th>
    <th class="list_sort" style="width:22%;"  nowrap onclick="sortList('folder_id')"><%= Folder.model_name.human %><span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('folder_id', @sort_col, @sort_type)) %></span></th>
    <th class="list_sort" style="width:15%;" nowrap onclick="sortList('updated_at')"><%= t('activerecord.attributes.updated_at') %><span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('updated_at', @sort_col, @sort_type)) %></span></th>
    <th class="list_sort" style="width:7%;"  nowrap onclick="sortList('public')"><%= Item.human_attribute_name('public') %><span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('public', @sort_col, @sort_type)) %></span></th>
    <th class="list_sort" style="width:13%;"  nowrap onclick="sortList('Item.user_id')"><%= t('item.registered_by') %><span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('Item.user_id', @sort_col, @sort_type)) %></span></th>
  </tr>
<%
@items.each_with_index do |item, idx|
  item_images = item.images_without_content
  td_class = (idx % 2 == 1) ? 'list_td_on' : 'list_td_off'
%>
  <tr style="height:33px;">
    <td nowrap class="<%= td_class %>" style="text-align:right;"><%= item.id %></td>
    <td class="<%= td_class %>">
      <table style="width:100%;">
        <tr>
          <td style="text-align:left; width:100%;">
            <a class="a_underline" href="javascript:this.onclick()" onclick="doShowItem(<%= item.id %>); return false;">
              <%= truncate(item.title, :length => 20) %>
            </a>

            <% if !item.workflow.nil? and item.workflow.decided? %>
              &nbsp;<span style="color:sienna;"><%= raw(t('paren.aquo.left')) %><%= item.workflow.get_status_name %><%= raw(t('paren.aquo.right')) %></span>
            <% end %>

            <% if item.xtype == Item::XTYPE_PROJECT %>
              &nbsp;<img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/folder/team_folder.gif" title="<%= t('item.project') %>" />
              <div id="div_project_<%= item.id %>" style="display:none;"><%= item.title %></div>
            <% elsif item.xtype == Item::XTYPE_ZEPTAIR_DIST %>
              &nbsp;<img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/zeptair/zeptair_icon.png" title="<%= t('item.type.zeptair_dist') %>" />
            <% end %>
          </td>
        <% if params[:thumbnails]!='false' and !item_images.nil? and item_images.length > 0 %>
          <td style="width:90px;">
             <% img_url = url_for(:controller => 'items', :action => 'get_image', :id => item_images[0].id, :ts => ApplicationHelper.get_timestamp(item_images[0])) %>
             <img style="width:90px; cursor:pointer" src="<%= img_url %>" style="height:60px;" onclick="doShowItem(<%= item.id %>);" />
          </td>
        <% end %>
        </tr>
      <% if item.featured? and !item.update_message.nil? and !item.update_message.empty? %>
        <tr>
          <td colspan="2">
            <div style="width:100%; background-color:#FFF0FA; cursor:pointer; border:2px dashed red" onclick="doShowItem(<%= item.id %>);">
              <span style="padding:5px; font-size:10pt;"><%= raw(ApplicationHelper.format_text_block(h(truncate(item.update_message, :length => 200)))) %></span>
            </div>
          </td>
        </tr>
      <% end %>
      </table>
    </td>
    <td class="<%= td_class %>">
    <%
    enable_link = (@folder_id != item.folder_id.to_s)
    if enable_link
    %>
      <a href="javascript:this.onclick()" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'items', :action => 'list', :folder_id => item.folder_id) %>'; return false;">
    <% end %>
        <%= item.get_folder_path(@folders_cache, @folder_obj_cache) %>
    <% if enable_link %>
      </a>
    <% end %>
    </td>
    <%
    updated_at = item.get_timestamp_exp(false)
    updated_at_full = item.get_timestamp_exp(true)
    %>
    <td class="<%= td_class %>" title="<%= updated_at_full %>" nowrap style="text-align:center;">
      <%= updated_at %>
    </td>
    <td class="<%= td_class %>" nowrap style="text-align:center;">
      <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/<%= item.public ? 'check_ok.gif' : 'check_ng.gif' %>">
    </td>
    <td class="<%= td_class %>">
      <%
      user_name, u_groups, figure = UsersHelper.get_groups_info(item.get_registrant_id, @user_groups, @users_cache, @user_obj_cache, @groups_cache, @group_obj_cache)
      unless u_groups.empty?
      %>
      <a href="javascript:this.onclick()" onclick="showUserGroups('<%= item.get_registrant_id %>', '<%= ApplicationHelper.h_s_quote(user_name) %>', '<%= u_groups.join(',') %>', '<%= figure %>'); return false;">
      <% end %>
        <%= truncate(item.disp_registered_by(@users_cache, @user_obj_cache), :length => 10) %>
      <% unless u_groups.empty? %>
      </a>
      <% end %>
    </td>

  <% if !@login_user.nil? and item.editable?(@login_user.id) %>
    <td class="<%= td_class %>" nowrap style="text-align:center;">
      <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/edit.gif" title="<%= t('btn.edit') %>" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'items', :action => 'edit', :id => item) %>';">
    </td>
  <% end %>
  <% if !@login_user.nil? and item.deletable?(@login_user.id) %>
    <td class="<%= td_class %>" nowrap style="text-align:center;">
      <%= check_box(:check_item, item.id, :class => 'check_item') %>
    </td>
  <% end %>
  </tr>
<% end %>
</table>

<% end %>

</div>

<%= hidden_field_tag('sort_col', params[:sort_col]) %>
<%= hidden_field_tag('sort_type', params[:sort_type]) %>
<%= hidden_field_tag('folder_id', @folder_id) %>
<%= hidden_field_tag('from_action', 'list') %>

</form>

<%= render(:partial => 'common/user_groups') %>

<script type="text/javascript">

function doShowItem(item_id)
{
  prog("TOP-RIGHT");
  var params = Form.serialize(document.form_list);
  location.href = "<%= url_for(:controller => 'items', :action => 'show') %>?id=" + item_id + "&" + params;
}

function onDeleteMultiClicked()
{
  var elems = document.getElementsByClassName("check_item", document.form_list);
  var count = 0;
  var teams = [];
  for (var i=0; elems!=null && i<elems.length; i++) {
    if (elems[i].checked) {
      var item_id = elems[i].id.split("_")[2];
      var div_project = _z("div_project_" + item_id);
      if (div_project) {
        teams.push(div_project.innerHTML);
      }
      count++;
    }
  }
  if (count <= 0) {
    return;
  }
  var msg = count + "<%= t('item.confirm_to_delete') %>";
  if (teams.length > 0) {
    msg += "<br/>";
    msg += "<%= t('item.confirm_to_delete_teams') %><br/>";
    msg += "<%= t('folder.delete_team_folder_info2') %>";
    msg += "<ul>";
    for (var i=0; i < teams.length; i++) {
      msg += "<li>" + teams[i] + "</li>";
    }
    msg += "</ul>";
  }
  confm(msg, "doDeleteMulti()");
}

function doDeleteMulti()
{
  prog("TOP-RIGHT");
  addInputHidden(document.form_list, null, "authenticity_token", "<%= form_authenticity_token %>");
  document.form_list.action = "<%= url_for(:controller => 'items', :action => 'destroy_multi') %>";
  document.form_list.method = "post";
  document.form_list.submit();
}

function onMoveMultiClicked()
{
  var elems = document.getElementsByClassName("check_item", document.form_list);
  var count = 0;
  for (var i=0; elems!=null && i<elems.length; i++) {
    if (elems[i].checked) {
      count++;
    }
  }
  if (count <= 0) {
    return;
  }
  showFolderTreeToMove(<%= @folder_id %>);
}

function getCheckedItemsParam()
{
  var params = new Array;

  var elems = document.getElementsByClassName("check_item", document.form_list);
  for (var i=0; elems != null && i < elems.length; i++) {
    if (elems[i].checked) {
      var user_id = elems[i].id.split("_")[2];
      params[params.length] = "check_item["+user_id+"]=1";
    }
  }
  return params;
}

function showFolderTreeToMove(folder_id)
{
  var thetisBox = new ThetisBox;
  thetisBox.show("CENTER", "", "TREE", "onFolderTreeNodeToMoveSelected("+thetisBox.id+")", "<%= t('item.select_folder_to_move_to')%>", "");
  thetisBox.setTree("<%= url_for(:controller => 'folders', :action => 'ajax_get_tree') %>", folder_id);
}

function onFolderTreeNodeToMoveSelected(thetisBoxId)
{
  var thetisBoxSelKeeper = _z("thetisBoxSelKeeper-"+thetisBoxId);
  if (thetisBoxSelKeeper && thetisBoxSelKeeper.value) {
    var val = thetisBoxSelKeeper.value;
    ThetisBox.remove(thetisBoxId);

    prog("TOP-RIGHT");
    var addParams = getCheckedItemsParam();
    addParams.push("thetisBoxSelKeeper="+val);
    addParams.push("thumbnails=<%= params[:thumbnails] %>");
    var frm = createPostForm("<%= url_for(:controller => 'items', :action => 'move_multi') %>", addParams);
    frm.submit();
  }
}

function showURL()
{
  new Ajax.Request(
      "<%= url_for(:controller => 'frames', :action => 'show_url') %>?disp[ctrl]=items&disp[act]=list&disp[folder_id]=<%= @folder_id %>",
      {
        method:"get",
        asynchronous:true,
        evalScripts:true,
        onComplete:function(request) {
            var thetisBox = new ThetisBox;
            thetisBox.show(
                      "CENTER",
                      (mainWidth/10*8)+",320",
                      "TRAY",
                      "",
                      "<%= t('cap.url_to_this_page') %>",
                      request.responseText
                    );
            request.responseText.evalScripts();
          }
      }
    );
}

function clearFolder()
{
  prog("TOP-RIGHT");
  document.form_list.action = "<%= url_for(:controller => 'items', :action => 'list') %>";
  document.form_list.folder_id.value = "";
  document.form_list.submit();
}

function addToDesktop(xtype, target_id, title)
{
  confm("<%= t('paren.square.left') %>" + title + "<%= t('msg.confirm_to_added_to_desktop') %>", "_addToDesktop('"+xtype+"', "+target_id+")");
}

function _addToDesktop(xtype, target_id)
{
  var thetisBoxProgress = prog("TOP-RIGHT");

  new Ajax.Request(
      "<%= url_for(:controller => 'desktop', :action => 'add_toy') %>?xtype="+xtype+"&target_id="+target_id,
      {
        parameters:"authenticity_token=<%= form_authenticity_token %>",
        asynchronous:true,
        evalScripts:false,
        onComplete:function(request) {
            var button = _z("add_to_desktop");
            removeElem(button);

            thetisBoxProgress.remove();

            if (Number(request.responseText) > 0) {
              tips("<%= t('msg.add_to_desktop_success')%>");
            }
          }
      }
    );
}

function sortList(col)
{
  var type = "<%= @sort_type %>";

  if (col == "<%= @sort_col %>") {
    type = (type == "ASC") ? "DESC" : "ASC";
  }

  document.form_list.action = "<%= url_for(:controller => 'items', :action => 'list') %>";
  document.form_list.sort_col.value = col;
  document.form_list.sort_type.value = type;
  document.form_list.submit();
  prog("TOP-RIGHT");
}

<% if @login_user.nil? and params[:tips]=='true' %>
function showTips()
{
  tips("<%= t('item.no_login_info1') %><br/><span style='font-size:14pt;color:firebrick;font-weight:800'><%= t('login.name') %></span><%= t('item.no_login_info2') %>");
}
<% end %>

function showFolderTreeToSelect(folder_id)
{
  var thetisBox = new ThetisBox;
  thetisBox.show("CENTER", "", "TREE", "onFolderTreeNodeSelected("+thetisBox.id+")", "<%= t('msg.select_folder_to_show')%>", "");
  thetisBox.setTree("<%= url_for(:controller => 'folders', :action => 'ajax_get_tree') %>", folder_id);
}

function onFolderTreeNodeSelected(thetisBoxId)
{
  var thetisBoxSelKeeper = _z("thetisBoxSelKeeper-"+thetisBoxId);
  if (thetisBoxSelKeeper && thetisBoxSelKeeper.value) {
    var val = thetisBoxSelKeeper.value;
    ThetisBox.remove(thetisBoxId);

    prog("TOP-RIGHT");
    var addParams = [
      "thetisBoxSelKeeper="+val,
      "thumbnails=<%= params[:thumbnails] %>"
    ];
    location.href = "<%= url_for(:controller => 'items', :action => 'list') %>?"+addParams.join("&");
  }
}

<% if !params[:folderTree].nil? and @folder_id.nil? %>
function onLoadSub()
{
  showFolderTreeToSelect("<%= params[:folderTree] %>");
}
<% end %>

function selectAll()
{
  var elems = document.getElementsByClassName("check_item", document.form_list);
  var all_selected = true;
  for (var i=0; elems != null && i < elems.length; i++) {
    if (!elems[i].checked) {
      all_selected = false;
      break;
    }
  }
  for (var i=0; elems != null && i < elems.length; i++) {
    elems[i].checked = !all_selected;
  }
}

</script>

