<%
if params[:action] == 'show'
  HistoryHelper.set_back(request)
end

@for_print = (params[:action] == 'show_for_print')

@users_cache = {}
@user_obj_cache = {}

@user_groups = {}
@groups_cache = {}
@group_obj_cache = {}

@folders_cache = {}
@folder_obj_cache = {}
%>

<%= render(:partial => 'common/dojo_init') %>

<table style="width:100%;">
  <tr>
    <td style="text-align:left; padding-left:20px; vertical-align:top;" >
<%
unless @for_print
  @workflow = @item.workflow
  if @item.xtype == Item::XTYPE_WORKFLOW and !@workflow.nil?
    toy_xtype = Toy::XTYPE_WORKFLOW
    toy_target_id = @workflow.id
  else
    toy_xtype = Toy::XTYPE_ITEM
    toy_target_id = @item.id
  end
  if !@login_user.nil? and !Toy.on_desktop?(@login_user, toy_xtype, toy_target_id)
%>
      <img class="img_btn" id="add_to_desktop" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/desktop.gif" alt="<%= t('btn.add_to_desktop') %>" title="<%= t('btn.add_to_desktop') %>" onclick="addToDesktop();">
  <% end %>
      &nbsp;<img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/url.gif" alt="<%= t('item.show_url') %>" title="<%= t('item.show_url') %>" onclick="showURL();">
<% end %>
    </td>
    <td>
      <table style="width:100%;">
        <tr>
          <td>
            <table style="margin:0px 0px 0px auto; width:40%; border-spacing:1px;">
              <tr style="height:18px;">
              <% if @item.xtype == Item::XTYPE_PROJECT %>
                <td rowspan="2" style="padding-right:10px; vertical-align:middle;">
                  <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/folder/team_folder.gif" title="<%= t('item.project') %>" alt="<%= t('item.project') %>" />
                </td>
              <% elsif @item.xtype == Item::XTYPE_ZEPTAIR_DIST %>
                <td rowspan="2" style="padding-right:10px; vertical-align:middle;">
                  <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/zeptair/zeptair_icon.png" title="<%= t('item.type.zeptair_dist') %>" alt="<%= t('item.type.zeptair_dist') %>" />
                </td>
              <% end %>
                <td class="td_entry_info_cap" nowrap><%= t('item.registered_by') %></td>
                <td class="td_entry_info_cap" nowrap><%= t('activerecord.attributes.updated_at') %></td>
              <% unless @workflow.nil? or @workflow.issued_at.nil? %>
                <td class="td_entry_info_cap" nowrap><%= Workflow.human_attribute_name('issued_at') %></td>
              <% end %>
                <td class="td_entry_info_cap" nowrap><%= Item.human_attribute_name('public') %></td>
              </tr>
              <tr style="height:18px;">
                <td class="td_entry_info_val" nowrap>
                  <%
                  user_name, u_groups, figure = UsersHelper.get_groups_info(@item.get_registrant_id, @user_groups, @users_cache, @user_obj_cache, @groups_cache, @group_obj_cache)
                  unless u_groups.empty?
                  %>
                  <a href="#" onclick="showUserGroups('<%= @item.get_registrant_id %>', '<%= ApplicationHelper.h_s_quote(user_name) %>', '<%= u_groups.join(',') %>', '<%= figure %>'); return false;">
                  <% end %>
                    <%= @item.disp_registered_by(@users_cache, @user_obj_cache) %>
                  <% unless u_groups.empty? %>
                  </a>
                  <% end %>
                </td>
                <td class="td_entry_info_val" nowrap>
                  <% unless @item.updated_at.nil? %>
                    <%= @item.updated_at.strftime(THETIS_DATE_FORMAT_YMD+' %H:%M') %>
                  <% end %>
                </td>
              <% unless @workflow.nil? or @workflow.issued_at.nil? %>
                <td class="td_entry_info_val" nowrap>
                  <%= @workflow.issued_at.strftime(THETIS_DATE_FORMAT_YMD+' %H:%M') %>
                </td>
              <% end %>
                <td class="td_entry_info_val" nowrap>
                  <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/<%= (@item.public) ? 'check_ok.gif' : 'check_ng.gif' %>">
                </td>
              </tr>
            </table>
          </td>
        </tr>
    <% if @item.is_a_copy? %>
        <tr>
          <td style="padding-bottom:10px;">
            <table style="margin:0px 0px 0px auto; width:40%;">
              <tr>
                <td nowrap style="width:20%; background-color:orange; padding:0px 5px;">
                  <%= t('cap.original') %><%= t('cap.suffix') %>
                </td>
                <td nowrap style="background-color:#FBD320; padding:0px 5px;">
                  <%
                  source_item = Item.find(@item.source_id)
                  if source_item.nil?
                  %>
                    <%= t('paren.deleted') %>
                  <% elsif source_item.check_user_auth(@login_user, 'r', true) %>
                    <a href="#" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'items', :action => 'show', :id => source_item.id) %>'; return false;">
                      <u><%= source_item.title %></u>
                    </a>
                  <% else %>
                    <%= t('paren.round.left') + t('msg.need_auth_to_access') + t('paren.round.right') %>
                  <% end %>
                </td>
              </tr>
            </table>
          </td>
        </tr>
    <% end %>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="text-align:center; vertical-align:bottom;">
      <table style="margin:0px auto; width:95%; border-spacing:2px;">
        <tr>
          <td style="width:50%; text-align:left; color:navy; font-size:14pt; line-height:1.0;  word-break:break-all;">
            <%= raw(t('paren.aquo_b.right')) %> <%= @item.title %>
          </td>
         <% unless @item.folder_id.nil? %>
          <td style="width:40px;">&nbsp;&nbsp;</td>
          <td id="folder_path" style="text-align:left; width:48%; word-break:break-all;">
            <%
            in_system_folder = @item.in_system_folder?(@folder_obj_cache)
            %>
            <% unless in_system_folder %><a href="#" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'items', :action => 'bbs', :folder_id => @item.folder_id) %>'; return false;" onMouseOver="this.style.backgroundColor='cornsilk';" onMouseOut="this.style.backgroundColor='';"><% end %>
              <span style="color:red; font-size:12pt; line-height:1.0;"><%= @item.get_folder_path(@folders_cache, @folder_obj_cache) %></span>
            <% unless in_system_folder %></a><% end %>
          </td>
         <% end %>
        </tr>
      </table>
      <div class="hr"></div>
    </td>
  </tr>
</table>

<%
case @item.layout
 when 'A' then
    render_target = 'showA'
 when 'B' then
    render_target = 'showB'
 when 'C' then
    render_target = 'showC'
 else
    render_target = 'showA'
end
%>
<%= render(:partial => render_target) %>

<% unless @for_print %>

<table style="margin:20px auto 5px;">
  <tr>
    <td class="img_button_td" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'history', :action => 'back') %>';">
      <%= t('btn.back') %>
    </td>
    <td style="width:10px;"></td>
    <td class="img_button_td" onclick="var thetisBox=prog('TOP-RIGHT'); window.open('<%= url_for(:controller => 'items', :action => 'show_for_print', :id => @item.id) %>').focus(); thetisBox.remove();">
      <%= t('btn.for_print') %>
    </td>
  <% unless @login_user.nil? or @item.is_a_copy? %>
    <td style="width:10px;"></td>
    <td class="img_button_td" onclick="doDuplicate();">
      <%= t('btn.duplicate') %>
    </td>
  <% end %>
  <% if !@login_user.nil? and @item.editable?(@login_user) %>
    <td style="width:10px;"></td>
    <td id="edit_button" class="img_button_td" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'items', :action => 'edit', :id => @item.id) %>'">
      <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/edit.gif" alt="<%= t('btn.edit') %>" /> <%= h truncate(t('btn.edit'), :length => 8) %>
    </td>
  <% end %>
  <% if !@login_user.nil? and @item.movable?(@login_user) %>
    <td style="width:10px;"></td>
    <td class="img_button_td" onclick="showFolderTreeToSelect(<%= @item.folder_id %>, <%= @item.id %>, '<%= ApplicationHelper.h_s_quote(@item.title) %>');">
      <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/folder/tree_folder_open.gif" alt="<%= t('btn.move') %>" /> <%= h truncate(t('btn.move'), :length => 8) %>
    </td>

<script type="text/javascript">

function doSelectFolder(frm, item_id)
{
  var boxInstance = ThetisBox.getInstanceForElem(frm);
  if (boxInstance) {
    boxInstance.hide();
  }

  var addParams = new Array();
  addParams.push("id="+item_id);
  addParams.push(Form.serialize(frm));

  var thetisBoxProgress = prog("TOP-RIGHT");

  new Ajax.Updater(
      "folder_path",
      "<%= url_for(:controller => 'items', :action => 'move') %>",
      {
        parameters:addParams.join("&"),
        asynchronous:true,
        evalScripts:true,
        onComplete:function(request){
          thetisBoxProgress.remove();
        }
      }
    );
}

function showFolderTreeToSelect(folder_id, item_id, title)
{
  if (_z("folder_id_" + item_id)) {
    folder_id = parseInt(_z("folder_id_" + item_id).innerHTML, 10);
  }
  var thetisBox = new ThetisBox;
  thetisBox.title = title;
  var formTag = "<form action=\"\" method=\"post\" onsubmit=\"doSelectFolder(this, "+item_id+"); return false;\">";
  thetisBox.setFormTag(formTag);
  thetisBox.setAdditionalParams(new Array("authenticity_token=<%= form_authenticity_token %>"));
  thetisBox.show("CENTER", "", "TREE", "", "<%= t('item.select_folder_to_move_to')%>", "");
  thetisBox.setTree("<%= url_for(:controller => 'folders', :action => 'ajax_get_tree') %>", folder_id);
}

</script>
  <% end %>
  <% if !@login_user.nil? and @item.deletable?(@login_user) %>
    <td style="width:10px;"></td>
    <td id="delete_button" class="img_button_td" onclick="doDelete(<%= @item.id %>, '<%= ApplicationHelper.h_s_quote(truncate(@item.title, :length => 20)) %>');">
      <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/delete.gif" alt="<%= t('btn.delete') %>" /> <%= t('btn.delete') %>
    </td>
  <% end %>
  </tr>
</table>

<% end %>

<!-- Workflow -->
<%
if @item.xtype == Item::XTYPE_WORKFLOW and !@workflow.nil? %>
<a name="workflow"></a>
<div style="padding:20px 0px;">
  <%= render(:partial => 'caption', :locals => {:title => Workflow.model_name.human, :div_name => 'div_workflow'}) %>

  <div id="div_workflow" style="padding-top:15px;">
    <input type="hidden" name="item_id" value="<%= @item.id %>" />
    <table style="width:90%; margin:0px auto; padding:15px 0px; background-color:#e0f7ff;">
      <tr>
        <td style="padding-left:20px;">
          <div id="div_wf_ajax">

            <% @orders = @workflow.get_orders %>
            <%= render(:partial => 'ajax_workflow') %>

          </div>
        </td>
      </tr>
    <% if @workflow.status == Workflow::STATUS_NOT_ISSUED and !@login_user.nil? and @login_user.id == @item.user_id%>
      <% if @orders.empty? %>
      <tr style="height:20px;">
        <td>
          <table id="issue_button" style="margin:0px auto; padding-top:10px;">
            <tr>
              <td>
                <%= t('workflow.issue_button_info') %>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <% else %>
      <tr style="height:20px;">
        <td>
          <table id="issue_button" style="margin:0px auto; padding-top:10px;">
            <tr>
              <td class="img_button_td" onclick="doWfIssue();">
                <%= t('btn.issue') %>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <% end %>
    <% end %>
    </table>
    <br/>
  </div>
</div>

<script type="text/javascript">

function doWfRespond()
{
  if (!_z("xtype_ack").checked && !_z("xtype_nak").checked) {
    msg("<%= t('workflow.select_response_status') %>");
    return;
  }
  confm("<%= t('workflow.confirm_to_respond') %>", "_doWfRespond()");
}

function _doWfRespond()
{
  var thetisBox = prog("TOP-RIGHT");

  new Ajax.Updater(
              "div_wf_ajax",
              document.form_wf_respond.action,
              {
                method:"post",
                parameters:Form.serialize(document.form_wf_respond),
                asynchronous:true,
                evalScripts:true,
                onComplete:function(request) {
                  thetisBox.remove();
                }
              }
            );
}

function doWfIssue()
{
  confm("<%= t('workflow.confirm_to_issue') %>", "_doWfIssue()");
}

function _doWfIssue()
{
  var thetisBox = prog("TOP-RIGHT");

  new Ajax.Updater(
              "div_wf_ajax",
              "<%= url_for(:controller => 'items', :action => 'wf_issue', :id => @item.id) %>",
              {
                method:"post",
                parameters:"authenticity_token=<%= form_authenticity_token %>",
                asynchronous:true,
                evalScripts:true,
                onComplete:function(request) {
                    removeElem(_z("issue_button"));
                    removeElem(_z("edit_button"));
                    removeElem(_z("delete_button"));
                    thetisBox.remove();
                }
              }
            );
}

</script>

<% end %>

<!-- Team -->
<% if @item.xtype == Item::XTYPE_PROJECT %>
<a name="team_apply"></a>

<table style="width:100%;">
  <tr>
    <td style="padding:20px 0px 20px;">
      <%= render(:partial => 'caption', :locals => {:title => Team.model_name.human, :div_name => 'div_team'}) %>
    </td>
  </tr>
</table>

<div id="div_team">

  <table style="width:95%; margin:0px auto;" cellpadding="5"> 
    <tr>
      <td style="text-align:left; font-size:14pt; line-height:1.0;">
        <%= t('cap.information') %>
        <div class="hr"></div>
      </td>
    </tr>
  </table>

  <div id="div_team_info">

    <%= render(:partial => 'ajax_team_info') %>

  </div>

<% if !@login_user.nil? and @login_user.id == @item.user_id %>

  <a name="team_organize"></a>

  <table style="width:95%; margin:0px auto;" cellpadding="5"> 
    <tr>
      <td style="text-align:left; font-size:14pt; line-height:1.0;">
        <%= t('team.organize') %>
        <div class="hr"></div>
      </td>
    </tr>
  </table>

  <div id="div_team_organize">
    <table style="width:95%; margin:0px auto;" cellpadding="5"> 
      <tr>
        <td style="text-align:left;"> 
          <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/info.gif">&nbsp;
          <%= t('team.organize_info1') %><span style="color:green;"><b><%= t('item.owner_full') %></b></span>
          <%= t('team.organize_info2') %>
        </td>
      </tr>
    </table>

    <%= form_tag( {:controller => 'items', :action => 'team_organize', :id => @item.id}, :name => 'form_team', :method => 'post') %>
      <input type="hidden" id="team_id" name="team_id" value="<%= (@team.nil?)?'':@team.id %>" />
      <table style="width:90%; background-color:lightcyan; margin:20px auto;">
        <tr>
          <td style="padding-left:20px;">
            <table align="left" style="width:450px;">
              <tr>
                <td style="text-align:left;">
                  <%= t('team.cap.applicants') %><br/>
                  <select id="team_candidates" class="select_candidates" size="5" multiple="multiple">
                  <%
                  unless @team.nil?
                    team_members = @team.get_users_a
                  end
                  team_members = [] if team_members.nil?

                  added_array = []
                  applicants = @item.get_applicants
                  applicants.insert 0, @login_user.id.to_s
                  applicants.each do |user_id|
                    next if added_array.include?(user_id)
                    if team_members.include?(user_id)
                      next
                    end
                    added_array << user_id
                  %>
                    <option value="<%= user_id %>"><%= User.get_name(user_id, @users_cache) %></option>
                  <% end %>
                  </select>
                </td>
              </tr>
              <tr style="height:5px;"><td></td></tr>
              <tr>
                <td>
                  <table style="width:100%;">
                    <tr>
                      <td style="width:33%; text-align:left; vertical-align:bottom;">
                        <%= t('cap.members') %>
                      </td>
                      <td style="width:34%; text-align:center;" nowrap>
                        <input type="button" value="<%= raw(t('arrow.down')) %><%= t('btn.add') %>" onclick="moveList(_z('team_candidates'), _z('team_members')); return false;" style="width:80px;">
                        <input type="button" value="<%= raw(t('arrow.up')) %><%= t('btn.remove') %>" onclick="moveList(_z('team_members'), _z('team_candidates')); return false;" style="width:80px;">
                      </td>
                      <td style="width:33%;">&nbsp;</td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr style="height:5px;"><td></td></tr>
              <tr>
                <td>
                  <select id="team_members" name="team_members[]" class="select_multi" size="5" multiple="multiple">
                  <% team_members.each do |user_id| %>
                    <option value="<%= user_id %>"><%= User.get_name(user_id, @users_cache) %></option>
                  <% end %>
                  </select>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr style="height:20px;">
          <td>
            <table style="margin:20px auto 0px;">
              <tr>
                <td class="img_button_td" onclick="selectListAll(_z('team_members')); doOrganizeTeam(document.form_team);">
                  <%= t('btn.register') %>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </form>
  </div>  <!-- div_team_organize -->

<%
else
  @comment = @login_user.get_project_application(@item.id) if !@login_user.nil?

  if @team.nil? or (!@team.nil? and @team.status != Team::STATUS_DEACTIVATED) or !@comment.nil?
%>

  <table style="width:95%; margin:0px auto;" cellpadding="5"> 
    <tr>
      <td style="text-align:left; font-size:14pt; line-height:1.0;">
        <%= t('team.application') %>
        <div class="hr"></div>
      </td>
    </tr>
  </table>

  <div id="div_team_apply" style="padding-bottom:5px;">

    <% if @login_user.nil? %>

    <table style="width:90%; background-color:#FFEBCB; margin:0px auto; padding:15px 0px;">
      <tr><td style="text-align:center;"><%= t('team.application_info') %></td></tr>
    </table>

    <%
    else
      if @comment.nil?
        if !@team.nil? and @team.get_users_a.include?(@login_user.id.to_s)
    %>
        <table style="width:90%; background-color:#FFEBCB; margin:0px auto; padding:15px 0px;">
          <tr>
            <td style="text-align:center;">
              <%= t('team.is_member') %>
              &nbsp;<img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/info.gif" onclick="msg('<%= t('team.leave_info') %>');">
            </td>
          </tr>
        </table>

      <% else %>

        <%= render(:partial => 'ajax_team_apply') %>
    <%
        end
      else
    %>

    <%= render(:partial => 'ajax_team_cancel') %>

    <%
      end
    end
    %>

  </div>  <!-- div_team_apply -->

<%
  end
end
%>
</div>  <!-- div_team -->
<% end %>


<!-- Response for Zeptair Distribution Package -->
<% if @item.xtype == Item::XTYPE_ZEPTAIR_DIST %>
<a name="zeptair_dist_res"></a>
<table style="width:100%;">
  <tr>
    <td style="padding-top:20px;">

    <%= render(:partial => 'caption', :locals => {:title => t('zeptair.dist.state'), :div_name => 'div_zeptair_dist_res'}) %>

    <div id="div_zeptair_dist_res">
  <% if @login_user.nil? %>
      <table style="width:50%; margin:15px auto;">
        <tr>
          <td style="text-align:center;" nowrap>
            <%= t('msg.please_login') %>
          </td>
        </tr>
      </table>
  <%
  else
    @attachments ||= @item.attachments_without_content
    zept_cmd = @item.zeptair_command
    comment = ZeptairDistHelper.get_comment_of(@item.id, @login_user.id)
    entries = ZeptairDistHelper.get_ack_array_of(comment)
  %>
      <table style="width:95%; margin:15px auto 0px;" cellpadding="5"> 
        <tr>
          <td style="text-align:left; font-size:14pt; line-height:1.0;">
            <%= t('msg.myself') %>
            <div class="hr"></div>
          </td>
        </tr>
      </table>

      <table style="width:80%; margin:10px auto 15px;">
        <tr>
          <td style="text-align:center;">
            <table style="width:100%; border-spacing:1px;">
              <tr>
                <th class="list_th" style="width:22%;" nowrap><%= t('user.u_name') %></th>
                <th class="list_th" style="width:25%;" nowrap><%= t('activerecord.attributes.updated_at') %></th>
            <% @attachments.each_with_index do |attach, attach_idx| %>
                <td nowrap style="width:10px; text-align:center; background-color:#FFDFAD; padding:0px 3px;"><%= attach_idx+1 %></td>
            <% end %>
            <% unless zept_cmd.nil? %>
                <td nowrap style="width:10px; text-align:center; background-color:#FFDFAD; padding:0px 3px;"><%= t('zeptair.dist.command_exec') %></td>
            <% end %>
              </tr>
              <tr style="height:33px;">
                <td nowrap>
                  <%= truncate(@login_user.get_name, :length => 20) %>
                </td>
                <td nowrap>
                <% unless comment.nil? or comment.updated_at.nil? %>
                  <%= comment.updated_at.strftime(THETIS_DATE_FORMAT_YMD+' %H:%M') %>
                <% end %>
                </td>
            <% @attachments.each do |attach| %>
                <td nowrap style="text-align:center;">
                <% if entries.nil? %>
                  <%= ZeptairDistHelper::MARK_NA %>
                <% else %>
                  <% if entries.include?(ZeptairDistHelper.get_ack_entry_for(attach)) %>
                    <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/check_ok.gif">
                  <% elsif !entries.find{|entry| entry.index("#{attach.id}#{ZeptairDistHelper::ACK_ID_SEP}")==0}.nil? %>
                    <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/check_ng.gif">
                  <% else %>
                    <%= ZeptairDistHelper::MARK_NA %>
                  <% end %>
                <% end %>
                </td>
            <% end %>
            <% unless zept_cmd.nil? %>
                <td nowrap style="text-align:center;">
                <% if entries.nil? %>
                  <%= ZeptairDistHelper::MARK_NA %>
                <% else %>
                  <% if entries.include?(ZeptairDistHelper.get_ack_entry_for(zept_cmd)) %>
                    <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/check_ok.gif">
                  <% elsif !entries.find{|entry| entry.index("#{zept_cmd.class}#{ZeptairDistHelper::ACK_CLASS_SEP}#{zept_cmd.id}#{ZeptairDistHelper::ACK_ID_SEP}")==0}.nil? %>
                    <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/check_ng.gif">
                  <% else %>
                    <%= ZeptairDistHelper::MARK_NA %>
                  <% end %>
                <% end %>
                </td>
            <% end %>
              </tr>
            </table>
          </td>
        </tr>
      </table>

    <% if @login_user.admin?(User::AUTH_ZEPTAIR) %>
      <table style="width:95%; margin:0px auto;" cellpadding="5"> 
        <tr>
          <td style="text-align:left; font-size:14pt; line-height:1.0;">
            <%= t('msg.all_users') %>
            <div class="hr"></div>
          </td>
        </tr>
      </table>

      <table style="margin:15px auto 20px; width:60%;">
        <tr>
          <td style="text-align:center;">
            <table style="width:100%; border:solid 1px pink; border-spacing:2px;">
              <tr>
                <td class="item_cap_td" style="width:40%;">
                  <%= t('zeptair.dist.response') %>
                </td>
                <td class="item_value_td" style="width:60%; text-align:left; padding-left:20px">
                  <%= ZeptairDistHelper.count_ack_users(@item.id) %>
                </td>
              </tr>
              <tr>
                <td class="item_cap_td" style="width:40%;">
                  <b><%= t('msg.completed') %></b>
                </td>
                <td class="item_value_td" style="width:60%; text-align:left; padding-left:20px">
                  <b><%= ZeptairDistHelper.count_completed_users(@item.id) %></b>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td style="text-align:right;">
            <i>
              <%= t('paren.round.left') %>
              <%= t('user.plural') %>
              <%= t('paren.round.right') %>
            </i>
          </td>
        </tr>
      </table>

      <table onclick="showZeptairDistUsers()" style="width:300px; margin:0px auto; background:url('<%= THETIS_RELATIVE_URL_ROOT %>/images/flat_button.png') center no-repeat; cursor:pointer;">
        <tr style="height:35px;">
          <td style="text-align:center;">
            <%= t('msg.show_list') %>
          </td>
        </tr>
      </table>

<script type="text/javascript">
function showZeptairDistUsers()
{
  var thetisBox = new ThetisBox;
  thetisBox.title = "<%= t('zeptair.dist.state') %>";
  thetisBox.show(
            "CENTER",
            (mainWidth*80/100)+','+(mainHeight*95/100),
            "IFRAME",
            "",
            "",
            "<%= url_for(:controller => 'zeptair_dist', :action => 'users', :item_id => @item.id, :read_only => 'true') %>"
          );
}
</script>

    </div>
  <%
    end
  end
  %>
    </td>
  </tr>
</table>
<% end %>

<!-- Message -->
<% unless @item.xtype == Item::XTYPE_WORKFLOW or @item.xtype == Item::XTYPE_RESEARCH %>
<a name="message"></a>
<div style="padding:20px 0px;">

  <%= render(:partial => 'caption', :locals => {:title => t('item.message'), :div_name => 'div_message'}) %>

  <div id="div_message">
    <table style="width:95%; margin:0px auto;" cellpadding="5">
      <tr>
        <td style="text-align:left; background-color:ghostwhite;">
          <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/info.gif">&nbsp;
          <%= t('item.message_info1') %><span style="color:green;"><b><%= t('item.owner_full') %></b></span><%= t('item.message_info2') %><span style="color:green;"><b><%= t('item.owner_full') %></b></span><%= t('item.message_info3') %>
          <%= t('item.message_info4') %><span style="color:green;"><b><%= t('item.owner_full') %></b></span><%= t('item.message_info5') %><br/>
          <%= t('item.message_info6') %><span style="color:green;"><b><%= t('item.owner_full') %></b></span><%= t('item.message_info7') %>
        </td>
      </tr>
    </table>

    <%
    style_display = ''
    style_display = 'display:none;' if @item.comments.nil? or @item.comments.empty?
    %>
    <table id="comments_table" style="width:90%; margin:0px auto; <%= style_display %> background-color:white;">
      <tr>
        <td>
          <div id="div_comments">
            <%= render(:partial => 'ajax_comments') %>
          </div>
        </td>
      </tr>
    </table>
  <% if @login_user.nil? %>
    <div style="padding:20px 0px; text-align:center; color:gray;">
      <%= t('item.login_to_register_messages') %>
    </div>
  <% else %>
    <div style="height:30px"></div>
  <% end %>

  <% unless @login_user.nil? %>
    <%= form_tag( {:controller => 'items', :action => 'add_comment'}, :name => 'form_comment', :method => 'post', :enctype => 'multipart/form-data') %>
      <%= hidden_field('comment', 'item_id', :value => @item.id) %>
      <%= hidden_field('comment', 'user_id', :value => @login_user.id) %>
      <%= hidden_field('comment', 'xtype', :value => Comment::XTYPE_MSG) %>
    <table class="comment_body_td" style="width:90%; margin:0px auto; padding:0; -moz-border-radius:7px; -webkit-border-radius:7px; border-radius:7px;">
      <tr>
        <td class="comment_tab_td" style="padding:0; height:10px;">
        </td>
      </tr>
      <tr>
        <td style="padding:20px 15px 15px;">
          <table style="width:85%; margin:0px auto;">
            <tr>
              <td>
                <textarea id="comment_message" name="comment[message]" rows="4" wrap="off" style="width:100%"></textarea>
              </td>
            </tr>
            <tr style="height:10px;"><td></td></tr>
            <tr>
              <td>
                <table style="width:100%;">
                  <tr>
                    <td nowrap style="width:80px; text-align:left; vertical-align:middle; padding-left:10px; font-size:10pt;">
                      <%= t('item.file') %> :
                    </td>
                    <td style="vertical-align:middle;">
                      <%= file_field(:comment, :file, :size => '60', :style => 'width:100%') %>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr style="height:15px;"><td></td></tr>
            <tr>
              <td style="text-align:center;">
                <input type="button" value="<%= t('item.register_message') %>" onclick="doRegisterComment(document.form_comment); return false;"/>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    </form>
  <% end %>

  </div>
</div>
<% end %>

<%= render(:partial => 'common/user_groups') %>

<script type="text/javascript">

<% unless params[:a_name].nil? %>
function onLoadSub()
{
  location.href = "#<%= params[:a_name] %>";
}
<% end %>

function doDelete(id, title)
{
<% if @team.nil? %>
  var team_id = null;
  if (_z("team_id") != null){
    team_id = _z("team_id").value;
  }
  if (team_id == null || team_id.length <= 0) {
    confm("<%= t('paren.square.left') %>"+title+"<%= t('msg.confirm_to_delete') %>", "_doDelete("+id+")");
  } else {
<% end %>
    confm("<div style='padding-bottom:10px;'><%= t('paren.square.left') %>"+title+"<%= t('folder.delete_team_folder_info1') %></div><div style='padding-bottom:10px;'><%= t('folder.delete_team_folder_info2') %></div><%= t('msg.confirm_sure') %>", "_doDelete("+id+")");
<% if @team.nil? %>
  }
<% end %>
}

function doDuplicate()
{
  confm("<%= t('item.confirm_to_duplicate') %>\n&nbsp;&nbsp;/<%= t('folder.my_folder') %>/<%= Item.copies_folder %>", "_doDuplicate()");
}

function _doDuplicate()
{
  var thetisBoxProgress = prog("TOP-RIGHT");

  new Ajax.Request(
          "<%= url_for(:controller => 'items', :action => 'duplicate', :id => @item.id) %>",
          {
            method:"post",
            parameters:"authenticity_token=<%= form_authenticity_token %>",
            asynchronous:true,
            evalScripts:false,
            onComplete:function(request) {
              thetisBoxProgress.remove();
              request.responseText.evalScripts();
            }
          }
        );
}

function _doDelete(id)
{
  var thetisBoxProgress = prog("TOP-RIGHT");

  new Ajax.Request(
          "<%= url_for(:controller => 'items', :action => 'destroy') %>?id="+id,
          {
            method:"post",
            parameters:"authenticity_token=<%= form_authenticity_token %>",
            asynchronous:true,
            evalScripts:false,
            onComplete:function(request) {
                //thetisBoxProgress.remove();
                var avoid_0 = encodeURIComponent('items/show');
                var avoid_1 = encodeURIComponent('items/edit');
                location.href = "<%= url_for(:controller => 'history', :action => 'back') %>?avoid[]="+avoid_0+"&avoid[]="+avoid_1;
            }
          }
        );
}

function doOrganizeTeam(frm)
{
  var thetisBox = prog("TOP-RIGHT");

  new Ajax.Updater(
            "div_team_info",
            frm.action,
            {
              method:"post",
              parameters:Form.serialize(frm),
              asynchronous:true,
              evalScripts:true,
              onComplete:function(request){ thetisBox.remove(); }
            }
          );
}

function doRegisterComment(frm)
{
  var txaComment = _z("comment_message");

  if (!_checkComment(txaComment)) {
    return false;
  }

  var thetisBoxProgress = prog("TOP-RIGHT");

  ajaxUploadFile(
          frm,
          frm.action,
          "div_comments",
          function(){
            var comments_table = _z("comments_table");
            if (comments_table.style.display == "none") {
              comments_table.style.display = "block";
            }
            frm.reset();
            thetisBoxProgress.remove();
          },
          function(){
            thetisBoxProgress.remove();
            msg("<%= t('msg.system_error')%>");
          }
        );
}

function doUpdateComment(frm, comment_id)
{
  if (!_checkComment(frm.thetisBoxEdit)) {
    return false;
  }

  var boxInstance = ThetisBox.getInstanceForElem(frm);
  if (boxInstance) {
    boxInstance.hide();
  }

  var thetisBoxProgress = prog("TOP-RIGHT");

  new Ajax.Updater(
      "div_comment_"+comment_id,
      "<%= url_for(:controller => 'items', :action => 'update_comment') %>",
      {
        parameters:Form.serialize(frm),
        asynchronous:true,
        evalScripts:true,
        onComplete:function(request) {
          thetisBoxProgress.remove();
        }
      }
    );
}

function editComment(comment_id)
{
  var thetisBox = new ThetisBox;
  var formTag = "<form action=\"\" method=\"post\" onsubmit=\"doUpdateComment(this, "+comment_id+"); return false;\">";
  thetisBox.setFormTag(formTag);
  thetisBox.setAdditionalParams(new Array("comment_id="+comment_id, "authenticity_token=<%= form_authenticity_token %>"));

  // GREP WITH ~.gsub('  ', '&nbsp; ')
  // Corresponds to ~.gsub(/&nbsp;/, " ") in the following line.
  thetisBox.show("CENTER", "540,200", "TEXTAREA", "", "", restoreHTML(_z("comment_body" + comment_id).innerHTML.gsub(/&nbsp;/, " ")).gsub(/[\r]?\n/, "").gsub(/<br[/]?>/i, "\n"));
}

function _checkComment(txaComment)
{
  if (trim(txaComment.value, true).length <= 0) {
    return false;
  }
  return true;
}

function doDeleteComment(comment_id)
{
  confm("<%= t('item.confirm_to_delete_message') %>", "_doDeleteComment("+comment_id+")");
}

function _doDeleteComment(comment_id)
{
  var thetisBoxProgress = prog("TOP-RIGHT");

  new Ajax.Updater(
        "div_comment_"+comment_id,
        "<%= url_for(:controller => 'items', :action => 'destroy_comment') %>",
        {
          method:"post",
          parameters:"comment_id="+comment_id+"&authenticity_token=<%= form_authenticity_token %>",
          asynchronous:true,
          evalScripts:true,
          onComplete:function(request) {
            thetisBoxProgress.remove();
          }
        }
     );
}

function doDeleteCommentAttachment(div_id, comment_id, attach_id, title)
{
  confm("<%= t('paren.square.left') %>"+title+"<%= t('msg.confirm_to_delete') %>", "_doDeleteCommentAttachment('"+div_id+"', "+comment_id+", "+attach_id+")");
}

function _doDeleteCommentAttachment(div_id, comment_id, attach_id)
{
  var thetisBoxProgress = prog("TOP-RIGHT");

  new Ajax.Updater(
        "div_comment_"+comment_id,
        "<%= url_for(:controller => 'items', :action => 'delete_comment_attachment') %>",
        {
          method:"post",
          parameters:"comment_id="+comment_id+"&attachment_id="+attach_id+"&authenticity_token=<%= form_authenticity_token %>",
          asynchronous:true,
          evalScripts:true,
          onComplete:function(request) {
            thetisBoxProgress.remove();
            removeElem(_z(div_id));
          }
        }
     );
}

function showURL()
{
  new Ajax.Request(
          "<%= url_for(:controller => 'frames', :action => 'show_url') %>?disp[ctrl]=items&disp[act]=show&disp[id]=<%= @item.id %>",
          {
            method:"get",
            asynchronous:true,
            evalScripts:true,
            onComplete:function(request) {
                var thetisBox = new ThetisBox;
                thetisBox.show(
                          "CENTER",
                          (mainWidth/10*8)+",320",
                          "TRAY",
                          "",
                          "<%= t('cap.url_to_this_page') %>",
                          request.responseText
                        );
                request.responseText.evalScripts();
              }
          }
        );
}

function addToDesktop()
{
  confm("<%= t('paren.square.left') + truncate(@item.title, :length => 20) + t('msg.confirm_to_added_to_desktop') %>", "_addToDesktop()");
}

function _addToDesktop()
{
  var thetisBoxProgress = prog("TOP-RIGHT");

  new Ajax.Request(
          "<%= url_for(:controller => 'desktop', :action => 'add_toy') %><%= "?xtype=#{toy_xtype}&target_id=#{toy_target_id}" %>",
          {
            parameters:"authenticity_token=<%= form_authenticity_token %>",
            asynchronous:true,
            evalScripts:false,
            onComplete:function(request) {
                var button = _z("add_to_desktop");
                removeElem(button);

                thetisBoxProgress.remove();

                if (Number(request.responseText) > 0) {
                  tips("<%= t('msg.add_to_desktop_success')%>");
                }
              }
          }
        );
}

var thetisBoxAttachFile = null;

function attachFile(comment_id)
{
  if (thetisBoxAttachFile != null){
    thetisBoxAttachFile.remove();
    thetisBoxAttachFile = null;
  }

  var content = getFileSelector("onFileSelectOK("+comment_id+")", "onFileSelectCancel()", "<%= t('btn.ok') %>", "<%= t('btn.cancel') %>", "<%= form_authenticity_token %>", "comment_file");

  thetisBoxAttachFile = new ThetisBox;
  thetisBoxAttachFile.title = "<%= t('item.attach_file') %>";
  thetisBoxAttachFile.overflow = "hide";
  thetisBoxAttachFile.show("CENTER", "400,200", "TRAY", "", "", content);
}

function onFileSelectOK(comment_id)
{
  var thetisBoxProgress = prog("TOP-RIGHT");

  ajaxUploadFile(
          document.form_file,
          "<%= url_for(:controller => 'items', :action => 'add_comment_attachment') %>?comment_id=" + comment_id,
          "div_comment_" + comment_id,
          function(){
            var comments_table = _z("comments_table");
            if (comments_table.style.display == "none") {
              comments_table.style.display = "block";
            }
            thetisBoxProgress.remove();

            thetisBoxAttachFile.remove();
            thetisBoxAttachFile = null;
          },
          function(){
            thetisBoxProgress.remove();
            msg("<%= t('msg.system_error')%>");

            thetisBoxAttachFile.remove();
            thetisBoxAttachFile = null;
          }
        );
}

function onFileSelectCancel()
{
  thetisBoxAttachFile.remove();
  thetisBoxAttachFile = null;
}

</script>

