<%= form_tag({:action => 'login'}, :name => 'form_login') %>

<div id="div_login" style="vertical-align:middle; overflow:hidden;">
  <table style="width:85%; height:100%; padding:3% 0; margin:0px auto; border-spacing:5px;">
    <tr style="height:20%;">
      <td class="login_title">
        <%= YamlHelper.get_value($thetis_config, 'general.app_title', nil) %>
      </td>
    </tr>
    <tr>
      <td style="text-align:center; height:40%;">

        <table style="width:70%; height:100%; margin:0px auto; border:solid 1px blue; background-color:#A8F3F4; border-radius:7px; border-spacing:5px;">
          <tr style="height:90%;">
            <td style="text-align:left;">
              <table style="margin:0px auto; border-spacing:5px;">
                <tr>
                  <td style="text-align:right; font-size:16px; padding:5px; line-height:23px;" nowrap>
                    <label for="user_name"><%= t('user.u_name') %><%= t('msg.colon') %></label>
                  </td>
                  <td style="text-align:left;">
                    <%= text_field('user', 'name', :style => 'width:200px; ime-mode:disabled;') %>
                  </td>
                </tr>
                <tr>
                  <td style="text-align:right; font-size:16px; padding:5px; line-height:23px;" nowrap>
                    <label for="user_password"><%= t('password.name') %><%= t('msg.colon') %></label>
                  </td>
                  <td style="text-align:left;">
                    <input type="password" id="user_password" name="user[password]" size="30" style="width:200px;" />
                  </td>
                </tr>
                <tr style="height:10px;"><td></td></tr>
                <tr>
                  <td colspan="2" style="text-align:center;">
                    <input id="login_button" type="button" value="<%= t('btn.login') %>" style="width:100px; height:28px;" onclick="onLoginClicked();">
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr style="height:10%;">
            <td style="text-align:right;">
            <% if YamlHelper.get_value($thetis_config, 'menu.open_user_reg', nil) == '1' %>
              <a class="a_underline" href="javascript:this.onclick()" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'users', :action => 'new') %>'; return false;">
                <%= raw(t('login.to_user_reg')) %>
              </a>
               &nbsp;
            <% end %>
              <a class="a_underline" href="javascript:this.onclick()" onclick="showSendPassword(); return false;">
                <%= raw(t('login.to_send_password'))%>
              </a>
              &nbsp;
            </td>
          </tr>
        </table>

        <%= hidden_field_tag('fwd_controller', params[:fwd_controller]) %>
        <%= hidden_field_tag('fwd_action', params[:fwd_action]) %>
        <%
        unless params[:fwd_params].nil?
          params[:fwd_params].each do |key, val|
        %>
          <%= hidden_field_tag("fwd_params[#{key}]", val) %>
        <%
          end
        end
        %>

      </td>
    </tr>
    <tr style="height:20%;">
      <td style="vertical-align:top;">
        <table style="margin:0px auto;">
          <tr>
            <td nowrap style="text-align:right; vertical-align:top; color:red; padding-top:20px;">
              Powered by <span style="font-weight:bold;">Ruby</span> / <span style="font-weight:bold;">Rails</span>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>

</form>


<script type="text/javascript">

function onLoadSub()
{
  focusFirstElem(document.form_login);

  addEvent(window.document, "keydown", tabByEnterLogin);
}

function onLoginClicked()
{
  prog("CENTER");
  document.form_login.submit();
}

function tabByEnterLogin(evt)
{
  evt = (evt || window.event);

  if (evt.keyCode != 13) {
    return;
  }

  var elem = (evt.target || evt.srcElement);
  var inputs = [_z("user_name"), _z("user_password"), _z("login_button")];
  var prevElem = null;
  var nextElem = null;

  if (inputs && inputs.length > 0) {
    if (elem.tagName == "INPUT") {
      for (var i=0; i < inputs.length; i++) {
        if (inputs[i] == elem) {
          if ((i-1) >= 0 && inputs[i-1].type != "hidden") {
            prevElem = inputs[i-1];
          }
          if ((i+1) < inputs.length && inputs[i+1].type != "hidden") {
            nextElem = inputs[i+1];
          }
          break;
        }
      }
      if (!prevElem && inputs[inputs.length-1].type != "hidden") {
        prevElem = inputs[inputs.length-1];
      }
      if (!nextElem && inputs[0].type != "hidden") {
        nextElem = inputs[0];
      }
    } else if (elem.tagName == "A") {
      return true;
    } else {
      prevElem = inputs[0];
      nextElem = inputs[0];
    }
  }

  if (evt.shiftKey && prevElem) {
    prevElem.focus();
    prevElem.select();
    return false;
  } else if (!evt.shiftKey && nextElem) {
    if (nextElem == _z("login_button")) {
      nextElem.focus();
      nextElem.onclick();
      stopEvent(evt, true);
    } else {
      nextElem.focus();
      nextElem.select();
    }
    return false;
  }
}

function showSendPassword()
{
  var thetisBox = new ThetisBox;
  thetisBox.show("TOP-RIGHT", "", "INPUT", "doSendPassword("+thetisBox.id+")", "<%= t('login.send_password_info1') %><%= t('login.send_password_info2') %><span class='font_msg_bold'><%= t('login.mail_address') %></span><%= t('login.send_password_info3') %>", "");
}

function doSendPassword(thetisBoxId)
{
  var thetisBoxEdit = _z("thetisBoxEdit-"+thetisBoxId);
  if (thetisBoxEdit && thetisBoxEdit.value) {
    var val = thetisBoxEdit.value;
    ThetisBox.remove(thetisBoxId);

    prog("TOP-RIGHT");
    var frm = createPostForm("<%= url_for(:controller => 'login', :action => 'send_password') %>", null);
    addInputHidden(frm, null, "thetisBoxEdit", val, null);
    frm.submit();
  }
}

</script>
