<%= form_tag({:action => 'login'}, :name => 'form_login') %>

<div id="div_login" style="vertical-align:middle; overflow:hidden;">
  <table style="width:85%; height:100%; padding:3% 0; margin:0px auto; border-spacing:5px;">
    <tr style="height:20%;">
      <td class="login_title">
        <%= $thetis_config[:general]['app_title'] %>
      </td>
    </tr>
    <tr>
      <td style="text-align:center; height:40%;">

        <table style="width:70%; height:100%; margin:0px auto; border:solid 1px blue; background-color:#A8F3F4; border-radius:7px; border-spacing:5px;">
          <tr style="height:90%;">
            <td style="text-align:left;">
              <table style="margin:0px auto; border-spacing:5px;">
                <tr>
                  <td style="text-align:right; font-size:12pt; padding:5px; line-height:17pt;" nowrap>
                    <label for="user_name"><%= t('user.u_name') %><%= t('msg.colon') %></label>
                  </td>
                  <td style="text-align:left;">
                    <%= text_field('user', 'name', :style => 'width:200px; ime-mode:disabled;') %>
                  </td>
                </tr>
                <tr>
                  <td style="text-align:right; font-size:12pt; padding:5px; line-height:17pt;" nowrap>
                    <label for="user_password"><%= t('password.name') %><%= t('msg.colon') %></label>
                  </td>
                  <td style="text-align:left;">
                    <input type="password" id="user_password" name="user[password]" size="30" style="width:200px;" />
                  </td>
                </tr>
                <tr style="height:10px;"><td></td></tr>
                <tr>
                  <td colspan="2" style="text-align:center;">
                    <input type="submit" value="<%= t('btn.login') %>" style="width:100px; height:28px;">
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr style="height:10%;">
            <td style="text-align:right;">
            <% if $thetis_config[:menu]['open_user_reg'] == '1' %>
              <a class="a_underline" href="#" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'users', :action => 'new') %>'; return false;">
                <%= t('login.to_user_reg') %>
              </a>
               &nbsp;
            <% end %>
              <a class="a_underline" href="#" onclick="showSendPassword(); return false;"><%= t('login.to_send_password')%></a>
              &nbsp;
            </td>
          </tr>
        </table>

        <%= hidden_field_tag('fwd_controller', params[:fwd_controller]) %>
        <%= hidden_field_tag('fwd_action', params[:fwd_action]) %>
        <%
        unless params[:fwd_params].nil?
          params[:fwd_params].each do |key, val|
        %>
          <%= hidden_field_tag("fwd_params[#{key}]", val) %>
        <%
          end
        end
        %>

      </td>
    </tr>
    <tr style="height:20%;">
      <td style="vertical-align:top;">
        <table style="margin:0px auto;">
          <tr>
            <td nowrap style="text-align:right; vertical-align:top; color:red; padding-top:20px;">
              Powered by <span style="font-weight:bold;">Ruby</span> / <span style="font-weight:bold;">Rails</span>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>

</form>


<script type="text/javascript">

function onLoadSub()
{
  focusFirstElem(document.form_login);
}

function showSendPassword()
{
  var thetisBox = new ThetisBox;
  thetisBox.show("TOP-RIGHT", "", "INPUT", "doSendPassword("+thetisBox.id+")", "<%= t('login.send_password_info1') %><%= t('login.send_password_info2') %><span class='font_msg_bold'><%= t('login.mail_address') %></span><%= t('login.send_password_info3') %>", "");
}

function doSendPassword(thetisBoxId)
{
  var thetisBoxEdit = _z("thetisBoxEdit-"+thetisBoxId);
  if (thetisBoxEdit && thetisBoxEdit.value) {
    var val = thetisBoxEdit.value;
    ThetisBox.remove(thetisBoxId);

    prog("TOP-RIGHT");
    var frm = createPostForm("<%= url_for(:controller => 'login', :action => 'send_password') %>", null);
    addInputHidden(frm, null, "thetisBoxEdit", val, null);
    frm.submit();
  }
}

</script>
