<table style="width:100%;" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <table cellpadding="5" cellspacing="2" style="width:100%; border:1px solid lightskyblue;">
        <tr>
          <td nowrap style="width:5%; padding:3px; text-align:center;"  >
          </td>
          <td nowrap style="width:85%; padding:3px; padding-left:10px; text-align:left;"  >
          </td>
          <td nowrap style="width:10%; padding:3px; text-align:right;"  >
            <%= t('msg.total') %>
          </td>
          <td></td>
          <%
          @sum_groups.each do |group_id|
            group_name = Group.get_name group_id
          %>
          <td nowrap style="width:10%; padding:3px; text-align:right;"  bgcolor="" >
            <%= group_name %>
          </td>
          <% end %>
        </tr>
      <%
      idx = 0
      params = {}
      params['title'] = @caption
      %>
      <% @votes_hash.each do |vote, hash| %>
        <%
        total = hash[0]
        params['vote['+vote+']'] = total
        bg_color = (idx%2 == 1) ? "white" : "#ccffdf"
        %>
        <tr>
          <td nowrap style="width:5%; background-color:<%= bg_color %>; padding:3px; text-align:center;" >
            <%= (idx+1).to_s %>.
          </td>
          <td nowrap style="width:85%; background-color:<%= bg_color %>; padding:3px 3px 3px 10px; text-align:left;" >
            <%= vote %>
          </td>
          <td nowrap style="width:10%; background-color:<%= bg_color %>; padding:3px; text-align:right;" >
            <%= total.to_s %>
          </td>
          <td></td>
          <%
          @sum_groups.each do |group_id|
            group_sum = hash[group_id]
          %>
            <td nowrap style="width:10%; padding:3px; text-align:right;" bgcolor="">
            <% if group_sum.nil? %>
              0
            <% else %>
              <%= group_sum.to_s %>
            <% end %>
            </td>
          <% end %>
        </tr>
      <%
        idx += 1
      end
      %>
      </table>
    </td>
  </tr>
<!--
<% if false %>
  <tr>
    <td style="text-align:center;">
      <%
      bg_color = (idx%2 == 1) ? 'white' : '#ccffdf'
      url_h = ApplicationHelper.get_fwd_params(params)
      url_h = url_h.update({:controller => 'researches', :action => 'graph'})
      %>
      <img src="<%= url_for(url_h) %>">
    </td>
  </tr>
<% end %>
-->
</table>
