<%= form_tag({:controller => 'researches', :action => 'do_confirm'}, :method => 'post', :name => 'form_research') %>

<table cellspacing="0" cellpadding="0" width="100%">
  <tr>
    <td style="font-size:11pt;" align="left">

    <table width="100%" cellspacing="5" cellpadding="0" style="font-size:10pt; padding:5px; line-height:2.0;">
      <tr>
        <td colspan="6" style="padding-left:20px;"><%=h t('research.confirm_answer') %></td>
      </tr>

    <% @q_caps_h.each do |q_code, q_cap| %>

      <tr>
        <td width="1%"></td>
        <td width="1%" bgcolor="khaki"></td>
        <td width="20%" nowrap align="center" style="color:brown;"><%= raw(q_code.upcase.sub('_', '&nbsp;-&nbsp;')) %>.</td>
        <td width="1%" bgcolor="khaki"></td>
        <td width="1%"></td>
        <td>
          <%=h q_cap %><br/>
          <%
          vals = @research.get_by_q_code(q_code)
          unless vals.nil?
            ary = vals.split("\n")
          %>
          <%
            ary.each do |val|
          %>
            <b><%=h val %></b><br/>
          <%
            end
          end
          %>
        </td>
      </tr>
      <tr height="5"><td></td></tr>
    <% end %>

    </table>

    <%= hidden_field_tag 'research_id', @research.id %>
    <%= hidden_field_tag 'page', @page %>

    <table align="center" cellspacing="0" cellpadding="0" width="0" border="0" valign="top">
      <tr height="10"><td></td></tr>
      <tr>
      <td class="img_button_td" onclick="location.href='<%= url_for(:controller => 'researches', :action => 'edit_page', :page => sprintf('%02d', @page.to_i-1)) %>'">
        <%= raw(t('btn.page_back')) %>
      </td>
        <td width="20"></td>
      <td class="img_button_td" onclick="try { document.form_research.submit(); }catch(e){ msg('<%=h raw(t('research.error_commit')) %>'); }">
        <%= t('btn.commit') %>
      </td>
      </tr>
      <tr height="40"><td></td></tr>
    </table>

    </td>
  </tr>
</table>

</form>
