<% HistoryHelper.set_back(request) %>

<table width="100%" cellspacing="0" cellpadding="0">
  <tr height="10"><td></td></tr>
  <tr>
    <td width="49%" valign="top">

      <!-- Control -->
      <div class="info_area" style="width:100%; padding-top:15px; padding-bottom:15px;" align="center">
        <table align="center" width="85%" cellpadding="0" cellspacing="2">
          <tr>
            <td class="item_cap_td" colspan="2" nowrap style="width:100%;">
              <%= t('cap.control') %>
            </td>
          </tr>
          <tr>
            <td class="prim_cap_td" style="width:40%;" nowrap><%= Research.human_attribute_name('status') %></td>
            <td class="item_value_td" id="status">
              <%
              status = Research.get_status
              status_started = t('msg.started')
              status_stopped = t('msg.stopped')
              disp_button_start = 'block'
              disp_button_stop = 'block'
              if status == Research::STATUS_STARTED
                disp_button_start = 'none'
              %>
                <%= status_started %>
              <%
              else
                disp_button_stop = 'none'
              %>
                <%= status_stopped %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="item_cap_td" style="width:40%;" nowrap><%= t('research.reception') %></td>
            <td class="item_value_td">
              <input type="button" id="button_start" style="display:<%= disp_button_start %>; width:100px;" value="<%= t('btn.start') %>" onclick="doStart()">
              <input type="button" id="button_stop" style="display:<%= disp_button_stop %>; width:100px;" value="<%= t('btn.stop') %>" onclick="doStop()">
            </td>
          </tr>
          <tr>
            <td class="item_cap_td" style="width:40%;"><%= t('btn.reset_all_users') %></td>
            <td class="item_value_td">
              <input type="button" value="<%= t('btn.reset') %>" onclick="doReset()" style="width:100px;">
            </td>
          </tr>
        </table>
      </div>

      <div style="height:10px;"></div>

      <!-- Questionnaire Pages -->
      <div class="info_area" style="width:100%; padding-top:15px; padding-bottom:15px;" align="center">
        <table align="center" width="85%" cellpadding="0" cellspacing="2">
          <tr>
            <td class="item_cap_td" nowrap style="width:100%;">
              <%= t('research.pages') %>&nbsp;
              <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/info.gif" onclick="msg('<%= raw(t('research.pages_info')) %>');">
            </td>
          </tr>
          <tr>
            <td class="item_value_td">
              <%= form_tag( {:controller => 'researches', :action => 'destroy_q_page', :id => '' }, :name => 'form_ajax_page', :method => 'post') %>
                <div id="div_ajax_page">
                  <%= render(:partial => 'ajax_q_page') %>
                </div>
              </form>

              <div class="button_gray" style="float:right; margin-top:3px;" onClick="doCreatePage();">
                <%= t('btn.create') %>
              </div>
            </td>
          </tr>
        </table>
      </div>

      <div style="height:10px;"></div>

      <!-- Groups for Statistics -->
      <div class="info_area" style="width:100%; padding-top:15px; padding-bottom:15px;" align="center">
        <table align="center" width="85%" cellpadding="0" cellspacing="2">
          <tr>
            <td class="item_cap_td" nowrap style="width:100%;"><%= t('research.groups_for_statistics') %></td>
          </tr>
          <tr>
            <td class="item_value_td">
              <div id="div_statistics_groups">
                <%= render(:partial => 'ajax_statistics_groups') %>
              </div>

              <div class="button_gray" style="float:right; margin-top:3px;" onClick="showGroupTreeToSelect('0', false);">
                <%= t('btn.add_group') %>
              </div>
            </td>
          </tr>
        </table>
      </div>

    </td>
    <td width="10">&nbsp;</td>
    <td width="49%" valign="top">

      <!-- Choices Type -->
      <div id="div_choices" class="info_area" style="width:100%; padding-top:15px; padding-bottom:15px;" align="center">

        <%= render(:partial => 'ajax_q_ctrls') %>

      </div>

    </td>
  </tr>
</table>

<table align="center" cellspacing="0" cellpadding="0">
  <tr height="20"><td></td></tr>
  <tr>
    <td class="img_button_td" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'history', :action => 'back') %>';">
      <%= t('btn.back') %>
    </td>
  </tr>
  <tr height="10"><td></td></tr>
</table>
<br/>

<script type="text/javascript">

function changeStatus(sw)
{
  if (sw) {
    _z("status").innerHTML = "<%= status_started %>";
    _z("button_start").style.display = "none";
    _z("button_stop").style.display = "block";
  } else {
    _z("status").innerHTML = "<%= status_stopped %>";
    _z("button_start").style.display = "block";
    _z("button_stop").style.display = "none";
  }
}

function doStart()
{
  var thetisBoxProgress = prog("TOP-RIGHT");

  new Ajax.Request(
          "<%= url_for(:controller => 'researches', :action => 'start') %>",
          {
            parameters:"authenticity_token=<%= form_authenticity_token %>",
            asynchronous:true,
            evalScripts:false,
            onComplete:function(request) {

                thetisBoxProgress.remove();

                if (request.responseText == "") {
                  changeStatus(true);
                  tips("<%= t('msg.start_success')%>");
                } else {
                  msg("<%= t('msg.system_error')%><br/>"+request.responseText);
                }
              }
          }
        );
}

function doStop()
{
  confm("<%= t('research.confirm_to_stop') %>", "_doStop()");
}

function _doStop()
{
  var thetisBoxProgress = prog("TOP-RIGHT");

  new Ajax.Request(
          "<%= url_for(:controller => 'researches', :action => 'stop') %>",
          {
            parameters:"authenticity_token=<%= form_authenticity_token %>",
            asynchronous:true,
            evalScripts:false,
            onComplete:function(request) {

                thetisBoxProgress.remove();

                if (request.responseText == "") {
                  changeStatus(false);
                  tips("<%= t('msg.stop_success')%>");
                } else {
                  msg("<%= t('msg.system_error')%><br/>"+request.responseText);
                }
              }
          }
        );
}

function doReset()
{
  confm("<%= t('research.confirm_to_reset_users') %>", "_doReset()");
}

function _doReset()
{
  var thetisBoxProgress = prog("TOP-RIGHT");

  new Ajax.Request(
          "<%= url_for(:controller => 'researches', :action => 'reset') %>",
          {
            parameters:"authenticity_token=<%= form_authenticity_token %>",
            asynchronous:true,
            evalScripts:false,
            onComplete:function(request) {

                thetisBoxProgress.remove();

                if (request.responseText == "") {
                  changeStatus(false);
                  tips("<%= t('msg.reset_success')%>");
                } else {
                  msg("<%= t('msg.system_error')%><br/>"+request.responseText);
                }
              }
          }
        );
}

function doCreatePage()
{
  var thetisBox = prog("TOP-RIGHT");

  new Ajax.Updater(
              "div_ajax_page",
              "<%= url_for(:controller => 'researches', :action => 'create_q_page') %>",
              {
                parameters:"authenticity_token=<%= form_authenticity_token %>",
                asynchronous:true,
                evalScripts:true,
                onComplete:function(request){
                  thetisBox.remove();
                }
              }
            );
  return true;
}

function doDeletePage(item_id, title)
{
  confm("<%= t('paren.square.left') %>" + title + "<%= t('msg.confirm_to_delete') %>", "_doDeletePage("+item_id+")");
}

function _doDeletePage(item_id)
{
  var thetisBox = prog("TOP-RIGHT");

  new Ajax.Updater(
      "div_ajax_page",
      document.form_ajax_page.action + item_id,
      {
        asynchronous:true,
        evalScripts:true,
        onComplete:function(request){
          thetisBox.remove();
          renewCtrls();
        },
        parameters:Form.serialize(document.form_ajax_page)
      }
    );
}

function renewCtrls()
{
  var thetisBoxProgress = prog("TOP-RIGHT");

  new Ajax.Updater(
              "div_choices",
              "<%= url_for(:controller => 'researches', :action => 'renew_q_ctrl') %>",
              {
               parameters:"authenticity_token=<%= form_authenticity_token %>",
               asynchronous:true,
                evalScripts:true,
                onComplete:function(request){
                  thetisBoxProgress.remove();
                }
              }
            );
}

function onSelectQCodes(q_id)
{
  var selTypes = _z("sel_q_types");
  selTypes.disabled = false;

  clearQCtrls();

  q_param = _z(q_id).value;

  if (q_param != null && q_param != "") {
    q_type = q_param.split(":")[0];
    q_vals = q_param.substr(q_type.length+1, q_param.length-(q_type.length+1));
    showQCtrl(q_type, q_vals);
    selTypes.value = q_type;
  }

  _z("q_cap").value = _z(q_id + "_cap").innerHTML;
}

function onSelectQTypes(q_type)
{
  showQCtrl(q_type, null);
}

function showQCtrl(q_type, q_vals)
{
  var ctrlAlts = _z("ctrl_alts");
  var ctrlTextarea = _z("ctrl_textarea");

  ctrlAlts.style.display = "none";
  ctrlTextarea.style.display = "none";

  if (q_type == "") return;

  switch (q_type) {
    case "radio":
    case "checkbox":
    case "select":
      if (q_vals != null) {
        _z("ctrl_alts_vals").value = q_vals;
      }
      ctrlAlts.style.display = "block";
      break;
    case "textarea":
      if (q_vals != null) {
        _z("ctrl_textarea_rows").value = q_vals;
      }
      ctrlTextarea.style.display = "block";
      break;
  }
}

function clearQCtrls()
{
  _z("ctrl_alts_vals").value = "";
  _z("ctrl_textarea_rows").value = "";
}

function makeQCtrlParam()
{
  var selTypes = _z("sel_q_types");
  var q_type = selTypes.value;

  var q_param = selTypes.value+":";

  switch (q_type) {
    case "radio":
    case "checkbox":
    case "select":
      var vals = _z("ctrl_alts_vals").value;
      var lines = replaceAll(vals, "\r\n", "\n").split("\n");
      for (var i=0; i < lines.length; i++) {
        if (getByteSize(lines[i]) > 255) {
          msg("<%= t('msg.each_line_up_to_chars') %><br/>"+truncate(lines[i], 30));
          return null;
        }
      }
      q_param += vals;
      break;
    case "textarea":
      q_param += _z("ctrl_textarea_rows").value;
      break;
  }
  return q_param;
}

function doApplyCtrl()
{
  var selCodes = _z("sel_q_codes");
  var q_id = selCodes.value;

  var q_param = makeQCtrlParam();
  if (q_param == null) {
    return;
  }

  _z(q_id).value = q_param;
  item_id = q_id.split(":")[0];
  q_code = q_id.split(":")[1];

  var cap = _z("q_cap").value;
  _z(q_id + "_cap").innerHTML = cap

  var f = document.createElement("form");
  f.method = "POST";
  var ta = document.createElement("textarea");
  ta.name = "q_param";
  ta.value = q_param;
  f.appendChild(ta);
  document.body.appendChild(f);

  var thetisBoxProgress = prog("TOP-RIGHT");

  new Ajax.Request(
          "<%= url_for(:controller => 'researches', :action => 'update_q_ctrl') %>?item_id="+item_id+"&q_code="+q_code+"&caption="+encodeURIComponent(cap),
          {
            asynchronous:true,
            evalScripts:false,
            parameters:Form.serialize(f)+"&authenticity_token=<%= form_authenticity_token %>",
            onComplete:function(request) {

                thetisBoxProgress.remove();
                removeElem(f);

                if (request.responseText == "") {
                  tips("<%= t('msg.update_success')%>");
                } else {
                  msg("<%= t('msg.system_error')%><br/>"+request.responseText);
                }
              }
          }
        );
}

function doResetCtrl()
{
  confm("<%= t('research.confirm_to_reset_choices') %>", "_doResetCtrl()");
}

function _doResetCtrl()
{
  var thetisBoxProgress = prog("TOP-RIGHT");

  new Ajax.Updater(
              "div_choices",
              "<%= url_for(:controller => 'researches', :action => 'reset_q_ctrl') %>",
              {
                parameters:"authenticity_token=<%= form_authenticity_token %>",
                asynchronous:true,
                evalScripts:true,
                onComplete:function(request){
                  thetisBoxProgress.remove();
                }
              }
            );
}

function showGroupTreeToSelect(group_id, do_change)
{
  var caption = "";
  if (do_change == true) {
    caption = "<%= t('group.select_to_change_to')%>";
  } else {
    caption = "<%= t('group.select_to_add')%>";
  }

  var thetisBox = new ThetisBox;
  thetisBox.progress = true;
  thetisBox.setFormTag("<form action=\"<%= url_for(:controller => 'researches', :action => 'add_statistics_group') %>\" method=\"post\" onsubmit=\"new Ajax.Updater('div_statistics_groups', this.action, {asynchronous:true, evalScripts:true, onComplete:function(request){__thetisBoxProgress.remove();}, parameters:Form.serialize(this)}); return false;\">");
  var params = new Array("authenticity_token=<%= form_authenticity_token %>");
  if (do_change == true) {
    params.push("current_id="+group_id);
  }
  thetisBox.setAdditionalParams(params);
  thetisBox.show("CENTER", "", "TREE", "", caption, "");
  thetisBox.setTree("<%= url_for(:controller => 'groups', :action => 'ajax_get_tree') %>", group_id);
}

function doRemoveGroup(group_id, path)
{
  confm("<%= t('paren.square.left') %>" + path + "<%= t('msg.confirm_to_except') %>", "_doRemoveGroup("+group_id+")");
}

function _doRemoveGroup(group_id)
{
  var thetisBox = prog("TOP-RIGHT");

  new Ajax.Updater(
        "div_statistics_groups",
        "<%= url_for(:controller => 'researches', :action => 'delete_statistics_group') %>?group_id=" + group_id,
        {
          parameters:"authenticity_token=<%= form_authenticity_token %>",
          asynchronous:true,
          evalScripts:true,
          onComplete:function(request){ thetisBox.remove() }
        }
     );
}

</script>

