<% HistoryHelper.set_back(request) %>

<table cellspacing="2" cellpadding="0" style="margin:2px auto 0px 0px;">
  <tr>
    <td id="tab_statistics" class="td_item_tab" nowrap style="width:180px;" onclick="showResearchTab('statistics', 'brown');">
      <%= t('menu.statistics') %>
    </td>
    <td id="tab_all" class="td_item_tab" nowrap style="width:180px;" onclick="showResearchTab('all', 'blue');">
      <%= t('msg.all_records') %>
    </td>
  </tr>
</table>

<div id="tab_div_statistics">
  <table cellspacing="0" cellpadding="0" style="width:100%; margin-bottom:15px; border:solid 5px peru;">
    <tr>
      <td>
        <div id="div_research_lists" style="overflow:auto;">
      <% if @ans_hash.nil? or @ans_hash.empty? %>

        <table cellspacing="0" cellpadding="0" style="width:100%; height:80%;">
          <tr style="height:20%;"><td>&nbsp;</td></tr>
          <tr style="height:60%;">
            <td style="vertical-align:middle; text-align:center;" >
              <%= t('msg.no_data_to_display') %>
            </td>
          </tr>
          <tr style="height:20%;"><td>&nbsp;</td></tr>
        </table>

      <% else %>
          <table style="width:95%; margin:10px auto 0px; font-size:10pt; padding:5px; line-height:2.0;" cellspacing="5" cellpadding="0">
<%
groups_cache = Hash.new
@sum_groups.each do |group_id|
  child_ids = Group.get_childs(group_id, true, false)
  groups_cache[group_id] = child_ids
  groups_cache[group_id] << group_id.to_s
end
users_cache = Hash.new    # user_id => Array of group_ids
%>
            <% @ans_hash.each do |q_code, users_ans| %>
            <tr>
              <td style="width:1%; font-size:1pt; background-color:khaki;">&nbsp;</td>
              <td style="width:13%; color:brown; vertical-align:middle; text-align:center;" nowrap><%= q_code %>.</td>
              <td style="width:1%; font-size:1pt; background-color:khaki;">&nbsp;</td>
              <td style="width:1%;"></td>
              <td style="text-align:left;">
                <%
                if !@q_hash.nil? and !@q_hash[q_code].nil?
                  q_cap = @q_hash[q_code][:caption]
                  unless q_cap.nil? or q_cap.empty?
                %>
                  <span style="color:blueviolet; font-weight:bold;"><%= q_cap %></span>
                <%
                  end
                end
                users_ans.delete_if {|user_id, ans| ans.nil? or ans.empty? }

                if users_ans.nil? or users_ans.empty?
                %>
                  <%= t('paren.no_valid_values')%>
                <%
                else
                  if users_cache.empty?
                    users_ans.each do |user_id, ans|
                      users_cache[user_id] = [] 
                      @sum_groups.each do |group_id|
                        begin
                          user_groups = User.find(user_id).get_groups_a
                          unless (user_groups & groups_cache[group_id]).empty?
                            users_cache[user_id] << group_id
                          end
                        rescue => evar
                          Log.add_error(request, evar)
                        end
                      end
                    end
                  end

                  unless @q_hash.nil? or @q_hash[q_code].nil?
                    q_type = @q_hash[q_code][:type]
                  end

                  @votes_hash = {}
                  users_ans.each do |user_id, ans|

                    if q_type == 'checkbox'

                      ans.split("\n").each do |choice|
                        @votes_hash[choice] = Hash.new(0) if @votes_hash[choice].nil?
                        @votes_hash[choice][0] += 1    # Total
                        @sum_groups.each do |group_id|
                          if users_cache[user_id].include?(group_id)
                            @votes_hash[choice][group_id] += 1    # Sum by Group
                          end
                        end
                      end

                    else

                      @votes_hash[ans] = Hash.new(0) if @votes_hash[ans].nil?
                      @votes_hash[ans][0] += 1    # Total
                      @sum_groups.each do |group_id|
                        if users_cache[user_id].include?(group_id)
                          @votes_hash[ans][group_id] += 1    # Sum by Group
                        end
                      end
                    end
                  end

                  @votes_hash = @votes_hash.sort_by { |key, hash| -1*(hash[0]) }

                  if q_type == 'textarea'
                %>
                <ul style="padding-left:15px;">
                <%
                    users_ans.each do |user_id, ans|

                      unless ans.nil?
                        ans.split("\n").each do |val|
                %>
                  <li><%= val %><br/>
                <%
                        end
                      end
                    end
                %>
                </ul>
                <% else %>
                  <%= render(:partial => 'sum_table') %>
                <%
                  end
                end
                %>
              </td>
            </tr>
            <tr style="height:5px;"><td></td></tr>
            <% end %>
          </table>
      <% end %>
        </div>
      </td>
    </tr>
    <tr style="height:20px;"><td></td></tr>
    <tr>
      <td>
        <table style="margin:0px auto 10px;" cellspacing="0" cellpadding="0">
          <tr>
            <td class="img_button_td" onclick="onHistoryBackClicked();">
              <%= t('btn.back') %>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>

<div id="tab_div_all" style="display:none;">
  <table cellspacing="0" cellpadding="0" style="width:100%; margin-bottom:15px; border:solid 5px cornflowerblue;">
    <tr>
      <td>
        <div id="div_research_records" style="overflow:auto;">
          <%= render(:partial => 'ajax_statistics_records') %>
        </div>
      </td>
    </tr>
    <tr style="height:20px;"><td></td></tr>
    <tr>
      <td>
        <table style="margin:0px auto 10px;" cellspacing="0" cellpadding="0">
          <tr>
            <td class="img_button_td" onclick="onHistoryBackClicked();">
              <%= t('btn.back') %>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>

<script type="text/javascript">

function showResearchTab(name, bgcolor)
{
  var nameArray = new Array("statistics", "all");
  showTab(name, nameArray, bgcolor);
}

showResearchTab("statistics", "brown");


function showGroupTreeToSelect(group_id)
{
  var thetisBox = new ThetisBox;
  thetisBox.progress = true;
  thetisBox.setFormTag("<form action=\"<%= url_for(:controller => 'researches', :action => 'get_records_group') %>\" onsubmit=\"new Ajax.Updater('div_research_records', this.action, {method:'get', asynchronous:true, evalScripts:true, onComplete:function(request){__thetisBoxProgress.remove();}, parameters:Form.serialize(this)}); return false;\">");
  thetisBox.show("CENTER", "", "TREE", "", "<%= t('group.select_to_show')%>", "");
  thetisBox.setTree("<%= url_for(:controller => 'groups', :action => 'ajax_get_tree') %>", group_id);
}

function onHistoryBackClicked()
{
  prog("TOP-RIGHT");
  location.href = "<%= url_for(:controller => 'history', :action => 'back') %>";
}

</script>
