<% HistoryHelper.set_back(request) %>

<%= form_tag( {:controller => 'config', :action => 'update_by_ajax'}, :name => 'form_log_config', :method => 'post') %>

<table width="100%" cellspacing="0" cellpadding="0">
  <tr height="10"><td></td></tr>
  <tr>
    <td width="49%" valign="top">

      <div class="info_area" style="width:100%; padding-top:15px; padding-bottom:15px;" align="center">
        <table align="center" width="85%" cellpadding="0" cellspacing="2">
          <tr>
            <td class="item_cap_td" nowrap style="width:100%;" colspan="2">
              <%=h t('menu.settings') %>
            </td>
          </tr>
          <tr>
            <td class="item_cap_td" nowrap><%=h t('log.max_num') %></td>
            <td class="item_value_td">
              <input type="text" id="log_max_num" name="log[max_num]" value="<%=h @yaml[:log]['max_num'] %>" style="ime-mode:disabled" />
            </td>
          </tr>
          <tr height="10"><td></td></tr>
          <tr>
            <td style="width:100%;" colspan="2" align="right">
              <input type="button" style="width:100px;" value="<%=h t('btn.save') %>" onclick="doUpdateConfig();">
            </td>
          </tr>
        </table>
      </div>

    </td>
    <td width="10">&nbsp;</td>
    <td width="49%" valign="top">


    </td>
  </tr>
</table>

</form>

<table align="center" cellspacing="0" cellpadding="0">
  <tr height="20"><td></td></tr>
  <tr>
    <td class="img_button_td" onclick="prog('TOP-RIGHT'); location.href='<%= url_for :controller => 'history', :action => 'back' %>';">
      <%=h t('btn.back') %>
    </td>
  </tr>
  <tr height="10"><td></td></tr>
</table>
<br/>

<script type="text/javascript">

function doUpdateConfig()
{
  var val = $("log_max_num").value;
  if (isNaN(val)) {
    msg("<%=h t('log.max_num') %><%=h t('msg.must_be_numeric') %>");
    return;
  }

  var thetisBox = prog("TOP-RIGHT");

  new Ajax.Request(
              document.form_log_config.action,
              {
                asynchronous:true,
                evalScripts:true,
                parameters:Form.serialize(document.form_log_config),
                onComplete:function(request) {

                  thetisBox.remove();

                  if (request.responseText == "") {
                    tips("<%=h t('msg.update_success')%>");
                  } else {
                    msg("<%=h t('msg.system_error')%><br/>"+request.responseText);
                  }
                }
              }
            );
  return true;
}
</script>

