
<%= hidden_field('email', 'id') %>

<table width="100%" cellspacing="0" cellpadding="0">
  <tr height="15"><td></td></tr>
  <tr>
    <td style="min-width:80px; width:80px; text-align:center; font-weight:bold;">
      <%= t('cap.sender') %>
    </td>
    <td align="left">

      <% if @mail_account.nil? %>
        <b style="color:red;"><%= t('msg.configure_mail_account') %></b>
      <%
      else
        opts = []
        mail_accounts = MailAccount.find_all("user_id=#{@login_user.id}")
        mail_accounts.each do |account|
          opts << [account.get_from_exp + ' ' + t('paren.round.enclose', :name => account.get_title), account.id]
        end
      %>
        <%= select_tag('mail_account_id', options_for_select(opts, @mail_account.id), :style => 'width:80%;') %>
      <% end %>
    </td>
  </tr>
  <tr height="10"><td></td></tr>
  <tr>
    <td style="text-align:center; font-weight:bold;">
      <%= t('cap.send_to') %><%= t('cap.suffix') %>
    </td>
    <td align="center">

      <table width="100%" cellspacing="0" cellpadding="0">
        <tr>
          <td align="center" nowrap>
            <select id="addresses_selected" name="addresses[]" class="select_multi" size="5" multiple="multiple">
            <%
            unless @email.nil?
            %>
              <%
              unless @email.to_addresses.nil?
                @email.to_addresses.split(Email::ADDRESS_SEPARATOR).each do |addr|
              %>
              <option value="<%= Email::ADDR_PREFIX_TO %><%= addr %>"><%= t('cap.to') %> <%= addr %></option>
              <%
                end
              end
              %>
              <%
              unless @email.cc_addresses.nil?
                @email.cc_addresses.split(Email::ADDRESS_SEPARATOR).each do |addr|
              %>
              <option value="<%= Email::ADDR_PREFIX_CC %><%= addr %>"><%= t('cap.cc') %> <%= addr %></option>
              <%
                end
              end
              %>
              <%
              unless @email.bcc_addresses.nil?
                @email.bcc_addresses.split(Email::ADDRESS_SEPARATOR).each do |addr|
              %>
              <option value="<%= Email::ADDR_PREFIX_BCC %><%= addr %>"><%= t('cap.bcc') %> <%= addr %></option>
              <%
                end
              end
              %>
            <% end %>
            </select>
          </td>
          <td width="30" align="center" style="vertical-align:middle; line-height:17px;">
            <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/edit.gif" title="<%= t('btn.edit') %>" onclick="onShowPanelSendToClicked()" style="cursor:pointer; margin-bottom:3px;" /><br/>
            <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/delete.gif" title="<%= t('btn.remove') %>" onclick="removeAddress()" style="cursor:pointer; margin-bottom:3px;" /><br/>
            <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/dropup.gif" title="<%= t('btn.upper') %>" onclick="onAddrUpperClicked()" style="cursor:pointer; margin-bottom:3px;" /><br/>
            <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/dropdown.gif" title="<%= t('btn.lower') %>" onclick="onAddrLowerClicked()" style="cursor:pointer;" /><br/>
          </td>
        </tr>
      </table>

    </td>
  </tr>
  <tr height="10"><td></td></tr>
  <tr>
    <td style="text-align:center; font-weight:bold;">
      <%= t('cap.subject') %>
    </td>
    <td align="left">
      <%= text_field('email', 'subject', :size => '43', :style => 'width:80%;') %>
    </td>
  </tr>
  <tr height="10"><td></td></tr>
  <tr>
    <td valign="top" style="text-align:center; font-weight:bold;">
      <%= t('cap.mail_body') %><br/>
    </td>
    <td align="left">
      <%= text_area('email', 'message', :rows => '10', :style => 'width:95%;') %>
    </td>
  </tr>
</table>

<%= render(:partial => 'common/flash_notice') %>


<script type="text/javascript">

var thetisBoxSendTo = null;

onShowPanelSendToClicked = function()
{
  if (thetisBoxSendTo != null) {
    thetisBoxSendTo.remove();
    thetisBoxSendTo = null;
  }
  thetisBoxSendTo = new ThetisBox;
  thetisBoxSendTo.bgcolor_title = "#8DB7EB";
  thetisBoxSendTo.bgcolor_body = "aliceblue";
  thetisBoxSendTo.bgcolor_content = "aliceblue";
  thetisBoxSendTo.border_content = "";

  var addParams = new Array();
<% unless @mail_account.nil? %>
  addParams.push("mail_account_xtype=<%= @mail_account.xtype %>");
<% end %>

  var thetisBoxProgress = prog("TOP-RIGHT");
  new Ajax.Request(
        "<%= url_for(:controller => 'send_mails', :action => 'edit_send_to') %>",
        {
          method:"get",
          asynchronous:true,
          evalScripts:true,
          parameters:addParams.join("&"),
          onComplete:function(request){
            thetisBoxProgress.remove();

            thetisBoxSendTo.title = "<%= t('cap.send_to') %>";
            if (thetisBoxMailForm) {
              thetisBoxMailForm.addChildBox(thetisBoxSendTo);
            }
            thetisBoxSendTo.show(
                      "TOP-LEFT",
                      "550,+340",
                      "TRAY",
                      "",
                      "",
                      request.responseText.stripScripts()
                    );
            request.responseText.evalScripts();
          }
        }
      );
}

_prepareMoveListItems = function(list)
{
  var selOptions = new Array();
  var firstIdx = -1;

  for (var i=0; i < list.options.length; i++) {

    var option = list.options[i];

    if (option.selected == true) {
      selOptions.push(option);

      if (firstIdx < 0) {
        firstIdx = i;
      }
    }
  }
  deleteList(list);

  return new Array(firstIdx, selOptions);
}

onAddrUpperClicked = function()
{
  var list = _z("addresses_selected");
  var moveParams = _prepareMoveListItems(list);

  var firstIdx = moveParams[0];
  var selOptions = moveParams[1];

  if (firstIdx < 0) {
    return;
  }

  var insertIdx = firstIdx;
  if (insertIdx > 0) {
    insertIdx--;
  }

  for (var i=0; i < selOptions.length; i++) {
    list.options.add(selOptions[i], insertIdx++);
  }
}

onAddrLowerClicked = function()
{
  var list = _z("addresses_selected");
  var moveParams = _prepareMoveListItems(list);

  var firstIdx = moveParams[0];
  var selOptions = moveParams[1];

  if (firstIdx < 0) {
    return;
  }

  var insertIdx = firstIdx + 1;

  for (var i=0; i < selOptions.length; i++) {
    list.options.add(selOptions[i], insertIdx++);
  }
}

</script>
