
<% if @email.nil? or @email.id.nil? %>
  <table align="center" width="90%" cellspacing="0" cellpadding="0">
    <tr>
      <td align="left">
        <%= t('cap.attach_file') %>&nbsp;
        <%= file_field_tag 'attach_file', :style => 'width:80%;' %>
      </td>
    </tr>
  </table>
<% else %>
  <table align="center" width="90%" cellspacing="0" cellpadding="0">
    <tr>
      <td align="left">
        <%= t('cap.attach_file') %>&nbsp;
        <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/file_add.gif" alt="<%=h t('btn.add') %>" title="<%=h t('btn.add') %>" onclick="attachFile();" />
      </td>
    </tr>
    <tr>
      <td style="border:solid 1px gray; padding:5px;">
        <% if @email.mail_attachments.nil? or @email.mail_attachments.empty? %>
          <%= t('paren.not_specified') %><br/>
        <% else %>
          <% @email.mail_attachments.each do |attach| %>
            <span id="sendmail_attach_<%= attach.id %>">
              <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/file.gif"> <%= attach.name %>
              &nbsp;<img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/delete.gif" alt="<%=h t('btn.delete') %>" title="<%=h t('btn.delete') %>" onclick="doDeleteAttachment('sendmail_attach_<%= attach.id %>', <%= attach.id %>, '<%= ApplicationHelper.h_s_quote(attach.name) %>'); return false;" />
            </span><br/>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% unless @email.mail_attachments.nil? or @email.mail_attachments.empty? %>
    <tr>
      <td align="right" style="color:dimgray;">
        <%= t('paren.round.left') %><%= t('msg.total') %> <%= ApplicationHelper.float_exp(@email.get_attach_size / 1024.0, 2) %> KB<%= t('paren.round.right') %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>

<%= render :partial => 'common/flash_notice' %>
