
<% login_user = session[:login_user] %>

<%= form_tag({:controller => 'send_mails', :action => 'save'}, :method => 'post', :name => 'form_send_mail'+form_idx) %>
<div id="div_sendmail_content">
  <%= render :partial => 'ajax_mail_content', :object => @email %>
</div>
</form>

<%= form_tag({:controller => 'send_mails', :action => 'add_attachment'}, :method => 'post', :name => 'form_sendmail_attach'+form_idx, :enctype => 'multipart/form-data') %>
<table width="100%" cellspacing="0" cellpadding="0">
  <tr height="10"><td></td></tr>
  <tr>
    <td align="center">
      <div id="div_sendmail_attach" width="100%" style="text-align:left;">
        <%= render :partial => 'ajax_mail_attachments', :object => @email %>
      </div>
    </td>
  </tr>
  <tr height="30"><td></td></tr>
</table>
</form>


<script type="text/javascript">

showAddressTab = function(name)
{
  var nameArray = new Array("direct", "addressbook");

  var tab = null;
  for (i=0; i<nameArray.length; i++) {
    tab = $("tab_"+nameArray[i]);
    if (tab != null) {
      tab.style.cursor = "pointer";
      tab.style.backgroundColor = "";   // Not bgColor but style.backgroundColor for initial display.
    }
  }
  var target_tab = $("tab_"+name);
  target_tab.style.cursor = "default";
  var bg = target_tab.bgColor;

  for (i=0; i<nameArray.length; i++) {
    tab = $("tab_"+nameArray[i]);
    if (tab != null) {
      tab.bgColor = "silver";
    }
  }

  target_tab.bgColor = bg;

  for (i=0; i<nameArray.length; i++) {
    div = $("div_"+nameArray[i]);
    if (div != null) {
      div.style.display = "none";
    }
  }

  div = $("div_"+name);
  div.style.visibility = "visible";
  div.style.display = "inline";

  if (name == "direct") {
    $("addr_direct").focus();
  }
}

showAddressTab("direct");


addAddress = function(valPrefix, textPrefix)
{
  if ($("div_direct").style.display != "none") {

    var dst = $("addresses_selected");
    var addr_direct = $("addr_direct").value;

    var duplex = false;
    for (var k=0; k<dst.length; k++) {
      if (dst.options[k].value == valPrefix+addr_direct) {
        dst.options[k].text = textPrefix+addr_direct;
        duplex = true;
        break;
      }
    }
    if (!duplex) {
      dst.options[dst.length++] = new Option(textPrefix+addr_direct, valPrefix+addr_direct);
    }
    $("addr_direct").value = "";

  } else if ($("div_addressbook").style.display != "none") {
    moveListWithPrefix($("address_candidates"), $("addresses_selected"), valPrefix, textPrefix)
  }
}

removeAddress = function()
{
  moveListTrimPrefix($("addresses_selected"), $("address_candidates"), "<%= Email::ADDR_PREFIX_SEPARATOR %>", ": ");
}

var thetisBoxSaveProgress = new ThetisBox;
var saveFuncs = null;
var saveFuncsIdx = 0;

doSend = function()
{
  if ($("addresses_selected").length <= 0) {
    msg("<%= t('msg.specify_to_address') %>");
    return;
  }

  confm("<%= t('mail.confirm_to_send') %>", "_doSend()");
}

_doSend = function()
{
  doSave(true);
}

var _do_send = false;

doSave = function(do_smtp)
{
  if (saveFuncsIdx > 0) {
    msg("<%=h t('mail.being_saved') %>");
    return;
  }

  _need_update = true;

  _do_send = do_smtp;
  saveFuncs = new Array();

  // Basic
  saveFuncs.push(
        function() {
          selectListAll($("addresses_selected"));

          var frm = document.form_send_mail<%= form_idx %>;
          var target_id = "div_sendmail_content";
          var func_complete = function(){ onSaveComplete("basic") };
          var func_error = function(){ onSaveError("basic") };

          new Ajax.Updater(
                    target_id,
                    frm.action + "?id="+$("email_id").value,
                    {
                      asynchronous:true,
                      evalScripts:true,
                      onComplete:function(request){
                                    if (showErrorMsg($(target_id)) == true) {
                                      setTimeout(func_error, 10);
                                    } else {
                                      setTimeout(func_complete, 10);
                                    }
                                    showAddressTab("direct");
                                  },
                      parameters:Form.serialize(frm)
                    }
                  );
        }
      );

  // Attachment
  var attach_file = $("attach_file");
  if (attach_file && attach_file.value.length > 0) {
    saveFuncs.push(
          function() {
            var frm = document.form_sendmail_attach<%= form_idx %>;
            ajaxUploadFile(
                    frm,
                    frm.action + "?id="+$("email_id").value,
                    "div_sendmail_attach",
                    function(){ onSaveComplete("attachment") },
                    function(){ onSaveError("attachment") }
                  );
          }
        );
  }

  if (_do_send) {
    saveFuncs.push(
          function() {
            var frm = document.form_send_mail<%= form_idx %>;
            new Ajax.Request(
                        "<%= url_for(:controller => 'send_mails', :action => 'do_send') %>?id="+$("email_id").value,
                        {
                          asynchronous:true,
                          evalScripts:true,
                          onComplete:function(request){
                            request.responseText.evalScripts();
                            onSaveComplete("send")
                          },
                          parameters:"authenticity_token=<%= form_authenticity_token %>"
                        }
                      );
          }
        );
  }

  if (saveFuncs.length > 0) {
    thetisBoxSaveProgress.show("TOP-RIGHT", "", "PROGRESS", "", "", "");
    setTimeout("onSaveComplete('start')", 10);
  }
}

onSaveComplete = function(tab_name)
{
  if (saveFuncsIdx < saveFuncs.length) {
    saveFuncs[saveFuncsIdx++]();
  } else {
    saveFuncsIdx = 0;
    thetisBoxSaveProgress.remove();
    if (_do_send) {
      thetisBoxMailForm.remove();
    } else {
      tips("<%=h t('msg.save_success') %>");
    }
  }
}

onSaveError = function(tab_name)
{
  saveFuncsIdx = 0;
  thetisBoxSaveProgress.remove();
}


var thetisBoxAttachFile = null;

attachFile = function()
{
  if (thetisBoxAttachFile != null){
    thetisBoxAttachFile.remove();
    thetisBoxAttachFile = null;
  }

  var content = getFileSelector("onFileSelectOK()", "onFileSelectCancel()", "<%= t('btn.ok') %>", "<%= t('btn.cancel') %>", "<%= form_authenticity_token %>", "attach_file");

  thetisBoxAttachFile = new ThetisBox;
  thetisBoxAttachFile.title = "<%=h t('item.attach_file') %>";
  thetisBoxAttachFile.overflow = "hide";
  thetisBoxAttachFile.show("CENTER", "400,200", "TRAY", "", "", content);
}

onFileSelectOK = function()
{
  _need_update = true;

  var thetisBoxProgress = prog("TOP-RIGHT");

  ajaxUploadFile(
          document.form_file,
          "<%= url_for(:controller => 'send_mails', :action => 'add_attachment') %>?id="+$("email_id").value,
          "div_sendmail_attach",
          function(){
            thetisBoxProgress.remove();

            thetisBoxAttachFile.remove();
            thetisBoxAttachFile = null;
          },
          function(){
            thetisBoxProgress.remove();
            msg("<%=h t('msg.system_error')%>");

            thetisBoxAttachFile.remove();
            thetisBoxAttachFile = null;
          }
        );
}

onFileSelectCancel = function()
{
  thetisBoxAttachFile.remove();
  thetisBoxAttachFile = null;
}

doDeleteAttachment = function(div_id, attach_id, title)
{
  confm("<%= h t('paren.square.left') %>"+title+"<%= h t('msg.confirm_to_delete') %>", "_doDeleteAttachment('"+div_id+"', "+attach_id+")");
}

_doDeleteAttachment = function(div_id, attach_id)
{
  _need_update = true;

  var thetisBoxProgress = prog("TOP-RIGHT");

  new Ajax.Updater(
        "div_sendmail_attach",
        "<%= url_for :controller => 'send_mails', :action => 'delete_attachment', :id => (@email)?(@email.id):nil %>",
        {
          parameters:"attachment_id="+attach_id+"&authenticity_token=<%= form_authenticity_token %>",
          asynchronous:true,
          evalScripts:true,
          onComplete:function(request) {
            thetisBoxProgress.remove();
            removeElem($(div_id));
          }
        }
     );
}

</script>
