
<%= form_tag( {:controller => 'teams', :action => 'list'}, :method => 'post', :name => 'form_list') %>

<table align="center"width="95%" cellspacing="3" cellpadding="0">
  <tr>
    <td align="center" rowspan="3" width="30%">

    </td>
    <td width="10" rowspan="3">&nbsp;</td>
    <td align="right" nowrap>
      <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/search.gif" alt="<%= t('cap.search_keywords') %>">&nbsp;<%= text_field_tag 'keyword', params[:keyword] %>
<% unless session[:login_user].nil? %>
  <%= t('cap.targets') %> <%= select_tag 'filter',
                           options_for_select([[h(t('team.all')), 'all'],
                                              [h(Team.status_name(Team::STATUS_STANDBY)), Team::STATUS_STANDBY],
                                              [h(Team.status_name(Team::STATUS_ACTIVATED)), Team::STATUS_ACTIVATED], 
                                              [h(Team.status_name(Team::STATUS_DEACTIVATED)), Team::STATUS_DEACTIVATED]], 
                                              params[:filter])
            %>
<% end %>
      <input type="button" value="<%= t('btn.search') %>" onClick="form_list.action='<%= url_for(:controller => 'teams', :action => 'search') %>'; prog('TOP-RIGHT'); form_list.submit();"/>
      <input type="button" value="<%= t('btn.reset') %>" onClick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'teams', :action => 'list') %>';"/>
    </td>
  </tr>
  <tr height="2"><td></td></tr>
  <tr>
    <td align="right">

    </td>
  </tr>
  <tr height="0"><td></td></tr>
</table>

<table width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td class="pagination_td" align="center">
      <%= t('cap.total') %><%= t('team', :count => @total_num) %>
      <%
      prms = ApplicationHelper.dup_hash(params)
      prms.delete('authenticity_token')
      pagination = will_paginate(@team_pages, :params => prms)
      pagination = ApplicationHelper.custom_pagination(pagination)
      %>
      <%= pagination %>
    </td>
  </tr>
  <tr height="10"><td></td></tr>
</table>

<div id="div_teams" style="overflow:scroll; background-color:white;">
<table id="list_teams" width="100%" cellpadding="0" cellspacing="1">
  <tr>
    <th class="list_sort" width="5%"  nowrap onClick="sortList('teams.id')"><%= t('activerecord.attributes.id') %><span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('teams.id', @sort_col, @sort_type)) %></span></th>
    <th class="list_sort" width="30%" nowrap onClick="sortList('name')"><%= Team.human_attribute_name('name') %><span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('name', @sort_col, @sort_type)) %></span></th>
    <th class="list_th" width="28%" nowrap><%= t('team.team_folder') %></th>
    <th class="list_sort" width="12%" nowrap onClick="sortList('status')"><%= Team.human_attribute_name('status') %><span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('status', @sort_col, @sort_type)) %></span></th>
    <th class="list_th" width="20%" nowrap><%= t('msg.members') %></th>
  </tr>
<%
users_cache = {}
%>
<% @teams.each_with_index do |team, idx| %>
  <% td_class = (idx % 2 == 1) ? 'list_td_on' : 'list_td_off' %>
  <tr height="33">
    <td class="<%= td_class %>" nowrap style="text-align:right;"><%=h team.id %></td>
    <td align="left" nowrap class="<%= td_class %>">
      <a class="a_underline" href="#" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'items', :action => 'show', :id => team.item_id) %>#team'; return false;">
    <% if team.need_req_to_del?(true) %>
        <span style="color:red;">
          <%=h truncate(team.name, :length => 20) %>
        </span>
      </a>
      <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/info.gif" onclick="showRequestToDel();">
    <% else %>
        <%=h truncate(team.name, :length => 20) %>
      </a>
    <% end %>
    </td>
    <td class="<%= td_class %>" nowrap>
      <%
      team_folder = team.get_team_folder
      unless team_folder.nil?
      %>
      <%=h truncate(team_folder.get_path, :length => 20) %>
      <% end %>
    </td>
    <td class="<%= td_class %>" nowrap style="text-align:center;"><%=h team.get_status_name %></td>
    <td class="<%= td_class %>" nowrap>
    <% team.get_users_a.each do |user_id| %>
      <%=h truncate(User.get_name(user_id, users_cache), :length => 20) %><br/>
    <% end %>
    </td>
<!--
    <td class="<%=td_class %>" nowrap style="text-align:center;">
      <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/edit.gif" alt="<%= t('btn.edit') %>" title="<%= t('btn.edit') %>" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'teams', :action => 'edit', :id => team.id) %>';" />
    </td>
-->
    <td class="<%=td_class %>" nowrap style="text-align:center;">
      <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/delete.gif" alt="<%= t('btn.delete') %>" title="<%= t('btn.delete') %>" onclick="doDelete('<%=ApplicationHelper.h_s_quote truncate(team.name, :length => 20)%>', <%= team.id %>); return false;" />
    </td>
  </tr>
<% end %>
</table>
</div>

<%= hidden_field_tag('sort_col', params[:sort_col]) %>
<%= hidden_field_tag('sort_type', params[:sort_type]) %>
<%= hidden_field_tag('folder_id', @folder_id) %>

</form>

<script type="text/javascript">
<!--
function sortList(col)
{
  var type = "<%= @sort_type %>";

  if (col == "<%= @sort_col %>") {
    type = (type == "ASC") ? "DESC" : "ASC";
  }

  prog("TOP-RIGHT");
  document.form_list.sort_col.value = col;
  document.form_list.sort_type.value = type;
  document.form_list.submit();
}

function doDelete(name, team_id)
{
  confm("<div style='padding-bottom:10px;'><%= t('paren.square.left') %>"+name+"<%= t('team.confirm_to_delete') %></div><div style='padding-bottom:10px;'><%= t('folder.delete_team_folder_info2') %></div><%= t('msg.confirm_sure') %>", "_doDelete("+team_id+")");
}

function _doDelete(team_id)
{
  prog("TOP-RIGHT");
  document.form_list.action = "<%= url_for(:controller => 'teams', :action => 'destroy') %>?id=" + team_id;
  document.form_list.submit();
}

function showRequestToDel()
{
  msg("<%= raw(t('team.request_to_delete')).gsub("\n", '<br/>') %>");
}

//-->
</script>

