
<%= form_tag( {:controller => 'config', :action => 'update_by_ajax'}, :name => 'form_log_config', :method => 'post') %>

<table style="width:100%; margin-top:10px;">
  <tr>
    <td style="width:49%; vertical-align:top;" >

      <div class="info_area" style="width:100%; padding:15px 0px; text-align:center;" >
        <table style="margin:0px auto; width:85%; border-spacing:2px;">
          <tr>
            <td class="item_cap_td" nowrap style="width:100%;" colspan="2">
              <%= t('menu.settings') %>
            </td>
          </tr>
          <tr>
            <td class="item_cap_td" nowrap>
              <%= t('log.max_num') %>
            </td>
            <td class="item_value_td">
              <input type="text" id="log_max_num" name="log[max_num]" value="<%= YamlHelper.get_value(@yaml, 'log.max_num', nil) %>" style="ime-mode:disabled" />
            </td>
          </tr>
          <tr style="height:10px;"><td></td></tr>
          <tr>
            <td style="width:100%; text-align:right;" colspan="2">
              <input type="button" style="width:100px;" value="<%= t('btn.save') %>" onclick="doUpdateConfig();">
            </td>
          </tr>
        </table>
      </div>

    </td>
    <td style="width:10px;">&nbsp;</td>
    <td style="width:49%; vertical-align:top;">


    </td>
  </tr>
</table>

</form>

<table style="margin:20px auto 10px;">
  <tr>
    <td class="img_button_td" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'history', :action => 'back') %>';">
      <%= t('btn.back') %>
    </td>
  </tr>
</table>
<br/>

<script type="text/javascript">

function doUpdateConfig()
{
  var val = _z("log_max_num").value;
  if (isNaN(val)) {
    msg("<%= t('log.max_num') %><%= t('msg.must_be_numeric') %>");
    return;
  }

  var thetisBoxProgress = prog("TOP-RIGHT");

  new Ajax.Request(
      document.form_log_config.action,
      {
        parameters:Form.serialize(document.form_log_config),
        onComplete:function(request) {

          thetisBoxProgress.remove();

          if (request.responseText == "") {
            tip("<%= t('msg.update_success')%>");
          } else {
            msg("<%= t('msg.system_error')%><br/>"+request.responseText);
          }
        }
      }
    );
  return true;
}
</script>

