
<%= form_tag( {:controller => 'logs', :action => 'search'}, :method => 'get', :name => 'form_list') %>

<table style="width:100%; margin:0px 0px 5px;">
  <tr>
    <td nowrap style="width:1%; text-align:left;">
      <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/config.png" title="<%= t('btn.config') %>" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'logs', :action => 'configure') %>';">
    </td>
    <td style="text-align:right;">
      <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/search.gif" title="<%= t('cap.search_keywords') %>">
      &nbsp;<%= text_field_tag 'keyword', params[:keyword] %>
<%
unless @login_user.nil?
  opts = []
  opts << [h(t('log.all')),'all']
  opts << [h(t('btn.login')),'login']
  opts << [h(t('menu.desktop')),'desktop']
  opts << [h(t('menu.items')),'items']
  opts << [h(t('folder.plural')),'folders']
  opts << [h(t('menu.schedules')),'schedules']
  opts << [h(t('menu.equipment')),'equipment']
  opts << [h(t('user.plural')),'users']
  opts << [h(t('group.plural')),'groups']
  opts << [h(t('team.plural')),'teams']
  opts << [h(t('template.plural')),'templates']
  opts << [h(t('workflow.plural')),'workflows']
  opts << [h(t('research.plural')), 'researches']
  opts << [h(t('menu.mail')), 'emails']
  opts << [h(t('address.book')), 'addressbook']
  opts << [h(t('feed.cap')), 'feeds']
%>
  <%= t('cap.targets') %> <%= select_tag 'filter', options_for_select(opts, params[:filter]) %>
<% end %>
      <input type="button" value="<%= t('btn.search') %>" onclick="prog('TOP-RIGHT'); submit();"/>
      <input type="button" value="<%= t('btn.reset') %>" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'logs', :action => 'list') %>';"/>
    </td>
  </tr>
  <tr style="height:5px;"><td></td></tr>
  <tr>
    <td colspan="2" style="text-align:right;" nowrap>
        <input type="button" value="<%= t('btn.delete_all')%>" onclick="onClearLogClicked(); return false;">&nbsp;&nbsp;
        <input type="button" value="<%= t('btn.select_deselect_all')%>" onclick="selectAll(); return false;">
        <span style="color:silver;">|</span>
        <input type="button" value="<%= t('btn.delete')%>" onclick="onDeleteLogClicked(); return false;">
    </td>
  </tr>
</table>

<table style="width:100%; margin:0px 0px 10px;">
  <tr>
    <td class="pagination_td" style="text-align:center;">
      <%= t('cap.total') %><%= t('log', :count => @total_num) %>
      <%
      prms = ApplicationHelper.dup_hash(params)
      prms.delete('authenticity_token')
      prms.delete('check_log')
      prms['action'] = 'list'
      pagination = will_paginate(@log_pages, :params => prms)
      pagination = ApplicationHelper.custom_pagination(pagination)
      %>
      <%= raw(pagination) %>
    </td>
  </tr>
</table>

<div class="base_list" id="div_logs">
<table id="list_logs" style="width:100%; border-spacing:1px;">
  <tr>
    <th class="list_sort" style="width:5%;" nowrap onclick="sortList('logs.id')"><%= t('activerecord.attributes.id') %><span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('logs.id', @sort_col, @sort_type)) %></span></th>
    <th class="list_sort" style="width:22%;" nowrap onclick="sortList('updated_at')"><%= t('activerecord.attributes.updated_at') %><span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('updated_at', @sort_col, @sort_type)) %></span></th>
    <th class="list_sort" style="width:20%;" nowrap onclick="sortList('user_id')"><%= User.model_name.human %><span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('user_id', @sort_col, @sort_type)) %></span></th>
    <th class="list_sort" style="width:15%;" nowrap onclick="sortList('remote_ip')"><%= Log.human_attribute_name('remote_ip') %><span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('remote_ip', @sort_col, @sort_type)) %></span></th>
    <th class="list_sort" style="width:7%;"  nowrap onclick="sortList('log_type')"><%= Log.human_attribute_name('log_type') %><span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('log_type', @sort_col, @sort_type)) %></span></th>
    <th class="list_sort" style="width:28%;" nowrap onclick="sortList('access_path')"><%= Log.human_attribute_name('access_path') %><span class="sort_direction"><%= raw(ApplicationHelper.get_sort_direction_exp('access_path', @sort_col, @sort_type)) %></span></th>
  </tr>
<%
users_cache = {}
user_obj_cache = {}
@logs.each_with_index do |log, idx|
%>
  <% td_class = (idx % 2 == 1) ? 'list_td_on' : 'list_td_off' %>
  <tr style="height:33px;">
    <td class="<%= td_class %>" nowrap style="text-align:right;"><%= log.id %></td>
    <td class="<%= td_class %>" nowrap style="text-align:center;"><%= log.updated_at.strftime(THETIS_DATE_FORMAT_YMD+' %H:%M') %></td>
    <%
    user_exist = false
    user_name = ''
    unless log.user_id.nil?
      user_name = User.get_name(log.user_id, users_cache, user_obj_cache)
      user_exist = !user_obj_cache[log.user_id].nil?
    end
    if user_exist == false
    %>
      <td class="<%= td_class %>" style="color:crimson"><%= user_name %></td>
    <% else %>
      <% if @login_user.admin?(User::AUTH_USER) %>
        <td class="<%= td_class %>">
          <a class="a_underline" href="javascript:this.onclick()" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'users', :action => 'show', :id => log.user_id) %>'; return false;">
            <%= truncate(user_name, :length => 20) %>
          </a>
        </td>
      <% else %>
        <td class="<%= td_class %>"><%= truncate(user_name, :length => 20) %></td>
    <%
      end
    end
    %>
    <td class="<%= td_class %>" nowrap style="text-align:center;"><%= log.remote_ip %></td>
    <%
    type_color = 'black'
    type_color = 'blue' if log.info?
    type_color = 'red' if log.error?
    %>
    <td class="<%= td_class %>" nowrap style="text-align:center; color:<%= type_color %>"><%= log.log_type %></td>
    <td class="<%= td_class %>" nowrap><%= truncate(log.access_path, :length => 30) %></td>
    <td class="<%= td_class %>" nowrap style="text-align:center;">
      <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/zoom.gif" title="<%= t('btn.detail') %>" onclick="msg('<%= log.detail %>');">
    </td>
    <td class="<%= td_class %>" nowrap style="text-align:center;">
      <%= check_box(:check_log, log.id, :class => 'check_log') %>
    </td>
  </tr>
<% end %>
</table>
</div>

<%= hidden_field_tag('sort_col', params[:sort_col]) %>
<%= hidden_field_tag('sort_type', params[:sort_type]) %>

</form>

<script type="text/javascript">

function sortList(col)
{
  var type = "<%= @sort_type %>";

  if (col == "<%= @sort_col %>") {
    type = (type == "ASC") ? "DESC" : "ASC";
  }

  prog("TOP-RIGHT");
  document.form_list.action = "<%= url_for(:controller => 'logs', :action => 'list') %>";
  document.form_list.sort_col.value = col;
  document.form_list.sort_type.value = type;
  document.form_list.submit();
}

function selectAll()
{
  var elems = document.getElementsByClassName("check_log", document.form_list);
  var all_selected=true;
  for (var i=0; elems != null && i < elems.length; i++) {
    if (!elems[i].checked) {
      all_selected = false;
      break;
    }
  }
  for (var i=0; elems != null && i < elems.length; i++) {
    elems[i].checked = !all_selected;
  }
}

function onDeleteLogClicked()
{
  var elems = document.getElementsByClassName("check_log", document.form_list);
  var count=0;
  for (var i=0; elems!=null && i<elems.length; i++) {
    if (elems[i].checked) {
      count++;
    }
  }
  if (count <= 0) return;

  confm(count+"<%= t('log.confirm_to_delete') %>", "doDelete()");
}

function doDelete()
{
  prog("TOP-RIGHT");
  document.form_list.action = "<%= url_for(:controller => 'logs', :action => 'destroy') %>";
  document.form_list.method = "post";
  addInputHidden(document.form_list, null, "authenticity_token", "<%= form_authenticity_token %>");
  document.form_list.submit();
}

function onClearLogClicked()
{
  confm("<%= t('log.confirm_to_delete_all') %>", "doDeleteAll()");
}

function doDeleteAll()
{
  prog("TOP-RIGHT");
  document.form_list.action = "<%= url_for(:controller => 'logs', :action => 'destroy_all') %>";
  document.form_list.method = "post";
  addInputHidden(document.form_list, null, "authenticity_token", "<%= form_authenticity_token %>");
  document.form_list.submit();
}

</script>

