
<%= render(:partial => 'common/error', :locals => {:obj => @mail_account}) %>

<table cellspacing="0" cellpadding="0" style="width:100%;">
  <tr>
    <td style="text-align:center;">

      <table cellspacing="2" cellpadding="0" style="width:100%;">
        <tr>
          <td id="tab_basic" class="td_item_tab" nowrap onclick="showAddressTab('basic');">
            <%= t('cap.basic_info') %>
          </td>
          <td id="tab_receive" class="td_item_tab" nowrap onclick="showAddressTab('receive');">
            <%= t('mail.receive') %>
          </td>
          <td id="tab_send" class="td_item_tab" nowrap onclick="showAddressTab('send');">
            <%= t('mail.send') %>
          </td>
          <td><!-- SPACER --></td>
        </tr>
      </table>

    </td>
  </tr>
  <tr>
    <td style="text-align:center;">

      <div id="tab_div_basic" style="width:100%; text-align:center;">
        <table cellpadding="0" cellspacing="0" style="width:100%; border:outset 3px blueviolet;">
          <tr>
            <td style="text-align:center; padding:10px 0px 15px;">
              <table style="margin:0px auto; width:85%;"  cellpadding="0" cellspacing="2">
                <tr>
                  <td class="prim_cap_td" style="background-color:#C1BFFF;" nowrap>
                    <label for="mail_account_title"><%= MailAccount.human_attribute_name('title') %></label>
                    <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/info.gif" onclick="msg('<%= t('mail_account.title_info')%>');">
                  </td>
                  <td class="item_value_td">
                    <%= text_field('mail_account', 'title') %><sup style="color:red">*</sup>
                  </td>
                </tr>
<!--
                <tr>
                  <td class="prim_cap_td" style="background-color:#C1BFFF;" nowrap>
                    <label for="mail_account_is_default"><%= t('mail_account.default') %></label>
                  </td>
                  <td class="item_value_td">
                    <%= check_box('mail_account', 'is_default') %> <label for="mail_account_is_default"><%= MailAccount.human_attribute_name('is_default') %></label>
                  </td>
                </tr>
--><%= check_box('mail_account', 'is_default', :style => 'display:none;') %>
                <tr style="height:10px;"><td colspan="2"></td></tr>
                <tr>
                  <td class="prim_cap_td" style="background-color:#C1BFFF;" nowrap>
                    <label for="mail_account_from_name"><%= MailAccount.human_attribute_name('from_name') %></label>
                  </td>
                  <td class="item_value_td">
                    <%= text_field('mail_account', 'from_name') %>
                  </td>
                </tr>
                <tr>
                  <td class="prim_cap_td" style="background-color:#C1BFFF;" nowrap>
                    <label for="mail_account_from_address"><%= MailAccount.human_attribute_name('from_address') %></label>
                  </td>
                  <td class="item_value_td">
                    <%= text_field('mail_account', 'from_address', :style => 'ime-mode:disabled') %>
                  </td>
                </tr>
                <tr>
                  <td class="prim_cap_td" style="background-color:#C1BFFF;" nowrap>
                    <label for="mail_account_reply_to"><%= MailAccount.human_attribute_name('reply_to') %></label>
                  </td>
                  <td class="item_value_td">
                    <%= text_field('mail_account', 'reply_to', :style => 'ime-mode:disabled') %>
                  </td>
                </tr>
                <tr>
                  <td class="prim_cap_td" style="background-color:#C1BFFF;" nowrap>
                    <label for="mail_account_organization"><%= MailAccount.human_attribute_name('organization') %></label>
                  </td>
                  <td class="item_value_td">
                    <%= text_field('mail_account', 'organization') %>
                  </td>
                </tr>
              <% if THETIS_MAIL_LIMIT_NUM_PER_ACCOUNT > 0 %>
                <tr>
                  <td class="prim_cap_td" style="background-color:#C1BFFF;" nowrap>
                    <%= t('mail.limit_num_per_account') %>
                  </td>
                  <td class="item_value_td">
                    <%= THETIS_MAIL_LIMIT_NUM_PER_ACCOUNT %>
                  </td>
                </tr>
              <% end %>
              <% if THETIS_MAIL_CAPACITY_MB_PER_ACCOUNT > 0 %>
                <tr>
                  <td class="prim_cap_td" style="background-color:#C1BFFF;" nowrap>
                    <%= t('mail.capacity_per_account') %>
                  </td>
                  <td class="item_value_td">
                    <%
                    capacity_mb = (@mail_account.nil?)?(THETIS_MAIL_CAPACITY_MB_PER_ACCOUNT):(@mail_account.get_capacity_mb)

                    if @mail_account.nil?
                      cur_mb = 0
                    else
                      cur_mb = MailAccount.get_using_size(@mail_account.id)/(1024*1024)
                    end

                    if capacity_mb == 0
                      cur_percent = 100
                    else
                      cur_percent = ((cur_mb * 100) / capacity_mb)
                    end
                    %>
                    <%= capacity_mb %>MB (<%= t('mail.using') %> <%= cur_mb %>MB =<%= cur_percent %>%)
                  </td>
                </tr>
              <% end %>
              </table>
            </td>
          </tr>
        </table>
      </div>

      <div id="tab_div_receive" style="display:none; width:100%; text-align:center;">
        <table cellpadding="0" cellspacing="0" style="width:100%; border:outset 3px blueviolet;">
          <tr>
            <td style="text-align:center; padding:10px 0px 15px;">
              <table style="margin:0px auto; width:85%;"  cellpadding="0" cellspacing="2">
                <tr>
                  <td class="prim_cap_td" style="background-color:#C1BFFF;" nowrap>
                    <label for="mail_account_pop_server"><%= MailAccount.human_attribute_name('pop_server') %></label>
                  </td>
                  <td class="item_value_td">
                    <%= text_field('mail_account', 'pop_server', :style => 'ime-mode:disabled') %>
                  </td>
                </tr>
                <tr>
                  <td class="prim_cap_td" style="background-color:#C1BFFF;" nowrap>
                    <label for="mail_account_pop_port"><%= MailAccount.human_attribute_name('pop_port') %></label>
                  </td>
                  <td class="item_value_td">
                    <%= text_field('mail_account', 'pop_port', :style => 'ime-mode:disabled; width:80px;') %>
                  </td>
                </tr>
                <tr style="height:10px;"><td colspan="2"></td></tr>
                <tr>
                  <td class="prim_cap_td" style="background-color:#C1BFFF;" nowrap>
                    <label for="mail_account_pop_username"><%= MailAccount.human_attribute_name('pop_username') %></label>
                  </td>
                  <td class="item_value_td">
                    <%= text_field('mail_account', 'pop_username', :style => 'ime-mode:disabled') %>
                  </td>
                </tr>
                <tr>
                  <td class="prim_cap_td" style="background-color:#C1BFFF;" nowrap>
                    <label for="mail_account_pop_password"><%= MailAccount.human_attribute_name('pop_password') %></label>
                  </td>
                  <td class="item_value_td">
                    <input id="mail_account_pop_password" name="mail_account[pop_password]" size="30" type="password" value="<%= (@mail_account.nil?)?(nil):(@mail_account.pop_password) %>" />
                  </td>
                </tr>
                <tr style="height:10px;"><td colspan="2"></td></tr>
                <tr>
                  <td class="prim_cap_td" style="background-color:#C1BFFF;" nowrap>
                    <label for="mail_account_pop_secure_conn"><%= t('mail_account.secure_connection') %></label>
                  </td>
                  <td class="item_value_td">
                    <%= radio_button('mail_account', 'pop_secure_conn', MailAccount::POP_SECURE_CONN_NONE) %><label for="mail_account_pop_secure_conn_none"> <%= t('msg.none') %></label><br/>
<!--
                    <%= radio_button('mail_account', 'pop_secure_conn', MailAccount::POP_SECURE_CONN_STARTTLS) %><label for="mail_account_pop_secure_conn_starttls"> STARTTLS</label><br/>
-->
                    <%= radio_button('mail_account', 'pop_secure_conn', MailAccount::POP_SECURE_CONN_SSL_TLS) %><label for="mail_account_pop_secure_conn_ssl_tls"> SSL/TLS</label><br/>
                  </td>
                </tr>
                <tr>
                  <td class="prim_cap_td" style="background-color:#C1BFFF;" nowrap>
                    <label for="mail_account_pop_secure_auth"><%= t('mail_account.secure_auth') %></label>
                  </td>
                  <td class="item_value_td">
                    <%= radio_button('mail_account', 'pop_secure_auth', false) %><label for="mail_account_pop_secure_auth_false"> <%= t('msg.none') %></label><br/>
                    <%= radio_button('mail_account', 'pop_secure_auth', true) %><label for="mail_account_pop_secure_auth_true"> APOP</label><br/>
                  </td>
                </tr>
                <tr style="height:10px;"><td colspan="2"></td></tr>
                <tr>
                  <td class="prim_cap_td" style="background-color:#C1BFFF;" nowrap>
                    <label for="mail_account_remove_from_server"><%= t('mail.messages') %></label>
                  </td>
                  <td class="item_value_td">
                    <%= check_box('mail_account', 'remove_from_server', :disabled => true) %> <label for="mail_account_remove_from_server"><%= MailAccount.human_attribute_name('remove_from_server') %></label>
                    <span style="color:dimgray;">(Disabled)</span>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>

      <div id="tab_div_send" style="display:none; width:100%; text-align:center;">
        <table cellpadding="0" cellspacing="0" style="width:100%; border:outset 3px blueviolet;">
          <tr>
            <td style="text-align:center; padding:10px 0px 15px;">
              <table style="margin:0px auto; width:85%;" cellpadding="0" cellspacing="2">
                <tr>
                  <td class="prim_cap_td" style="background-color:#C1BFFF;" nowrap>
                    <label for="mail_account_smtp_server"><%= MailAccount.human_attribute_name('smtp_server') %></label>
                  </td>
                  <td class="item_value_td">
                    <%= text_field('mail_account', 'smtp_server', :style => 'ime-mode:disabled') %>
                  </td>
                </tr>
                <tr>
                  <td class="prim_cap_td" style="background-color:#C1BFFF;" nowrap>
                    <label for="mail_account_smtp_port"><%= MailAccount.human_attribute_name('smtp_port') %></label>
                  </td>
                  <td class="item_value_td">
                    <%= text_field('mail_account', 'smtp_port', :style => 'ime-mode:disabled; width:80px;') %>
                  </td>
                </tr>
                <tr style="height:10px;"><td colspan="2"></td></tr>
                <tr>
                  <td class="prim_cap_td" style="background-color:#C1BFFF;" nowrap>
                    <label for="mail_account_smtp_secure_conn"><%= t('mail_account.secure_connection') %></label>
                  </td>
                  <td class="item_value_td">
                    <%= radio_button('mail_account', 'smtp_secure_conn', MailAccount::SMTP_SECURE_CONN_NONE) %><label for="mail_account_smtp_secure_conn_none"> <%= t('msg.none') %></label><br/>
                    <%= radio_button('mail_account', 'smtp_secure_conn', MailAccount::SMTP_SECURE_CONN_STARTTLS) %><label for="mail_account_smtp_secure_conn_starttls"> STARTTLS</label><br/>
                    <%= radio_button('mail_account', 'smtp_secure_conn', MailAccount::SMTP_SECURE_CONN_SSL_TLS) %><label for="mail_account_smtp_secure_conn_ssl_tls"> SSL/TLS</label><br/>
                  </td>
                </tr>
                <tr style="height:10px;"><td colspan="2"></td></tr>
                <tr>
                  <td class="prim_cap_td" style="background-color:#C1BFFF;" nowrap>
                    <label for="mail_account_smtp_auth"><%= MailAccount.human_attribute_name('smtp_auth') %></label>
                  </td>
                  <td class="item_value_td">
                    <%= check_box('mail_account', 'smtp_auth', :onclick => '_z("div_smtp_auth").style.display=this.checked?"block":"none";') %> <label for="mail_account_smtp_auth"><%= t('mail_account.enable_auth') %></label>
                  </td>
                </tr>
                <tr>
                  <td colspan="2" style="padding-left:20px;">
                    <div id="div_smtp_auth" style="display:<%= (!@mail_account.nil? and @mail_account.smtp_auth)?'block':'none' %>">
                      <div style="padding-bottom:5px;">
                        <%= radio_button('mail_account', 'smtp_auth_method', 'plain') %><label for="mail_account_smtp_auth_method_plain">Plain</label>
                        <%= radio_button('mail_account', 'smtp_auth_method', 'login') %><label for="mail_account_smtp_auth_method_login">Login</label>
                        <%= radio_button('mail_account', 'smtp_auth_method', 'cram_md5') %><label for="mail_account_smtp_auth_method_cram_md5">CRAM MD5</label>
                      </div>

                      <table style="width:100%;" cellpadding="0" cellspacing="2">
                        <tr>
                          <td class="prim_cap_td" style="background-color:#C1BFFF;" nowrap>
                            <label for="mail_account_smtp_username"><%= t('user.u_name') %></label>
                          </td>
                          <td class="item_value_td">
                            <%= text_field('mail_account', 'smtp_username', :style => 'ime-mode:disabled;') %>
                          </td>
                        </tr>
                        <tr>
                          <td class="prim_cap_td" style="background-color:#C1BFFF;" nowrap>
                            <label for="mail_account_smtp_password"><%= t('password.name') %></label>
                          </td>
                          <td class="item_value_td">
                            <input id="mail_account_smtp_password" name="mail_account[smtp_password]" size="30" type="password" value="<%= (@mail_account.nil?)?(nil):(@mail_account.smtp_password) %>" />
                          </td>
                        </tr>
                      </table>
                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>

    </td>
  </tr>
</table>

<% unless params[:mail_account_xtype].nil? %>
<input type="hidden" name="mail_account_xtype" value="<%= params[:mail_account_xtype] %>" />
<% end %>
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />


<script type="text/javascript">

showAddressTab = function(name)
{
  var nameArray = new Array("basic", "receive", "send");

  showTab(name, nameArray, "slateblue");
}

showAddressTab("basic");


doRegisterAccount = function()
{
  var form = document.form_mail_account<%= form_idx %>;

  if (trim(_z("mail_account_title").value) == "") {
    msg("<%= t('mail_account.specify_title')%>");
    return;
  }

  var thetisBox = prog("TOP-RIGHT");
  form.submit();
/*
  new Ajax.Request(
              form.action,
              {
                method:"post",
                parameters:Form.serialize(form),
                asynchronous:true,
                evalScripts:true,
                onComplete:function(request){
                  thetisBox.remove();
                  request.responseText.evalScripts();

                  if (thetisBoxAccount) {
                    thetisBoxAccount.setOnClose("doUpdatePage()");
                  }
                }
              }
            );
*/
}

</script>
