
<table style="width:100%;">
  <tr>
    <td id="mail_body_view" style="vertical-align:top;">

<div class="mail_account_summary" id="div_mail_body" style="text-align:left; overflow:auto; padding:0px; background-color:#fafeff;">

<div style="background:url('<%= THETIS_RELATIVE_URL_ROOT %>/images/caption_bg.png') repeat-x center; padding:0px 10px; color:dimgray; border:solid 1px silver; text-align:left;">
  <%= render(:partial => 'mail_folders/list_form') %>
</div>

<div style="padding-left:10px;">
  <table style="width:100%;">
    <tr>
      <td nowrap style="width:80%; text-align:left; color:blueviolet;">
        <%= @mail_account.get_title %>
      </td>
      <td nowrap style="text-align:right;">
        <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/reload.png" title="<%= t('btn.update') %>" onclick="onRefreshAccountSummaryClicked(this); return false;" />
      </td>
    </tr>
  </table>


  <% if THETIS_MAIL_CAPACITY_MB_PER_ACCOUNT > 0 %>
  <table style="width:100%; padding:0px 10px 0px;">
    <tr style="height:18px;">
      <td nowrap style="width:80px; padding-right:5px; line-height:1.0; text-align:left; color:dimgray;">
        <%
        capacity_mb = (@mail_account.nil?)?(THETIS_MAIL_CAPACITY_MB_PER_ACCOUNT):(@mail_account.get_capacity_mb)
        cur_mb = MailAccount.get_using_size(@mail_account.id)/(1024*1024)
        %>
        &bull; <%= t('mail.using') %> <%= cur_mb %>MB
      </td>
      <td style="text-align:left;">
        <%
        if capacity_mb == 0
          cur_percent = 100
        else
          cur_percent = ((cur_mb * 100) / capacity_mb)
        end
        %>
        <table style="width:100%; border-collapse;collapse; border:solid 1px dimgray;">
          <tr style="height:18px;">
            <td style="width:<%= cur_percent %>%; line-height:1.0; text-align:right; vertical-align:middle; background-color:limegreen;">
  <% if cur_percent > 50 %>
              <span style="font-size:9pt; color:white; margin-right:5px;"><%= cur_percent %>%</span>
  <% end %>
            </td>
            <td style="width:<%= 100 - cur_percent %>%; line-height:1.0; text-align:left; vertical-align:middle;">
  <% if cur_percent <= 50 %>
              <span style="font-size:9pt; color:green; margin-left:3px;"><%= cur_percent %>%</span>
  <% end %>
            </td>
          </tr>
        </table>
      </td>
      <td nowrap style="width:100px; line-height:1.0; text-align:left; padding-left:5px; color:dimgray;">
         <%= t('mail.capacity_per_account') %> <%= THETIS_MAIL_CAPACITY_MB_PER_ACCOUNT %>MB
      </td>
    </tr>
  </table>
  <% end %>

  <%
  unless @unread_emails_h.empty?
    @folder_path_cache ||= {}
    @folder_obj_cache ||= {}
  %>
  <table style="width:100%; padding:0px 10px 0px;">
    <tr>
      <td nowrap style="text-align:left; color:dimgray;">
        &bull; <%= t('msg.unread') %>
      </td>
    </tr>
    <tr>
      <td nowrap style="text-align:left; padding-left:20px;">
        <table style="width:100%;">
    <% @unread_emails_h.each do |mail_folder, count| %>
          <tr>
            <td style="width:40%; text-align:left; color:gray;">
              <a href="javascript:this.onclick()" onclick="doSelectTree(<%= mail_folder.id %>); return false;">
                <%= mail_folder.get_path(@folder_path_cache, @folder_obj_cache) %>
              </a>
            </td>
            <td style="width:60%; text-align:left; padding-left:10px; color:gray;">
              <%= count %>
            </td>
          </tr>
    <% end %>
        </table>
      </td>
    </tr>
  </table>
  <% end %>

  <%
  unless @draft_emails_h.empty?
    @folder_path_cache ||= {}
    @folder_obj_cache ||= {}
  %>
  <table style="width:100%; padding:0px 10px 0px;">
    <tr>
      <td nowrap style="text-align:left; color:dimgray;">
        &bull; <%= t('msg.untransmitted') %>
      </td>
    </tr>
    <tr>
      <td nowrap style="text-align:left; padding-left:20px;">
        <table style="width:100%;">
    <% @draft_emails_h.each do |mail_folder, count| %>
          <tr>
            <td style="width:40%; text-align:left; color:gray;">
              <a href="javascript:this.onclick()" onclick="doSelectTree(<%= mail_folder.id %>); return false;">
                <%= mail_folder.get_path(@folder_path_cache, @folder_obj_cache) %>
              </a>
            </td>
            <td style="width:60%; text-align:left; padding-left:10px; color:gray;">
              <%= count %>
            </td>
          </tr>
    <% end %>
        </table>
      </td>
    </tr>
  </table>
  <% end %>
</div>
</div>  <!-- .mail_account_summary -->

    </td>
  </tr>
</table>

<script type="text/javascript">

arrangeMailContentSection(_z("div_mail_content"));

onRefreshAccountSummaryClicked = function(elem)
{
  clearMailContent();
  invalidateAccountSummary();

  showMailAccountSummary("<%= @mail_account.id %>");
}

</script>
