
<script type="text/javascript">
scope_tabs = new Array("groups", "teams");
</script>

<table style="width:100%; border-spacing:0px;">
  <tr>
    <td style="vertical-align:top;">
      <table style="width:100%; border-spacing:2px;">
        <tr style="height:20px;">
          <td id="tab_groups" class="td_item_tab" nowrap onclick="showTab('groups', scope_tabs, 'forestgreen');">
            <%= t('group.plural') %>
          </td>
          <td id="tab_teams" class="td_item_tab" nowrap onclick="showTab('teams', scope_tabs, 'brown');">
            <%= t('team.plural') %>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td style="border:solid 1px gray; background-color:#FFFAFD;">

      <div id="tab_div_groups" style="display:none;">
        <table style="width:100%; padding:5px 10px; border-spacing:0px;">
          <tr>
            <td>
              <%
              groups = Group.where(nil).to_a
              groups_selected = (obj.nil?)?([]):(obj.get_groups_a)
              @groups_cache ||= {}
              @group_obj_cache = Group.build_cache(groups)
              %>
              <select id="group_candidates" name="group_candidates" class="select_candidates" size="5" multiple="multiple">
              <%
               groups.each do |group|
                 next if groups_selected.include?(group.id.to_s)
              %>
                <option value="<%= group.id %>"><%= Group.get_path(group.id, @groups_cache, @group_obj_cache) %></option>
              <% end %>
              </select>
            </td>
          </tr>
          <tr style="height:5px;"><td></td></tr>
          <tr>
            <td>
              <table style="width:100%; border-spacing:0px;">
                <tr>
                  <td style="text-align:left; vertical-align:bottom; width:33%;"  >
                    <%= t('group.plural') %><%= t('cap.suffix') %>
                  </td>
                  <td style="text-align:center; width:34%;"  nowrap>
                    <input type="button" value="<%= raw(t('arrow.down')) %><%= t('btn.add') %>" onclick="addScope('group');" style="width:80px;" />
                    <input type="button" value="<%= raw(t('arrow.up')) %><%= t('btn.remove') %>" onclick="removeScope('group');" style="width:80px;" />
                  </td>
                  <td style="width:33%;">&nbsp;</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr style="height:5px;"><td></td></tr>
          <tr>
            <td>
              <select id="groups_selected" name="groups[]" class="select_multi" size="5" multiple="multiple">
              <% groups_selected.each do |group_id| %>
                <option value="<%= group_id %>"><%= Group.get_path(group_id, @groups_cache, @group_obj_cache) %></option>
              <% end %>
              </select>
            </td>
          </tr>
        </table>
      </div>
      <div id="tab_div_teams" style="display:none;">
        <table style="width:100%; padding:5px 10px; border-spacing:0px;">
          <tr>
            <td>
              <%
              target_user_id = (@login_user.admin?(User::AUTH_TEAM))?(nil):(@login_user.id)
              teams = Team.get_for(target_user_id, true)
              teams_selected = (obj.nil?)?([]):(obj.get_teams_a)
              @teams_cache ||= {}
              %>
              <select id="team_candidates" name="team_candidates" class="select_candidates" size="5" multiple="multiple">
              <%
              teams.each do |team|
                next if teams_selected.include?(team.id.to_s)
              %>
                <option value="<%= team.id %>"><%= Team.get_name(team.id, @teams_cache) %></option>
              <% end %>
              </select>
            </td>
          </tr>
          <tr style="height:5px;"><td></td></tr>
          <tr>
            <td>
              <table style="width:100%; border-spacing:0px;">
                <tr>
                  <td style="text-align:left; vertical-align:bottom; width:33%;" >
                    <%= t('team.plural') %><%= t('cap.suffix') %>
                  </td>
                  <td style="text-align:center; width:34%;" nowrap>
                    <input type="button" value="<%= raw(t('arrow.down')) %><%= t('btn.add') %>" onclick="addScope('team');" style="width:80px;" />
                    <input type="button" value="<%= raw(t('arrow.up')) %><%= t('btn.remove') %>" onclick="removeScope('team');" style="width:80px;" />
                  </td>
                  <td style="width:33%;">&nbsp;</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr style="height:5px;"><td></td></tr>
          <tr>
            <td>
              <select id="teams_selected" name="teams[]" class="select_multi" size="5" multiple="multiple">
              <% teams_selected.each do |team_id| %>
                <option value="<%= team_id %>"><%= Team.get_name(team_id, @teams_cache) %></option>
              <% end %>
              </select>
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
</table>

<script type="text/javascript">

addScope = function(attr_name)
{
  moveList(_z(attr_name+"_candidates"), _z(attr_name+"s_selected"));
}

removeScope = function(attr_name)
{
  moveList(_z(attr_name+"s_selected"), _z(attr_name+"_candidates"));
}

showTab("groups", scope_tabs, "forestgreen");

</script>

