<script type="text/javascript">

getEncodingSelector = function(onOk, type)
{
<%
opts = []
langs = request.env['HTTP_ACCEPT_LANGUAGE']
if !langs.nil? and langs.split(',').first.downcase.index('ja') == 0
  opts << [t('msg.enc_utf8'), 'UTF-8']
  opts << [t('msg.enc_sjis'), 'CP932']
else
  opts << [t('msg.enc_utf8'), 'UTF-8']
  opts << [t('msg.enc_iso8859_1'), 'ISO-8859-1']
end
%>
  content = "<form name='form_enc' enctype='multipart/form-data'>";
  content += "<table align='center' style='width:80%;' cellspacing='0' cellpadding='0'>";
  content += "  <tr style='height:20px;'><td></td></tr>";
  if (type == "import") {
    content += "  <tr style='height:40px;'>";
    content += "    <td>";
    content += "      <input type='file' name='imp_file' size='40' style='width:100%;' />";
    content += "    </td>";
    content += "  </tr>";
    content += "  <tr style='height:5px;'><td></td></tr>";
  }
<%
opts.each do |opt|
  disp, val = opt
%>
  content += "  <tr style='height:30px;'>";
  content += "    <td style='text-align:left;'>";
  content += "      <input type='radio' id='enc_<%= val %>' name='enc' value='<%= val %>' /> <label for='enc_<%= val %>'><%= disp %></label><br/>";
  content += "    </td>";
  content += "  </tr>";
<% end %>
  if (type == "import") {
    content += "  <tr style='height:15px;'><td></td></tr>";
    content += "  <tr>";
    content += "    <td style='text-align:left; background-color:blue; color:white; padding:0px 10px;'>";
    content += "      <%= t('msg.import_mode') %>";
    content += "    </td>";
    content += "  </tr>";
    content += "  <tr>";
    content += "    <td style='text-align:left; border:1px solid blue; padding:10px;'>";
    content += "      <input type='radio' id='mode_add' name='mode' value='add' /><label for='mode_add'> <%= t('msg.add_only')%></label><br/>";
    content += "      <input type='radio' id='mode_update' name='mode' value='update' /><label for='mode_update'> <%= t('msg.update_all')%></label>";
    content += "    </td>";
    content += "  </tr>";
  }
  content += "  <tr style='height:15px;'><td></td></tr>";
  content += "  <tr>";
  content += "    <td style='text-align:center;'>";
  content += "      <input type='button' value='<%= t('btn.execute') %>' onclick=\""+onOk+"\" style='width:80px;' />";
  content += "    </td>";
  content += "  </tr>";
  content += "</table>";
  content += "<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>' />";
  content += "</form>";
  return content;
}

getEncodingSelectorAll = function(onOk, type)
{
<%
opts = []
opts << [t('msg.enc_utf8'), 'UTF-8']
opts << [t('msg.enc_sjis'), 'CP932']
opts << [t('msg.enc_iso8859_1'), 'ISO-8859-1']
%>
  content = "<form name='form_enc'>";
  content += "<table align='center' width='80%' cellspacing='0' cellpadding='0'>";
  content += "  <tr style='height:10px;'><td></td></tr>";

  content += "  <tr style='height:30px;'>";
  content += "    <td style='text-align:center;'>";
  content += "      <select name='enc'>";
<%
opts.each do |opt|
  disp, val = opt
  selected = ''
  if !langs.nil? and langs.split(',').first.downcase.index('ja') == 0
    selected = 'selected' if val == 'CP932'
  else
    selected = 'selected' if val == 'ISO-8859-1'
  end
%>
  content += "        <option <%= selected %> value='<%= val %>'><%= disp %></option>";
<% end %>
  content += "      </select>";
  content += "    </td>";
  content += "  </tr>";
  content += "  <tr style='height:10px;'><td></td></tr>";
  content += "  <tr>";
  content += "    <td style='text-align:center;'>";
  content += "      <input type='button' value='<%= t('btn.execute') %>' onclick='"+onOk+"' style='width:80px;' />";
  content += "    </td>";
  content += "  </tr>";
  content += "</table>";
  content += "</form>";
  return content;
}

</script>
