
<%
unless @user_groups.nil?
  @user_groups.each do |group_id, group_path|
%>
<div id="user_groups_<%= group_id %>" style="display:none;"><%= group_path %></div>

  <% end %>

<%
if (YamlHelper.get_value($thetis_config, 'menu.disp_user_list', nil) == '1') and (!@login_user.nil?)
%>
  <%
  mail_account = MailAccount.get_default_for(@login_user.id, nil)
  %>
  <%= render(:partial => 'send_mails/popup_func', :locals => {:mail_account_not_set => mail_account.nil?, :ctrl_mails_list_update => false}) %>
<% end %>

<script type="text/javascript">

showUserGroups = function(user_id, user_name, groups, figure)
{
  var content = "<%= t('group.plural') %><%= t('cap.suffix') %>";
  content += "<div style=\"padding-left:20px;\">";
  var groupArray = groups.split(",");
  for (var i=0; i < groupArray.length; i++) {
    content += _z("user_groups_"+groupArray[i]).innerHTML + "<br/>";
  }
  content += "</div>";

<%
if (YamlHelper.get_value($thetis_config, 'menu.disp_user_list', nil) == '1') \
    and !@login_user.nil?
%>
  if (user_id != "<%= @login_user.id %>") {
    content += "<div style=\"padding:10px 0px 5px;\">";
    content += "  <a class=\"a_underline\" href=\"javascript:this.onclick()\" onclick=\"onSendMailUserGroupsClicked(this, '"+user_id+"'); return false;\">";
    content += "    <img src=\"<%= THETIS_RELATIVE_URL_ROOT %>/images/mail/mail.png\">";
    content += "    <%= t('cap.send_mail') %>";
    content += "  </a>";
    content += "</div>";
  }
<% end %>

  if (figure == "") {
    figure = "user.png";
  } else {
    figure += ".png";
  }

  var thetisBox = new ThetisBox;
  thetisBox.button_ok = "<%= t('btn.close') %>";
  thetisBox.title = "&nbsp;<img src='<%= THETIS_RELATIVE_URL_ROOT %>/images/figures/"+figure+"'> " + user_name;
  thetisBox.bgcolor_title = "#22b9fe";
  thetisBox.bgcolor_body = "#c5efff";
  thetisBox.show("CENTER", "", "MESSAGE", "", content, "");
}

<% if YamlHelper.get_value($thetis_config, 'menu.disp_user_list', nil) == '1' %>
onSendMailUserGroupsClicked = function(elem, user_id)
{
  var addParams = [];
<% unless mail_account.nil? %>
  addParams.push("mail_account_id=<%= mail_account.id %>");
<% end %>
  addParams.push("to_user_ids[]=" + user_id);

  showMailForm(true, addParams);

  var boxInstance = ThetisBox.getInstanceForElem(elem);
  boxInstance.remove();
}
<% end %>

</script>

<% end %>

