<%
year ||= nil
month ||= nil
%>

<script type="text/javascript">

var thetisBoxYmSelector = null;

selectMonth = function(func)
{
  if (thetisBoxYmSelector) {
    thetisBoxYmSelector.remove();
    thetisBoxYmSelector = null;
  }

  var content = getYmSelector("onYmSelectOk()", "onYmSelectCancel()");

  thetisBoxYmSelector = new ThetisBox;
  thetisBoxYmSelector.title = "<%= t('msg.select_month') %>";
  thetisBoxYmSelector.overflow = "hidden";
  thetisBoxYmSelector.show("CENTER", "250,180", "TRAY", "", "", content);
  thetisBoxYmSelector.ext_func = func;
}

getYmSelector = function(onOk, onCancel)
{
<% if year.nil? or month.nil? %>
  var date = new Date();
<% end %>
<% if year.nil? %>
  var y = date.getFullYear();
<% else %>
  var y = <%= year %>;
<% end %>
<% if month.nil? %>
  var m = date.getMonth()+1;
<% else %>
  var m = <%= month %>;
<% end %>

  var content = "";
  content += "<table style='width:100%; height:180px;'>";
  content += "  <tr style='height:70px;'>";
  content += "    <td style='text-align:center; vertical-align:middle;'>";
  content += "      <select id='ym_select_year'>";
  for (var i=y-5; i <= y+5; i++) {
    var selected = "";
    if (i == y) selected = "selected";
    content += "      <option value='"+i+"' "+selected+">"+i+"</option>";
  }
  content += "      </select>";
  content += " - ";
  content += "      <select id='ym_select_month'>";
  for (var i=1; i <= 12; i++) {
    var selected = "";
    if (i == m) selected = "selected";
    content += "      <option value='"+i+"' "+selected+">"+i+"</option>";
  }
  content += "      </select>";
  content += "    </td>";
  content += "  </tr>";
  content += "  <tr>";
  content += "    <td style='text-align:center; vertical-align:top;'>";
  content += "      <input type='button' value='<%= t('btn.ok') %>' onclick='"+onOk+"' style='width:80px' />";
  content += "      &nbsp;<input type='button' value='<%= t('btn.cancel') %>' onclick='"+onCancel+"' style='width:80px' />";
  content += "    </td>";
  content += "  </tr>";
  content += "</table>";
  return content;
}

onYmSelectOk = function()
{
  var date = _z("ym_select_year").value + "-" + fillLeft(_z("ym_select_month").value, "0", 2) + "-01";
  thetisBoxYmSelector.remove();

  thetisBoxYmSelector.ext_func(date);
}

onYmSelectCancel = function()
{
  thetisBoxYmSelector.remove();
  thetisBoxYmSelector = null;
}

</script>
