
<%
@users_cache ||= {}
@user_obj_cache ||= {}

@user_groups ||= {}
@groups_cache ||= {}
@group_obj_cache ||= {}
%>

<%
if !@office_map.nil? and @office_map.img_enabled
  img_url = url_for(:controller => 'locations', :action => 'get_image', :id => @office_map.id, :ts => ApplicationHelper.get_timestamp(@office_map))
else
  img_url = THETIS_RELATIVE_URL_ROOT + '/images/location/default_map.png'
end
%>
<table id="div_desktop" style="width:100%; background-color:white; display:none;">
  <tr class="desktop_tr">
    <td class="desktop_td" style="text-align:center; vertical-align:middle;" >
      <img id="img_map" src="<%= raw(img_url) %>" style="display:none;" />
    </td>
  </tr>
</table>

<!-- Toolbox -->
<span style="display:none;">
  <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/location/exit_on.png">
</span>

<table class="toolbar" id="toolbar" style="width:70%; z-index:999; position:absolute; display:none; background-color:white; border:inset 1px gray; -webkit-box-shadow:4px 4px 5px rgba(100, 100, 100, 0.5); -moz-box-shadow:4px 4px 5px rgba(100, 100, 100, 0.5); box-shadow:4px 4px 5px rgba(100, 100, 100, 0.5); -moz-border-radius:7px; -webkit-border-radius:7px; border-radius:7px;">
  <tr>
    <td rowspan="3" style="width:20px; cursor:move; background-color:lime; padding-left:10px;">
      &nbsp;
    </td>
    <td style="text-align:center; vertical-align:middle; width:8%; padding:3px 20px;"  rowspan="3">
      <div id="exit" style="height:100%;" onclick="tipsExit()" title="<%= t('office_map.drop_to_remove') %>">
        <img id="exit_img" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/location/exit_off.png" title="<%= t('office_map.drop_to_remove') %>"></div><!-- Don't divide the line (for browsers without transparent PNG supporting. ) -->
    </td>
    <td style="width:90%; text-align:left;" >
    <%
    if @location.nil?
      location_id = "location_xx"
    %>
      <div class="location_tray" id="<%= location_id %>" style="text-align:left; width:200px; z-index:1000; cursor:move;" >
        <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/<%= @login_user.get_figure %>.png" />
        <%= @login_user.get_name %>
      </div>
<script type="text/javascript">

new Draggable("<%= location_id %>", {revert:false});

</script>
    <% end %>
    </td>
  </tr>
  <tr>
    <td style="text-align:left; padding:3px 0px;" >
      <table style="width:100%;">
         <tr>
          <td style="text-align:left; width:120px; padding-bottom:5px;" >
  <% if @group_id.nil? %>
            <div class="button_gray" style="float:left;" onclick="showGroupTreeToSelect('0');">
              <%= t('btn.select_group') %>
            </div>
  <% else %>
            <table style="width:100%;">
              <tr>
                <td style="text-align:left;" nowrap>
                  <%= t('cap.group') %> <a href="javascript:this.onclick()" onclick="showGroupTreeToSelect('<%= @group_id %>'); return false;"><%= Group.get_path(@group_id, @groups_cache, @group_obj_cache) %></a>
                  <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/erase.gif" title="<%= t('btn.clear') %>" onclick="clearGroup()" style="margin-left:10px;" />
                </td>
              </tr>
            </table>
  <% end %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td style="text-align:left; padding:3px 0px;">
      <%= form_tag( {:controller => 'locations', :action => 'open_map'}, :method => 'get', :name => 'form_map') %>
        <img src="<%= THETIS_RELATIVE_URL_ROOT %>/images/search.gif" title="<%= t('cap.search_keywords') %>">
        <%= text_field_tag('keyword', params[:keyword]) %>
        <input type="button" value="<%= t('btn.search') %>" onclick="form_map.submit(); prog('TOP-RIGHT');"/>
        <input type="button" value="<%= t('btn.reset') %>" onclick="prog('TOP-RIGHT'); location.href='<%= url_for(:controller => 'locations', :action => 'open_map') %>';"/>
      </form>
    </td>
  </tr>
</table>

<script type="text/javascript">

new Draggable("toolbar", {revert:false});

</script>

<!-- Locations -->
<%
unless @locations.nil?
  @locations.each do |location|
    location_id = "location_#{location.id}"

    width_limit = '';
    width_limit = 'width:200px;' if location.get_name.length >= 30;

    unless location.updated_at.nil?
      location_at = location.updated_at.strftime(THETIS_DATE_FORMAT_YMD+' %H:%M')
    end
%>
<div class="location_on_map" id="<%= location_id %>" title="<%= location_at %>" style="position:absolute; z-index:1000; display:none; text-align:left; <%= width_limit %>">
  <%
  user_name, u_groups, figure = UsersHelper.get_groups_info(location.user_id, @user_groups, @users_cache, @user_obj_cache, @groups_cache, @group_obj_cache)
  icon_img = THETIS_RELATIVE_URL_ROOT + "/images/#{figure}.png"
  is_target = (!@target_user.nil? and @target_user.id == location.user_id)
  %>
  <img src="<%= icon_img %>" style="cursor:move;" />
  <%
  unless u_groups.empty?
  %>
  <a href="javascript:this.onclick()" onclick="showUserGroups('<%= location.user_id %>', '<%= ApplicationHelper.h_s_quote(user_name) %>', '<%= u_groups.join(',') %>', '<%= figure %>'); return false;">
  <% end %>
    <% if is_target %><b style="color:red;"><% end %>
    <%= truncate(user_name, :length => 30) %>
    <% if is_target %></b><% end %>
  <% unless u_groups.empty? %>
  </a>
  <% end %>
</div>

<script type="text/javascript">

new Draggable("<%= location_id %>", {revert:false});

</script>
<%
  end
end
%>

<%= render(:partial => 'common/user_groups') %>

<script type="text/javascript">

var TrayDragObserver = Class.create();
TrayDragObserver.prototype = {
  initialize: function() {
  },
  onStart: function(eventName, draggable, event) {
    var loc = draggable.element;
    if (loc.className != "location_tray") {
      return;
    }

    removeElem(loc);
    document.body.appendChild(loc);   // not on _z("div_desktop"), to show over the tray.
    posAbsolute(loc);

    loc.style.zIndex = 100000;
  },
  onDrag: function(eventName, draggable, event) {
    var loc = draggable.element;
    if (loc.className != "location_tray") {
      return;
    }
  },
  onEnd: function(eventName, draggable, event) {
    var loc = draggable.element;
    if (loc.className != "location_tray") {
      return;
    }
    _z("div_desktop").style.backgroundColor = "white";
    draggable.options.snap = false;
  }
}
Draggables.addObserver( new TrayDragObserver() );

Droppables.add(
    "div_desktop",
    {
      accept: "location_tray",
      onHover:function(element)
      {
        _z("div_desktop").style.backgroundColor = "white";
      },
      onDrop:function(element)
      {
        var axis = getAxis(_z("div_desktop"), element.id);

        var addParams = [];
        addParams.push("x="+axis[0]);
        addParams.push("y="+axis[1]);
        addParams.push("group_id=<%= @map_group_id %>");
        addParams.push("authenticity_token=<%= form_authenticity_token %>");

        new Ajax.Request(
            "<%= url_for(:controller => 'locations', :action => 'on_moved') %>",
            {
              method:"post",
              parameters:addParams.join("&"),
              onComplete:function(request) {
                element.id = "location_" + request.responseText;
                element.className = "location_on_map";
              }
            }
          );
      }
    }
  );

Droppables.add(
    "exit",
    {
      accept: "location_on_map",
      onHover:function(element)
      {
        _z("exit_img").src = "<%= THETIS_RELATIVE_URL_ROOT %>/images/location/exit_on.png";
      },
      onDrop:function(element)
      {
        onRemoveLocationClicked(element.id);
      }
    }
  );

var desktop = _z("div_desktop");
desktop.style.display = "block";

function onLoadSub()
{
  document.body.style.backgroundColor = "#eaeaea";

  var mainRegion = getClientRegion();
  var mainWidth = mainRegion.width;
  var mainHeight = mainRegion.height;

  var img_map = _z("img_map");
  img_map.width = mainWidth * 90 / 100;
  img_map.height = mainHeight * 90 / 100;
  img_map.style.display = "block";

  doResize();

  var deskWidth = desktop.clientWidth;
  var deskHeight = desktop.clientHeight;
  var deskPos = getPos(desktop);

<%
unless @locations.nil?
  @locations.each do |location|
%>
  loc = _z("location_<%= location.id %>");
  loc.style.left = (deskPos.x + deskWidth * <%= location.x %> / 10000) + "px";
  loc.style.top = (deskPos.y + deskHeight * <%= location.y %> / 10000) + "px";
  loc.style.display = "inline";
  //msg("deskPos.x="+deskPos.x+", deskPos.y="+deskPos.y+", deskWidth="+deskHeight+", deskHeight="+deskWidth+", loc.style.left="+loc.style.left+", loc.style.top="+loc.style.top);
<%
  end
end
%>

  var toolbar = _z("toolbar");
  toolbar.style.display = "inline";
  var toolbarHeight = toolbar.clientHeight;
  toolbar.style.top = (mainHeight - toolbarHeight - 30) + "px";
  toolbar.style.left = "50px";
}

function onRemoveLocationClicked(element_id)
{
  confm("<%= t('office_map.confirm_to_leave') %>", "doRemoveLocation('"+element_id+"')");
}

function doRemoveLocation(element_id)
{
  var id = element_id.split("_")[1];

  var addParams = [];
  addParams.push("id="+id);
  addParams.push("authenticity_token=<%= form_authenticity_token %>");

  var thetisBoxProgress = prog("CENTER");

  new Ajax.Request(
      "<%= url_for(:controller => 'locations', :action => 'drop_on_exit') %>",
      {
        method:"post",
        parameters:addParams.join("&"),
        onComplete:function(request) {
          thetisBoxProgress.remove();
          setTimeout(
              function(){
                var loc = _z(element_id);
                removeElem(loc);
              },
              100
            );
        }
      }
    );
}

function save(location_id)
{
  var desktop = _z("div_desktop");

  bound(desktop, location_id);

  var axis = getAxis(desktop, location_id);

  var addParams = [];
  addParams.push("id="+encodeURIComponent(location_id.split("_")[1]));
  addParams.push("x="+axis[0]);
  addParams.push("y="+axis[1]);
  addParams.push("group_id=<%= @map_group_id %>");
  addParams.push("authenticity_token=<%= form_authenticity_token %>");

  new Ajax.Request(
      "<%= url_for(:controller => 'locations', :action => 'on_moved') %>",
      {
        method:"post",
        parameters:addParams.join("&")
      }
    );
}

var DesktopDragObserver = Class.create();
DesktopDragObserver.prototype = {
  initialize: function() {
  },
  onStart: function(eventName, draggable, event) {
    var elem = draggable.element;
    if (elem.className != "location_on_map"
        && elem.className != "toolbar") {
      return;
    }

    bound(_z("div_desktop"), elem.id);
  },
  onDrag: function(eventName, draggable, event) {
    var elem = draggable.element;
    if (elem.className != "location_on_map"
        && elem.className != "toolbar") {
      return;
    }
    var elemWidth = elem.clientWidth;
    var elemHeight = elem.clientHeight;
    var elemPos = getPos(elem);

    var deskWidth = desktop.clientWidth;
    var deskHeight = desktop.clientHeight;
    var deskPos = getPos(desktop);

    if (elemPos.x < deskPos.x
        || elemPos.y < deskPos.y
        || elemPos.x + elemWidth > deskPos.x +deskWidth
        || elemPos.y + elemHeight > deskPos.y +deskHeight
       ) {
      try {
        document.selection.empty();
      } catch (e) {}
      draggable.endDrag(event);

      setTimeout("bound(_z('div_desktop'), '"+elem.id+"');", 100);
    }
  },
  onEnd: function(eventName, draggable, event) {
    var elem = draggable.element;

    if (elem.className == "location_on_map") {
      setTimeout("save('"+elem.id+"');", 100);
      _z("exit_img").src = "<%= THETIS_RELATIVE_URL_ROOT %>/images/location/exit_off.png";
    }
  }
}
Draggables.addObserver( new DesktopDragObserver() );

tipsExit = function()
{
  var exitPos = getPos(_z("exit"));
  var x = exitPos.x + 50;
  var y = exitPos.y - 50;
  
  var thetisBox = new ThetisBox;
  thetisBox.bgcolor_body = "#FFFF80";
  thetisBox.show(x+","+y, "", "TIP", "", "<%= t('office_map.drop_to_remove')%>", "");
}

function showGroupTreeToSelect(group_id)
{
  var thetisBox = new ThetisBox;
  thetisBox.show("CENTER", "", "TREE", "onGroupTreeNodeSelected("+thetisBox.id+")", "<%= t('group.select_to_show')%>", "");
  thetisBox.setTree("<%= url_for(:controller => 'groups', :action => 'ajax_get_tree') %>", group_id);
}

function onGroupTreeNodeSelected(thetisBoxId)
{
  var thetisBox = ThetisBox.getInstance(thetisBoxId);
  if (thetisBox) {
    var treeNodeId = thetisBox.getSelectedTreeNodeId();
    if (treeNodeId) {
      ThetisBox.remove(thetisBoxId);

      prog("TOP-RIGHT");
      var addParams = [
        "tree_node_id="+treeNodeId
      ];
      location.href = "<%= url_for(:controller => 'locations', :action => 'open_map') %>?"+addParams.join("&");
    }
  }
}

function clearGroup()
{
  prog("TOP-RIGHT");
  location.href = "<%= url_for(:controller => 'locations', :action => 'open_map') %>";
}

</script>

