<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>Thetis</title>

<%= csrf_meta_tag %>
<%= stylesheet_link_tag('application', :media => 'all') %>
<%= javascript_include_tag('base') %>

<script type="text/javascript">

function initThetisBox()
{
  ThetisBox.setTitle("<%= YamlHelper.get_value($thetis_config, 'general.app_title', nil) %>");
  ThetisBox.setOk("<%= t('btn.ok') %>");
  ThetisBox.setCancel("<%= t('btn.cancel') %>");
  ThetisBox.setClose("<%= t('btn.close') %>");
  ThetisBox.setCloseImg("<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/close.png");
}
initThetisBox();

function prepareDisplay()
{
  <%
  login_name = (@login_user.nil?)?'':(truncate(@login_user.name, :length => 10))
  login_admin = (!@login_user.nil? and @login_user.admin?)?'true':'false'
  %>
  if (top && typeof(top.setHeaderLogin) != "undefined") {
    top.setHeaderLogin("<%= login_name %>");
  }
  if (top && typeof(top.setLeftLogin) != "undefined") {
    top.setLeftLogin("<%= login_name %>", <%= login_admin %>);
  }

  var mainRegion = getClientRegion();
  _mainWidth = mainRegion.width;
  _mainHeight = mainRegion.height;
}
prepareDisplay();

function onLoad()
{
  if (typeof(onLoadSub) == "function") {
    onLoadSub();
  }

  setTimeout("doResize(true)", 10);

<% if params[:topicBox] == 'true' %>
  if (typeof(top.showTopicBox) == "function") {
    setTimeout(top.showTopicBox, 10);
  }
<% end %>

  showErrorMsg("");

  if (typeof(showTips) == "function") {
    showTips();
  }
}

function doResize(init)
{
<% if HistoryHelper.get_path_token(params) == 'items/show_for_print' %>
  return;
<% end %>

  var mainRegion = getClientRegion();
  _mainWidth = mainRegion.width;
  _mainHeight = mainRegion.height;

  layoutBaseElem(_mainWidth, _mainHeight, init);
}

addEvent(window, "resize", doResize);

</script>

</head>

<body onload="onLoad();">

<div id="main_div" style="text-align:center; padding:3px 5px;">
  <table style="width:100%; height:100%;">
    <tr>
      <td style="text-align:center; vertical-align:top;">
        <%= yield %>
      </td>
    </tr>
  </table>
</div>

<%= render(:partial => 'common/flash_notice') %>

</body>
</html>
