<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Script-Type" content="text/JavaScript">

<title>Thetis: <%= controller.action_name %></title>

<%= stylesheet_link_tag('application', :media => 'all') %>
<%= javascript_include_tag('application') %>
<!--
<link href="<%= THETIS_RELATIVE_URL_ROOT %>/stylesheets/thetis.css?ts=2013081701" media="all" rel="stylesheet" type="text/css" />
<link href="<%= THETIS_RELATIVE_URL_ROOT %>/stylesheets/thetisbox.css" media="all" rel="stylesheet" type="text/css" />
<script src="<%= THETIS_RELATIVE_URL_ROOT %>/javascripts/prototype.js" type="text/javascript"></script>
<script src="<%= THETIS_RELATIVE_URL_ROOT %>/javascripts/thetis/common110.js?ts=2012091801" type="text/javascript"></script>
<script src="<%= THETIS_RELATIVE_URL_ROOT %>/javascripts/thetis/thetisbox.js?ts=2012091801" type="text/javascript"></script>
<script src="<%= THETIS_RELATIVE_URL_ROOT %>/javascripts/thetis/thetis110.js?ts=2012052901" type="text/javascript"></script>
-->

<script type="text/javascript">
<%
login_name = (@login_user.nil?)?'':@login_user.name
login_admin = (!@login_user.nil? and @login_user.admin?)?'true':'false'
%>
if (top && typeof(top.setHeaderLogin) != "undefined") {
  top.setHeaderLogin("<%= login_name %>");
}
if (top && typeof(top.setLeftLogin) != "undefined") {
  top.setLeftLogin("<%= login_name %>", <%= login_admin %>);
}

function doOnLoad()
{
  setTimeout("doResize()", 10);

<% if params[:topicBox] == 'true' %>
  if (typeof(top.showTopicBox) == "function") {
    setTimeout(top.showTopicBox, 10);
  }
<% end %>
}

function doResize()
{
  var mainRegion = getClientRegion();
  var mainWidth = mainRegion.width;
  var mainHeight = mainRegion.height;

  var main_div = _z("main_div");
  main_div.style.height = mainHeight + "px";
  main_div.style.width = "100%";
}

addEvent(window, "resize", doResize);

</script>
</head>

<body onLoad="doOnLoad();">

<div id="main_div" style="vertical-align:top; background:url(<%= THETIS_RELATIVE_URL_ROOT %>/images/stripeback.png) repeat-y white; overflow:auto;">
  <%= yield %>
</div>

</body>
</html>
