
<table style="margin:0px auto; width:85%; border-spacing:2px;">
  <tr>
    <td class="item_cap_td" nowrap style="width:100%;" colspan="2">
      <%= t('desktop.before_login') %>&nbsp;
      <img class="img_btn" src="<%= THETIS_RELATIVE_URL_ROOT %>/images/icons/info.png" onclick="msg('<%= t('desktop.before_login_info1') %><br/><%= t('desktop.before_login_info2') %><br/><%= t('desktop.before_login_info3') %>');">
    </td>
  </tr>
  <tr>
    <td class="prim_cap_td" nowrap><%= t('desktop.currently_selected') %></td>
    <td class="item_value_td" style="width:70%;">
      <%
      unless @yaml[:desktop].nil?
        user_before_login = @yaml[:desktop]['user_before_login']
      end

      if user_before_login.nil? or user_before_login.empty?
      %>
        <%= t('paren.not_selected') %><br/>
      <% else %>
        <%= User.get_name(user_before_login) %><br/>
      <% end %>
    </td>
  </tr>
  <tr>
    <td class="item_cap_td" nowrap><%= t('desktop.select_mine') %></td>
    <td class="item_value_td">
      <%
      disabled = ''
      if user_before_login == @login_user.id.to_s
        disabled = 'disabled'
      end
      %>
      <input type="button" style="width:100px;" value="<%= t('btn.apply') %>" onclick="doUpdateConfig('<%= @login_user.id %>');" <%= disabled %>>
    </td>
  </tr>
  <tr>
    <td class="item_cap_td" nowrap><%= t('btn.deselect') %></td>
    <td class="item_value_td">
      <%
      disabled = ''
      if user_before_login.nil? or user_before_login.empty?
        disabled = 'disabled'
      end
      %>
      <input type="button" style="width:100px;" value="<%= t('btn.deselect') %>" onclick="doUpdateConfig('');" <%= disabled %>>
    </td>
  </tr>
</table>

<%= render(:partial => 'common/flash_notice') %>
