
<% unless @toy.nil? %>

<% if params[:action] != 'update_label' %>
<span>
<% end %>
  <% toy_id = "toy_#{@toy.id}" %>

  <div class="toy_desktop" id="<%= toy_id %>" style="position:absolute; z-index:10000; display:none;">
  <table class="label_frame" style="width:200px; border:solid 2px; border-top-color:whitesmoke; border-left-color:whitesmoke; border-bottom-color:dimgray; border-right-color:dimgray; background-color:peachpuff; border-spacing:7px;">
    <tr>
      <td style="width:20px; cursor:move; background-color:darkorange; padding-left:10px;">
        &nbsp;
      </td>
      <td style="text-align:left; font-size:10.5pt; cursor:pointer; padding-left:3px; background-color:white;" onclick="editLabel('<%= toy_id %>')">
        <pre id="<%= toy_id %>_msg"><%= @toy.message %></pre>
      </td>
    </tr>
  </table>
  <span id="<%= toy_id %>_type" style="display:none;"><%= @toy.xtype %></span>
  </div>

<script type="text/javascript">

new Draggable("<%= toy_id %>", {revert:false});

var desktop = _z("div_desktop");

var deskWidth = desktop.clientWidth;
var deskHeight = desktop.clientHeight;
var deskPos = getPos(desktop);

var toy = _z("<%= toy_id %>");
toy.style.left = (deskPos.x + deskWidth * <%= @toy.x %> / 10000) + "px";
toy.style.top = (deskPos.y + deskHeight * <%= @toy.y %> / 10000) + "px";
toy.style.display = "inline";

</script>

<% if params[:action] != 'update_label' %>
</span>
<% end %>

<% end %>

