
<table style="width:100%;">
  <tr>
    <td style="width:100%; text-align:center;">
      <applet code="com/sysphonic/biorhythm/main/Biorhythm.class" style="width:100%; height:320px;" archive="<%= THETIS_RELATIVE_URL_ROOT %>/options/biorhythm/biorhythm.jar" codebase="./">
        <param name='Birthday' value="<%= t('biorhythm.cap.birthday') %>">
        <param name='TargetMonth' value="<%= t('biorhythm.cap.term') %>">
        <param name='Draw' value="<%= t('btn.update') %>">
        <param name='Body' value="<%= t('biorhythm.physical') %>">
        <param name='Mind' value="<%= t('biorhythm.emotional') %>">
        <param name='Intelligence' value="<%= t('biorhythm.intellectual') %>">
        <param name='X_Body' value="30">
        <param name='X_Mind' value="110">
        <param name='X_Intelligence' value="200">
        <%
        birthday = ''
        unless @login_user.nil? or @login_user.birthday.nil?
          birthday = @login_user.birthday.strftime(Schedule::SYS_DATE_FORM)
        end
        %>
        <param name='Def_Birthday' value="<%= birthday %>">
      <%= t('msg.error_java_applet') %></applet>
    </td>
  </tr>
</table>
